<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Brave UX - Contact</title>
  <% include ../partials/_head %>
</head>

<body>
  <div class="presentation">
    <div class="presentation-box">
      <iframe src="https://app.ludus.one/111be46d-0ac5-4b52-bd06-75d00b3bea80" frameborder="0"></iframe>
    </div>
  </div>
  <!-- <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%;height: 100%"> -->
  <!-- </div> -->

  <%- include ../partials/_footer-scripts %>

</body>

</html>