# Use PHP54 as default
AddHandler application/x-httpd-php54 .php

<IfModule mod_suphp.c>
  suPHP_ConfigPath /opt/php54/lib
</IfModule>

# remove .html extension
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_URI} !=/work/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteRule ^work/$ http://braveux.com [CO=fromwork:yes:braveux.com:1:/]

ErrorDocument 404 /404.html
