/*
 * This file contains the default markup
 * used across the various case studies
*/

.case-study {
  overflow: hidden;
}

.case-block-tagline {
  @include text('trade-gothic', 16, 400);
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 0 0 $textGap;
  text-transform: uppercase;
}

.case-block-heading {
  @include text('source-sans-pro', 36, 300);
  line-height: 1.2;
  margin: 0 0 $textGap;

  br {
    display: none;

    @include media('>=md') {
      display: block;
    }
  }

  .lg {
    @include text('source-sans-pro', 51, 300);
  }
}

.case-block-text {
  @include text('sentinel', 16);
  line-height: 1.9;
  margin: 0;
  max-width: 450px;

  .content-centered & {
    margin: auto;
  }

  &.lg {
    @include text('sentinel', 24);
  }
}
