@import 'case-colors';

/*
 * This file contains content for the following sections:
 *   - Referral
 *   - CTA
*/

// REFERRAL
.case-referral-blockquote {
  @include text('source-sans-pro', 45, 300);
  line-height: 1.15;
  margin: 0 25px; // accounts for ::before
  max-width: 600px;
  position: relative;
  quotes: '“' '”' '‘' '’'; // shortcodes do not work, must be string

  @include media('>=md') {
    margin: 0;
  }

  &::before {
    content: open-quote;
    left: -20px;
    position: absolute;
    top: 0;
  }

  &::after {
    content: close-quote;
    margin-left: 5px;
  }
}

.case-referral-quote-icon {
  // color and svg import in '_case-colors.scss'
  margin: 0 0 $textGap*2;

  .centered & {
    margin: 0 auto $textGap*2;
  }
}

.case-referral-text {
  @include text('source-sans-pro', 20, 300);
  line-height: 2;
  margin: 0 0 $textGap*2;

  .centered & {
    @include text('source-sans-pro', 35, 300);
    line-height: 1.4;
    text-align: center;
  }

  + .case-referral-text {
    margin: -$textGap 0 $textGap*2;
  }
}

.case-referral-author {
  @include text('sentinel', 18, 300);

  .centered & {
    text-align: center;
  }
}
