/*
 * This file contains device frames for
 * the various case studies
*/

@mixin frame($type, $color: null) {
    $colorPrimary: #bdbdbd;
    $colorSecondary: #9b9b9b;

    // Define Color Variables
    @if ($color == 'black') {
        $colorPrimary: #000;
        $colorSecondary: #222;
    }

 @else if ($color == 'darker') {
        $colorPrimary: #282828;
        $colorSecondary: #333;
    }

 @else if ($color == 'dark') {
        $colorPrimary: #616161;
        $colorSecondary: #4d4d4d;
    }

 @else if ($color == 'light') {
        $colorPrimary: #e0e0e0;
        $colorSecondary: #d1d1d1;
    }

 @else if ($color == 'lighter') {
        $colorPrimary: #fafafa;
        $colorSecondary: #e6e6e6;
    }

    // Define Device Type
    @if ($type == 'desktop') {
        &::before {
            background-color: $colorPrimary;
        }

        &::after {
            color: $colorSecondary;
        }
    }

 @else if ($type == 'mobile') {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 433.5 864'%3E%3Cg data-name='Layer 2'%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M431.71 243.52l.5-.07a1.5 1.5 0 0 0 1.29-1.45v-48.7a1.5 1.5 0 0 0-1.29-1.48l-.5-.07h-.21V74.5c0-59.61-39.65-74.5-74.08-74.5H75.09C22.53 0 0 30.73 0 74.5v715C0 814.56 7.38 864 75.09 864h280.82c68.5 0 75.59-49.71 75.59-74.5V423.35h.21l.5-.07a1.5 1.5 0 0 0 1.29-1.48V316.3a1.5 1.5 0 0 0-1.29-1.48l-.5-.07h-.21v-71.2zM403 757H28V90h375z'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M424.48 72c0-42.85-25.21-65-64.57-65H71.58c-24.06 0-41.29 7.4-52.15 20.95C10.3 39.32 6 54.68 6 72v720.5c0 15.6 3.53 30.3 11.7 41.87C28.39 849.52 46.15 858 72.08 858h286.83c27.05 0 45-9.42 55.4-25.86 7.33-11.61 10.17-25.31 10.17-39.14V646.82 349.18 72zM403 757H28V90h375z'/%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M402.54 24.88C392 15.66 377.26 11 359.9 11H71.57c-22.89 0-39 6.9-49 19.45C14.06 41 10 55.52 10 72V792.55c0 14.84 3.34 28.77 11 39.57C30.88 846.11 47.4 854 72.07 854H358.9c25.71 0 42.38-8.74 52-24 6.86-10.86 9.55-23.87 9.55-37V72c.02-21.24-6.29-36.91-17.91-47.12zM403 757H28V90h375z'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M175.65 33h77.69a3.65 3.65 0 0 1 3.66 3.65 3.65 3.65 0 0 1-3.65 3.65h-77.7a3.65 3.65 0 0 1-3.65-3.65 3.65 3.65 0 0 1 3.65-3.65zM205.5 64h16a6.5 6.5 0 0 1 6.5 6.5 6.5 6.5 0 0 1-6.5 6.5h-16a6.5 6.5 0 0 1-6.5-6.5 6.5 6.5 0 0 1 6.5-6.5z'/%3E%3Ccircle cx='73' cy='36' r='8' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M403.25 89h-375a1 1 0 0 0-1 1v667a1 1 0 0 0 1 1h375a1 1 0 0 0 1-1V90a1 1 0 0 0-1-1zM403 757H28V90h375z'/%3E%3C/g%3E%3C/svg%3E");
    }

 @else if ($type == 'mobile-horizontal') {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 864 433.5'%3E%3Cg data-name='Layer 2'%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M243.52 1.79l-.07-.5A1.5 1.5 0 0 0 242 0h-48.7a1.5 1.5 0 0 0-1.48 1.29l-.07.5a1.51 1.51 0 0 0 0 .21H74.5C14.89 2 0 41.65 0 76.09v282.32C0 411 30.73 433.5 74.5 433.5h715c25.06 0 74.5-7.38 74.5-75.09V77.59C864 9.09 814.29 2 789.5 2H423.35a1.5 1.5 0 0 0 0-.21l-.07-.5a1.5 1.5 0 0 0-1.5-1.29H316.3a1.5 1.5 0 0 0-1.48 1.29l-.07.5a1.52 1.52 0 0 0 0 .21h-71.2a1.49 1.49 0 0 0-.03-.21zM757 30.5v375H90v-375z'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M72 9C29.15 9 7 34.22 7 73.59v288.33c0 24.08 7.4 41.28 20.95 52.15C39.32 423.19 54.68 427.5 72 427.5h720.5c15.6 0 30.3-3.53 41.87-11.7 15.15-10.69 23.63-28.45 23.63-54.38V74.59c0-27.05-9.42-45-25.86-55.4C820.53 11.86 806.83 9 793 9H72zm685 21.5v375H90v-375z'/%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M24.88 31C15.66 41.45 11 56.24 11 73.59v288.34c0 22.89 6.9 39 19.45 49C41 419.44 55.52 423.5 72 423.5h720.5c14.84 0 28.77-3.34 39.57-11 14-9.91 21.93-26.44 21.93-51.11V74.6c0-25.71-8.74-42.38-24-52-10.86-6.88-23.86-9.6-37-9.6H72c-21.24 0-36.91 6.34-47.12 18zM757 30.5v375H90v-375z'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M33 257.84v-77.69a3.65 3.65 0 0 1 3.65-3.65 3.65 3.65 0 0 1 3.65 3.65v77.69a3.65 3.65 0 0 1-3.65 3.65 3.65 3.65 0 0 1-3.65-3.65zM64 228v-16a6.5 6.5 0 0 1 6.5-6.5A6.5 6.5 0 0 1 77 212v16a6.5 6.5 0 0 1-6.5 6.5A6.5 6.5 0 0 1 64 228z'/%3E%3Ccircle cx='36' cy='360.5' r='8' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M89 30.25v375a1 1 0 0 0 1 1h667a1 1 0 0 0 1-1v-375a1 1 0 0 0-1-1H90a1 1 0 0 0-1 1zm668 .25v375H90v-375z'/%3E%3C/g%3E%3C/svg%3E");
    }

 @else if ($type == 'mobile-ios') {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 436 888'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M434.5 189.23h-.5V74.5C434 14.89 394.35 0 359.91 0H77.59C25 0 2.5 30.73 2.5 74.5V113h-1a1.5 1.5 0 0 0-1.5 1.5v33a1.5 1.5 0 0 0 1.5 1.5h1v40H2a1.5 1.5 0 0 0-1.5 1.5v63A1.5 1.5 0 0 0 2 255h.5v15H2a1.5 1.5 0 0 0-1.5 1.5v63A1.5 1.5 0 0 0 2 336h.5v477.5c0 25.06 7.38 74.5 75.09 74.5h280.82c68.5 0 75.59-49.71 75.59-74.5V254.71h.29a1.5 1.5 0 0 0 1.71-1.48v-62.5a1.5 1.5 0 0 0-1.5-1.5zM406 781H31V114h375z'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M362.92 6.5H74.59c-24.05 0-41.28 7.4-52.15 20.95C13.31 38.82 9 54.18 9 71.5V816c0 15.6 3.53 30.3 11.7 41.87C31.4 873 49.16 881.5 75.09 881.5h286.83c27.05 0 45-9.42 55.4-25.86 7.33-11.61 10.17-25.31 10.17-39.14v-745c0-42.85-25.21-65-64.57-65zM406 781H31V114h375z'/%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M423.49 372.68V71.5c0-21.24-6.31-36.91-17.93-47.12-10.49-9.22-25.28-13.88-42.64-13.88H74.59c-22.89 0-39 6.9-49 19.45C17.07 40.53 13 55 13 71.5V816.05c0 14.84 3.34 28.77 11 39.57 9.91 14 26.44 21.93 51.11 21.93h286.81c25.71 0 42.38-8.74 52-24 6.86-10.86 9.55-23.87 9.55-37V670.37zM406 781H31V114h375z'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M218 863a30 30 0 1 0-30-30 30 30 0 0 0 30 30zm0 4a34 34 0 1 1 34-34 34 34 0 0 1-34 34zM184 55h69a3.25 3.25 0 0 1 3.25 3.25A3.25 3.25 0 0 1 253 61.5h-69a3.25 3.25 0 0 1-3.25-3.25A3.25 3.25 0 0 1 184 55z'/%3E%3Ccircle cx='150.25' cy='58.25' r='7.25' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cellipse cx='218.75' cy='29.5' fill='#{rgba($colorSecondary,0.99999)}' rx='5.01' ry='5'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M406 113H31a1 1 0 0 0-1 1v667a1 1 0 0 0 1 1h375a1 1 0 0 0 1-1V114a1 1 0 0 0-1-1zm0 668H31V114h375z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

 @else if ($type == 'mobile-ios-horizontal') {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 888 436'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M189.23 1.5a1.5 1.5 0 0 0 0 .21V2H74.5C14.89 2 0 41.65 0 76.09v282.32C0 411 30.73 433.5 74.5 433.5H113v1a1.5 1.5 0 0 0 1.5 1.5h33a1.5 1.5 0 0 0 1.5-1.5v-1h40v.5a1.5 1.5 0 0 0 1.5 1.5h63a1.5 1.5 0 0 0 1.5-1.5v-.5h15v.5a1.5 1.5 0 0 0 1.5 1.5h63a1.5 1.5 0 0 0 1.5-1.5v-.5h477.5c25.06 0 74.5-7.38 74.5-75.09V77.59C888 9.09 838.29 2 813.5 2H254.71v-.29A1.5 1.5 0 0 0 253.48 0h-62.75a1.5 1.5 0 0 0-1.5 1.5zM781 30v375H114V30z'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M6.5 73.08v288.33c0 24.05 7.4 41.28 20.95 52.15C38.82 422.69 54.18 427 71.5 427H816c15.6 0 30.3-3.53 41.87-11.7 15.13-10.7 23.63-28.46 23.63-54.39V74.08c0-27.05-9.42-45-25.86-55.4C844 11.35 830.33 8.51 816.5 8.51h-745c-42.85 0-65 25.21-65 64.57zM781 30v375H114V30z'/%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M372.68 12.51H71.5c-21.24 0-36.91 6.31-47.12 17.93-9.22 10.5-13.88 25.29-13.88 42.64v288.33c0 22.89 6.9 39 19.45 49C40.53 418.93 55 423 71.5 423H816c14.84 0 28.77-3.34 39.57-11 14-9.91 21.93-26.44 21.93-51.11V74.08c0-25.71-8.74-42.38-24-52-10.86-6.86-23.87-9.55-37-9.55H372.68zM781 30v375H114V30z'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M863 218a30 30 0 1 0-30 30 30 30 0 0 0 30-30zm4 0a34 34 0 1 1-34-34 34 34 0 0 1 34 34zM55 252v-69a3.25 3.25 0 0 1 3.25-3.25A3.25 3.25 0 0 1 61.5 183v69a3.25 3.25 0 0 1-3.25 3.25A3.25 3.25 0 0 1 55 252z'/%3E%3Ccircle cx='58.25' cy='285.75' r='7.25' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cellipse cx='29.5' cy='217.25' fill='#{rgba($colorSecondary,0.99999)}' rx='5' ry='5.01'/%3E%3Cpath fill='#{rgba($colorSecondary,0.99999)}' d='M113 30v375a1 1 0 0 0 1 1h667a1 1 0 0 0 1-1V30a1 1 0 0 0-1-1H114a1 1 0 0 0-1 1zm668 0v375H114V30z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

 @else if ($type == 'tablet') {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 532 358.67'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M505.63 1.51H26.36C12.92 1.51 1 11 1 24.5v305.94C1 343.88 12.92 356 26.36 356h479.27c13.44 0 23.82-12.11 23.82-25.55V24.5c0-13.5-10.37-22.99-23.82-22.99zm-21.08 338.44a4 4 0 0 1-4 4H51a4 4 0 0 1-4-4V15.6a4 4 0 0 1 4-4h429.55a4 4 0 0 1 4 4z' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M23.05 190.26h.29a11 11 0 1 0 0-22.09h-.42a11 11 0 0 0 0 22.09h.13z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Ccircle cx='507.94' cy='178.75' r='3.31' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Ccircle cx='507.94' cy='171.65' r='1.03' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M483.54 357.67h-21.33'/%3E%3Cpath d='M480.55 10.6H51a5 5 0 0 0-5 5v324.35a5 5 0 0 0 5 5h429.55a5 5 0 0 0 5-5V15.6a5 5 0 0 0-5-5zm3 329.35a3 3 0 0 1-3 3H51a3 3 0 0 1-3-3V15.6a3 3 0 0 1 3-3h429.55a3 3 0 0 1 3 3z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M531 286.06v21.34M473.96 1.17h10.67M455.79 357.67h-21.34'/%3E%3Cpath d='M530.45 286.06V24.5c0-13.68-10.67-24-24.82-24h-21V0H474v.51H26.36C11.58.51 0 11 0 24.5v305.94C0 344.58 12.32 357 26.36 357h408.09v1.68h21.33V357h6.42v1.68h21.33V357h22.09c13.45 0 24.82-12.16 24.82-26.55v-23H532v-21.39zm-2 44.38c0 13.31-10.45 24.55-22.82 24.55H26.36C13.61 355 2 343.29 2 330.44V24.5c0-12.33 10.7-22 24.36-22h479.27c13.22 0 22.82 9.25 22.82 22z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3C/g%3E%3C/svg%3E ");
    }

 @else if ($type == 'tablet-vertical') {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 358.68 532'%3E%3Cpath d='M1.51 26.37v479.27C1.51 519.08 11 531 24.5 531h305.94c13.44 0 25.56-11.92 25.56-25.36V26.37c0-13.44-12.11-23.82-25.55-23.82H24.5C11 2.55 1.51 12.92 1.51 26.37zM340 47.45a4 4 0 0 1 4 4V481a4 4 0 0 1-4 4H15.6a4 4 0 0 1-4-4V51.45a4 4 0 0 1 4-4z' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M190.26 509v-.29a11 11 0 0 0-22.09 0v.42a11 11 0 1 0 22.09 0z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Ccircle cx='178.75' cy='24.06' r='3.31' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Ccircle cx='171.65' cy='24.06' r='1.03' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M357.67 48.46v21.33' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M10.6 51.45V481a5 5 0 0 0 5 5H340a5 5 0 0 0 5-5V51.45a5 5 0 0 0-5-5H15.6a5 5 0 0 0-5 5zm329.35-3a3 3 0 0 1 3 3V481a3 3 0 0 1-3 3H15.6a3 3 0 0 1-3-3V51.45a3 3 0 0 1 3-3z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M286.06 1h21.34M1.17 58V47.37m356.5 28.84v21.34' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M286.06 1.55H24.5c-13.68 0-24 10.67-24 24.82v21H0V58h.51v447.64C.51 520.42 11 532 24.5 532h305.94c14.14 0 26.56-12.32 26.56-26.36V97.55h1.68V76.22H357V69.8h1.68V48.47H357V26.38c0-13.45-12.16-24.82-26.55-24.82h-23V0h-21.39zm44.38 2C343.75 3.55 355 14 355 26.37v479.27c0 12.75-11.7 24.36-24.55 24.36H24.5c-12.33 0-22-10.7-22-24.36V26.37c0-13.22 9.25-22.82 22-22.82z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3C/svg%3E");
    }
}

.frame {
    height: auto;
    position: relative;
    width: auto;
    z-index: 1;

    // POSITION MODIFIERS
    &.absolute {
        @include position(absolute);
    }

    &.absolute-bottom {
        @include position(absolute, null, null, 0, null);
    }

    &.absolute-top {
        @include position(absolute, 0, null, null, null);
    }

    // SHADOW MODIFERS
    &.shadow {
        filter: drop-shadow(0 0 15px rgba($jaguar, 0.2));
    }

    &.shadow-dark {
        filter: drop-shadow(0 0 15px rgba($black, 0.4));
    }
}

/*
 * DESKTOP FRAME
*/
.frame-desktop {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    padding-top: 15px;

    @include media('>=md') {
        border-radius: 10px 10px 0 0;
        padding-top: 20px;
    }

    &::before {
        background-color: #bdbdbd;
        border-radius: 5px 5px 0 0;
        content: '';
        height: 9px;
        left: 0;
        position: absolute;
        top: 1px;
        width: 100%;

        @include media('>=sm') {
            height: 15px;
        }

        @include media('>=md') {
            border-radius: 10px 10px 0 0;
            height: 20px;
        }

        @include media('>=xl') {
            width: 100%;
        }
    }

    &::after {
        color: #fff;
        content: ' \25CF'; // circle
        font-size: 7px;
        left: 7px;
        line-height: 0;
        position: absolute;
        text-shadow: 7px 0 0, 14px 0 0; // duplicates circle
        top: 6px;

        @include media('>=sm') {
            font-size: 10px;
            text-shadow: 10px 0 0, 20px 0 0;
            top: 10px;
        }

        @include media('>=md') {
            font-size: 15px;
            text-shadow: 12px 0 0, 24px 0 0;
            top: 13px;
        }
    }

    &.lazy-ratio {
        background: linear-gradient(
            to top,
            rgba(#fefefe, 0) 4px,
            #fefefe 1px,
            #fefefe calc(100% - 20px),
            rgba(#fefefe, 0) 15px
        ); // prevents bg peak on rounded corners
        padding-top: 10px;

        @include media('>=sm') {
            padding-top: 16px;
        }

        @include media('>=md') {
            padding-top: 21px;
        }

        &::before {
            top: 1px;
        }
    }

    &.rounded {
        border-radius: 5px;

        @include media('>=md') {
            border-radius: 10px;
        }

        &.edge-left {
            border-radius: 0 5px 5px 0;

            @include media('>=md') {
                border-radius: 0 10px 10px 0;
            }
        }

        &.edge-right {
            border-radius: 5px 0 0 5px;

            @include media('>=md') {
                border-radius: 10px 0 0 10px;
            }
        }
    }

    // COLOR MODIFIERS
    &.black {
        @include frame('desktop', 'black');
    }

    &.darker {
        @include frame('desktop', 'darker');
    }

    &.dark {
        @include frame('desktop', 'dark');
    }

    &.light {
        @include frame('desktop', 'light');
    }

    &.lighter {
        @include frame('desktop', 'lighter');
    }

    // EDGE MODIFIERS
    &.edge-right {
        border-radius: 10px 0 0;
        right: -1px;

        @include media('>=xl') {
            right: -2px;
        }

        &.shadow {
            border-right: none;
        }

        &::before {
            border-radius: 10px 0 0;
        }
    }

    &.edge-left {
        border-radius: 0 10px 0 0;
        left: -1px;

        @include media('>=xl') {
            left: -2px;
        }

        &.shadow {
            border-left: none;
        }

        &::before {
            border-radius: 0 10px 0 0;
        }

        &::after {
            left: -15px;
        }
    }

    &.edge-bottom {
        bottom: -2px; // Slight offset for when aligned to bottom of block
        margin-top: auto;

        @include media('>=xl') {
            bottom: -3px;
        }

        &.shadow {
            border-bottom: none;
        }
    }

    @include media('>=xl') {
        .inner-block-image {
            width: calc(100% + 1px);
        }

        &.edge-left .inner-block-image {
            width: calc(100% + 1px);
        }
    }
}

/*
 * MOBILE FRAME
*/
.frame-mobile {
    height: auto;
    width: 40%;

    .frame-container {
        @include frame('mobile');
    }

    &.full-width {
        width: 100%;
    }

    // COLOR MODIFIERS
    &.black {
        &.frame-mobile {
            .frame-container {
                @include frame('mobile', 'black');
            }
        }
    }

    &.darker {
        &.frame-mobile {
            .frame-container {
                @include frame('mobile', 'darker');
            }
        }
    }

    &.dark {
        &.frame-mobile {
            .frame-container {
                @include frame('mobile', 'dark');
            }
        }
    }

    &.light {
        &.frame-mobile {
            .frame-container {
                @include frame('mobile', 'light');
            }
        }
    }

    &.lighter {
        &.frame-mobile {
            .frame-container {
                @include frame('mobile', 'lighter');
            }
        }
    }
}

/*
 * MOBILE FRAME (Horizontal)
*/
.frame-mobile-horizontal {
    height: auto;
    width: 100%;

    .frame-container {
        @include frame('mobile-horizontal');
    }

    // COLOR MODIFIERS
    &.black {
        &.frame-mobile-horizontal {
            .frame-container {
                @include frame('mobile-horizontal', 'black');
            }
        }
    }

    &.darker {
        &.frame-mobile-horizontal {
            .frame-container {
                @include frame('mobile-horizontal', 'darker');
            }
        }
    }

    &.dark {
        &.frame-mobile-horizontal {
            .frame-container {
                @include frame('mobile-horizontal', 'dark');
            }
        }
    }

    &.light {
        &.frame-mobile-horizontal {
            .frame-container {
                @include frame('mobile-horizontal', 'light');
            }
        }
    }

    &.lighter {
        &.frame-mobile-horizontal {
            .frame-container {
                @include frame('mobile-horizontal', 'lighter');
            }
        }
    }
}

/*
 * MOBILE FRAME (iOS)
*/
.frame-mobile-ios {
    height: auto;
    width: 40%;

    .frame-container {
        @include frame('mobile-ios');
    }

    // COLOR MODIFIERS
    &.black {
        &.frame-mobile-ios {
            .frame-container {
                @include frame('mobile-ios', 'black');
            }
        }
    }

    &.darker {
        &.frame-mobile-ios {
            .frame-container {
                @include frame('mobile-ios', 'darker');
            }
        }
    }

    &.dark {
        &.frame-mobile-ios {
            .frame-container {
                @include frame('mobile-ios', 'dark');
            }
        }
    }

    &.light {
        &.frame-mobile-ios {
            .frame-container {
                @include frame('mobile-ios', 'light');
            }
        }
    }
}

/*
 * MOBILE FRAME (Horizontal iOS)
*/
.frame-mobile-ios-horizontal {
    height: auto;
    width: 100%;

    .frame-container {
        @include frame('mobile-ios-horizontal');
    }

    // COLOR MODIFIERS
    &.black {
        &.frame-mobile-ios-horizontal {
            .frame-container {
                @include frame('mobile-ios-horizontal', 'black');
            }
        }
    }

    &.darker {
        &.frame-mobile-ios-horizontal {
            .frame-container {
                @include frame('mobile-ios-horizontal', 'darker');
            }
        }
    }

    &.dark {
        &.frame-mobile-ios-horizontal {
            .frame-container {
                @include frame('mobile-ios-horizontal', 'dark');
            }
        }
    }

    &.light {
        &.frame-mobile-ios-horizontal {
            .frame-container {
                @include frame('mobile-ios-horizontal', 'light');
            }
        }
    }

    &.lighter {
        &.frame-mobile-ios-horizontal {
            .frame-container {
                @include frame('mobile-ios-horizontal', 'lighter');
            }
        }
    }
}

/*
 * TABLET FRAME
*/
.frame-tablet {
    .frame-container {
        @include frame('tablet');
    }

    // COLOR MODIFIERS
    &.black {
        &.frame-tablet {
            .frame-container {
                @include frame('tablet', 'black');
            }
        }
    }

    &.darker {
        &.frame-tablet {
            .frame-container {
                @include frame('tablet', 'darker');
            }
        }
    }

    &.dark {
        &.frame-tablet {
            .frame-container {
                @include frame('tablet', 'dark');
            }
        }
    }

    &.light {
        &.frame-tablet {
            .frame-container {
                @include frame('tablet', 'light');
            }
        }
    }

    &.lighter {
        &.frame-tablet {
            .frame-container {
                @include frame('tablet', 'lighter');
            }
        }
    }
}

/*
 * TABLET FRAME (vertical)
*/
.frame-tablet-vertical {
    .frame-container {
        @include frame('tablet-vertical');
    }

    // COLOR MODIFIERS
    &.black {
        &.frame-tablet-vertical {
            .frame-container {
                @include frame('tablet-vertical', 'black');
            }
        }
    }

    &.darker {
        &.frame-tablet-vertical {
            .frame-container {
                @include frame('tablet-vertical', 'darker');
            }
        }
    }

    &.dark {
        &.frame-tablet-vertical {
            .frame-container {
                @include frame('tablet-vertical', 'dark');
            }
        }
    }

    &.light {
        &.frame-tablet-vertical {
            .frame-container {
                @include frame('tablet-vertical', 'light');
            }
        }
    }
}

.frame-container {
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding: 0; /* reset */
    position: relative;
    width: 100%;

    .frame-tablet & {
        padding-bottom: 67.5%;

        &::after {
            background: #fefefe;
            content: '';
            height: 95%;
            left: 6%;
            position: absolute;
            top: 2%;
            width: 87%;
            z-index: -2;
        }

        img {
            height: 100%;
            left: 0;
            padding: 2.3% 8% 2.8%;
            position: absolute;
            top: 0;
            width: inherit;
            z-index: -1;
        }
    }

    .frame-tablet-vertical & {
        padding-bottom: 148.5%;

        &::after {
            background: #fefefe;
            content: '';
            height: 87%;
            left: 1.5%;
            position: absolute;
            top: 6%;
            width: 96%;
            z-index: -2;
        }

        img {
            height: 100%;
            left: 0;
            padding: 13.3% 4% 12.8% 3%;
            position: absolute;
            top: 0;
            width: inherit;
            z-index: -1;
        }
    }

    .frame-mobile &,
    .frame-mobile-ios &,
    .frame-mobile-horizontal &,
    .frame-mobile-ios-horizontal & {
        &::after {
            background: #fefefe;
            content: '';
            height: 85%;
            left: 3%;
            position: absolute;
            top: 9%;
            width: 94%;
            z-index: -2;
        }
    }

    .frame-mobile &,
    .frame-mobile-ios &,
    .frame-mobile-horizontal &,
    .frame-mobile-ios-horizontal & {
        img {
            height: 100%;
            left: 0;
            object-fit: initial;
            position: absolute;
            top: 0;
            width: inherit;
            z-index: -1;
        }
    }

    .frame-mobile & {
        padding-bottom: 199%;

        img {
            padding: 20.5% 7.1% 24% 6.5%;
        }
    }

    .frame-mobile-ios & {
        padding-bottom: 204%;

        img {
            padding: 25.9% 6.3% 24.3% 6.5%;
        }
    }

    .frame-mobile-horizontal & {
        padding-bottom: 50%;

        img {
            padding: 3.1% 12% 2.6% 10.2%;
        }
    }

    .frame-mobile-ios-horizontal & {
        padding-bottom: 49%;

        img {
            padding: 3.1% 11.6% 3.2% 12.5%;
        }
    }
}
