/*
 * This file contains device frames for
 * the various case studies
*/

@mixin frame($type, $color: null) {
  $colorPrimary: #BDBDBD;
  $colorSecondary: #9B9B9B;

  // Define Color Variables
  @if ($color == 'black') {
    $colorPrimary: #000000;
    $colorSecondary: #222222;
  }

  @else if ($color == 'darker') {
    $colorPrimary: #282828;
    $colorSecondary: #333333;
  }

  @else if ($color == 'dark') {
    $colorPrimary: #757575;
    $colorSecondary: #4D4D4D;
  }

  @else if ($color == 'light') {
    $colorPrimary: #E0E0E0;
    $colorSecondary: #D1D1D1;
  }

  @else if ($color == 'lighter') {
    $colorPrimary: #EDEDED;
    $colorSecondary: #CCCCCC;
  }

  // Define Device Type
  @if ($type == 'desktop') {
    &::before {
      background-color: $colorPrimary;
    }

    &::after {
      color: $colorSecondary;
    }
  }

  @else if ($type == 'mobile') {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 206.49 398'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M4.31 139.78v234.94c0 13.58 8.87 16 18 17.38l.78.12c3.36.5 9 1.34 15.64 2 5.9.58 11.85 1 17.61 1.4h.69C73.67 396.82 89 397 96.66 397h13.16c7.66 0 23-.18 39.68-1.33h.69c5.75-.4 11.71-.81 17.61-1.4 6.64-.67 12.27-1.51 15.64-2l.78-.12c9.08-1.35 18-3.8 18-17.38V23.28c0-13.58-8.87-16-18-17.38l-.77-.12c-3.36-.5-9-1.34-15.65-2-5.91-.59-11.86-1-17.62-1.4l-.68-.05C132.81 1.17 117.48 1 109.82 1c-3.87 0-6.27 0-6.58.05S100.53 1 96.67 1C89 1 73.67 1.17 57 2.33l-.69.05c-5.75.39-11.71.81-17.61 1.4C32 4.44 26.4 5.29 23 5.79l-.77.12c-9.09 1.34-18 3.8-18 17.38v116.5zm187.77 228.55H14.42V37.18h177.66z' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Crect x='83.85' y='379.08' width='37.29' height='6.55' rx='3.28' ry='3.28' fill='none' stroke='#{rgba($colorSecondary,0.99999)}' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath d='M107.88 18.71c0 2.82-3.26 4.87-6.22 2.62-2.25-3-.18-6.2 2.63-6.2a3.58 3.58 0 0 1 3.58 3.58M13.42 369.33h179.66V36.18H13.42zm2-331.15h175.66v329.15H15.42z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M206.49 50.77h-3.31V23.28c0-14.38-9.71-17-18.8-18.36l-.86-.13c-3.36-.5-9-1.34-15.61-2-6.14-.61-12.52-1.05-17.64-1.4l-.68-.05C132.89.17 117.51 0 109.82 0c-3.74 0-6.25 0-6.54.05S100.38 0 96.67 0C89 0 73.59.17 56.91 1.33l-.68.05c-5.12.35-11.5.79-17.64 1.4-6.62.67-12.26 1.5-15.7 2l-.76.12C13 6.26 3.31 8.9 3.31 23.28v54.18H0v62.32h3.31v234.94c0 14.37 9.71 17 18.81 18.37l1.05.16c3.34.49 8.92 1.32 15.42 2 6.06.6 12.21 1 17.64 1.4h.69C73.71 397.83 89 398 96.66 398h13.16c7.64 0 23-.17 39.75-1.33h.68c5.44-.38 11.61-.8 17.64-1.4 6.51-.66 12.1-1.49 15.44-2l1-.15c9.1-1.35 18.81-4 18.81-18.37V76.43h3.31zm-5.31 324c0 12.79-8.09 15-17.1 16.39l-1 .15c-3.32.49-8.89 1.32-15.35 2-6 .59-12.15 1-17.58 1.39h-.68c-16.73 1.15-32 1.32-39.61 1.32H96.69c-7.61 0-22.88-.17-39.61-1.32h-.69c-5.41-.37-11.55-.8-17.58-1.39-6.44-.65-12-1.48-15.32-2l-1.05-.16c-9-1.34-17.1-3.6-17.1-16.39V23.28c0-12.8 8.09-15.06 17.11-16.39l.84-.13c3.35-.5 9-1.33 15.53-2 6.11-.61 12.47-1 17.58-1.4l.68-.05C73.67 2.17 89 2 96.67 2c3.93 0 6.26 0 6.62.05s2.63-.05 6.53-.05c7.66 0 23 .17 39.61 1.32l.68.05c5.11.35 11.47.79 17.58 1.4 6.57.66 12.17 1.49 15.6 2l.78.12c9 1.33 17.1 3.59 17.1 16.39v351.44z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3C/g%3E%3C/svg%3E ");
  }

  @else if ($type == 'mobile-horizontal') {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 398 206.49'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M139.78 202.18h234.94c13.58 0 16-8.87 17.38-18l.12-.78c.5-3.36 1.34-9 2-15.64.58-5.9 1-11.85 1.4-17.61v-.69c1.2-16.64 1.38-32 1.38-39.63V96.67c0-7.66-.18-23-1.33-39.68v-.69c-.4-5.75-.81-11.71-1.4-17.61-.67-6.64-1.51-12.27-2-15.64l-.12-.78c-1.35-9.08-3.8-18-17.38-18H23.28c-13.58 0-16 8.87-17.38 18l-.12.73c-.5 3.36-1.34 9-2 15.65-.59 5.91-1 11.86-1.4 17.62v.68C1.17 73.68 1 89 1 96.67v13.15c0 7.67.17 23 1.33 39.67v.69c.39 5.75.81 11.71 1.4 17.61.66 6.7 1.51 12.3 2 15.7l.12.77c1.34 9.09 3.8 18 17.38 18h116.5zM368.33 14.41v177.66H37.18V14.41z' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M379.08 119.36V88.63a3.28 3.28 0 0 1 3.27-3.28 3.28 3.28 0 0 1 3.27 3.28v30.73a3.28 3.28 0 0 1-3.27 3.28 3.28 3.28 0 0 1-3.27-3.28z' fill='none' stroke='#{rgba($colorSecondary,0.99999)}' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath d='M18.71 98.61c2.82 0 4.87 3.26 2.62 6.22-3 2.25-6.2.18-6.2-2.63a3.58 3.58 0 0 1 3.58-3.58m350.62 94.45V13.41H36.18v179.66zm-331.15-2V15.41h329.15v175.66z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M50.77 0v3.31H23.28c-14.38 0-17 9.69-18.36 18.8l-.13.89c-.5 3.36-1.34 9-2 15.61-.61 6.14-1 12.52-1.4 17.64v.68C.17 73.6 0 89 0 96.67c0 3.74 0 6.25.05 6.54s-.05 2.9-.05 6.61c0 7.67.17 23.08 1.33 39.76v.68c.35 5.12.79 11.5 1.4 17.64.67 6.62 1.5 12.26 2 15.7l.12.76c1.36 9.13 4 18.82 18.38 18.82h54.23v3.31h62.32v-3.31h234.94c14.37 0 17-9.71 18.37-18.81l.16-1c.49-3.34 1.32-8.92 2-15.42.6-6.06 1-12.21 1.4-17.64v-.69c1.18-16.79 1.35-32.08 1.35-39.74V96.67c0-7.64-.17-23-1.33-39.75v-.68c-.38-5.44-.8-11.61-1.4-17.64-.66-6.51-1.49-12.1-2-15.44l-.15-1c-1.35-9.1-4-18.81-18.37-18.81H76.43V0zm324 5.31c12.79 0 15 8.09 16.39 17.1l.15 1c.49 3.32 1.32 8.89 2 15.35.59 6 1 12.15 1.39 17.58V57c1.15 16.75 1.3 32 1.3 39.63v13.17c0 7.61-.17 22.88-1.32 39.61v.69c-.37 5.41-.8 11.55-1.39 17.58-.65 6.44-1.48 12-2 15.32l-.16 1c-1.34 9-3.6 17.1-16.39 17.1H23.28c-12.8 0-15.06-8.09-16.39-17.11l-.13-.84c-.5-3.35-1.33-9-2-15.53-.61-6.11-1-12.47-1.4-17.58v-.68C2.17 132.82 2 117.49 2 109.82v-6.62-6.53c0-7.66.17-23 1.32-39.61v-.68c.35-5.11.79-11.47 1.4-17.58.66-6.57 1.49-12.17 2-15.6l.12-.78c1.33-9 3.59-17.1 16.39-17.1h351.54z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3C/g%3E%3C/svg%3E");
  }

  @else if ($type == 'mobile-ios') {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 344.97 672.96'%3E%3Ctitle%3Emobile-ios_1%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath d='M323,17.19A49.93,49.93,0,0,0,287.48,2.5H58.35A50.21,50.21,0,0,0,8.12,52.68V621.15a50.21,50.21,0,0,0,50.23,50.18H287.48a50.2,50.2,0,0,0,50.23-50.18V52.68A49.82,49.82,0,0,0,323,17.19Zm.7,583.79H21.27V63.08H323.69Z' style='fill:#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M151.06,43h42.85a2.61,2.61,0,1,0,0-5.23H151.06a2.61,2.61,0,1,0,0,5.23Z' style='fill:#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M172.7,613.31a22.85,22.85,0,1,0,22.85,22.85A22.85,22.85,0,0,0,172.7,613.31Zm0,43.18A20.33,20.33,0,1,1,193,636.16,20.36,20.36,0,0,1,172.7,656.49Z' style='fill:#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M172.48,28.86a3.76,3.76,0,1,0-3.76-3.76A3.76,3.76,0,0,0,172.48,28.86Z' style='fill:#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M341.53,95.79h-2.19V52.68A52.71,52.71,0,0,0,286.61,0H57.49A52.71,52.71,0,0,0,4.76,52.68V91.4H4.28L0,95.68v33.2l4.28,4.28h.48v23.55H4.28L0,161v25.85l4.28,4.28h.48v23.11H4.28L0,218.52v25.85l4.28,4.28h.48V620.28A52.71,52.71,0,0,0,57.49,673H286.61a52.71,52.71,0,0,0,52.73-52.68V158.75h1.74l3.88-5.06V101.8Zm-7.19,5V620.28A47.7,47.7,0,0,1,286.61,668H57.49A47.71,47.71,0,0,1,9.76,620.28V52.68A47.71,47.71,0,0,1,57.49,5H286.61a47.71,47.71,0,0,1,47.73,47.68Z' style='fill:#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M325.69,603H19.27V61.08H325.69ZM23.27,599H321.69V65.08H23.27Z' style='fill:#{rgba($colorSecondary,0.99999)}'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  @else if ($type == 'tablet') {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 532 358.67'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M505.63 1.51H26.36C12.92 1.51 1 11 1 24.5v305.94C1 343.88 12.92 356 26.36 356h479.27c13.44 0 23.82-12.11 23.82-25.55V24.5c0-13.5-10.37-22.99-23.82-22.99zm-21.08 338.44a4 4 0 0 1-4 4H51a4 4 0 0 1-4-4V15.6a4 4 0 0 1 4-4h429.55a4 4 0 0 1 4 4z' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M23.05 190.26h.29a11 11 0 1 0 0-22.09h-.42a11 11 0 0 0 0 22.09h.13z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Ccircle cx='507.94' cy='178.75' r='3.31' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Ccircle cx='507.94' cy='171.65' r='1.03' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M483.54 357.67h-21.33'/%3E%3Cpath d='M480.55 10.6H51a5 5 0 0 0-5 5v324.35a5 5 0 0 0 5 5h429.55a5 5 0 0 0 5-5V15.6a5 5 0 0 0-5-5zm3 329.35a3 3 0 0 1-3 3H51a3 3 0 0 1-3-3V15.6a3 3 0 0 1 3-3h429.55a3 3 0 0 1 3 3z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M531 286.06v21.34M473.96 1.17h10.67M455.79 357.67h-21.34'/%3E%3Cpath d='M530.45 286.06V24.5c0-13.68-10.67-24-24.82-24h-21V0H474v.51H26.36C11.58.51 0 11 0 24.5v305.94C0 344.58 12.32 357 26.36 357h408.09v1.68h21.33V357h6.42v1.68h21.33V357h22.09c13.45 0 24.82-12.16 24.82-26.55v-23H532v-21.39zm-2 44.38c0 13.31-10.45 24.55-22.82 24.55H26.36C13.61 355 2 343.29 2 330.44V24.5c0-12.33 10.7-22 24.36-22h479.27c13.22 0 22.82 9.25 22.82 22z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3C/g%3E%3C/svg%3E ");
  }

  @else if ($type == 'tablet-vertical') {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 358.68 532'%3E%3Cpath d='M1.51 26.37v479.27C1.51 519.08 11 531 24.5 531h305.94c13.44 0 25.56-11.92 25.56-25.36V26.37c0-13.44-12.11-23.82-25.55-23.82H24.5C11 2.55 1.51 12.92 1.51 26.37zM340 47.45a4 4 0 0 1 4 4V481a4 4 0 0 1-4 4H15.6a4 4 0 0 1-4-4V51.45a4 4 0 0 1 4-4z' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M190.26 509v-.29a11 11 0 0 0-22.09 0v.42a11 11 0 1 0 22.09 0z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Ccircle cx='178.75' cy='24.06' r='3.31' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Ccircle cx='171.65' cy='24.06' r='1.03' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M357.67 48.46v21.33' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M10.6 51.45V481a5 5 0 0 0 5 5H340a5 5 0 0 0 5-5V51.45a5 5 0 0 0-5-5H15.6a5 5 0 0 0-5 5zm329.35-3a3 3 0 0 1 3 3V481a3 3 0 0 1-3 3H15.6a3 3 0 0 1-3-3V51.45a3 3 0 0 1 3-3z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M286.06 1h21.34M1.17 58V47.37m356.5 28.84v21.34' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M286.06 1.55H24.5c-13.68 0-24 10.67-24 24.82v21H0V58h.51v447.64C.51 520.42 11 532 24.5 532h305.94c14.14 0 26.56-12.32 26.56-26.36V97.55h1.68V76.22H357V69.8h1.68V48.47H357V26.38c0-13.45-12.16-24.82-26.55-24.82h-23V0h-21.39zm44.38 2C343.75 3.55 355 14 355 26.37v479.27c0 12.75-11.7 24.36-24.55 24.36H24.5c-12.33 0-22-10.7-22-24.36V26.37c0-13.22 9.25-22.82 22-22.82z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3C/svg%3E");
  }
}

.frame {
  height: auto;
  position: relative;
  width: auto;
  z-index: 1;

  // POSITION MODIFIERS
  &.absolute {
    @include position(absolute);
  }

  &.absolute-bottom {
    @include position(absolute, null, null, 0, null);
  }

  &.absolute-top {
    @include position(absolute, 0, null, null, null);
  }

  // SHADOW MODIFERS
  &.shadow {
    filter: drop-shadow(0 0 15px rgba($jaguar, 0.2));
  }

  &.shadow-dark {
    filter: drop-shadow(0 0 15px rgba($black, 0.4));
  }
}

/*
 * DESKTOP FRAME
*/
.frame-desktop {
  border-radius: 5px 5px 0 0;
  padding-top: 15px;

  @include media('>=md') {
    border-radius: 10px 10px 0 0;
    padding-top: 20px;
  }

  &::before {
    background-color: #BDBDBD;
    border-radius: 5px 5px 0 0;
    content: '';
    height: 15px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 100%;

    @include media('>=md') {
      border-radius: 10px 10px 0 0;
      height: 20px;
    }

    @include media('>=xl') {
      width: calc(100% - 1px);
    }
  }

  &::after {
    color: #FFFFFF;
    content: ' \25CF'; // circle
    font-size: 10px;
    left: 7px;
    line-height: 0;
    position: absolute;
    text-shadow: 10px 0 0, 20px 0 0; // duplicates circle
    top: 8px;

    @include media('>=md') {
      font-size: 15px;
      text-shadow: 12px 0 0, 24px 0 0;
      top: 13px;
    }
  }

  &.rounded {
    img {
      border-radius: 0 0 5px 5px;

      @include media('>=md') {
        border-radius: 0 0 10px 10px;
      }
    }

    &.edge-left {
      img {
        border-radius: 0 0 5px;

        @include media('>=md') {
          border-radius: 0 0 10px;
        }
      }
    }

    &.edge-right {
      img {
        border-radius: 0 0 0 5px;

        @include media('>=md') {
          border-radius: 0 0 0 10px;
        }
      }
    }
  }

  // COLOR MODIFIERS
  &.black {
    @include frame('desktop', 'black');
  }

  &.darker {
    @include frame('desktop', 'darker');
  }

  &.dark {
    @include frame('desktop', 'dark');
  }

  &.light {
    @include frame('desktop', 'light');
  }

  &.lighter {
    @include frame('desktop', 'lighter');
  }

  // EDGE MODIFIERS
  &.edge-right {
    border-radius: 10px 0 0;
    right: -1px;

    @include media('>=xl') {
      right: -2px;
    }

    &.shadow {
      border-right: none;
    }

    &::before {
      border-radius: 10px 0 0;
    }
  }

  &.edge-left {
    border-radius: 0 10px 0 0;
    left: -1px;

    @include media('>=xl') {
      left: -2px;
    }

    &.shadow {
      border-left: none;
    }

    &::before {
      border-radius: 0 10px 0 0;
    }

    &::after {
      left: -15px;
    }
  }

  &.edge-bottom {
    bottom: -2px; // Slight offset for when aligned to bottom of block
    margin-top: auto;

    @include media('>=xl') {
      bottom: -3px;
    }

    &.shadow {
      border-bottom: none;
    }
  }

  @include media('>=xl') {
    .inner-block-image {
      width: calc(100% - 1px);
    }

    &.edge-left .inner-block-image {
      width: 100%;
    }
  }
}


/*
 * MOBILE FRAME
*/
.frame-mobile {
  height: auto;
  width: 40%;

  .frame-container {
    @include frame('mobile');
  }

  // COLOR MODIFIERS
  &.black {
    &.frame-mobile {
      .frame-container {
        @include frame('mobile', 'black');
      }
    }
  }

  &.darker {
    &.frame-mobile {
      .frame-container {
        @include frame('mobile', 'darker');
      }
    }
  }

  &.dark {
    &.frame-mobile {
      .frame-container {
        @include frame('mobile', 'dark');
      }
    }
  }

  &.light {
    &.frame-mobile {
      .frame-container {
        @include frame('mobile', 'light');
      }
    }
  }

  &.lighter {
    &.frame-mobile {
      .frame-container {
        @include frame('mobile', 'lighter');
      }
    }
  }
}

/*
 * MOBILE FRAME (Horizontal)
*/
.frame-mobile-horizontal {
  height: auto;
  width: 100%;

  .frame-container {
    @include frame('mobile');
  }

  // COLOR MODIFIERS
  &.black {
    &.frame-mobile-horizontal {
      .frame-container {
        @include frame('mobile-horizontal', 'black');
      }
    }
  }

  &.darker {
    &.frame-mobile-horizontal {
      .frame-container {
        @include frame('mobile-horizontal', 'darker');
      }
    }
  }

  &.dark {
    &.frame-mobile-horizontal {
      .frame-container {
        @include frame('mobile-horizontal', 'dark');
      }
    }
  }

  &.light {
    &.frame-mobile-horizontal {
      .frame-container {
        @include frame('mobile-horizontal', 'light');
      }
    }
  }

  &.lighter {
    &.frame-mobile-horizontal {
      .frame-container {
        @include frame('mobile-horizontal', 'lighter');
      }
    }
  }
}

/*
 * MOBILE FRAME (iOS)
*/
.frame-mobile-ios {
  height: auto;
  width: 40%;

  .frame-container {
    @include frame('mobile-ios');
  }

  // COLOR MODIFIERS
  &.black {
    &.frame-mobile-ios {
      .frame-container {
        @include frame('mobile-ios', 'black');
      }
    }
  }

  &.darker {
    &.frame-mobile-ios {
      .frame-container {
        @include frame('mobile-ios', 'darker');
      }
    }
  }

  &.dark {
    &.frame-mobile-ios {
      .frame-container {
        @include frame('mobile-ios', 'dark');
      }
    }
  }

  &.light {
    &.frame-mobile-ios {
      .frame-container {
        @include frame('mobile-ios', 'light');
      }
    }
  }
}

/*
 * TABLET FRAME
*/
.frame-tablet {
  .frame-container {
    @include frame('tablet');
  }

  // COLOR MODIFIERS
  &.black {
    &.frame-tablet {
      .frame-container {
        @include frame('tablet', 'black');
      }
    }
  }

  &.darker {
    &.frame-tablet {
      .frame-container {
        @include frame('tablet', 'darker');
      }
    }
  }

  &.dark {
    &.frame-tablet {
      .frame-container {
        @include frame('tablet', 'dark');
      }
    }
  }

  &.light {
    &.frame-tablet {
      .frame-container {
        @include frame('tablet', 'light');
      }
    }
  }
}

/*
 * TABLET FRAME (vertical)
*/
.frame-tablet-vertical {
  .frame-container {
    @include frame('tablet-vertical');
  }

  // COLOR MODIFIERS
  &.black {
    &.frame-tablet-vertical {
      .frame-container {
        @include frame('tablet-vertical', 'black');
      }
    }
  }

  &.darker {
    &.frame-tablet-vertical {
      .frame-container {
        @include frame('tablet-vertical', 'darker');
      }
    }
  }

  &.dark {
    &.frame-tablet-vertical {
      .frame-container {
        @include frame('tablet-vertical', 'dark');
      }
    }
  }

  &.light {
    &.frame-tablet-vertical {
      .frame-container {
        @include frame('tablet-vertical', 'light');
      }
    }
  }
}


.frame-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  position: relative;
  width: 100%;

  .frame-tablet & {
    padding-bottom: 67.5%;

    &::after {
      background: #EDEDED;
      content: '';
      height: 95%;
      left: 6%;
      position: absolute;
      top: 2%;
      width: 87%;
      z-index: -2;
    }

    img {
      height: 100%;
      left: 0;
      padding: 2.3% 8% 2.8%;
      position: absolute;
      top: 0;
      width: inherit;
      z-index: -1;
    }
  }

  .frame-tablet-vertical & {
    padding-bottom: 148.5%;

    &::after {
      background: #EDEDED;
      content: '';
      height: 87%;
      left: 1.5%;
      position: absolute;
      top: 6%;
      width: 96%;
      z-index: -2;
    }

    img {
      height: 100%;
      left: 0;
      padding: 13.3% 4% 12.8% 3%;
      position: absolute;
      top: 0;
      width: inherit;
      z-index: -1;
    }
  }

  .frame-mobile &,
  .frame-mobile-ios &,
  .frame-mobile-horizontal & {
    &::after {
      background: #EDEDED;
      content: '';
      height: 85%;
      left: 3%;
      position: absolute;
      top: 9%;
      width: 94%;
      z-index: -2;
    }
  }

  .frame-mobile &,
  .frame-mobile-ios & {
    img {
      height: 100%;
      left: 0;
      object-fit: initial;
      position: absolute;
      top: 0;
      width: inherit;
      z-index: -1;
    }
  }

  .frame-mobile & {
    padding-bottom: 193.5%;

    img {
      padding: 17.5% 6% 14.6% 7.2%;
    }
  }

  .frame-mobile-ios & {
    padding-bottom: 195%;

    img {
      padding: 17.9% 6.3% 21.3% 6.5%;
    }
  }

  .frame-mobile-horizontal & {
    padding-bottom: 51.5%;

    img {
      height: 100%;
      left: 0;
      object-fit: initial;
      position: absolute;
      top: 0;
      width: inherit;
      z-index: -1;

      padding: 3.5% 7% 3.2% 9.5%;
    }
  }
}
