/*
 * This file contains UNIQUE section modifiers for
 * the various case studies (alphabetical)
*/

// &pizza
.andpizza-mobile-display {
  .inner-block-image.absolute {
    height: 80%;
    left: 0;
    margin: auto;
    right: 0;
    width: auto;
  }
}

.andpizza-bricks {
  background: url('../../images/work/andPizza/brick-bg.jpg') bottom center/cover no-repeat;
  background-color: #424242;
  color: $white-smoke;
}

// Congressional Digital Service
.cds {
  .frame-mobile {
    bottom: -10%;
    right: -3%;
    width: 30%;

    @include media('>=md') {
      right: -7%;
    }
  }
}

// CityHealth
.cityhealth-medal-rank {
  .lazy-ratio .inner-block-image {
    height: 60%;
    margin: auto;
  }
}

// Collaborate
.collaborate-displays {
  .frame-mobile {
    bottom: 20%;
    height: 45.5%;
    left: -5%;
    width: 25%;
    z-index: 10;

    @include media('>=md') {
      left: -70px;
    }
  }
}

.collaborate-lanyards {
  margin-bottom: 2em;
  margin-top: -5%;

  @include media('>=md') {
    margin-bottom: 4em;
  }
}

// Discovery Communications Ventures
.dcv-home {
  .frame-mobile {
    bottom: -10%;
    left: -20px;
    width: 25%;

    @include media('>=sm') {
      left: -30px;
    }

    @include media('>=xl') {
      left: -70px;
    }
  }
}

.dcv-displays {
  .frame-mobile {
    bottom: 15%;
    left: -20px;
    width: 25%;

    @include media('>=sm') {
      left: -30px;
    }

    @include media('>=xl') {
      left: -70px;
    }
  }

  .frame-tablet-vertical {
    bottom: -5%;
    right: -20px;
    width: 40%;

    @include media('>=sm') {
      right: -30px;
    }

    @include media('>=xl') {
      right: -70px;
    }
  }
}

// Felix
.felix-devices {
  .frame-mobile {
    bottom: -5%;
    height: 62%;
    left: 12%;
    width: 15%;
    z-index: 10;

    @include media('>=md') {
      bottom: -10%;
      left: 0;
    }

    @include media('>=lg') {
      bottom: -8%;
    }

    @include media('>=xl') {
      bottom: -3%;
    }
  }

  .frame-desktop {
    margin-left: auto;
    width: 92.5%;
  }
}

// FOH
.foh-mountains {
  .inner-block-image {
    left: 0;
    margin: auto;
    max-width: 600px;
    min-width: 250px;
    right: 0;
    width: 60%;
  }
}

// gCrit
.gcrit-home {
  .frame-desktop {
    margin: auto -1px auto auto;
    right: 0;
    width: 85%;
  }

  .frame-mobile {
    bottom: 0;
    height: 69%;
    left: 0;
    width: 30%;
  }
}

.gcrit-image-break {
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .lazy-ratio {
      margin-left: 5%;
      max-width: 20%;

      &:first-of-type {
        margin-left: 0;
      }
    }

    .box {
      margin-left: 5%;
      max-width: 20%;
      position: relative;
      width: 100%;

      .inner-block-image:last-of-type {
        left: 0;
        margin-left: 0;
        position: absolute;
        top: 0;
      }
    }

    .inner-block-image {
      border-radius: 6px;
      object-fit: contain;
      opacity: 0;
    }
  }
}

// ID Auto
.gray-langur-adventure {
  .frame-desktop.absolute {
    bottom: 0;
    height: 75%;
    margin: auto;
    top: 0;
    width: 75%;
    z-index: 0;

    &:nth-of-type(2) {
      left: -50%;
    }

    &:nth-of-type(3) {
      right: -45%;
    }
  }
}

// ID Auto
.idauto-navigate {
  .frame-desktop.absolute {
    bottom: 0;
    height: 75%;
    margin: auto;
    top: 0;
    width: 75%;
    z-index: 0;

    &:nth-of-type(2) {
      left: -25%;
    }

    &:nth-of-type(3) {
      right: -30%;
    }
  }
}

.block.shadow-inset-bottom {
  .idauto & {
    box-shadow: inset 0 -125px 60px -100px rgba(#789096, 0.25);
  }
}

.idauto-mobile-design {
  .frame-mobile-ios {
    width: 45%;

    &:last-of-type {
      right: 0;
    }
  }
}

// IJR
.ijr-display {
  .frame-desktop {
    &:nth-of-type(2) {
      bottom: initial;
      left: 0;
      top: 0;
      width: 80%;
    }

    &:nth-of-type(3) {
      right: 7.5%;
      top: initial;
      width: 80%;
    }

    @include media('>=md') {
      &:nth-of-type(3) {
        right: 0;
      }
    }
  }
}

.ijr-article {
  .frame-desktop {
    margin-left: auto;
    width: 97.5%;

    @include media('>=sm') {
      width: 92.5%;
    }

    @include media('>=md') {
      width: 87.5%;
    }
  }

  .frame-mobile {
    bottom: -5%;
    height: 85%;
    left: 7.5%;
    top: initial;
    width: 25%;

    @include media('>=md') {
      bottom: -2em;
      left: 0;
    }
  }
}

// interfolio
.interfolio-devices {
  .frame-desktop {
    // height: auto;
    margin-left: auto;
    max-width: 60%;
  }

  .frame-mobile {
    width: 20%;

    &:nth-of-type(2) {
      left: 0;
      top: 0;
      z-index: 10;
    }

    &:nth-of-type(3) {
      left: 12%;
      top: 25%;
      z-index: 9;
    }
  }
}

// livesafe
.livesafe-homepage {
  .frame-mobile {
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 0;
    width: 70%;
    z-index: 10;

    @include media('>=xl') {
      width: 60%;
    }
  }
}

.livesafe-security {
  .frame-mobile {
    &:nth-of-type(2) {
      left: 15%;
      top: 10%;
      z-index: 10;
    }

    &:nth-of-type(3) {
      bottom: 10%;
      opacity: 0.6;
      right: 15%;
    }
  }
}

.livesafe-nav {
  .frame-mobile {
    &:nth-of-type(2),
    &:nth-of-type(4) {
      bottom: 0;
      height: 72%;
      margin: auto 0;
      top: 0;
      width: 27%;
    }

    &:nth-of-type(2) {
      left: 0;
    }

    &:nth-of-type(3) {
      bottom: 0;
      left: 0;
      margin: auto;
      right: 0;
      top: 0;
      width: 37.5%;
      z-index: 10;
    }

    &:nth-of-type(4) {
      right: 0;
    }
  }
}


.livesafe-resources {
  .frame-mobile {
    &:nth-of-type(2) {
      bottom: 0;
      height: 100%;
      margin: auto 0;
      top: 0;
      width: 37.25%;
      z-index: 10;
    }

    &:nth-of-type(3) {
      bottom: 0;
      height: 79.5%;
      left: 13%;
      margin: auto;
      right: 0;
      top: 0;
      width: 29.5%;
      z-index: 9;
    }

    &:nth-of-type(4) {
      bottom: 0;
      height: 66%;
      margin: auto 0;
      right: 0;
      top: 0;
      width: 24.5%;
    }
  }
}

// Recity
.recity-forecasts {
  .frame-mobile {
    bottom: -5%;
    left: 7.5%;
    width: 25%;
    z-index: 10;

    @include media('>=md') {
      left: 0;
    }
  }

  .frame-desktop {
    margin-left: auto;
    width: 87.5%;
  }
}

.recity-city {
  .pin {
    background-image: url('../../images/work/recity/pin.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  .pin-one {
    height: 6%;
    left: 57%;
    top: 46%;
    width: 2%;
  }

  .pin-two {
    height: 4%;
    left: 59.5%;
    top: 28%;
    width: 2%;
  }

  .pin-three {
    height: 5%;
    left: 68%;
    top: 23%;
    width: 2%;
  }

  .pin-four {
    height: 8%;
    left: 73%;
    top: 40%;
    width: 2%;
  }

  .pin-five {
    height: 3%;
    left: 86%;
    top: 32%;
    width: 2%;
  }
}

// Responsum
.responsum-mobile {
  .frame-mobile {
    width: 45%;

    &:last-of-type {
      right: 0;
    }
  }
}

.responsum-devices {
  .frame-desktop {
    bottom: 0;
    margin-left: auto;
    right: 0;
    width: 90%;
  }

  .frame-mobile {
    bottom: -5%;
    width: 20%;
  }
}

// Style Me Pretty (smp)
.smp-content {
  .frame-desktop {
    bottom: 0;
    top: initial;
    width: 64.5%;

    &:nth-of-type(1) {
      left: 0;
      z-index: 10;
    }

    &:nth-of-type(2) {
      right: 0;
    }
  }
}

.smp-nav {
  .frame-desktop {
    margin-left: auto;
    width: 90%;
  }

  .frame-mobile {
    bottom: 0;
    height: 62.5%;
    left: 0;
    margin: auto 0;
    top: 0;
    width: 32%;
  }
}

.smp-size {
  .frame-desktop {
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 75.5%;
  }

  .frame-mobile {
    height: 42%;
    margin: initial;
    right: 0;
    top: 15%;
    width: 22%;
  }

  .frame-tablet {
    bottom: 15%;
    height: 42.75%;
    left: 0;
    margin: initial;
    top: initial;
    width: 65%;
  }
}

// Snagajob
.snagajob-apps {
  .frame-mobile {
    &:nth-of-type(1),
    &:nth-of-type(3) {
      bottom: 0;
      height: 82%;
      margin: auto;
      top: 0;
      width: 30%;
    }

    &:nth-of-type(1) {
      left: 0;
    }

    &:nth-of-type(2) {
      left: 0;
      margin: auto;
      right: 0;
      width: 35%;
    }

    &:nth-of-type(3) {
      right: 0;
    }
  }
}

.snagajob {
  .overflow-bottom {
    box-shadow: inset 0 -150px 0 -100px #EEEEEE;
    padding-bottom: 20px;

    @include media('>=sm') {
      box-shadow: inset 0 -180px 0 -100px #EEEEEE;
    }

    @include media('>=md') {
      box-shadow: inset 0 -180px 0 -100px #EEEEEE;
    }

    @include media('>=lg') {
      box-shadow: inset 0 -210px 0 -100px #EEEEEE;
    }
  }
}

.snagajob-os {
  .frame-mobile,
  .frame-mobile-ios {
    width: 35.5%;
  }

  .frame-mobile {
    margin-left: 12.5%;
  }

  .frame-mobile-ios {
    margin-right: 12.5%;
    right: 0;
  }
}

.snagajob-consistency {
  .frame-mobile {
    bottom: 0;
    margin: auto 0;
    top: 0;

    &:nth-of-type(1) {
      height: 68.5%;
      left: 0;
      width: 27.5%;
    }

    &:nth-of-type(2) {
      height: 76.5%;
      left: 18%;
      width: 30.5%;
    }

    &:nth-of-type(3) {
      height: 83.5%;
      left: 39%;
      width: 33.5%;
    }

    &:nth-of-type(4) {
      margin-left: auto;
    }
  }
}

// Unbox
.unbox-app {
  .inner-block-image {
    border-radius: 10px 0 0 10px;
  }
}

.unbox-tag {
  .inner-block-image {
    border-radius: 10px;
  }
}

.unbox-forklift {
  .absolute {
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
  }
}

// Upfront
.upfront-dev {
  .frame-mobile {
    bottom: 0;
    height: 82%;
    margin: auto 0;
    top: 0;
    width: 30%;

    &:nth-of-type(2) {
      left: 0;
    }

    &:nth-of-type(3) {
      height: 95.5%;
      left: 0;
      margin: auto;
      right: 0;
      width: 35%;
    }

    &:nth-of-type(4) {
      right: 0;
    }
  }
}

.upfront-connected {
  .frame-mobile {
    bottom: 0;
    margin: auto 0;
    top: 0;

    &:nth-of-type(1) {
      height: 85%;
      right: 15%;
      width: 34%;
    }

    &:nth-of-type(2) {
      left: 15%;
    }
  }
}

// Upside
.upside-interface {
  .inner-block-image.absolute {
    bottom: 0;
    height: 75%;
    margin: auto;
    top: 0;

    &:nth-of-type(1) {
      left: -45%;
    }

    &:nth-of-type(2) {
      right: -55%;
    }
  }
}

// Upturn
.upturn-content {
  .frame-desktop {
    margin-left: auto;
    width: 90%;
  }

  .frame-mobile {
    height: 68%;
    margin: auto 0 0;
    width: 20%;
  }
}

// WeddingWire
.weddingwire-wireframe {
  .inner-block-image {
    margin-bottom: -1px;
  }
}

.weddingwire-devices {
  .frame-mobile-ios,
  .frame-mobile {
    bottom: 0;
    margin: auto;
    top: 0;
    width: 47%;
  }

  .frame-mobile-ios {
    left: 0;
  }

  .frame-mobile {
    right: 0;
  }
}
