.btn {
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: none;
}

.btn-box {
    @include text('trade-gothic', 12, 400);
    background-color: transparent;
    border-radius: 3px;
    box-shadow: inset 0 0 0 3px;
    color: $night-rider;
    display: inline-block;
    padding: #{$textGap*0.35 + (3px * 2)} #{$textGap*1.5 + (3px * 2)}; // (3px * 2) to account for inset box-shadow);
    position: relative;
    text-transform: uppercase;
    transition: color 300ms ease, background-color 400ms ease,
        box-shadow 300ms ease 100ms;

    &:hover {
        background-color: $night-rider;
        box-shadow: inset 0 0 0 0;
        color: $white;
        transition: color 300ms ease 100ms, background-color 400ms ease 100ms,
            box-shadow 300ms;
    }

    &:active {
        opacity: 0.7;
    }

    &.alt {
        color: $white;

        &:hover {
            background-color: $white;
            color: $night-rider;
        }
    }
}

.btn-box-lg {
    @extend .btn-box;
    padding: #{$textGap*0.75 + (3px * 2)} #{$textGap*1.5 + (3px * 2)}; // (3px * 2) to account for inset box-shadow);
}

.btn-text {
    @include text('source-sans-pro', 20, 200);
    align-items: center;
    border: 0;
    color: inherit;
    display: inline-flex;
    padding: $textGap/2 $textGap*0.75;
    transition: transform 350ms ease;

    &:hover {
        transform: translateX(-#{$textGap/4});

        &::after {
            transform: translateX($textGap/2);
        }
    }

    &.align-left {
        padding: $textGap/2 $textGap*0.75 $textGap/2 0;

        &:hover {
            transform: translateX(0);
        }
    }

    // icon
    &::after {
        backface-visibility: hidden;
        background-color: $jaguar;
        border-radius: 50%;
        box-shadow: 0 0 0 8px $jaguar; // 8px circle around icon
        content: ' ';
        display: inline-flex;
        flex-shrink: 0;
        margin: 0 8px 0 calc(#{$textGap*0.75} + 8px); // 8px for box-shadow;
        transition: transform 350ms ease;
    }

    &.alt {
        &::after {
            background-color: $white-smoke;
            box-shadow: 0 0 0 8px $white-smoke;
        }
    }

    &.icon-arrow {
        &::after {
            @include icon-arrow($white-smoke, 11px, 11px);
        }

        &.alt {
            &::after {
                @include icon-arrow($jaguar, 11px, 11px);
            }
        }
    }

    &.icon-accordion {
        &::after {
            @include icon-plus($white-smoke, 11px, 11px);
        }
        // active modifer for expanded section
        &.is-active {
            &::after {
                @include icon-minus($white-smoke, 11px, 11px);
            }
        }
    }
}

.btn-text-lg {
    @extend .btn-text;

    @include text('source-sans-pro', 32, 300, $charcoal);
    line-height: 1.2;
    padding: 0;

    &::after {
        content: none;
    }

    &:hover {
        @include link-underline($white, $charcoal, $dark-gray);
        transform: translateX(0);
    }
}
