.content-tagline {
  @include text('trade-gothic', 18, 600, $charcoal);
  letter-spacing: 2px;
  margin: 0 0 $textGap*2;
  text-transform: uppercase;
}

.content-title {
  @include text('source-sans-pro', 36, 300, $night-rider);
  margin: 0 0 $textGap*2;
  max-width: 700px;
}

.content-text {
  @include text('sentinel', 24, 300, $regent-grey);
  line-height: 1.4;
  margin: 0 0 $textGap*2;
  max-width: 450px;
}
