.cta-block {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.cta-button {
  display: none;

  @include media('>=md') {
    align-items: center;
    background-color: $jaguar;
    display: flex;
    flex-shrink: 0;
    font-size: 0;
    position: relative;
    text-decoration: none;
    transition: transform 500ms ease;

    // if IE set position to absolute
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      position: absolute;
    }

    // Icon
    &::before {
      @include icon-arrow;
      content: '';
      display: inline-flex;
      margin: 20px;
    }

    // Text
    &::after {
      @include text('sentinel', 16, 300, $white-smoke);
      content: attr(title);
      display: inline-flex;
      opacity: 0;
      transition: opacity 450ms ease 150ms;
    }

    &:hover,
    &.is-expanded {
      &::after {
        opacity: 1;
        transition: opacity 450ms ease 150ms;
      }
    }

    &:hover {
      transform: translateX(0);
    }

    &.is-expanded {
      transform: translateX(20px);

      &:hover {
        transform: translateX(0);
      }
    }
  }

  &.absolute {
    position: absolute;
  }
}

.cta-button-left {
  @include media('>=md') {
    left: 0;
    margin-right: auto;
    transform: translateX(-100%) translateX(40px + 8px); // -100% + (icon margin + icon size)

    // Icon
    &::before {
      order: 1;
      transform: rotate(180deg);
    }

    // Text
    &::after {
      margin-left: $gridGap*0.75;
    }
  }
}

.cta-button-right {
  @include media('>=md') {
    margin-left: auto;
    right: 0;
    transform: translateX(100%) translateX(40px + 8px); // 100% - (icon margin + icon size)

    // Text
    &::after {
      margin-right: $gridGap*0.75;
    }

    &.absolute {
      bottom: 0;
      height: 53px;
      margin: auto 0 auto auto;
      top: 0;
    }
  }
}

.cta-content {
  color: $jaguar;
  text-align: center;
}

.cta-title,
.cta-text {
  .jaguar & {
    color: $white-smoke;
  }
}

.cta-title {
  @include text('sentinel', 43, 300);
}

.cta-text {
  @include text('sentinel', 26, 300);
  margin: 0 0 $textGap*1.5;
}

.cta-subtext {
  @include text('source-sans-pro', 18, 300, $charcoal);
  margin: -$textGap 0 $textGap*1.5;
}
