.footer {
  background-color: $jaguar;
  overflow: hidden;
  padding: $gridGap*2 0 $gridGap;
  position: relative;
  transition: padding 500ms ease 300ms;

  &::after {
    @include position(absolute, 0, -75%, 0, -75%);
    background-image: url('./../images/footer/footer-egg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: ' ';
    height: 135px;
    margin: auto auto 0;
    opacity: 0;
    transition: opacity 500ms ease;
    width: 419px;
  }

  &.footer-egg {
    padding: $gridGap*2 0 calc(#{$gridGap} + 135px);
    transition: padding 500ms ease;

    &::after {
      opacity: 1;
      transition: opacity 500ms ease 300ms;
    }
  }
}

.footer-content {
  justify-content: space-between;

  @include media('>=xl') {
    justify-content: space-around;
  }
  + .footer-content {
    margin-top: $gridGap;
  }
}

.footer-box.column {
  align-items: flex-start;
  flex: 0 1 auto;

  @include media('<=md') {
    flex: 0 1 100%;
  }

  + .footer-box.column {
    margin-top: $gridGap;

    @include media('>md') {
      margin-top: 0;
    }
  }
}

.footer-logo-box.column {
  flex: 0 0 100%;

  @include media('>=xl') {
    flex: 0 1 auto;
    max-width: 300px;
    min-width: 0;
    padding-top: 2px; // align with footer-headings
  }
}

.footer-logo {
  @include hide-text;
  background: url('./../images/icons/wordmark-mobile.svg') center center no-repeat;
  display: block;
  height: 16px;
  margin-bottom: $gridGap;
  width: 97px;
}

.footer-heading {
  @include text('trade-gothic', 14, 600, $silver);
  letter-spacing: 2px;
  margin: 0 0 $textGap;
  text-transform: uppercase;

  @include media('>=md') {
    margin: 0 0 $textGap*2;
  }
}

.footer-link {
  @include text('source-sans-pro', 16, 300, $silver);
  line-height: 1;
  text-decoration: none;
  transition: color 300ms ease;

  &.email {
    @include text('source-sans-pro', 24, 300, $silver);
    line-height: 1.2;
  }

  &:hover {
    color: $white-smoke;
  }

  + .footer-link {
    margin-top: $textGap/2;
  }
}

.footer-social-box {
  margin: 0 #{-$textGap} #{-$textGap/2} 0; // negative margins to offset social links
}

.footer-social-link {
  @include hide-text;
  align-items: center;
  background-color: $silver;
  border-radius: 50%;
  display: flex;
  font-size: 0;
  height: 30px;
  justify-content: center;
  margin: 0 $textGap $textGap/2 0;
  position: relative;
  transition: background-color 300ms ease;
  width: 30px;

  &:hover {
    background-color: $white-smoke;
  }

  &::before {
    @include position(absolute, 0, 0, 0, 0);
    content: '';
    display: block;
    margin: auto;
  }

  &.dribble {
    &::before {
      @include icon-dribble($jaguar);
    }
  }

  &.facebook {
    &::before {
      @include icon-facebook($jaguar);
    }
  }

  &.github {
    &::before {
      @include icon-github($jaguar);
    }
  }

  &.linkedin {
    &::before {
      @include icon-linkedin($jaguar);
    }
  }

  &.twitter {
    &::before {
      @include icon-twitter($jaguar);
    }
  }
}

.footer-text {
  @include text('sentinel', 12, 300, rgba($silver, 0.4));
  margin: 0;

  @include media('>=sm') {
    font-size: 14px;
  }
}

.footer-stars {
  // use `&#9733;` for star icon in html markup
  background-color: transparent;
  border: 0;
  color: $silver;
  cursor: pointer;
  display: block;
  font-size: 12px;
  opacity: 0.4;
  padding: 0;
  text-align: center;
  text-shadow: -20px 0 0, 20px 0 0; // duplicates star
  transition: opacity 500ms ease;
  width: 60px;
  z-index: 1;

  &:hover {
    opacity: 1;
  }
}
