$menu-height: 50px;

@include media('>=md') {
  .menu-home { // pairs with .hero-lg (homepage only)
    background-color: $jaguar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
    padding: $gridGap*1.5 0;
    position: relative;
  }

  .menu-home-trigger { // pairs with .hero-lg (homepage only)
    height: $menu-height;
    margin: auto 0;
    position: relative;
  }
}

.menu-logo-wrapper {
  @include wrapper;
  @include position(fixed, 0, 0, null, 0);
  background-color: transparent;
  height: $menu-height;
  pointer-events: none;
  z-index: 20;

  @include media('>=md') {
    .menu-home.active & {
      bottom: 0;
      margin: auto;
      position: absolute;
    }
  }
}

.menu-logo {
  @include hide-text;
  @include position(fixed, 0, null, null, $gridGap/2);
  backface-visibility: hidden;
  background: url('./../images/icons/flag.svg') $jaguar center center no-repeat;
  display: block;
  height: $menu-height;
  overflow: hidden;
  pointer-events: all;
  transition: all 300ms;
  width: 50px;
  z-index: 20;

  &::before {
    background: url('./../images/icons/wordmark.svg') $jaguar center center no-repeat;
    content: ' ';
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    transform: scale(0.5);
    transform-origin: center;
    transition: all 300ms;
    visibility: hidden;
    width: 100%;
  }

  &:hover {
    margin: 0 -60px 0 0;
    width: 110px;

    &::before {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }

    @include media('>=md') {
      margin: 0 0 0 calc(#{$gridGap} - 60px);

      &::before {
        transform-origin: right;
      }
    }

    @include media('>=lg') {
      margin: 0 0 0 calc(#{$gridGap*1.5} - 60px);
    }

    @include media('>=xl') {
      margin: 0 0 0 calc(#{$gridGap*2} - 60px);
    }
  }

  @include media('>=sm') {
    left: 0;
    margin-left: $gridGap;
    position: relative;
  }

  @include media('>=md') {
    transition: all 300ms, background-color 400ms;

    .menu-home.active & {
      // @include position(absolute, 0, null, 0, null);
      background-color: transparent;
      // margin: auto 0;
    }
  }

  @include media('>=lg') {
    margin-left: $gridGap*1.5;
  }

  @include media('>=xl') {
    margin-left: $gridGap*2;
  }

  &.is-collapsed {
    transform: translateY(-$menu-height);
  }
}

.menu {
  @include position(fixed, 0, 0, null);
  backface-visibility: hidden;
  background-color: $jaguar;
  height: 100vh;
  max-width: calc(100% - (7.5% + 110px + 2em));
  min-width: 250px;
  // overflow: hidden;
  transform: translateX(100%);
  transition: transform 300ms;
  width: 100%;
  z-index: 25;

  @include media('>=md') {
    @include position(fixed, 0, 0, null, 0);
    height: $menu-height;
    margin: auto;
    max-width: 1440px;
    transform: none;
    transition: transform 400ms ease-in-out;
    width: 100%;
    z-index: 15;

    .menu-home.active & {
      margin: auto 0;
      position: relative;
    }
  }

  &.is-active {
    transform: none;
  }

  &.hidden {
    @include media('>=md') {
      transform: translateY(-200%);
    }
  }
}

.menu-wrapper {
  @include wrapper;
}

.menu-mobile-logo {
  @include hide-text;
  background: url('./../images/icons/wordmark-mobile.svg') center center no-repeat;
  display: block;
  height: 16px;
  margin: $textGap*1.5 $textGap;
  width: 97px;

  @include media('>=md') {
    display: none;
  }
}

.menu-container {
  align-items: flex-start;
  border-top: 2px solid $night-rider;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include media('>=md') {
    align-items: center;
    border: none;
    flex-direction: row;
    height: $menu-height;
    margin-left: calc(#{$gridGap} + 50px);
    transition: height 400ms ease-in-out;
  }

  @include media('>=lg') {
    margin-left: calc(#{$gridGap*1.5} + 50px);
  }

  @include media('>=xl') {
    margin-left: calc(#{$gridGap*2} + 50px);
  }
}

.menu-link {
  @include text('trade-gothic', 11, 600, $white-smoke);
  align-items: center;
  border-bottom: 2px solid $night-rider;
  display: flex;
  height: $menu-height;
  letter-spacing: 2px;
  padding: 0 $textGap;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 300ms;
  width: 100%;

  @include media('>=md') {
    border-bottom: 0;
    border-right: 1px solid $night-rider;
    transition: border-right 300ms;
    width: auto;
  }

  &:hover {
    background-color: $night-rider;
  }

  .menu-home.active & {
    border-right: 1px solid transparent;
  }
}

.menu-mobile-toggle {
  @include position(fixed, $textGap/2, $textGap/2);
  background-color: transparent;
  border: 0;
  box-sizing: content-box;
  cursor: pointer;
  height: 21px;
  outline: none;
  padding: 10px;
  width: 25px;
  z-index: 30;

  @include media('>=md') {
    display: none;
  }
}

.menu-mobile-box {
  display: block;
  height: 21px;
  position: relative;
}

.menu-mobile-inner {
  @include position(absolute, 50%, null, 0);
  background-color: $iron;
  bottom: 0;
  height: 3px;
  position: absolute;
  transition: all 0.4s ease;
  width: 25px;

  &::before,
  &::after {
    @include position(absolute, null, null, null, 0);
    background-color: $iron;
    content: '';
    height: 100%;
    position: absolute;
    transition: all 0.4s ease;
    width: 100%;
  }

  &::before {
    top: -9px;
  }

  &::after {
    top: 9px;
  }

  // Active controls when menu is expanded
  .is-active & {
    background-color: transparent;

    &::before {
      background-color: $white-smoke;
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      background-color: $white-smoke;
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
