%outline {
  margin-bottom: $textGap*2;

  path {
    visibility: hidden;
  }
}

.outline-desktop {
  @extend %outline;
  display: none;

  @include media('>=md') {
    display: block;
  }

  @include media('>=lg') {
    max-width: 80%;
  }
}

.outline-mobile {
  @extend %outline;
  display: block;

  @include media('>=md') {
    display: none;
  }
}
