<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Brave UX - Contact</title>
  <% include ../partials/_head %>
</head>

<body>
  <div class="presentation">
    <div class="presentation-box">
      <a href="./" class="menu-logo"></a>
    </div>
  </div>

  <%- include ../partials/_footer-scripts %>

    <script>
      $(document).ready(function () {
        ludusFrame();
      });
    </script>

</body>

</html>