<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Brave UX - Contact</title>
  <% include ../partials/_head %>
</head>

<body>
  <div class="presentation">
    <div class="presentation-box">
      <div class="menu-logo"></div>
    </div>
  </div>

  <%- include ../partials/_footer-scripts %>

</body>

</html>