<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Brave UX - Contact</title>
  <meta name="description" content="Brave is a user experience design agency that delivers strategy, research, information architecture, visual design, and prototyping. Based in Washington, DC, our small team delivers big results.">
  <% include ../partials/_head %>
</head>

<body>
  <div class="presentation">
    <div class="presentation-box">
      <div class="menu-logo"></div>
    </div>
  </div>

  <%- include ../partials/_footer-scripts %>

</body>

</html>