// GENERAL KEYFRAMES
@keyframes animation-light-flicker {
    0% { opacity: 0; }
    28% { opacity: 0; }
    30% { opacity: .5; }
    32% { opacity: 0; }
    34% { opacity: .5; }
    36% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes animation-light-pulse {
    0% { opacity: 1; }
    50% { opacity: 0.85; }
    100% { opacity: 1; }
}

// ANIMATION-ONE
.animation-one {
    .animation-one-descent {
        transform-origin: 50% 0;
        animation: animation-one-descent 5000ms ease-out 1;
    }
    .animation-one-swing {
        transform-origin: 100% 0;
        animation: animation-one-swing 5500ms ease-in 1;
    }
    .animation-one-light {
        animation: animation-light-flicker 2500ms ease 5000ms 1 backwards;
    }
}

// ANIMATION-ONE KEYFRAMES
@keyframes animation-one-descent {
    0% { transform: translateY(-1000px) scale(0.1); }
    50% { transform: scale(0.5); }
    85% { transform: translateY(5px); }
    90% { transform: translateY(0px); }
    95% { transform: translateY(2px); }
    100% { transform: translateY(0px) scale(1); }
}
@keyframes animation-one-swing {
    0% { transform:  rotate(10deg); }
    15% { transform: rotate(-5deg); }
    50% { transform: rotate(2.5deg); }
    75% { transform: rotate(-1.25deg); }
    90% { transform: rotate(0.75deg); }
    100% { transform: rotate(0deg); }
}

// ANIMATION-TWO
.animation-two {
    .animation-two-light {
        animation: animation-light-flicker 2500ms ease 500ms 1 backwards;
    }

    .animation-light-pulse {
        animation: animation-light-pulse 5000ms ease 5000ms infinite;
    }
}

// ANIMATION-THREE
.animation-three {
    .animation-three-waterfall {
        path {
            &:nth-of-type(1) {
                transform: translateX(1px);
                animation: animation-three-waterfall 2000ms linear infinite;
            }
            &:nth-of-type(2) {
                transform: translateX(-1px);
                animation: animation-three-waterfall 2000ms linear infinite;
            }
            &:nth-of-type(3) {
                transform: translateX(1px);
                animation: animation-three-waterfall 2000ms linear 1000ms infinite;
            }
            &:nth-of-type(4) {
                transform: translateX(-1px);
                animation: animation-three-waterfall 2000ms linear 1000ms infinite;
            }
        }
    }

    .animation-three-splash {
        path:first-of-type {
            animation: animation-three-splash 500ms linear alternate infinite;
        }
        path:last-of-type {
            transform: translateY(5px);
            animation: animation-three-splash 500ms linear alternate-reverse infinite;
        }
    }

    .animation-light-pulse {
        animation: animation-light-pulse 5000ms ease 5000ms infinite;
    }

    .animation-three-river {
        path {
            &:nth-of-type(1) {
                animation: animation-three-river 1500ms linear alternate infinite;
            }
            &:nth-of-type(2) {
                animation: animation-three-river 2000ms linear alternate-reverse infinite;
            }
            &:nth-of-type(3) {
                animation: animation-three-river 2500ms linear alternate infinite;
            }
        }
    }

    .animation-light-pulse {
        animation: animation-light-pulse 2000ms ease 500ms infinite;
    }

    .animation-three-light {
        animation: animation-light-flicker 2500ms ease 500ms 1 backwards;
    }

    .animation-three-swing {
        transform-origin: 100% 0;
        animation: animation-three-swing 2500ms ease-in-out alternate infinite;
    }
}

// ANIMATION-THREE KEYFRAMES
@keyframes animation-three-waterfall {
    0% { transform: translateY(0px); }
    100% { transform: translateY(160px); }
}

@keyframes animation-three-river {
    0% { transform: skew(0) rotate(0); }
    100% { transform: skew(0.8deg) rotate(0.1deg); }
}

@keyframes animation-three-splash {
    0% { transform: translateY(0px); }
    100% { transform: translateY(5px); }
}

@keyframes animation-three-swing {
    0% { transform:  rotate(-1deg); }
    100% { transform: rotate(1deg); }
}


// ANIMATION-FOUR
.animation-four {
    .animation-four-splash {
        path {
            &:nth-of-type(1) {
                animation: animation-four-splash 500ms linear alternate infinite;
            }
            &:nth-of-type(2) {
                transform: translateY(5px);
                animation: animation-four-splash 500ms linear alternate-reverse infinite;
            }
            &:nth-of-type(3) {
                animation: animation-four-splash 500ms linear alternate infinite;
            }
        }
    }

    .animation-four-light {
        opacity: 0;
        visibility: hidden;
    }

    .animation-four-waterfall {
        polygon {
            transform-origin: top;
            &:nth-of-type(1) {
                animation: animation-four-waterfall 500ms linear alternate infinite;
            }
            &:nth-of-type(2) {
                transform: scale(1,1.5);
                animation: animation-four-waterfall 500ms linear alternate-reverse infinite;
            }
        }
    }

    .animation-four-waterfall-drop {
        polygon {
            &:nth-of-type(1) {
                transform: translateX(1px);
                animation: animation-four-waterfall-drop 2000ms linear infinite;
            }
            &:nth-of-type(2) {
                transform: translateX(-1px);
                animation: animation-four-waterfall-drop 2000ms linear infinite;
            }
            &:nth-of-type(3) {
                transform: translateX(1px);
                animation: animation-four-waterfall-drop 2000ms linear 1000ms infinite;
            }
            &:nth-of-type(4) {
                transform: translateX(-1px);
                animation: animation-four-waterfall-drop 2000ms linear 1000ms infinite;
            }
        }
    }

    .animation-chest-open {
        display: none;
    }
    .animation-chest-closed {
        transform-origin: bottom;
        display: block;
        animation: animation-four-waterfall-drop 2000ms linear 1000ms infinite;
    }
}

// ANIMATION-FOUR KEYFRAMES
@keyframes animation-four-splash {
    0% { transform: translateY(0px); }
    100% { transform: translateY(5px); }
}

@keyframes animation-four-waterfall {
    0% { transform: scale(1,1); }
    100% { transform: scale(1,1.5); }
}

@keyframes animation-four-waterfall-drop {
    0% { transform: translateY(0); }
    100% { transform: translateY(500px); }
}

@keyframes animation-four-chest-closed {
    0% { transform: scale(1,1); }
    20% { transform: scale(1,1); }
    25% { transform: scale(1.1,0.9); }
    30% { transform: scale(1.05,0.95); }
    35% { transform: scale(1.1,0.9); }
    40% { transform: scale(1.05,0.95); }
    45% { transform: scale(1.1,0.9); }
    100% { transform: scale(1,1); }
}
