.approach {
  background-color: #EFEFEF;
}

.approach-hero {
    position: relative;
    width: 100%;
    min-height: 100vh;

    @include mq($tablet) {
      min-height: 0;

    }
}

.approach-hero-image {
  // background: url('images/approach-v2/hero-bg.svg') bottom left/cover no-repeat;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background-size: cover;
}

.approach-hero-content {
  position: absolute;
  top: 0;
  right: 20%;
  width: 100%;
  max-width: 325px;

  @include mq($tablet) {
    position: relative;
    right: 0;
    margin: 0 auto;
    padding: 0 40px 200px;
  }
}

.approach-hero-text {
  @include font(15px, 300, #424242, null);
  font-family: 'Sentinel A', 'Sentinel B';
  line-height: 2;
  margin-top: 40px;

  &:first-of-type {
    margin-top: 0;
  }

  strong {
    @include font(12px, 400, #424242, $trade-gothic);
    text-transform: uppercase;
  }
}

.approach-cta {
  @include transition(opacity ease .25s);
  opacity: 0.85;
  display: inline-block;
  padding: 15px 30px;
  margin-top: 40px;
  border: 3px solid black;
  border-radius: 2px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: black;

  @include mq($mobile) {
    @include size(105px 35px);
    padding: 9px 0 0 0;
    margin-top: 25px;
    border: 2px solid black;
    font-size: 9px;
    letter-spacing: 1px;
  }

  @media only screen and (max-width: 700px) and (orientation: landscape) {
    @include size(105px 35px);
    padding: 9px 0 0 0;
    margin-top: 15px;
    border: 2px solid black;
    font-size: 9px;
    letter-spacing: 1px;
  }

  &:hover {
    opacity: 1.0;
  }
}

.approach-section {
    background-color: #262628;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @include mq($tablet) {
      min-height: 0;
      flex-flow: column nowrap;
      height: auto;
    }
}

.approach-inner-content-wrapper {
  padding: 0 0 0 7.5%;
  z-index: 1;

  @include mq($tablet) {
      padding: 0 7.5% 7.5%;
      order: 1;
      width: 100%;
      margin-bottom: 20px;
  }

  .approach-section:nth-of-type(even) & {
    padding: 0 7.5% 0 0;

    @include mq($tablet) {
        padding: 0 7.5% 7.5%;
    }
  }
}

.approach-inner-block {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  @include mq($tablet) {
      order: 0;
      width: 100%;
      min-height: 0;
      height: auto;
  }
}

.approach-animation-container {
    width: auto !important;
    height: 100% !important;
    position: relative;

    @include mq($tablet) {
      display: none;
    }
}

.approach-image {
  display: none;

  @include mq($tablet) {
    display: block;
    width: 100%;
    padding: 0 7.5%;
  }
}

.approach-animation-canvas {
  width: auto !important;
  height: auto !important;
  display: block;
  max-height: 100vh;
  max-width: 100%;
}

.approach-animation-overlay {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
}

.approach-section-title {
    @include font(20px, 300, #FFF, 'Trade Gothic LT Std');
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 600px;
}

.approach-section-text {
    @include font(15px, 300, #BDBDBD, ('Sentinel A', 'Sentinel B'));
    line-height: 1.9;
    letter-spacing: 1px;
    max-width: 350px;
    margin-top: 20px;

    @include mq($tablet) {
        max-width: none;
    }
}
