// SMP
.smp-coral {
    background-color: #F29182;
}

.smp-romance,
.smp-romance-lt {
    color: #221F1F;
}

.smp-romance {
    background-color: #F7F4EE;
}

.smp-romance-lt {
    background-color: #FBF9F6;
}

// CLUTCH
.clutch-blue {
    background-color: #104F79;
}

.clutch-teal {
    background-color: #17313B;
}

.clutch-gray {
    background-color: #F5F5F5;
    color: #424242;
}
// FEDERAL OCCUPATIONAL HEALTH
.foh-white,
.foh-off-white {
    color: #262D35;
}

.foh-off-white {
    background-color: #F0F3F6;
}

.foh-blue {
    background-color: #2096F3;

}

.foh-gray {
    background-color: #F3F5F6;
}

.foh-slate {
    background-color: #90A4AE;
}

.foh-green {
    background-color: #546E7A;
}

// RECITY
.recity-white,
.recity-gray {
    color: #424242;
}

.recity-gray {
    background-color: #F0F0F0;
}

.recity-orange {
    background-color: #F48E29;
}

.recity-blue {
    background-color: #232577;
}

// IJR
.ijr-white {
    color: #D7B161;
}
.ijr-blue {
    background-color: #02669D;
}

.ijr-dark-blue {
    background-color: #01334F;

    .cta-link,
    .cta-text {
        color: #FFFFFF;
    }
}

.ijr-gray {
    background-color: #F2F2F2;
    color: #212121;
}

.ijr-gold {
    background-color: #D7B161;
}

// HOMEZEN
.homezen-white {
    color: #212121;
}

.homezen-off-white {
    background-color: #F7F7F7;
    color: #43719C;
}

.homezen-gray {
    background-color: #EEEEEE;
    color: #212121;
}

.homezen-light-blue {
    background-color: #43719C;
}

.homezen-blue {
    background-color: #034A66;
}

// IDENTITY AUTOMATION
.idauto-white {
    .case-block-text-heading { color: #2E3439; }
    .case-block-text-subtext { color: #828588; }
}

.idauto-off-white {
    background-color: #F7F7F7;

    .case-block-text-blockquote { color: #AB1F23; }
}

.idauto-red {
    background-color: #AB1F23;
}

.idauto-green {
    background-color: #37474F;
}

.idauto-black {
    background-color: #212121;
}

// &Pizza
.andPizza-black {
    background-color: #202020;
}

.andPizza-gray {
    background-color: #262628;
}

.andPizza-white,
.andPizza-off-white {
    color: #262D35;
}

.andPizza-white {
    background-color: #FFFFFF;
}

.andPizza-off-white {
    background-color: #F3F5F6;
}

.andPizza-bricks {
    color: #FFFFFF;
}

// GEN Z
.genz-white,
.genz-off-white {
  .case-block-text-heading { color: #546E7A; }
  .case-block-text-subtext { color: #424242; }
}

.genz-red {
    background-color: #FF1744;
}

.genz-purple {
    background-color: #2C2C3E;
}

.genz-off-white {
    background-color: #F0F0F0;
}

// FELIX
.felix-white {
  .case-block-text-heading { color: #536D79; }
  .case-block-text-subtext { color: #414141; }
}

.felix-gray {
  background-color: #EEE;

  .case-block-text-heading { color: #536D79; }
  .case-block-text-subtext { color: #414141; }
}

.felix-gradient {
  @include linear-gradient(to bottom, #FFF, #EEE);

  .case-block-text-heading { color: #536D79; }
  .case-block-text-subtext { color: #414141; }
}

.felix-black {
  background-color: #3F454A;
  color: white;
}

.felix-blue {
  background-color: #1BD4EE;
}

.felix-slate {
  background-color: #AFBDC4;
}

// FIELD ONE
.fo-dark-blue {
  background-color: #2E3D5A;

  .case-block-text-heading  { color: #EBEEF0; }
  .case-block-text-subtext  { color: #EBEEF0; }
  .case-block-text-quote    { color: #CED7DB; }
  .case-block-text-citation { color: #8FA3AD; }
}

.fo-light-blue {
  background-color: #34B2FF;
}

.fo-white {
  background-color: white;

  .case-block-text-heading { color: #445963; }
  .case-block-text-subtext { color: #414141; }
}

.fo-off-white {
  background-color: #EBEEF0;
  color: #536D79;
}

// CHARACTER
.character-red {
  background-color: #AA243B;

  .case-block-text-citation { color: #511830; }
}

.character-black {
  background-color: #2A3132;
}

.character-white {
  .case-block-text-heading { color: #445963; }
  .case-block-text-subtext { color: #747474; }
}

// OBESITY
.obesity-black {
  background-color: #33393D;

  .case-block-text-citation { color: #EFEFEF; }
}

.obesity-white {
  .case-block-text-heading { color: #445963; }
  .case-block-text-subtext { color: #536D79; }
}

.obesity-gray {
  background-color: #EFEFEF;
  color: #536D79;
}

.obesity-red {
  background-color: #A6273C;

  .case-block-text-heading { color: #F4F4F4; }
  .case-block-text-subtext { color: #EBEEF0; }
}

// WEDDING
.wedding-white {
  .case-block-text-heading { color: #455A64; }
  .case-block-text-subtext { color: #424242; }
}

.wedding-green {
  background-color: #19B5BC;
  color: white;
}

.wedding-gray {
  background-color: #ECEFF1;

  .case-block-text-quote    { color: #22A9AD; }
  .case-block-text-citation { color: #006064; }
}

// UPTURN
.upturn-white           { background-color: #F4F4F4; }
.upturn-text-gray       { color: #536D79; }
.upturn-text-gray-dark  { color: #414141; }

.eq-future-black        { background-color: #333333; }
.eq-future-text-black   { color: #2A3132; }
