// FULL IMAGE STYLE
.case-full-image {
    @include size(100% 75vh);
    @include mq($tablet) {
        // fixes iOS glitch with vh units
        max-height: 500px;
    }
}

// SMP
.smp-kiss {
    background: url('images/smp/kiss.jpg') center center/cover no-repeat;
}

.smp-dresses {
    background: url('images/smp/dresses.jpg') center center/cover no-repeat;
}

.smp-aisle {
    background: url('images/smp/aisle.jpg') center center/cover no-repeat;
}

// FEDERAL OCCUPATIONAL HEALTH
.foh-mountains {
    background: url('images/foh/mountains.jpg') center center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    .tagline {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('images/foh/tagline.svg');
        width: 70%;
        max-width: 400px;
        padding-top: (35 / 380) * 50%;
    }
}

// RECITY
.recity-city {
    position: relative;
    display: inline-block;

    .city-bg {
        max-width:100%;
        display: block;
    }

    .pin {
        position: absolute;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('images/recity/pin.svg');
    }

    .pin-one {
        height: 6%;
        width: 2%;
        top: 46%;
        left: 57%;
    }

    .pin-two {
        height: 4%;
        width: 2%;
        top: 28%;
        left: 59.5%;
    }

    .pin-three {
        height: 5%;
        width: 2%;
        top: 23%;
        left: 68%;
    }

    .pin-four {
        height: 8%;
        width: 2%;
        top: 40%;
        left: 73%;
    }

    .pin-five {
        height: 3%;
        width: 2%;
        top: 32%;
        left: 86%;
    }
}

.recity-construction {
    background: url('images/recity/construction.jpg') center center/cover no-repeat;
}

.recity-laptop {
    background: url('images/recity/laptop.jpg') center center/cover no-repeat;
}

// HOMEZEN
.homezen-laptop {
    background: url('images/homezen/laptop.jpg') center center/cover no-repeat;
}

.homezen-table {
    background: url('images/homezen/table.jpg') center center/cover no-repeat;
}

// IDENTITY AUTOMATION
.idauto-phone {
    background: url('images/idauto/mobile-banner.jpg') center center/cover no-repeat;
}

// andPizza
.andPizza-animation {
    background: url('images/andPizza/andpizza_logo_animation.gif') #000000 center  center/contain no-repeat;
}

.andPizza-bricks {
    background: url('images/andPizza/brick-bg.jpg') bottom center/cover no-repeat;
}

.andPizza-menus {
    background: url('images/andPizza/menus.png') center center/cover no-repeat;
}

// GENZ
.genz-laptop {
    background: url('images/genz/laptop.jpg') center center/cover no-repeat;
    @include mq($tablet) {
        background-position: right center;
    }
}
// FELIX
.felix-boardwalk {
    background: url('images/felix/boardwalk.jpg') center center/cover no-repeat;
    @include mq($tablet) {
        background-position: right center;
    }
}
// FIELDONE
.fieldone-traffic {
    background: url('images/fieldone/traffic.jpg') center center/cover no-repeat;
    @include mq($mobile) {
        background-position: -150px center;
    }
}
// CHARACTER
.character-school {
    background: url('images/character/logo.svg') center center no-repeat, url('images/character/school.jpg') center center/cover no-repeat;
    @include mq($mobile) {
        background: url('images/character/logo.svg') center center/85% auto no-repeat, url('images/character/school.jpg') center center/cover no-repeat;
    }
}
.character-students {
    background: url('images/character/students.jpg') center center/cover no-repeat;
}
.character-forum {
    background: url('images/character/forum.jpg') center center/cover no-repeat;
}
// OBESITY
.obesity-racial-inequity {
    background: url('images/obesity/racial-inequity.jpg') center center/cover no-repeat;
}
// WEDDING
.wedding-bouquet {
    background: url('images/wedding/bouquet.jpg') center center/cover no-repeat;
}
// UPTURN
.upturn-icons {
    background: url('images/upturn/upturn-icons.svg') center center/cover no-repeat;
}
.upturn-cards {
    background: url('images/upturn/upturn-cards.svg') center center/cover no-repeat;
}
