// CAROUSELS
.carousel {
    // SPACING MODIFIERS
    &.slick-slider {
        // remove reserved space for dots
        margin-bottom: 0;
    }
    &.text-above {
        margin-top: 80px;
    }
}

// CASE BLOCKS
.case-block {
    overflow: hidden;
    position: relative;
    @include clearfix;
    @include size(100% auto);
    padding: 120px 0;
    @include mq($tablet) {
        padding: 80px 0;
    }
}

.case-block-flex {
    display: flex;
    overflow: hidden;
    position: relative;
    @include size(100% auto);
    padding: 120px 0;
    @include mq($tablet) {
        flex-flow: column nowrap;
        padding: 80px 0;
    }

    // FLEX MODIFIERS
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
            margin: 0;
        }
    }


    .flex-col {
        flex-flow: column nowrap;
    }
}

.case-block,
.case-block-flex {
    // MODIFIERS
    &.extra-padded {
        padding: 200px 0;
        @include mq($tablet) {
            padding: 80px 0;
        }
    }
    &.top-padded {
        padding: 120px 0 0;
        @include mq($tablet) {
            padding-top: 80px;
        }
    }
    &.bottom-padded {
        padding: 0 0 120px;
        @include mq($tablet) {
            padding-bottom: 80px;
        }
    }
    &.not-padded {
        padding: 0;
    }

    // CONTAINER
    .container {
        position: relative;
        &.narrow {
            margin: 0 15%;
            @include mq($tablet) {
                margin: 0 7.5%;
            }
        }
    }

    // VIEW HEIGHT MODIFIERS
    &.view-three-quarter {
        min-height: 75vh;
        @include mq($tablet) {
            min-height: 0;
        }
    }

    // MOBILE MODIFIERS
    &.mobile-container {
        @include mq($tablet) {
            padding-left: 7.5%;
            padding-right: 7.5%;
        }
    }
    &.mobile-container-left {
        @include mq($tablet) {
            padding-left: 7.5%;
        }
    }
    &.mobile-container-right {
        @include mq($tablet) {
            padding-right: 7.5%;
        }
    }
    &.mobile-container-top {
        @include mq($tablet) {
            padding-top: 7.5%;
        }
    }
    &.mobile-container-bottom {
        @include mq($tablet) {
            padding-bottom: 7.5%;
        }
    }
    &.mobile-not-padded {
        @include mq($tablet) {
            padding: 0;
        }
    }
}
// MOBILE ONLY CLASSES
@include mq($tablet) {
    $spacing: 50px;
    .mobile-padded-above {
        margin-top: $spacing !important;
    }
    .mobile-padded-below {
        margin-bottom: $spacing !important;
    }
}
// INNER BLOCK
.inner-block {
    @include clearfix;
    // SIZE MODIFIERS
    &.half {
        width: 50%;
    }
    &.one-third {
        width: 30%;
    }
    &.two-third {
        width: 60%;
    }
    &.full-height {
        height: 100%;
    }
    &.half,
    &.one-third,
    &.two-third {
        @include mq($tablet) {
            width: 100%;
        }
    }
    // MARGIN MODIFIERS
    &.top-margin {
        margin-top: $site-spacing;
    }
    &.bottom-margin {
        margin-bottom: $site-spacing;
    }
    &.left-margin {
        margin-left: $site-spacing;
        @include mq($tablet) {
            margin-left: 0;
        }
    }
    &.right-margin {
        margin-right: $site-spacing;
        @include mq($tablet) {
            margin-right: 0;
        }
    }
    // PADDING MODIFIERS
    &.padded {
        padding: $site-spacing;
    }
    &.top-padded {
        padding-top: $site-spacing;
    }
    &.bottom-padded {
        padding-bottom: $site-spacing;
    }
    &.left-padded {
        padding-left: $site-spacing;
        @include mq($tablet) {
            padding-left: 0;
        }
    }
    &.right-padded {
        padding-right: $site-spacing;
        @include mq($tablet) {
            padding-right: 0;
        }
    }
    // ALIGNMENT MODIFIERS
    &.float-left {
        float: left;
    }
    &.float-right {
        float: right;
    }
    &.float-left,
    &.float-right {
        @include mq($tablet) {
            float: none;
        }
    }
    &.absolute-left {
        position: absolute;
        left: 0;
    }
    &.absolute-right {
        position: absolute;
        right: 0;
    }
    &.absolute-left,
    &.absolute-right {
        @include mq($tablet) {
            position: static;
        }
    }
    &.vertical-center {
        @include transform(translateY(-50%));
        top: 50%;
        @include mq($tablet) {
             @include transform(none);
            top: auto;
        }
    }
    &.relative {
        position: relative;
    }
    // MOBILE ONLY MODIFIERS
    &.mobile-container {
        @include mq($tablet) {
            padding: 80px 7.5%;
        }
    }
    &.mobile-container-extra {
        @include mq($tablet) {
            padding: 80px;
        }
    }
    &.mobile-container-absolute {
        @include mq($tablet) {
            padding: 0 7.5%;
        }
    }
    &.mobile-container-left {
        @include mq($tablet) {
            padding-left: 7.5%;
        }
    }
    &.mobile-container-right {
        @include mq($tablet) {
            padding-right: 7.5%;
        }
    }
    // OVERLAY MODIFIERS
    &.overlay {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(#000000, 0.5);
        }
    }
}
// PARTIAL BLOCK
.partial-block {
    display: block;
    position: absolute;
    @include mq($tablet) {
        position: static;
    }
    // SIZE MODIFIERS
    &.quarter {
        @include size(50%);
    }
    &.half {
        @include size(100% 50%);
        &.maintain-ratio {
            height: auto;
        }
    }
    &.half,
    &.quarter {
        @include mq($tablet) {
             @include size(100% auto);
        }
    }
    // POSITION MODIFIERS
    &.top {
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
}
// IMAGE STYLE
.case-block-image {
    display: block;
    @include size(100% auto);
    // POSIITON MODIFIERS
    &.absolute {
        @include position(absolute, 0 0 0 0);
        // IDENTITY AUTOMATION
        .idauto-white & {
            margin: auto auto 0;
            height: 80%;
            width: auto;
        }

        .idauto-black & {
            margin: auto 10% 0 auto;
            height: 80%;
            width: auto;
        }

        // andPizza
        .andPizza & {
            margin: auto;
            height: 80%;
            width: auto;
        }

    }
    &.absolute-center {
        @include position(absolute, 0 0 0 0);
        margin: auto;
        height: 60%;
        width: auto;
    }
    &.absolute-offset-right {
        @include position(absolute, 0 -5% 0 0);
    }
    &.absolute-offset-left {
        @include position(absolute, 0 0 0 0);
    }
    // SIZE MODIFIERS
    &.maintain-size {
        width: auto;
        max-width: 100%;
        @include mq($tablet) {
            margin: 0 auto;
        }
    }
    // SPACING MODIFIERS
    &.text-above {
        margin-top: 80px;
        @include mq($tablet) {
            margin-top: 0;
        }
    }
    &.text-below {
        margin-bottom: 80px;
        @include mq($tablet) {
            margin-bottom: 0;
        }
    }
    // ALIGNMENT MODIFIERS
    &.align-right {
        float: right;
        @include mq($tablet) {
            float: none;
        }
    }
    // MOBILE ONLY MODIFIERS
    &.mobile-padded-left {
        @include mq($tablet) {
            padding-left: 7.5%;
        }
    }
    &.mobile-padded-right {
        @include mq($tablet) {
            padding-right: 7.5%;
        }
    }
}
// CASE TEXT
[class^="case-block-text"] {
    font-weight: 300;
    @include mq($tablet) {
        text-align: center;
        br {
            display: none;
        }
    }

    // LENGTH MODIFIERS
    &.short-length {
        max-width: 310px;
    }
    &.medium-length {
        max-width: 550px;
    }
    &.medium-length,
    &.short-length {
        @include mq($tablet) {
            max-width: none;
        }
    }
    // ALIGNMENT MODIFIERS
    &.align-center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
.case-block-text-heading {
    margin-bottom: 15px;
    @include font(36px, null, null, 'Source Sans Pro');
    line-height: 1.2;
    @include mq($tablet) {
        margin-bottom: 15px;
    }
    @include mq($tablet) {
        font-size: 24px;
    }
}
.case-block-text-subtext {
    @include font(15px, null, null, null);
    font-family: 'Sentinel A', 'Sentinel B';
    line-height: 1.9;
}
.case-block-text-quote {
    margin-bottom: 40px;
    @include font(35px, null, null, 'Source Sans Pro');
    line-height: 1.3;
    @include mq($mobile) {
        font-size: 24px;
    }

    .half & {
        font-size: 20px;
        line-height: 2;
        text-align: left;
    }
}
.case-block-text-blockquote {
    @include font(60px, null, null, 'Source Sans Pro');
    line-height: 1.15;
    position: relative;
    quotes: "“" "”" "‘" "’";
    @include mq($tablet) {
        text-align: left;
    }
    @include mq($mobile) {
        font-size: 36px;
    }
    &::before {
        content: open-quote;
        position: absolute;
        top: 0;
        left: -25px;
        @include mq($mobile) {
            left: -15px;
        }
    }
    &::after {
       content: close-quote;
    }

    .homezen & {
        br {
            @include mq($desktop) {
                display: none;
            }
        }
    }
}

.case-block-text-citation {
    @include font(18px, null, null, null);
    font-family: 'Sentinel A', 'Sentinel B';
    @include mq($mobile) {
        font-size: 14px;
    }

    .flex-center & {
        text-align: left;
    }
}
// CASE ICONS
.case-block-text-quote-icon {
    display: block;
    height: 47px;
    width: 39px;
    margin: 0 auto 35px;

    &.align-left {
        margin: 0 0 35px;
        align-self: flex-start;
        @include mq($tablet) {
            margin: 0 auto 35px;
        }
    }
}
