@mixin form-text {
  font-family: 'Sentinel A', 'Sentinel B';
  letter-spacing: 0.5px;
  line-height: 1;
  @include font(18px, 300, #6F7F84, null);
}

@mixin form-active-text {
  letter-spacing: 1px;
  @include font(12px, 300, rgba(#FFF, 0.2), 'Source Sans Pro');
}

// MODIFIERS
.contact-page {
  .gray {
    background-color: #D2D3D4;
  }

  .light-gray {
    background-color: #EEEEEE;
  }
}

.contact-section {
  display: flex;
  overflow-x: hidden;
  @include size(100% auto);

  @include mq($tablet) {
    flex-direction: column;
  }

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  &.padded {
    padding: 80px 80px 80px 0;

    @include mq($tablet) {
      padding: 40px;
    }
    @include mq($mobile) {
      padding: 40px 30px;
    }

  }
}

.contact-column {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  width: 33.333333%;

  &:last-of-type {
    width: 66.666666%;
    flex-wrap: wrap;
  }

  @include mq($tablet) {
    width: 100%;
    &:last-of-type {
      margin-top: 40px;
      width: 100%;
    }
  }

  // SECTION MODIFIERS
  &.letter {
    justify-content: flex-start;

    @include mq($mobile) {
      display: none;
    }
  }

  &.social,
  &.hiring {
    min-height: 300px;
    align-items: flex-start;

    @include mq($tablet){
      align-items: center;
    }
    @include mq($mobile) {
      min-height: 220px;
    }
  }

  &.social {
    justify-content: flex-start;
    padding: 80px;
    width: calc(66.666666% + 80px);

    @include mq($tablet) {
      padding: 40px 40px calc(40px - 25px); // subtract icon margin
      width: 100%;
      margin: 0;
    }
    @include mq($mobile) {
      padding: 40px 30px calc(40px - 25px); // subtract icon margin
    }
  }

  &.hiring {
    padding: 80px 0;
    @include mq($tablet) {
      justify-content: flex-start;
      padding: 40px;
    }
    @include mq($mobile) {
      padding: 40px 30px;
    }
  }
}

.contact-content {
  padding: 0 30px;
  width: 100%;
  max-width: 260px;

  @include mq($tablet) {
    max-width: none;
    padding: 0;
  }

  .social & {
    max-width: none;
  }
}

.contact-group {
  .contact & {
    margin-top: 20px;
    display: none;
    @include mq($mobile) {
      display: block;
    }
  }

  .visit & {
    margin-top: 50px;
    @include mq($tablet) {
      display: flex;
      align-items: center;
    }
  }
}

.contact-letter {
  display: flex;
  max-width: 850px;
  min-height: 460px;
  perspective: 1000px;
  width: 100%;

  @include mq(1100px) {
    min-height: 350px;
  }
  @include mq($tablet) {
    min-height: 330px;
  }

  &.is-flipped {
    .contact-flipper {
      transform: rotateX(180deg);
    }
  }
}

.contact-flipper {
  display: flex;
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  width: 100%;
}

.contact-front,
.contact-back {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 60px 40px;
  position: absolute;
  top: 0;
  left: 0;

  @include mq($tablet) {
    padding: 40px;
  }
}

.contact-front {
  display: flex;
  filter: drop-shadow(0 5px 8px rgba(0,0,0,0.2));
  flex-direction: column;
  align-items: center;
  background-image: url("../images/contact/cover-monument.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  transform: rotateX(0deg);
}

.contact-back {
  background: #333333;
  filter: drop-shadow(0 -5px 8px rgba(0,0,0,0.2));
  transform: rotateX(180deg);
  overflow: hidden;
}

.contact-front-heading {
  @include font(14px, 600, #FFF, 'Trade Gothic LT Std');
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-front-title {
  font-family: 'Sentinel A', 'Sentinel B';
  @include font(48px, 300, #FFF, null);
  letter-spacing: 0.5px;
  line-height: 0.5;

  @include mq($tablet) {
    font-size: 36px;
  }

  @include mq($mobile) {
    font-size: 28px;
  }
}

.contact-star-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 40px;
}

.contact-star {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.3 8.8'%3E%3Cpath fill='%23fff' d='M4.6 0L6 3l3.3.3-2.4 2.3.6 3.2-2.9-1.6-2.8 1.6.6-3.2L0 3.3 3.3 3l1.3-3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  display: inline-block;
  height: 9px;
  width: 9px;
}

// CONTACT FORM CONTENT
.contact-form {
  height: 100%;
  position: relative;
}

.contact-form-stamp {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 95 65'%3E%3Cpath d='M92.4 22.3v-.4c.1-.5.1-.9.1-1.4a2.1 2.1 0 0 1 1.7-2.2l.7-.2-.2-1.8.2-3c-2.1-.4-2.4-.8-2.4-2.8V9.4c0-1.5.3-1.9 1.8-2.3s.6-.3.6-.5V3.3A3.3 3.3 0 0 1 91.4.1h-3.7l-.2.5A2 2 0 0 1 85 2.4h-1.9a1.7 1.7 0 0 1-1.9-1.1 3.2 3.2 0 0 1-.3-.7c-.1-.5-.4-.6-.9-.6h-3.4a1.2 1.2 0 0 0-1.4.9A1.8 1.8 0 0 1 73 2.4a14.8 14.8 0 0 0-2.2 0A2.1 2.1 0 0 1 68.7.8l-.3-.8h-4.2a1.1 1.1 0 0 0-1.3.9 1.7 1.7 0 0 1-2 1.4h-2.5a1.6 1.6 0 0 1-1.6-.9 2.8 2.8 0 0 1-.3-.8.7.7 0 0 0-.8-.6h-4c-.5 0-.7.2-.8.6s-.9 1.7-2.4 1.8h-1.7c-1.7 0-2.1-.2-2.7-1.8s-.4-.5-.8-.5h-3.1c-1-.1-1.6.2-1.9 1.2a1.6 1.6 0 0 1-1.8 1.2h-2c-1.4.1-1.7.1-2.5-1.8-.1-.2-.4-.5-.6-.5h-4.9c-.5 1.9-1 2.6-3.1 2.4H22A1.9 1.9 0 0 1 19.9 1a3.3 3.3 0 0 0-.3-.6c-.1-.2-.3-.4-.5-.4h-4.6a14.1 14.1 0 0 1-1 1.7 1.6 1.6 0 0 1-1 .6H9a1 1 0 0 1-.6-.3C8 1.5 7.8 1 7.5.5S7.2.1 7 .1H3.4c0 .4 0 .6-.1.9a3.1 3.1 0 0 1-1.8 2.2c-.5.2-1.2.2-1.4.5s0 1.2 0 1.7a6.9 6.9 0 0 1 0 .8c-.1.6.2.9.8 1a1.7 1.7 0 0 1 1.5 1.9v2.2A1.8 1.8 0 0 1 1 13.1l-.9.2v4.2s.1.7.6.8a1.9 1.9 0 0 1 1.8 2.2v1.3c0 1.8-.2 2.1-2 2.7H.1v4.8c2.2.6 2.3.8 2.3 3v.5c0 2.1-.1 2.3-2.2 2.9H.1v4.7c1.9.5 2.5.8 2.3 2.9v1.3A1.8 1.8 0 0 1 1 46.7l-.9.2c0 1.2.1 2.3 0 3.5A1.4 1.4 0 0 0 1 52c.5.2 1.2.7 1.3 1.1a19 19 0 0 1 0 3.5.9.9 0 0 1-.4.6l-1.9 1v3.1a1.5 1.5 0 0 0 .1.3c2.5.6 2.8.9 3.6 3.3h3.7c.3-1.4.9-2.5 2.8-2.3h1.3a2.1 2.1 0 0 1 2.5 1.6l.3.8h4.4a.8.8 0 0 0 .9-.6c.5-1.4 1-1.7 2.5-1.7H24a2.2 2.2 0 0 1 2.1 1.5l.2.8h5.3c.6-1.9.9-2.5 3.1-2.3H36a2.1 2.1 0 0 1 2.5 1.6l.3.7H44c.9-2.1 1-2.4 3.1-2.3h1.4a2.2 2.2 0 0 1 2.3 1.7l.2.6h5.2l.2-.6c.6-1.4 1-1.9 2.6-1.8h2.1c.9-.1 1.3.5 1.7 1.1s.2.5.3.8.4.5.5.5h4.8c.7-1.8 1-2.6 3.2-2.3h1.1c1.6 0 1.9.2 2.6 1.7l.2.6h5.2l.2-.5c.5-1.4 1-1.8 2.6-1.8h2c.9-.1 1.4.5 1.9 1.4a6.3 6.3 0 0 1 .3.9h3.8c.5-2.3.8-2.7 3.4-3.5v-3.4l-.7-.2c-1.2-.4-1.8-.8-1.6-2.3a11.8 11.8 0 0 0 0-1.3c0-1.5.2-1.9 1.7-2.4l.6-.2v-4.8c-1.9-.3-2.3-.9-2.3-2.6v-1.7a1 1 0 0 1 .6-1.2l1.8-.9v-4.7l-.6-.2c-1.7-.6-1.8-.8-1.8-2.6v-1s.2-2 1.8-2.5l.6-.2v-4.7l-1.4-.5c-.9-.3-1-1.1-1.2-1.8zm-2.7 37.5v-3.6 2.4z' fill='%2395a6b4'/%3E%3C/svg%3E");
  height: 65px;
  width: 95px;
  padding: 6px;
  position: relative;
  float: right;
  margin: -40px -20px 0 0;

  @include mq($tablet) {
    margin: -20px -20px 0 0;
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 6px;
    left: 0;
    background-image: url('../images/contact/stamp-img.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 53px;
  }

  // &::before {
  //   content: ' ';
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 85.4 85.4'%3E%3Cg fill='%23eee'%3E%3Cpath d='M69.8 30.1H52l-1.9-9.9H27.6l-.7-3.4h-3.5l11 56.1H38l-5.3-26.8h7.5l2 9.9h25.3L65 43zM32 42.6l-3.7-19h18.9l3.7 19zm31.3 9.9H45.1L43.8 46h11.4l-2.5-12.5H65L61.4 43z'/%3E%3Cpath d='M42.7 85.4a42.7 42.7 0 1 1 42.7-42.7 42.7 42.7 0 0 1-42.7 42.7zm0-82.4a39.7 39.7 0 1 0 39.7 39.7A39.7 39.7 0 0 0 42.7 3z'/%3E%3C/g%3E%3C/svg%3E");
  //   background-size: contain;
  //   background-position: center center;
  //   background-repeat: no-repeat;
  //   height: 85px;
  //   width: 85px;
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   // visibility: hidden;
  //   opacity: 0;
  //   z-index: 10;
  //   backface-visibility: visible !important;
  // }
  //
  // .form-completed & {
  //   &::before {
  //     transform-origin: center;
  //     // visibility: visible;
  //     // opacity: 1;
  //     animation: flipInX 750ms forwards;
  //     // transform: translateX(200%) translateY(-200%);
  //
  //   }
  // }

  // @keyframes flipInX {
  //   from {
  //     transform:
  //       perspective(400px)
  //       rotate3d(1, 1, 0, 90deg)
  //       translateX(-40%)
  //       translateY(40%);
  //     animation-timing-function: ease-in;
  //     opacity: 0;
  //   }
  //
  //   40% {
  //     transform:
  //       perspective(400px)
  //       rotate3d(1, 1, 0, -20deg)
  //       translateX(-40%)
  //       translateY(40%);
  //     animation-timing-function: ease-in;
  //   }
  //
  //   60% {
  //     transform:
  //       perspective(400px)
  //       rotate3d(1, 1, 0, 10deg)
  //       translateX(-40%)
  //       translateY(40%);
  //     opacity: 1;
  //   }
  //
  //   80% {
  //     transform:
  //       perspective(400px)
  //       rotate3d(1, 1, 0, -5deg)
  //       translateX(-40%)
  //       translateY(40%);
  //   }
  //
  //   to {
  //     transform:
  //       perspective(400px)
  //       translateX(-40%)
  //       translateY(40%);
  //     opacity: 1;
  //   }
  // };
}

.contact-form-page {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 66.666%;
}

// #page2,
// #page3,
// #page4 {
//   visibility: hidden;
// }

.contact-form-content {
  .form-completed & {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}

// .error {
//   align-items: center;
//   display: none;
//   position: absolute;
//   top: 0;
//   right: 0;
//   font-family: 'Sentinel A', 'Sentinel B';
//   font-style: italic;
//   letter-spacing: 1px;
//   line-height: 1;
//   @include font(12px, 200, #FFFFFF, null);
//
//   &::before {
//     content: ' ';
//     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M2.9 2.9A9.6 9.6 0 0 1 10 0a9.6 9.6 0 0 1 7 2.9 9.6 9.6 0 0 1 3 7.1 9.6 9.6 0 0 1-3 7 9.6 9.6 0 0 1-7 3 9.6 9.6 0 0 1-7.1-3A9.6 9.6 0 0 1 0 10a9.6 9.6 0 0 1 2.9-7.1zm1.4 12.7A7.7 7.7 0 0 0 10 18a7.7 7.7 0 0 0 5.6-2.4A7.7 7.7 0 0 0 18 10a7.7 7.7 0 0 0-2.4-5.6A7.7 7.7 0 0 0 10 2a7.7 7.7 0 0 0-5.7 2.3A7.7 7.7 0 0 0 2 10a7.7 7.7 0 0 0 2.3 5.6zM9 5h2v6H9zm0 8h2v2H9z' fill='%23eee'/%3E%3C/svg%3E");
//     height: 18px;
//     width: 18px;
//     margin-right: 5px;
//     flex-shrink: 0;
//   }
//
//   &.is-active {
//     display: flex;
//   }
// }


.contact-form-counter {
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-transform: uppercase;
  @include font(14px, 600, #EEEEEE, 'Trade Gothic LT Std');
}

.contact-form-text {
  font-family: 'Sentinel A', 'Sentinel B';
  letter-spacing: 0.5px;
  line-height: 1;
  @include font(18px, 300, #FFFFFF, null);

  .form-completed & {
    margin-bottom: 30px;
  }
}

// .contact-form-item {
//   position: relative;
//   padding-top: 25px;
//   margin-bottom: 20px;
//
//   input,
//   textarea {
//     background: none;
//     background: transparent;
//     border: 0;
//     outline: none;
//     padding-bottom: 10px;
//     position: relative;
//     width: 100%;
//     z-index: 2;
//     @include form-text;
//
//     &:focus + label,
//     & + label.has-content {
//       @include form-active-text;
//     }
//   }
//
//   input {
//     border-bottom: 2px solid #6F7F84;
//
//     &:focus + label,
//     & + label.has-content {
//       animation: inputLabel 500ms ease forwards;
//     }
//   }
//
//   textarea {
//     border: 2px solid #6F7F84;
//     resize: none;
//     width: 100;
//     height: 150px;
//     padding: 10px;
//     line-height: 1.3;
//
//     & + label {
//       transform: translateX(10px) translateY(10px);
//     }
//
//     &:focus + label,
//     & + label.has-content {
//       animation: textareaLabel 500ms ease forwards;
//     }
//   }
//
//   label {
//     @include form-text;
//     cursor: auto;
//     left: 0;
//     margin: auto 0;
//     position: absolute;
//     pointer-events: none;
//     transform: translateY(3px);
//     z-index: 3;
//   }
//
//   // INPUT Animation
//   @keyframes inputLabel {
//     0% {
//       opacity: 1;
//       @include form-text;
//     }
//     45% {
//       opacity: 0;
//       transform: translateY(3px);
//       @include form-text;
//     }
//     46% {
//       transform: translateY(-20px) translateX(-20px);
//       @include form-active-text;
//     }
//     55% {
//       opacity: 0;
//     }
//     100% {
//       opacity: 1;
//       transform: translateY(-20px) translateX(0px);
//       @include form-active-text;
//     }
//   };
//
//   // TEXTAREA Animation
//   @keyframes textareaLabel {
//     0% {
//       opacity: 1;
//       @include form-text;
//     }
//     45% {
//       opacity: 0;
//       transform: translateX(10px) translateY(10px);
//       @include form-text;
//     }
//     46% {
//       transform: translateY(-20px) translateX(-20px);
//       @include form-active-text;
//     }
//     55% {
//       opacity: 0;
//     }
//     100% {
//       opacity: 1;
//       transform: translateY(-20px) translateX(0px);
//       @include form-active-text;
//     }
//   };
// }

// .contact-form-footer {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-top: 10px;
// }

// .contact-form-paging {
//   display: block;
//   width: 50px;
//   display: flex;
//   justify-content: space-between;
// }
//
// .paging-circle {
//   display: inline-block;
//   height: 10px;
//   width: 10px;
//   border-radius: 50%;
//   box-shadow: inset 0 0 0 1px #FFF;
//   cursor: pointer;
//
//   &.filled {
//     background: #FFFFFF;
//     cursor: default;
//     & ~ .paging-circle {
//       cursor: default;
//     }
//   }
// }

// .contact-form-cta {
//   @include transition(opacity ease .25s);
//   opacity: 0.85;
//   display: inline-block;
//   padding: 10px 20px;
//   width: 160px;
//   border: 3px solid white;
//   border-radius: 2px;
//   font-weight: 600;
//   font-size: 12px;
//   letter-spacing: 2px;
//   text-transform: uppercase;
//   text-align: center;
//   color: white;
//   background: transparent;
//
//   @include mq($mobile) {
//     @include size(105px 35px);
//     padding: 9px 0 0 0;
//     margin-top: 25px;
//     border: 2px solid white;
//     font-size: 9px;
//     letter-spacing: 1px;
//   }
//
//   @media only screen and (max-width: 700px) and (orientation: landscape) {
//     @include size(105px 35px);
//     padding: 9px 0 0 0;
//     margin-top: 15px;
//     border: 2px solid white;
//     font-size: 9px;
//     letter-spacing: 1px;
//   }
//
//   &:hover {
//     opacity: 1.0;
//   }
// }

// IMAGE COLUMNS

.contact-cover-background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 460px;

  @include mq(1100px) {
    min-height: 350px;
  }
  @include mq($tablet) {
    min-height: 330px;
  }

  &.google-map,
  &.google-street {
    width: 50%;
    @include mq($mobile) {
      width: 100%;
    }
  }

  &.google-map {
    background-image: url("../images/contact/google-map.jpg");
    width: calc(50% - 5px);
    @include mq($mobile) {
      width: 100%;
    }
  }

  &.google-street {
    background-image: url("../images/contact/contact-office-photo.jpg");
    margin-left: 5px;

    @include mq($mobile) {
      margin-left: 0;
      margin-top: 5px;
    }
  }
}

.contact-heading {
  margin-bottom: 30px;
  @include font(18px, 600, #424242, 'Trade Gothic LT Std');
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact-text {
  font-family: 'Sentinel A', 'Sentinel B';
  @include font(15px, 300, #424242, null);
  letter-spacing: 0.5px;
  line-height: 1.6;
  max-width: 260px;

  // SECTION MODIFIERS
  .contact & {
    &:last-of-type {
      margin-top: 50px;
    }
  }

  .hiring &,
  .social & {
    font-size: 24px;
    line-height: 1.2;
  }

  .social & {
    color: #6F7F84;
    max-width: none;
  }
}

.contact-link,
.contact-map-pin {
  &:hover {
    opacity: 0.7;
  }
}

.contact-link {
  display: block;
  @include font(22px, 300, #6f7f84, 'Source Sans Pro');

  // SECTION MODIFIERS
  .hiring & {
    font-family: 'Sentinel A', 'Sentinel B';
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-top: 30px;
    @include font(24px, 300, #6F7F84, null);
  }
}

.contact-map-pin {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44.5 68.8'%3E%3Cpath d='M1 61.8h42.5v6H1zm39.5-42.5q0 6.1-4.6 14.5a78.6 78.6 0 0 1-9.1 13.6l-4.6 5.3q-2-2.1-5.1-5.8a96.6 96.6 0 0 1-8-12.7Q4 25.4 4 19.3a17.6 17.6 0 0 1 5.3-13 17.6 17.6 0 0 1 13-5.3 17.6 17.6 0 0 1 12.9 5.3 17.6 17.6 0 0 1 5.3 13zM18 15a5.9 5.9 0 0 0-1.9 4.3 5.6 5.6 0 0 0 1.9 4.2 6 6 0 0 0 4.3 1.8 5.9 5.9 0 0 0 4.4-1.8 5.8 5.8 0 0 0 1.8-4.2 5.9 5.9 0 0 0-2-4.3 5.9 5.9 0 0 0-8.5 0z' fill='none' stroke='%2395a6b4' stroke-width='2'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 65px;
  width: 42px;
  margin-top: 30px;

  @include mq($tablet) {
    margin-top: 0;
    margin-left: 30px;
    height: 50px;
    width: 32px;
  }
  @include mq($mobile) {
    margin-left: 20px;
  }
}

.contact-social-container {
  margin-top: 20px;
}


// TEMP DELETE LATER
.contact-form-temp {
  height: 100%;
  position: relative;

  .contact-form-content {
    margin: auto 0;
  }

  .contact-form-link {
    letter-spacing: 0.5px;
    margin-top: 10px;
    @include font(38px, 300, #EEEEEE, 'Source Sans Pro');

    @include mq($tablet) {
      font-size: 30px;
    }
    @include mq($mobile) {
      font-size: 26px;
    }
  }
}
