.home {
  background: #1C1C1E;
  height: 100%;

  .container {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));

    @include mq(560px) {
      padding-top: 25px;
      margin: 0 10%;
    }

    @media only screen and (max-width: 700px) and (orientation: landscape) {
      padding-top: 50px;
    }
  }
}

.home-heading {
  margin-bottom: 40px;
  font-family: "Trade Gothic LT Std";
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;

  @include mq($tablet) {
    width: 400px;
  }

  @include mq($mobile) {
    width: 250px;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 2;
  }

  @media only screen and (max-width: 700px) and (orientation: landscape) {
    margin-bottom: 15px;
  }
}

.home-cta {
  @include transition(opacity ease .25s);
  opacity: 0.85;
  display: inline-block;
  padding: 15px 30px;
  margin-top: 40px;
  border: 3px solid white;
  border-radius: 2px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: white;

  @include mq($mobile) {
    @include size(105px 35px);
    padding: 9px 0 0 0;
    margin-top: 25px;
    border: 2px solid white;
    font-size: 9px;
    letter-spacing: 1px;
  }

  @media only screen and (max-width: 700px) and (orientation: landscape) {
    @include size(105px 35px);
    padding: 9px 0 0 0;
    margin-top: 15px;
    border: 2px solid white;
    font-size: 9px;
    letter-spacing: 1px;
  }

  &:hover {
    opacity: 1.0;
  }
}

%outline {
  display: none;

  &:not(:root) {
    // prevent clipping on top
    overflow: visible;
  }
}

.outline-desktop {
  @extend %outline;

  @include mq-min($tablet) {
    display: block;
  }
}

.outline-tablet {
  @extend %outline;
  @include size(75% auto);

  @include mq($tablet) {
    display: block;
  }

  @include mq(560px) {
    display: none;
  }

  @media only screen and (max-width: 700px) and (orientation: landscape) {
    display: none;
  }
}

.outline-mobile {
  @extend %outline;
  @include size(90% auto);

  @include mq(560px) {
    display: block;
  }

  @media only screen and (max-width: 700px) and (orientation: landscape) {
    display: none;
  }
}

.outline-mobile-landscape {
  @extend %outline;

  @media only screen and (max-width: 700px) and (orientation: landscape) {
    display: block;
  }
}
