.team-section {
  overflow: hidden;
  position: relative;
  @include clearfix;

  &:nth-child(even) {
    .team-section-profile {
      margin-left: 50%;

      @include mq($tablet) {
        margin-left: 0;
      }
    }

    .team-section-image {
      left: 0;
    }
  }

  &:nth-child(odd) {
    .team-section-image {
      right: 0;
    }
  }

  .social-link {
    margin-bottom: 0;
  }
}

.team-photo {
  display: block;
  @include size(100% auto);
}

.team-section-profile {
  @include clearfix;
  @include size(50% auto);
  padding: 80px $site-spacing;

  @include mq($tablet) {
    width: 100%;
  }
}

.team-section-image {
  overflow: hidden;
  position: absolute;
  @include size(50% 100%);

  @include mq($tablet) {
    position: relative;
    @include size(100% auto);
  }
}

.team-section-headshot,
.team-section-quote {
  position: absolute;
  display: block;
}

.team-section-headshot {
  @include size(100% auto);

  @include mq(1200px) {
    @include size(auto 100%);
    @include transform(translateX(-50%));
    left: 50%;
  }

  @include mq($tablet) {
    position: static;
    @include transform(none);
    @include size(100% auto);
  }
}

.team-section-quote {
  @include transition(all 0.5s ease);
  z-index: 0;
  opacity: 0;
  @include size(100%);
  padding-top: 300px;
  background-color: $black;
  @include font(26px, 300, #EDEDED, null);
  font-family: 'Sentinel A', 'Sentinel B';
  line-height: 1.3;
  text-align: center;

  @include mq(1225px) {
    padding-left: 10%;
    padding-right: 10%;

    br {
      display: none;
    }
  }

  @include mq($tablet) {
    display: none;
  }

  &:hover {
    opacity: .8;
    padding-top: 250px;
  }
}

.team-section-quote-cite {
  display: block;
  margin-top: 15px;
  @include font(14px, 600, #EDEDED, 'Trade Gothic LT Std');
  letter-spacing: 2px;
  text-transform: uppercase;
}

.team-section-name {
  margin-bottom: 35px;
  @include font(36px, 200, #414141, 'Source Sans Pro');

  &::first-letter {
    margin-left: -4px;
  }

  &.founder {
    margin-bottom: 10px;
  }
}

.team-section-job {
  margin-bottom: 35px;
  @include font(16px, 600, #BCBCBC, 'Trade Gothic LT Std');
  letter-spacing: 2px;
  text-transform: uppercase;
}

.team-section-heading {
  margin-bottom: 20px;
  @include font(20px, null, #616161, null);
  font-family: 'Sentinel A', 'Sentinel B';
  font-style: italic;
}

.team-section-longtext {
  max-width: 370px;
  margin-bottom: 40px;
  @include font(14px, 300, #616161, null);
  font-family: 'Sentinel A', 'Sentinel B';
  line-height: 2;
}
