// VENDORS
@import "animate.scss"; // loaded from node_modules
@import "include-media"; // loaded from node_modules
@import "vendors/link-underline";

// MODULES & VARIABLES
@import "modules/svgs";
@import "modules/text";
@import "modules/utilities";
@import "modules/variables";

/* ====================================
Styles Unique to the Stretch Case Study
==================================== */

.stretch-portal-section {
  .frame-mobile {
    margin: 0 auto -25%;
    width: 55%;

    @include media('>=md') {
      width: 85%;
    }
  }
}

.stretch-portal-tangible {
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 100' preserveAspectRatio='none'%3E%3Cpath d='M0 100h1440v-8C807.44 90.92 554.07-80.23 0 47.06z' fill='%2322a7fa' data-name='Layer 1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    content: '';
    display: block;
    height: 5em;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
}

.stretch-portal-personal {
  .frame-mobile {
    margin: 0 auto -25%;
    width: 55%;

    @include media('>=md') {
      margin: 0 0 -25% auto;
      width: 70%;
    }
  }
}

.stretch-portal-community {
  .inner-block-image {
    &:nth-of-type(2),
    &:nth-of-type(3) {
      width: 85%;
    }

    &:nth-of-type(2) {
      left: 0;
    }

    &:nth-of-type(3) {
      right: 0;
    }
  }
}

/* =======
Modifiers
======= */
.frame-desktop {
  &.stretch-frame {
    &::before {
      background-color: #211F1C;
    }

    &::after {
      color: #EBEBEB;
    }
  }
}
