// VENDORS
@import "animate.scss"; // loaded from node_modules
@import "include-media"; // loaded from node_modules
@import "vendors/link-underline";

// MODULES & VARIABLES
@import "modules/svgs";
@import "modules/text";
@import "modules/utilities";
@import "modules/variables";

/* ====================================
Styles Unique to the Stretch Case Study
==================================== */

.stretch-portal {
  .frame-mobile {
    margin: 0 auto -25%;
    width: 55%;

    @include media('>=md') {
      width: 85%;
    }
  }
}

/* =======
Modifiers
======= */
.frame-desktop {
  &.stretch-frame {
    &::before {
      background-color: #211F1C;
    }

    &::after {
      color: #EBEBEB;
    }
  }
}
