<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Brave UX - Careers</title>
  <% include ../partials/_head %>

    <noscript>
      <style>
        .career-box {
          max-height: none;
        }

        .career-btn {
          display: none;
        }
      </style>
    </noscript>
</head>

<body>
  <!-- content -->
  <% include ../partials/_menu %>
    <main class="wrapper">
      <header class="hero">
        <div class="container">
          <h1 class="hero-title">Operations Manager</h1>
          <p class="hero-text">
            We are a small company, laser focused on designing complex application interfaces. As our client engagements have grown in
            size and complication, and as we look to expand our design team for the first time in our four year history,
            we are ready to hire an Operations Manager to help us chart our course.
          </p>
          <p class="hero-text">
            You&rsquo;ll have a broad charge and a lot of responsibilities, but you’ll be working with a kick-ass team that supports
            you. You will be challenged every single day and given the opportunity to make a real impact from the moment
            you join. You&rsquo;ll be helping run the following areas of our business, including account and project management,
            office management, marketing, communication, and HR.
          </p>
        </div>
      </header>

      <section class="block column padded white-smoke">
        <div class="container">
          <div class="career-box">
            <h3>Accounts/Projects:</h3>
            <h4>
              <em>During the sales process:</em>
            </h4>
            <ul>
              <li>Work with leadership team to determine project details, scope, timeline, and price</li>
              <li>Produce contract and manage contractual process through signing</li>
              <li>Manage CRM platform throughout entire client relationship</li>
            </ul>

            <h4>
              <em>During the project:</em>
            </h4>
            <ul>
              <li>Work with leadership team to prepare production team for project execution</li>
              <li>Work with leadership team to manage weekly resources, bandwidth, backlog</li>
              <li>Keep track of and report on project health on a weekly basis</li>
              <li>Manage project management tools (including production team’s daily involvement with tools)</li>
            </ul>

            <h4>
              <em>Upon project completion:</em>
            </h4>
            <ul>
              <li>Arrange post-project client interview</li>
              <li>Arrange and work with leadership team to lead postmortem with project team</li>
              <li>Arrange review between client and agency review site(s)</li>
            </ul>

            <h3>Office:</h3>
            <ul>
              <li>Manage kitchen/office supply inventory</li>
              <li>Manage office daily opening and closing, and communication around office delays and closings</li>
              <li>Ensure that the office presents well at all times</li>
            </ul>

            <h3>Marketing:</h3>
            <ul>
              <li>Oversee production of internal projects</li>
              <li>Manage/ oversee production of Bravery</li>
              <li>Oversee and promote Brave’s online reputation (SEO, press, etc.)</li>
              <li>Maintain social and professional networks (Twitter, Facebook, LinkedIn, Dribbble, etc.)</li>
            </ul>

            <h3>Communication:</h3>
            <ul>
              <li>Daily: Kick off huddle, highlighting each day’s high level moments</li>
              <li>Weekly: Monitor and provide sprint status/health across all projects</li>
              <li>Monthly: Write a “month in review” update for internal distribution</li>
              <li>Quarterly: Report on holistic project performance</li>
              <li>Annually: Report on holistic company performance</li>
              <li>Establish and maintain a quarterly Brave update for our clients and partners</li>
            </ul>

            <h3>Personnel:</h3>
            <ul>
              <li>Manage onboarding program for employees</li>
              <li>Manage Brave Guidebook and Employee Handbook</li>
              <li>Organize weekly team lunches, monthly nights out, and quarterly overnight retreats</li>
            </ul>

          </div>
        </div>
      </section>

      <section class="cta-block padded">
        <div class="cta-content container">
          <p class="cta-text">If this sounds like you, please email us below.</p>
          <p class="cta-subtext">Be sure to include your résumé, and a cover letter&#32;
            <br />explaining why you’re great fit for this position.</p>
          <a href="mailto:careers@braveux.com" class="btn btn-text-lg">careers@braveux.com</a>
        </div>
        <a href="./careers" class="cta-button cta-button-right absolute" title="More Careers">More Careers</a>
      </section>

      <% include ../partials/_footer %>
    </main>

    <%- include ../partials/_footer-scripts %>

</body>

</html>