<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Brave UX - Careers</title>
  <% include ../partials/_head %>

    <noscript>
      <style>
        .career-box {
          max-height: none;
        }

        .career-btn {
          display: none;
        }
      </style>
    </noscript>
</head>

<body>
  <!-- content -->
  <% include ../partials/_menu %>
    <main class="wrapper">
      <header class="hero">
        <div class="container">
          <h1 class="hero-title">UX Designer</h1>
          <p class="hero-text">
            We are looking for an experienced UX designer whose passion for information architecture can only be matched by a love of
            great visual design. You&rsquo;ll be responsible for extending and completing interface work including wireframes
            and high-fidelity mockups across a roster of complex UX challenges.
          </p>
        </div>
      </header>

      <section class="block column padded white-smoke">
        <div class="container">
          <div class="career-box">
            <h3>Responsibilities:</h3>
            <ul>
              <li>Understand and internalize a client’s industry, competitive space, business model, and user types</li>
              <li>Review and parse user research findings</li>
              <li>Understand, conceptualize, and map out user mental models through task audits, flow maps, and other information
                architecture deliverables</li>
              <li>Create modular, scalable wireframes and mockups that creatively apply consistent interface patterns across
                a variety of use cases and device types, including but not limited to desktop, tablet and mobile</li>
              <li>Account for interactive states, such as rollovers and animation</li>
              <li>Recognize when to balance business needs and design aesthetic against UX best practices</li>
              <li>Self-manage and prioritize tasks, and proactively communicate status and challenges</li>
              <li>Provide and receive critiques on wireframes, mockups, and developed products</li>
              <li>Work closely in a team environment with other UX designers and developers</li>
              <li>Articulate and defend what you create, how it drives your process, and most importantly
                <em>why</em> it is effective</li>
            </ul>
            <h3>Requirements:</h3>
            <ul>
              <li>Professional experience working in digital interface design (preferably product/app)</li>
              <li>A visual aesthetic diverse enough to handle everything from consumer apps to data-heavy enterprise environments</li>
              <li>Expert in Sketch, comfortable with Sketch Plugins and capable of adapting Brave’s custom Sketch workflow</li>
              <li>Proficient in Adobe XD, including symbols, styles, and prototyping</li>
              <li>Proficient in other UI/UX Design programs where necessary, including Photoshop, Illustrator, and Invision</li>
              <li>Working knowledge of what is feasible to implement on the web and in native mobile apps (HTML, CSS, JS, motion,
                etc.)
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="cta-block padded">
        <div class="cta-content container">
          <p class="cta-text">If this sounds like you, please email us below.</p>
          <p class="cta-subtext">Be sure to include your résumé and link to your UX portfolio.</p>
          <a href="mailto:careers@braveux.com" class="btn btn-text-lg">careers@braveux.com</a>
        </div>
        <a href="./careers" class="cta-button cta-button-right absolute" title="More Careers">More Careers</a>
      </section>

      <% include ../partials/_footer %>
    </main>

    <%- include ../partials/_footer-scripts %>

</body>

</html>