<% include partials/header %>

<% include partials/menu %>

<div class="wrapper approach">
  <header>
    <div class="container">
      <h1 class="page-heading">Approach</h1>
      <h2 class="page-subheading">We&rsquo;re flexible, not because we&rsquo;re lazy or disorganized. Because it works.</h2>
    </div>
  </header>

  <section class="approach-section approach-idea white">
    <div class="approach-section-icon col one-half">
      <svg class="approach-section-icon-svg top left" viewBox="0 0 518.7 453.9">
        <!-- ICON -->
        <g class="approach-inner-icon" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10">
          <path d="M402.8 378.4h-88l7.2-32.7h73.6zM312.8 227.6h92"></path>
          <path d="M394.7 231.2v79.9c0 9.7-7.9 17.6-17.6 17.6h-36.6c-9.7 0-17.6-7.9-17.6-17.6v-79.9l4.9-20.1h62.1l4.8 20.1zM343.4 210.5v-11c0-4.2 3.4-7.7 7.7-7.7h16c4.2 0 7.7 3.4 7.7 7.7v11"></path>
          <path d="M341.8 343.1v-14.5M375.8 328.6v14.5"></path>
          <path fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-linejoin="round" stroke-miterlimit="10" d="M356.9 328.2c4.2-7.4 1.6-12.7-.9-15.8-2.5-3.1-5.9-5.6-7.5-9.4-1.8-4-1.8-7.5-.5-11.6 2.3-7.4 10-14.6 16.8-18.2-4.1 3.7-5.6 9.9-4.3 15.1 1.9 7.4 9.5 13.9 8.3 22.1-.7 5.9-6.4 13.1-11.9 17.8z"></path>
          <path stroke-linejoin="round" d="M356.9 328.2c4.2-7.4 1.6-12.7-.9-15.8-2.5-3.1-5.9-5.6-7.5-9.4-1.8-4-1.8-7.5-.5-11.6 2.3-7.4 10-14.6 16.8-18.2-4.1 3.7-5.6 9.9-4.3 15.1 1.9 7.4 9.5 13.9 8.3 22.1-.7 5.9-6.4 13.1-11.9 17.8z"></path>
        </g>

        <!-- LOOP -->
        <path fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10" d="M193.6,0v289.6c0,88.8,72,160.8,160.8,160.8 s160.8-72,160.8-160.8c0-88.8-72-160.8-160.8-160.8c-42.9,0-81.9,16.8-110.7,44.2"></path>

        <!-- ARROWHEAD -->
        <path class="approach-arrowhead" fill="#6F7F84" d="M260.3 173.5l-22.1 5.9 5.9-22.1z"></path>

        <!-- TO NEXT -->
        <path class="approach-to-next" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10" fill="#6F7F84" d="M157.6 227.8L2.5 382.8"></path>
      </svg>
    </div><!-- END approach-section-icon -->

    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Idea</p>
      <p class="approach-section-text"><strong>Everyone has an idea, but we make it happen.</strong> Let&rsquo;s talk concept, strategy, value proposition. So far, so good. But will users want it?</p>
      <a class="approach-section-next" href="#"></a>
    </div>
  </section><!-- END approach-section idea -->

  <section class="approach-section approach-research black">
    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Research</p>
      <p class="approach-section-text"><strong>Let&rsquo;s figure out what works and what needs work.</strong> User research on the product, usability, and messaging. But can it serve users and the business?</p>
      <a class="approach-section-next" href="#"></a>
    </div>

    <div class="approach-section-icon col one-half">
      <svg class="approach-section-icon-svg top right" viewBox="0 0 494.6 478.2">
        <!-- ICON -->
        <g class="approach-inner-icon" fill="none" stroke="#798082" stroke-width="7.148" stroke-miterlimit="10">
          <path d="M258.1 383H85.2V227.7"></path>
          <path d="M111 307h25.4v76H111zM157.1 274h25.4v109.1h-25.4zM203.3 320.9h25.4v62.2h-25.4zM136.4 328.5L111 353.9M182.5 315.2L157 340.6M228.6 335.4l-25.4 25.4"></path>
        </g>

        <!-- LOOP -->
        <path fill="none" stroke="#798082" stroke-width="7.148" stroke-miterlimit="10" d="M75.6 2.5l200 200c62.2 62.2 62.2 163.1 0 225.4s-163.1 62.2-225.4 0-62.2-163.1 0-225.4c30.1-30.1 69.2-45.6 108.6-46.6"></path>

        <!-- ARROWHEAD -->
        <path class="approach-arrowhead" fill="#798082" d="M147.5 167.9l19.6-11.3-19.6-11.3z"></path>

        <!-- TO NEXT -->
        <path class="approach-to-next" fill="none" stroke="#798082" stroke-width="7.148" stroke-miterlimit="10" d="M322.3 156.6h172.3"></path>
      </svg>
    </div><!-- END approach-section-icon -->
  </section><!-- END approach-section research -->

  <section class="approach-section approach-ia gray">
    <div class="approach-section-icon col one-half">
      <svg class="approach-section-icon-svg top left" viewBox="-192.2 0 518.1 478.2">
        <!-- ICON -->
        <g class="approach-inner-icon" fill="none" stroke="#CECECE" stroke-width="7.139" stroke-miterlimit="10">
          <path d="M161.4 217.6v37.6"></path>
          <circle cx="161.4" cy="274.8" r="19.5"></circle>
          <path d="M146.7 287.6l-39.3 112.9M172.7 287.6l39.2 112.9M132.7 323.3c22.4 22.4 58.6 22.4 81 0"></path>
        </g>

        <!-- LOOP -->
        <path fill="none" stroke="#CECECE" stroke-width="7.148" stroke-miterlimit="10" d="M250.2 2.5l-200 200c-62.2 62.2-62.2 163.1 0 225.4 62.2 62.3 163.1 62.2 225.4 0 62.3-62.2 62.2-163.1 0-225.4-30.1-30.1-69.2-45.6-108.6-46.6"></path>

        <!-- ARROWHEAD -->
        <path class="approach-arrowhead" fill="#CECECE" d="M178.1 145.3l-19.6 11.3 19.6 11.3v-22.6z"></path>

        <!-- TO NEXT -->
        <path class="approach-to-next" fill="none" stroke="#CECECE" stroke-width="7.139" stroke-miterlimit="10" d="M24.5 157H-92.6l-97.1 97.2"></path>
      </svg>
    </div><!-- END approach-section-icon -->

    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Information<br>Architecture</p>
      <p class="approach-section-text"><strong>The goal: make it usable and make it convert.</strong> Our wireframes and flow diagrams lay out the structure so both happen easily. Want to see what it looks like?</p>
      <a class="approach-section-next" href="#"></a>
    </div>
  </section><!-- END approach-section ia -->

  <section class="approach-section approach-design white">
    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Design</p>
      <p class="approach-section-text"><strong>Pixel perfect, unique, and more than just pretty.</strong> From branding to interface design, it needs to work. Can we swing that?</p>
      <a class="approach-section-next" href="#"></a>
    </div>

    <div class="approach-section-icon col one-half">
      <svg class="approach-section-icon-svg top right" viewBox="0 0 541.7 453.9">
        <!-- ICON -->
        <g class="approach-inner-icon" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10">
          <path d="M96.3 206.2h139.5v177.2H96.3V206.2zm139.5 54.4H96.3m18.9 0l29.2-26.4 14.2 12.9 25-22.7 40.2 36.6m-98.6 18h81.6m-63.6 14.4h45.6"></path>
          <path d="M115.2 316H158v51.1h-42.8V316zm60.6 0h42.8v51.1h-42.8V316z"></path>
        </g>

        <!-- LOOP -->
        <path fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10" d="M325.2 0v289.6c0 88.8-72 160.8-160.8 160.8-88.8 0-160.8-72-160.8-160.8 0-88.8 72-160.8 160.8-160.8 42.9 0 81.9 16.8 110.7 44.2"></path>

        <!-- ARROWHEAD -->
        <path class="approach-arrowhead" fill="#6F7F84" d="M261.6 176.8l21.8 5.9-5.9-21.9-15.9 16z"></path>

        <!-- TO NEXT -->
        <path class="approach-to-next" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10" d="M364.7 269.9l174.4 174.4"></path>
      </svg>
    </div><!-- END approach-section-icon -->
  </section><!-- END approach-section design -->

  <section class="approach-section approach-build black">
    <div class="approach-section-icon col one-half">
      <svg class="approach-section-icon-svg bottom left" viewBox="0 0 519.2 455.8">
        <!-- ICON -->
        <path class="approach-inner-icon" fill="none" stroke="#798082" stroke-width="7" stroke-miterlimit="10" d="M425.4 166.2c0-10.1 6.2-18.1 15.6-23.6-1.7-5.7-3.9-11.1-6.7-16.2-10.5 2.8-19.1-1.4-26.2-8.5-7.2-7.2-9.4-15.7-6.6-26.2-5.1-2.8-10.5-5-16.2-6.7-5.5 9.4-15.4 15.6-25.6 15.6-10.2 0-20.1-6.2-25.6-15.6-5.7 1.7-11.1 3.9-16.2 6.7 2.8 10.5.6 19.1-6.6 26.3-7.2 7.2-15.7 11.3-26.2 8.5-2.8 5.1-5 10.5-6.7 16.2 9.4 5.5 15.6 13.5 15.6 23.6 0 10.1-6.2 20.1-15.6 25.6 1.7 5.7 3.9 11.1 6.7 16.2 10.5-2.8 19.1-.6 26.2 6.6 7.2 7.2 9.4 15.7 6.6 26.3 5.1 2.8 10.5 5 16.2 6.7 5.5-9.4 15.4-15.6 25.6-15.6 10.2 0 20.1 6.2 25.6 15.6 5.7-1.7 11.1-3.9 16.2-6.7-2.8-10.5-.6-19.1 6.6-26.2 7.2-7.2 15.7-11.3 26.2-8.5 2.8-5.1 5-10.5 6.7-16.2-9.4-5.7-15.6-13.8-15.6-23.9zm-65.7 35.4c-19.5 0-35.4-15.8-35.4-35.4 0-19.5 15.8-35.4 35.4-35.4 19.5 0 35.4 15.8 35.4 35.4 0 19.5-15.9 35.4-35.4 35.4z"></path>

        <!-- LOOP -->
        <path fill="none" stroke="#798082" stroke-width="7.211" stroke-miterlimit="10" d="M2.5 39.4l238.6 238.5c62.7 62.8 164.5 62.8 227.3 0 62.8-62.7 62.7-164.5 0-227.3-62.7-62.8-164.5-62.8-227.3 0-30.3 30.4-46 69.8-47 109.6"></path>

        <!-- ARROWHEAD -->
        <path class="approach-arrowhead" fill="#798082" d="M206.2 148.8l-11.4 19.8-11.4-19.8h22.8z"></path>

        <!-- TO NEXT -->
        <path class="approach-to-next" fill="none" stroke="#798082" stroke-width="7.211" stroke-miterlimit="10" d="M192.8 318.1v137.7"></path>
      </svg>
    </div><!-- END approach-section-icon -->

    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Build</p>
      <p class="approach-section-text"><strong>Heck yes.</strong> Every interface as functional as it is beautiful. Clean, bug-free code on launch. Is it time to break out the champagne?</p>
      <a class="approach-section-next" href="#"></a>
    </div>
  </section><!-- END approach-section build -->

  <section class="approach-section approach-test gray">
    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Test</p>
      <p class="approach-section-text"><strong>Not so fast, compadre.</strong> Users will want your product to keep up with their ever-changing demands, so you&rsquo;ll need to test, test, and test.</p>
      <a class="approach-section-next" href="#"></a>
    </div>

    <div class="approach-section-icon col one-half">
      <svg class="approach-section-icon-svg middle right" viewBox="0 0 535.2 325.7">
        <!-- ICON -->
        <g class="approach-inner-icon" fill="none" stroke="#CECECE" stroke-width="7.139" stroke-miterlimit="10">
          <circle cx="169" cy="174.4" r="71.7"></circle>
          <path d="M169 81.3v21.4m-15-21.4h29.9m30.4 38.7l12.1-12.1"></path>
          <circle cx="169" cy="172.4" r="8.9"></circle>
          <path d="M169 163.5V120"></path>
        </g>

        <!-- LOOP -->
        <path fill="none" stroke="#CECECE" stroke-width="7.139" stroke-miterlimit="10" d="M535.2 3.5H163.7C75.7 3.5 4.4 74.8 4.3 162.9c-.1 88 71.3 159.3 159.4 159.4 88 .1 159.3-71.3 159.4-159.4 0-42.6-16.7-81.2-43.8-109.7"></path>

        <!-- ARROWHEAD -->
        <path class="approach-arrowhead" fill="#CECECE" d="M277.6 69.8L271.8 48l21.8 5.9-16 15.9z"></path>
      </svg>
    </div><!-- END approach-section-icon -->
  </section><!-- END approach-section test -->

  <section class="cta">
    <div class="container">
      <p class="cta-text">Learn more about the doers doing things worth doing.</p>
      <a class="cta-link" href="/team.html">Meet the team<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
