<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - approachTemp</title>
        <% include partials/head %>
</head>

<body>
    <div class="overlay"></div>
    <div class="overlay-exit"></div>

    <% include partials/menu %>

    <div class="wrapper approach-v2">
        <header>
            <div class="container">
                <h1 class="page-heading">Approach</h1>
                <h2 class="page-subheading">We do the hardest UX work. We live for it.</h2>
            </div>
        </header>

        <section class="approachTemp-hero">
            <!-- approach Hero Content HERE -->
        </section>
        <!-- END approach-hero  -->

        <section class="approachTemp-section">
            <div class="approachTemp-inner-content-wrapper one-third">
                <h3 class="approachTemp-section-title">Bring us your&nbsp;<br />toughest problems</h3>
                <p class="approachTemp-section-text">Bring us your biggest, ugliest, most difficult problems. The things that keep you up at night. The big ideas. The what ifs. The why nots.</p>
            </div>
            <div class="approachTemp-inner-block two-third">
                <img src="images/approach-v2/problems.svg" alt="Image of an explorer descending into the depths of an undiscovered cave." class="approachTemp-image">
            </div>
        </section>
        <!-- END approach-section -->

        <section class="approachTemp-section">
            <div class="approachTemp-inner-block one-half">
                <img src="images/approach-v2/together.svg" alt="Image of an explorer descending into the depths of an undiscovered cave." class="approachTemp-image">
            </div>
            <div class="approachTemp-inner-content-wrapper one-half">
                <h3 class="approachTemp-section-title">We'll be right&nbsp;<br />there with you</h3>
                <p class="approachTemp-section-text">
                    UX is not a linear, step-by-step process. It’s a way of thinking. It’s solving real problems with empathy.
                </p>
                <p class="approachTemp-section-text">
                    So, make room for us because we’re diving in with you. We have to live it. Breathe it. Obsess over the details. We’re going to ask you questions. We’re going to ask your users questions. We’ll poke. We’ll prod. We’ll make you think. We’ll make you rethink.
                </p>
                <p class="approachTemp-section-text">
                    We walk with you the entire step of the way. We know you may be skeptical, but we’re asking you to trust us. We’re the real deal.
                </p>
            </div>
        </section>
        <!-- END approach-section -->

        <section class="approachTemp-section">
            <div class="approachTemp-inner-content-wrapper one-third">
                <h3 class="approachTemp-section-title">We bring the&nbsp;<br />whole gang</h3>
                <p class="approachTemp-section-text">We’re a small group of hungry, talented professionals. There is no B-team: you get our best researchers, architects, designers, and developers. And we’ll give it everything we’ve got.</p>
            </div>
            <div class="approachTemp-inner-block two-third">
                <img src="images/approach-v2/everyone.svg" alt="Image of an explorer descending into the depths of an undiscovered cave." class="approachTemp-image">
            </div>
        </section>
        <!-- END approach-section -->

        <section class="approachTemp-section">
            <div class="approachTemp-inner-block one-half">
                <img src="images/approach-v2/results.svg" alt="Image of explorers coming upon a glowing treasure chest." class="approachTemp-image">
            </div>
            <div class="approachTemp-inner-content-wrapper one-half">
                <h3 class="approachTemp-section-title">We're about&nbsp;<br />results</h3>
                <p class="approachTemp-section-text">
                    You know that feeling of satisfaction when you’ve had a breakthrough?  That feeling of relief when you’ve made it?  That desire to shock the world?
                </p>
                <p class="approachTemp-section-text">
                    We live for that feeling. And together, we’re going to get there.
                </p>
            </div>
        </section>
        <!-- END approach-section -->

        <section class="cta" id="cta">
            <div class="container">
                <p class="cta-text">We’ve got miles to go, but fortune favors the Brave.</p>
                <a class="cta-link" href="/team">Meet The Team<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
            </div>
        </section>
        <!-- END cta -->

        <footer class="footer">
            <div class="container">
                <div class="footer-column">
                    <img class="footer-logo" src="images/footer/footer-logo.svg">
                </div>

                <div class="footer-column">
                    <p class="footer-heading">Get In Touch</p>

                    <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                </div>

                <div class="footer-column">
                    <p class="footer-heading">Follow Us</p>
                    <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                    <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                    <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                    <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                    <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                </div>

                <div class="footer-column">
                    <p class="footer-heading">Our Products</p>

                    <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                    <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                    <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                    <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                </div>

                <div class="footer-last-line">
                    <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                    <div class="footer-stars"></div>
                    <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                </div>
            </div>

            <div class="footer-egg"></div>
        </footer>
    </div>
    <!-- END wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
    <script src="scripts.js"></script>

    <script>
        (function(f, b) {
            var c;
            f.hj = f.hj || function() {
                (f.hj.q = f.hj.q || []).push(arguments)
            };
            f._hjSettings = {
                hjid: 20443,
                hjsv: 3
            };
            c = b.createElement("script");
            c.async = 1;
            c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
            b.getElementsByTagName("head")[0].appendChild(c);
        })(window, document);
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48218627-1', 'braveux.com');
        ga('send', 'pageview');
    </script>
</body>

</html>
