<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Approach</title>
  <% include partials/_head %>

  <!-- TEMP -->
  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
</head>
<body>
  <!-- content -->
  <% include partials/_menu %>
  <main class="wrapper approach">
    <header class="approach-hero white-smoke">
      <div class="hero white">
        <div class="container">
          <p class="hero-title">Approach</p>
          <h1 class="hero-text">The path forward is forged by the Brave.</h1>
        </div>
      </div>
      <div class="lazy-ratio approach-hero-image" data-width="300" data-height="131">
        <img data-normal="./images/sections/approach/hero-bg.svg" alt="">
      </div>
      <div class="approach-hero-box">
        <div class="container">
          <div class="approach-hero-content">
            <p class="approach-hero-text">
              <strong>The best, most successful companies</strong> are the ones bold enough to believe they can chart their own course. Do better. Go farther. Find something new.
            </p>
            <p class="approach-hero-text">
              The ones who might not know exactly how to move forward or where to go, but who are bold enough to go forward anyway. With purpose.
            </p>
            <p class="approach-hero-text">
              It won&rsquo;t be easy. It will take time, effort, and our best thinking. But we are tried, tested, and up for the challenge. And we know that in the end, it&rsquo;ll all be worth it.
            </p>
            <a class="btn btn-box" href="#approach-section">Explore With Us</a>
          </div>
        </div>
      </div>
    </header>

    <section class="block row vertical-center padded-bottom jaguar" id="approach-section">
      <div class="inner-block-approach column half-md">
        <div class="inner-block-content container">
          <p class="approach-content-tagline">Bring us your toughest problems</p>
          <p class="approach-content-text">
            Bring us your biggest, ugliest, most difficult problems. The things that keep you up at night. The big ideas. The what ifs. The why nots.
          </p>
        </div>
      </div>
      <div class="inner-block-approach column column-block align-self-center order-top-xs half-md">
        <!-- start ANIMATION 1 -->
        <div class="approach-image no-script lazy-ratio" data-width="150" data-height="150">
          <img data-normal="./images/sections/approach/scene1.svg" alt="An image of a person descending into the depths of a cave bellow the mountains with only a headlamp as his sole source of light.">
        </div>

        <div id="animation-container-one" class="approach-animation-container">
          <canvas id="canvas-one" class="approach-animation-canvas"></canvas>
          <div id="dom-overlay-container-one" class="approach-animation-overlay">
          </div>
        </div>
        <!-- end ANIMATION 1 -->
      </div>
    </section>

    <section class="block row vertical-center padded-bottom jaguar">
      <div class="inner-block-approach column column-block align-self-center half-md">
        <!-- start ANIMATION 2 -->
        <div class="approach-image no-script lazy-ratio" data-width="141" data-height="150">
          <img data-normal="./images/sections/approach/scene2.svg" alt="An image of two explorers working together to descend further into the cave.">
        </div>

        <div id="animation-container-two" class="approach-animation-container">
          <canvas id="canvas-two" class="approach-animation-canvas"></canvas>
          <div id="dom-overlay-container-two" class="approach-animation-overlay">
          </div>
        </div>
        <!-- end ANIMATION 2 -->
      </div>
      <div class="inner-block-approach column half-md">
        <div class="inner-block-content container">
          <p class="approach-content-tagline">We&rsquo;ll be right there with you</p>
          <p class="approach-content-text">
            UX is not a linear, step-by-step process. It&rsquo;s a way of thinking. It&rsquo;s solving real problems with empathy.
          </p>
          <p class="approach-content-text">
            So, make room for us because we&rsquo;re diving in with you. We have to live it. Breathe it. Obsess over the details. We&rsquo;re going to ask you questions. We&rsquo;re going to ask your users questions. We&rsquo;ll poke. We&rsquo;ll prod. We&rsquo;ll make you think. We&rsquo;ll make you rethink.
          </p>
          <p class="approach-content-text">
            We walk with you the entire step of the way. We know you may be skeptical, but we&rsquo;re asking you to trust us. We&rsquo;re the real deal.
          </p>
        </div>
      </div>
    </section>

    <section class="block row vertical-center padded-bottom jaguar">
      <div class="inner-block-approach column half-md">
        <div class="inner-block-content container">
          <p class="approach-content-tagline">We Bring the Whole Gang</p>
          <p class="approach-content-text">
            We&rsquo;re a small group of hungry, talented professionals. There is no B-team: you get our best researchers, architects, designers, and developers. And we&rsquo;ll give it everything we&rsquo;ve got.
          </p>
        </div>
      </div>
      <div class="inner-block-approach column column-block align-self-center order-top-xs half-md">
        <!-- start ANIMATION 3 -->
        <div class="approach-image no-script lazy-ratio" data-width="141" data-height="150">
          <img data-normal="./images/sections/approach/scene3.svg" alt="An image of several explorers helping a peer descend deeper into the cave with a waterfall rushing down in the background.">
        </div>

        <div id="animation-container-three" class="approach-animation-container">
          <canvas id="canvas-three" class="approach-animation-canvas"></canvas>
          <div id="dom-overlay-container-three" class="approach-animation-overlay">
          </div>
        </div>
        <!-- end ANIMATION 3 -->
      </div>
    </section>

    <section class="block row vertical-center padded-bottom jaguar">
      <div class="inner-block-approach column column-block align-self-center half-md">
        <!-- start ANIMATION 4 -->
        <div class="approach-image no-script lazy-ratio" data-width="150" data-height="150">
          <img data-normal="./images/sections/approach/scene4.svg" alt="An image of some explorers coming across a treasure chest in a cave that is bursting with light.">
        </div>
        
        <div id="animation-container-four" class="approach-animation-container">
          <canvas id="canvas-four" class="approach-animation-canvas"></canvas>
          <div id="dom-overlay-container-four" class="approach-animation-overlay">
          </div>
        </div>
        <!-- end ANIMATION 4 -->
      </div>
      <div class="inner-block-approach column half-md">
        <div class="inner-block-content container">
          <p class="approach-content-tagline">We&rsquo;re About Results</p>
          <p class="approach-content-text">
            You know that feeling of satisfaction when you&rsquo;ve had a breakthrough? That feeling of relief when you&rsquo;ve made it? That desire to shock the world?
          </p>
          <p class="approach-content-text">
            We live for that feeling. And together, we&rsquo;re going to get there.
          </p>
        </div>
      </div>
    </section>

    <section class="cta-block row center padded white-smoke">
      <div class="cta-content container">
        <div class="cta-text">We&rsquo;ve got miles to go, but fortune favors the Brave.</div>
        <a href="./team" class="btn btn-text icon-arrow">Meet The Team</a>
      </div>
    </section>
    <% include partials/_footer %>
  </main>

  <%- include partials/_footer-scripts %>

  <script src="./scripts/animations.js"></script>
</body>
</html>
