<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - approachTemp</title>
        <% include partials/head %>
</head>

<body>
    <div class="overlay"></div>
    <div class="overlay-exit"></div>

    <% include partials/menu %>

    <div class="wrapper approach-v2">
        <header>
            <div class="container">
                <h1 class="page-heading">Approach</h1>
                <h2 class="page-subheading">We do the hardest UX work. We live for it.</h2>
            </div>
        </header>

        <section class="approachTemp-hero">
            <!-- approach Hero Content HERE -->
        </section>
        <!-- END approach-hero  -->

        <section class="approachTemp-section">
            <div class="approachTemp-inner-content-wrapper one-third">
                <h3 class="approachTemp-section-title">Bring us your&nbsp;<br />toughest problems</h3>
                <p class="approachTemp-section-text">Bring us your biggest, ugliest, most difficult problems. The things that keep you up at night. The big ideas. The what ifs. The why nots.</p>
            </div>
            <div class="approachTemp-inner-block two-third">
                <!-- <img src="images/approach-v2/problems.svg" alt="Image of an explorer descending into the depths of an undiscovered cave." class="approachTemp-image"> -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 900" class="testing">
                    <defs>
                        <linearGradient id="linear-gradient" x1="133.35" y1="605.33" x2="572.92" y2="605.33" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff" stop-opacity="0"/><stop offset=".1" stop-color="#fff" stop-opacity=".14"/><stop offset=".28" stop-color="#fff" stop-opacity=".37"/><stop offset=".45" stop-color="#fff" stop-opacity=".56"/><stop offset=".62" stop-color="#fff" stop-opacity=".71"/><stop offset=".77" stop-color="#fff" stop-opacity=".81"/><stop offset=".9" stop-color="#fff" stop-opacity=".88"/><stop offset="1" stop-color="#fff" stop-opacity=".9"/></linearGradient>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1"><path d="M0 0v900h900V0z" fill="#262628"/><path
                            d="M0 0v900h900V0zm511.16 747.85v36.86s-39.3-27.23-71.55-49.71l-6.09-1.1L279 707.38l-144-78.77-1.7.93-8.25-77.81s121.14 6.56 135.31 7.46l27.39-23.82 7.79 18 7.73 3.13 1.09 13.23.61 15.72 13.14 13.42v18l5.62 5.89c21.06-.07 70-.12 70-.12l38.46 35.71 22.91-23.16v-46.5l21-21.5v26.5l35 63v71.18L540 753z"
                            fill="#333"/><path d="M739.79 346.13S654.55 119 549.39 119s-184.1 172.54-184.1 172.54l19.77 49.87-.25 41.18 17.34 16.65v31.21l50.28 50 20.82-11.4.14-.54 99.31 53z" fill="#424242"/><path fill="#333" d="M598.59 503.01l3.56-33.31 17.73-11.02 15.97-15.75 10.02.67 3.19-27.31 34.32-9.58-84.79 96.3z"/><path d="M461.72 293.91l-19-68-53.42-63 192-163 147.19 139.3-139.6 186s-58.25 8-72.45 8z" fill="#787878"/><path d="M435.8 185.69c-.43 0 21.13 22.81 43.75 46.62 24.7 26 50.67 53.18 50.67 53.18l112.67-36.67 102.88-115.89V0h-310z" fill="#eee" opacity=".1"/><path fill="#d2d3d4" opacity=".33" d="M644.46 92l-146.57 66.53 98.33 90.35 127.05 14.3L644.46 92z"/><path d="M590.16 263.67v-19.76l22-21.28v-21.76l11.84-7.51 10.67-2.65 16.22 76-42.13 5.2c0 3.02-18.6 13.04-18.6-8.24z" fill="#787878"/><path d="M716.55 84.44c-62.42-29.21-117.22 65.73-117.22 65.73l-42.49 9.6L406.58 31.68V0h310z" fill="#eee" opacity=".3"/><path fill="#424242" d="M476.41 585.45v8.26l11.09 20.08-11.09-28.34zM594.73 359.09l5.06-20.44 7.56-7.72 11.8-11.97v-59.25l21.95-22h10.25l11.5 32 2.5 30-70.5 60.5"/><path fill="none" stroke="#262628" stroke-miterlimit="10" d="M567.04 416.45l-4.4 362.68M562.49 24.86l.87 359.77s-.09.67-.14 1.83"/><path fill="none" stroke="#262628" stroke-miterlimit="10" stroke-width="1.354" d="M562.49 24.86l10.86 538.52 4.49 195.08"/><path d="M545.48 423.41l-1.73 2.23-3.19-1.4h-.52a2.23 2.23 0 0 0-2.32 2l2.82 2 3.34 1.61 1.29.6a1 1 0 0 0 1-.32 3.72 3.72 0 0 0 .69-1.76 4 4 0 0 1 .19-.79 5.23 5.23 0 0 1 1.55-2.26" fill="#262628"/><path
                            d="M538.1 426.74c1 .89 6.24 3.36 6.24 3.36s1.52 1.08 2-.31c.26-.7-8-4.94-8-4.94s-1.43.82-.24 1.89zM569.56 400.21l.37-.51a2.58 2.58 0 0 1 2.13-1.32l9.57-1.46a2 2 0 0 1 1.9 1.21l.22.54a5.74 5.74 0 0 1 .27 3 5.45 5.45 0 0 1-1.38 2.85s-10 10.77-10.75 11.39-1.38.6-1.62.38l-6.62-6s5.91-10.03 5.91-10.08z"
                            fill="#333"/><path d="M576.25 397.29a6.43 6.43 0 0 0 0-1.13v-.74l-3.09-3.8-2.78 3.14.36 2.37 1.8 3 2.44.15 1 .21z" fill="#545454"/><path d="M576.74 393.63a3.35 3.35 0 0 0-3.74-3.47c-4.06.19-3.59 3.56-2.89 4" fill="#424242"/><path d="M563.39 391.86l-3.92-.56a3.36 3.36 0 0 1 3.36-3.36h.56" fill="#545454"/><path d="M573.89 393.22a9.55 9.55 0 0 0 .91 1.19 15.71 15.71 0 0 1 1.45 2.77 28 28 0 0 0 .48-2.94z" fill="#424242"/><path d="M576.93 394.49s-2.56-1.72-6.47.47c0 0-.79-1.29-.33-2.22.22-.44 1.75-.83 3.13-.9a6.57 6.57 0 0 1 3.16.79c.65.37.51 1.86.51 1.86z" fill="#333"/><ellipse cx="572" cy="393.11" rx="1.83" ry="1.95" transform="rotate(-86.45 571.996 393.113)" fill="#3a3a3c"/><path d="M575 395a.65.65 0 0 1 .7-.71c.45 0 1 1.5 0 2.1l-.17-.72a2.62 2.62 0 0 1-.53-.67z" fill="#545454"/><ellipse class="light-source1" cx="571.57" cy="393.17" rx="1.72" ry="1.79" transform="rotate(-2.77 571.943 393.535)" fill="#fff"/><path d="M559.41 391.44l.33 6.8a4 4 0 0 0 2.31 3.42l5.88 2.69 4-4.47h-2.76l-4.17-1.11a1.68 1.68 0 0 1-1.23-1.54l-.29-6s-3.99.17-4.07.21z" fill="#333"/><path d="M539.43 416.58a5.57 5.57 0 0 1-3.83.46l-3.14-1.2h-.37a1.28 1.28 0 0 0-.78 2.29l6.78 4.41a.62.62 0 0 0 .81-.05 5.31 5.31 0 0 0 .93-1.32l.13-.26 2-2.31" fill="#262628"/><path d="M569.47 420.69l.37.33c1 .9 3 .43 4.13-.3l-2.35-2.13s-2.3 1.97-2.15 2.1z" fill="#545454"/><path d="M531.28 418.59a36.33 36.33 0 0 0 5.48 4.06 2.19 2.19 0 0 0 1.33.3c.42 0 .84-.22.81-.7-.05-1-7.77-6-7.77-6a1.65 1.65 0 0 0 .15 2.34z" fill="#333"/><path d="M556.37 415.31a1.49 1.49 0 0 0-2.1.1l-5.2 10.6-4.56-2.6s7.13-12.67 7.21-12.29 4.38-2.28 6.49-1l2.65 1.64.31 6.42z" fill="#424242"/><path d="M550.3 404.22l13.22 4.15 5.81 7.86a9.11 9.11 0 0 1-5.69 3.11 2.93 2.93 0 0 1-2.37-.73l-9.17-8.34a1.26 1.26 0 0 0-1.78.09l-9 9.9-3.42-3.1 10.85-12.49a1.46 1.46 0 0 1 1.55-.45z" fill="#333"/><path d="M573.13 397.67a.75.75 0 0 0-.55-.2h-.25a.75.75 0 0 0-.46.18l-.31.27.19.11h1.43l.18-.12z" fill="none"/><path d="M575.58 396.31s-.53-1.67-.55-1.69l-.67-.71s.43 3 .38 3l-1 .67-.74-.58h-1.11l-.77.62-.37-.56.44 3 2 .56s2.56-1.91 2.53-2.52zm-2.41 1.69h-1.43l-.19-.11.31-.27a.75.75 0 0 1 .46-.18h.25a.75.75 0 0 1 .55.2l.23.21z" fill="#424242"/><path d="M580.7 402c-.27-1.7-2.82-1.64-2.82-1.64l-6.73-.57h.14l-7.82 8.62 5.67 8.06 8-8.86c.44.4 1.18 1.49.78 1.93l-2.43 4.1-4.43 4.64 3.24 2.72 5.53-9.13a5.81 5.81 0 0 0 1.5-3.75s-.33-4.39-.63-6.12z" fill="#424242"/><path d="M563.93 407.86l5.87 8 1.22-1.27-6-7.88s-1.08 1.21-1.09 1.15zM572.15 399.7l-6.27 6.04.66-2.07 3.65-3.87 1.96-.1zM576.05 400.21l-2.62 11.65 1.29-1.38 2.55-10.18-1.22-.09z" fill="#333"/><path fill="#424242" d="M556.55 414.74l-.42-8.68 2.28.68.47 9.67-2.33-1.67z"/><path d="M563.93 407.86c.22-.81.9-11.38.1-13.32a19 19 0 0 1-1.31-8.3l1 .15a17.54 17.54 0 0 0 1.09 8c.76 1.84.58 12.07.31 13.21" fill="#262628"/><path class="light-beam1" opacity=".7" fill="url(#linear-gradient)" d="M261.69 562.38l-128.34 67.16 79.89 189.45 236.67-82.37 123.01-342.5-2.29-2.44-308.94 170.7z"/><path fill="#262628" d="M133.35 629.54l72.81 42.8 53.99 6.04 17.95 28.08-38.94 1.59-54.71-10.87-51.1-67.64z"/><path fill="#424242" d="M343.11 704.47l-38.76-13.26-36.33-26.83-39.71-10.27-.5-17.29-1 .03.49 17-93.95-24.31 71.84 47.5 49.22 5.2 23.69 24.16 69.64 12.31-4.63-14.24z"/><path d="M466.72 739.6l-119.37-20.89-69.25-12.31-75.3-11.9-69.45-65s34.81 85.92 34.81 88.42l86.19 39.88L405 771.75l28.18-4.34V771l3.49 2.25v9.17l2.26 10.41.91-26.37 3.45-.59 94-14.47z" fill="#424242"/><path class="light-beam-ground1" d="M347.35 718.71l-69.25-12.25c-.11-.11-47.75 10.75-47.75 10.75L168 718l86.31 39.89S404.72 771.65 405 771.75l44.83-35.11z" fill="#d2d3d4" opacity=".5"/><path fill="#424242" d="M239.16 677.71v14.67l-2-1.05v-4.61l-3-1.27v-7.74h5z"/><path fill="#333" d="M228 664.13l-.84-27.29-2 12.33v.88l-3 3.62v9.42l-7.28 2.26-.25 1.67-.67.21-7.8 3.47 21.94-6.53-.1-.04z"/><path fill="#787878" d="M407.57 752.9l-25.51 11.59 10.1-5.27.22-.43 1.14-1.8 11.35-4.55 2.7.46z"/><path fill="#333" d="M407.13 753.05l-.78-23.09-1.94 8.94v7.88l-3 1.94v7l5.72-2.67z"/><path fill="none" stroke="#787878" stroke-miterlimit="10" d="M406.31 726.43l.82 26.62"/><path
                            d="M401.23 662.49a6.17 6.17 0 0 1-1.7-1.95c-.41-.32-8.46-7.79-8.46-7.79l-1-2.85a22.82 22.82 0 0 1-3.16-3 68.93 68.93 0 0 1-4.56-10.68s15.93 25.78 52.3 30.62c-2.77.68-8.06 1-13.84.72a21.84 21.84 0 0 1-4.12-1.64l-2.53.61s-6.8-1.91-10.24-3.24a9.28 9.28 0 0 1-2.69-.8z"
                            fill="#333"/><path
                            fill="#333"
                            d="M407.81 658.55l-1.8-1.02 1.42-2.46-1.29.39-.78-.51.02-1.61-1.73 2.83-1.71-.96M339.47 597a2.6 2.6 0 0 1-.5-1c-.13-.17-2.69-4-2.69-4l-.12-1.27a9.62 9.62 0 0 1-1-1.56 29.05 29.05 0 0 1-.8-4.83s3.95 12.15 18.36 17.76A23.7 23.7 0 0 1 347 601a9.21 9.21 0 0 1-1.52-1.09h-1.1s-2.59-1.46-3.87-2.35a3.91 3.91 0 0 1-1.04-.56z"/><path
                            fill="#333"
                            d="M342.56 596.01l-.63-.59.82-.87-.56.03-.27-.29.17-.65-.99.98-.61-.56M391.8 600.82a2.92 2.92 0 0 1 .31.1c1.57.62 4 .12 6.47-1.36a6.17 6.17 0 0 0 1.36-1.72 8.09 8.09 0 0 0 2.33-1.21 22.57 22.57 0 0 0 6.23-13.27c-.42.77-1.56 10.1-13.33 15l-2.55.62-.4-2.79c1.21-12.7 9.78-16.57 10.4-17.2a22.51 22.51 0 0 0-11.08 10.39 4.52 4.52 0 0 0-.25 2.15 9.78 9.78 0 0 0-1.25 2c-.6 2.69-.35 5 .65 6.29a.8.8 0 0 1 .13.23l.39.5z"/><path fill="#333" d="M390.6 599.29l-.1.71-1.15.78 1.24.29.51.44.66 1.15.27-1.44.68-.17-.75-1.37-1.36-.39zM392.14 597.29l1.32.3.7 1.27-1.33.87-.69-2.44z"/><path
                            d="M392.29 744.71a30.55 30.55 0 0 0-5-6.45 17.2 17.2 0 0 0-2.6-1.41l-.63-1.31s-3.81-2.54-6-3.73a6.67 6.67 0 0 0-1.52-1 5.86 5.86 0 0 0-1.82-.23c-.35-.1-7.94-1.68-7.94-1.68l-2.08.33a21.45 21.45 0 0 0-3-.59 63.65 63.65 0 0 0-8.12.88 64.41 64.41 0 0 1 20.16 4.21l-.94 1.48.94-.45.61.21.27.69.85-1.24a59.51 59.51 0 0 1 16.82 10.29zM304.76 723.08a15.64 15.64 0 0 0-2.57-3.3 8.81 8.81 0 0 0-1.33-.72l-.32-.67s-1.95-1.3-3-1.91a3.41 3.41 0 0 0-.78-.51 3 3 0 0 0-.93-.12c-.18 0-4.06-.86-4.06-.86l-1.06.17a11 11 0 0 0-1.55-.3 32.58 32.58 0 0 0-4.16.45 33 33 0 0 1 10.32 2.15l-.48.76.48-.23.31.11.14.35.43-.64a30.46 30.46 0 0 1 8.56 5.27zM328.55 735.77l-1.67-.27-.82-.25-1.16-.67v.72l-.35.06a16.65 16.65 0 0 0-6.69.25 3.86 3.86 0 0 0-1.23.88 6.57 6.57 0 0 0-2.07.33c-2.74 1.46-4.44 3.84-3.17 7.15.23-.4-1.68-5.57 10.76-7.37h1.29l1 .58 1.53.24.49.66c3 7.06-5.95 8.53-6.46 8.83 5.51-.88 8.44-2.72 9.54-4.67.23-.4-.35-1.42-.35-1.42s.9-.55.85-.92a4.84 4.84 0 0 0-2.54-3.48l-.25-.35z"
                            fill="#333"
                            opacity=".1"/><path
                            d="M0 0v900h900V0zm696.14 553.88l-.48 49.48a.27.27 0 0 1-.55 0L691 575.18l-3.64-5.37-.93-9.16-29.86 20.75-22 21.89-1-23a.28.28 0 0 0-.56 0l-3.51 19.8v.91l-6 3.62-1.12 11.08-85.29 136-65.24 9.93-11.27 1.72-.2-9.58-13-9-1.5 13.5-6 8.24h-.11l-.8 26.35-2.26-10.41v-9.17l-3.55-2.28v-3.52L405 771.75c.05.05-61.57-5.65-106-9.77l-13.4-8.48-7.5-8.71-1.34-11.79-10.95 7.49.08-5-2 1.65-.61 13.78-3.13 2v5.47l-5.8-.54-8.2-3.79v-4.16l-3-2v-7.23l-1.72-1.42v-.23l-.13.1-.12-.1v.19l-10.4 7.7c-25.54-11.81-62.65-29-62.59-29l-34.81-88.42 2.86-33.46c6.13-18.41 64.72-79.62 64.72-79.62l32.66-17.56 1.09 7.39a.35.35 0 0 0 .69 0l.74-3 1.5 27.22 3-35.45L281 473.38c4-2.15 26.93-31.57 42.32-51.66l.86 2.88 7.14 6.41 4.16 39 5.95-62.09 2.56 6c.25.59 1.65.58 1.86 0l3.81-20.43 35.46-28v-40.25l5.13 30.51.83-3.35a.4.4 0 0 1 .78 0l1 6.83L429 330.71v-40.88c1.14-14.59 59.41-49 64.33-62.78 20-56 49.54-91.34 50.75-92.33h67.22a12.42 12.42 0 0 1 12.42 12.05l1.64 55.06a342 342 0 0 0 14 87.28l31.81 107a157.86 157.86 0 0 1 2.47 22.46l1.43 44.55c.25 6.55 21 37.61 21 37.61z"
                            fill="#262628"/></g>
                    </g>
                </svg>
            </div>
        </section>
        <!-- END approach-section -->

        <section class="approachTemp-section">
            <div class="approachTemp-inner-block one-half">
                <img src="images/approach-v2/together.svg" alt="Image of an explorer descending into the depths of an undiscovered cave." class="approachTemp-image">
            </div>
            <div class="approachTemp-inner-content-wrapper one-half">
                <h3 class="approachTemp-section-title">We'll be right&nbsp;<br />there with you</h3>
                <p class="approachTemp-section-text">
                    UX is not a linear, step-by-step process. It’s a way of thinking. It’s solving real problems with empathy.
                </p>
                <p class="approachTemp-section-text">
                    So, make room for us because we’re diving in with you. We have to live it. Breathe it. Obsess over the details. We’re going to ask you questions. We’re going to ask your users questions. We’ll poke. We’ll prod. We’ll make you think. We’ll make you rethink.
                </p>
                <p class="approachTemp-section-text">
                    We walk with you the entire step of the way. We know you may be skeptical, but we’re asking you to trust us. We’re the real deal.
                </p>
            </div>
        </section>
        <!-- END approach-section -->

        <section class="approachTemp-section">
            <div class="approachTemp-inner-content-wrapper one-third">
                <h3 class="approachTemp-section-title">We bring the&nbsp;<br />whole gang</h3>
                <p class="approachTemp-section-text">We’re a small group of hungry, talented professionals. There is no B-team: you get our best researchers, architects, designers, and developers. And we’ll give it everything we’ve got.</p>
            </div>
            <div class="approachTemp-inner-block two-third">
                <img src="images/approach-v2/everyone.svg" alt="Image of an explorer descending into the depths of an undiscovered cave." class="approachTemp-image">
            </div>
        </section>
        <!-- END approach-section -->

        <section class="approachTemp-section">
            <div class="approachTemp-inner-block one-half">
                <img src="images/approach-v2/results.svg" alt="Image of explorers coming upon a glowing treasure chest." class="approachTemp-image">
            </div>
            <div class="approachTemp-inner-content-wrapper one-half">
                <h3 class="approachTemp-section-title">We're about&nbsp;<br />results</h3>
                <p class="approachTemp-section-text">
                    You know that feeling of satisfaction when you’ve had a breakthrough?  That feeling of relief when you’ve made it?  That desire to shock the world?
                </p>
                <p class="approachTemp-section-text">
                    We live for that feeling. And together, we’re going to get there.
                </p>
            </div>
        </section>
        <!-- END approach-section -->

        <section class="cta" id="cta">
            <div class="container">
                <p class="cta-text">We’ve got miles to go, but fortune favors the Brave.</p>
                <a class="cta-link" href="/team">Meet The Team<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
            </div>
        </section>
        <!-- END cta -->

        <footer class="footer">
            <div class="container">
                <div class="footer-column">
                    <img class="footer-logo" src="images/footer/footer-logo.svg">
                </div>

                <div class="footer-column">
                    <p class="footer-heading">Get In Touch</p>

                    <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                </div>

                <div class="footer-column">
                    <p class="footer-heading">Follow Us</p>
                    <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                    <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                    <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                    <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                    <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                </div>

                <div class="footer-column">
                    <p class="footer-heading">Our Products</p>

                    <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                    <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                    <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                    <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                </div>

                <div class="footer-last-line">
                    <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                    <div class="footer-stars"></div>
                    <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                </div>
            </div>

            <div class="footer-egg"></div>
        </footer>
    </div>
    <!-- END wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
    <script src="scripts.js"></script>

    <script>
        (function(f, b) {
            var c;
            f.hj = f.hj || function() {
                (f.hj.q = f.hj.q || []).push(arguments)
            };
            f._hjSettings = {
                hjid: 20443,
                hjsv: 3
            };
            c = b.createElement("script");
            c.async = 1;
            c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
            b.getElementsByTagName("head")[0].appendChild(c);
        })(window, document);
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48218627-1', 'braveux.com');
        ga('send', 'pageview');
    </script>
</body>

</html>
