<% include partials/header %>

<% include partials/menu %>

<div class="wrapper approach">
  <header>
    <div class="container">
      <h1 class="page-heading">Approach</h1>
      <h2 class="page-subheading">We&rsquo;re flexible, not because we&rsquo;re lazy or disorganized. Because it works.</h2>
    </div>
  </header>

  <section class="approach-section approach-idea white">
    <div class="col one-half">
      <img class="approach-section-icon" src="images/approach-section-1.svg">
    </div>

    <div class="col one-half">
      <p class="approach-section-heading">Idea</p>
      <p class="approach-section-text"><strong>Everyone has an idea, but we make it happen.</strong> Let&rsquo;s talk concept, strategy, value proposition. So far, so good. But will users want it?</p>
      <a class="approach-section-next" href="#"></a>
    </div>
  </section>

  <section class="approach-section approach-research black">
    <div class="col one-half">
      <p class="approach-section-heading">Research</p>
      <p class="approach-section-text"><strong>Let&rsquo;s figure out what works and what needs work.</strong> User research on the product, usability, and messaging. But can it serve users and the business?</p>
      <a class="approach-section-next" href="#"></a>
    </div>

    <div class="col one-half">
      <img class="approach-section-icon" src="images/approach-section-2.svg">
    </div>
  </section>

  <section class="approach-section approach-ia gray">
    <div class="col one-half">
      <img class="approach-section-icon" src="images/approach-section-3.svg">
    </div>

    <div class="col one-half">
      <p class="approach-section-heading">Information<br>Architecture</p>
      <p class="approach-section-text"><strong>The goal: make it usable and make it convert.</strong> Our wireframes and flow diagrams lay out the structure so both happen easily. Want to see what it looks like?</p>
      <a class="approach-section-next" href="#"></a>
    </div>
  </section>

  <section class="approach-section approach-design white">
    <div class="col one-half">
      <p class="approach-section-heading">Design</p>
      <p class="approach-section-text"><strong>Pixel perfect, unique, and more than just pretty.</strong> From branding to interface design, it needs to work. Can we swing that?</p>
      <a class="approach-section-next" href="#"></a>
    </div>

    <div class="col one-half">
      <img class="approach-section-icon" src="images/approach-section-4.svg">
    </div>
  </section>

  <section class="approach-section approach-build black">
    <div class="col one-half">
      <img class="approach-section-icon" src="images/approach-section-5.svg">
    </div>

    <div class="col one-half">
      <p class="approach-section-heading">Build</p>
      <p class="approach-section-text"><strong>Heck yes.</strong> Every interface as functional as it is beautiful. Clean, bug-free code on launch. Is it time to break out the champagne?</p>
      <a class="approach-section-next" href="#"></a>
    </div>
  </section>

  <section class="approach-section approach-test gray">
    <div class="col one-half">
      <p class="approach-section-heading">Test</p>
      <p class="approach-section-text"><strong>Not so fast, friend.</strong> Users will want your product to keep up with their ever-changing demands, so you&rsquo;ll need to test, test, and test.</p>
      <a class="approach-section-next" href="#"></a>
    </div>

    <div class="col one-half">
      <img class="approach-section-icon" src="images/approach-section-6.svg">
    </div>
  </section>

  <section class="cta">
    <div class="container">
      <p class="cta-text">Learn more about the doers doing things worth doing.</p>
      <a class="cta-link" href="/team.html">Meet the team<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>