<% include partials/header %>

<% include partials/menu %>

<div class="wrapper approach">
  <header>
    <div class="container">
      <h1 class="page-heading">Approach</h1>
      <h2 class="page-subheading">We&rsquo;re flexible, not because we&rsquo;re lazy or disorganized. Because it works.</h2>
    </div>
  </header>

  <section class="approach-section approach-idea white">
    <div class="approach-section-icon-wrapper col one-half">
      <svg class="approach-section-icon top left" xmlns="http://www.w3.org/2000/svg" width="518.7" height="453.9" viewBox="0 0 518.7 453.9">
        <g class="lamp">
          <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10" d="M394.7 231.2v79.9c0 9.7-7.9 17.6-17.6 17.6h-36.6c-9.7 0-17.6-7.9-17.6-17.6v-79.9l4.9-20.1h62.1l4.8 20.1zM343.4 210.5v-11c0-4.2 3.4-7.7 7.7-7.7h16c4.2 0 7.7 3.4 7.7 7.7v11"></path>
          <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10" d="M402.8 378.4h-88l7.2-32.7h73.6zM312.8 227.6h92"></path>
          <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-linejoin="round" stroke-miterlimit="10" d="M356.9 328.2c4.2-7.4 1.6-12.7-.9-15.8-2.5-3.1-5.9-5.6-7.5-9.4-1.8-4-1.8-7.5-.5-11.6 2.3-7.4 10-14.6 16.8-18.2-4.1 3.7-5.6 9.9-4.3 15.1 1.9 7.4 9.5 13.9 8.3 22.1-.7 5.9-6.4 13.1-11.9 17.8z"></path>
          <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10" d="M341.8 343.1v-14.5M375.8 328.6v14.5"></path>
        </g>

        <path class="arrowhead" xmlns="http://www.w3.org/2000/svg" fill="#6F7F84" d="M260.3 173.5l-22.1 5.9 5.9-22.1z"></path>
        <path class="loop" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10" d="M193.6 289.6M243.7 173c28.8-27.4 67.8-44.2 110.7-44.2 88.8 0 160.8 72 160.8 160.8s-72 160.8-160.8 160.8c-88.8 0-160.8-72-160.8-160.8V0"></path>
        <path class="to-next" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10" d="M157.6 227.8L2.5 382.8"></path>
      </svg>
    </div><!-- END approach-section-icon -->

    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Idea</p>
      <p class="approach-section-text"><strong>Everyone has an idea, but we make it happen.</strong> Let&rsquo;s talk concept, strategy, value proposition. So far, so good. But will users want it?</p>
      <a class="approach-section-next" href="#"></a>
    </div>
  </section><!-- END approach-section idea -->

  <section class="approach-section approach-research black">
    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Research</p>
      <p class="approach-section-text"><strong>Let&rsquo;s figure out what works and what needs work.</strong> User research on the product, usability, and messaging. But can it serve users and the business?</p>
      <a class="approach-section-next" href="#"></a>
    </div>

    <div class="approach-section-icon-wrapper col one-half">
      <svg class="approach-section-icon top right" xmlns="http://www.w3.org/2000/svg" width="494.6" height="478.2" viewBox="0 0 494.6 478.2">
        <g class="graph" fill="none" stroke="#798082" stroke-width="7.148" stroke-miterlimit="10">
          <path d="M258.1 383H85.2V227.7"></path>
          <path d="M111 307h25.4v76H111zM157.1 274h25.4v109.1h-25.4zM203.3 320.9h25.4v62.2h-25.4zM136.4 328.5L111 353.9M182.5 315.2L157 340.6M228.6 335.4l-25.4 25.4"></path>
        </g>

        <path class="arrowhead" fill="#798082" d="M147.5 167.9l19.6-11.3-19.6-11.3z"></path>
        <path class="loop" fill="none" stroke="#798082" stroke-width="7.148" stroke-miterlimit="10" d="M75.6 2.5l200 200c62.2 62.2 62.2 163.1 0 225.4s-163.1 62.2-225.4 0-62.2-163.1 0-225.4c30.1-30.1 69.2-45.6 108.6-46.6"></path>
        <path class="to-next" fill="none" stroke="#798082" stroke-width="7.148" stroke-miterlimit="10" d="M322.3 156.6h172.3"></path>
      </svg>
    </div><!-- END approach-section-icon -->
  </section><!-- END approach-section research -->

  <section class="approach-section approach-ia gray">
    <div class="approach-section-icon-wrapper col one-half">
      <svg class="approach-section-icon top left" xmlns="http://www.w3.org/2000/svg" width="518.1" height="455.4" viewBox="0 0 518.1 455.4">
        <g class="compass" fill="none" stroke="#CECECE" stroke-width="7.139" stroke-miterlimit="10">
          <path d="M353.7 194.9v37.6"></path>
          <circle cx="353.7" cy="252" r="19.5"></circle>
          <path d="M338.9 264.8l-39.2 112.9M365 264.8l39.2 112.9M325 300.5c22.4 22.4 58.6 22.4 81 0"></path>
        </g>

        <path class="arrowhead" fill="#CECECE" d="M370.8 145.5l-19.6-11.3 19.6-11.3z"></path>
        <path class="loop" fill="none" stroke="#CECECE" stroke-width="7.139" stroke-miterlimit="10" d="M242.7 179.9L420.1 2.5 M359.5 133.6c39.4 1 78.4 16.5 108.5 46.6 62.2 62.2 62.2 162.9 0 225.1-62.2 62.2-162.9 62.2-225.1 0-62.2-62.2-62.2-162.9 0-225.1"></path>
        <path class="to-next" fill="none" stroke="#CECECE" stroke-width="7.139" stroke-miterlimit="10" d="M216.7 134.2h-117L2.5 231.4"></path>
      </svg>
    </div><!-- END approach-section-icon -->

    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Information<br>Architecture</p>
      <p class="approach-section-text"><strong>The goal: make it usable and make it convert.</strong> Our wireframes and flow diagrams lay out the structure so both happen easily. Want to see what it looks like?</p>
      <a class="approach-section-next" href="#"></a>
    </div>
  </section><!-- END approach-section ia -->

  <section class="approach-section approach-design white">
    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Design</p>
      <p class="approach-section-text"><strong>Pixel perfect, unique, and more than just pretty.</strong> From branding to interface design, it needs to work. Can we swing that?</p>
      <a class="approach-section-next" href="#"></a>
    </div>

    <div class="approach-section-icon-wrapper col one-half">
      <svg class="approach-section-icon top right" xmlns="http://www.w3.org/2000/svg" width="541.7" height="453.9" viewBox="0 0 541.7 453.9">
        <g class="wireframe" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10">
          <path d="M96.3 206.2h139.5v177.2H96.3zM235.8 260.6H96.3M115.2 260.6l29.2-26.4 14.2 12.9 25-22.7 40.2 36.6M125.2 279h81.6M143.2 293.4h45.6"></path>
          <path d="M115.2 316H158v51.1h-42.8zM175.8 316h42.8v51.1h-42.8z"></path>
        </g>

        <path class="loop" fill="none" stroke="#6F7F84" stroke-width="7.211" stroke-miterlimit="10" d="M275.1 173c-28.8-27.4-67.8-44.2-110.7-44.2-88.8 0-160.8 72-160.8 160.8s72 160.8 160.8 160.8c88.8 0 160.8-72 160.8-160.8V0M364.7 269.9l174.4 174.4"></path>
      </svg>
    </div><!-- END approach-section-icon -->
  </section><!-- END approach-section design -->

  <section class="approach-section approach-build black">
    <div class="approach-section-icon-wrapper col one-half">
      <svg class="approach-section-icon bottom left" xmlns="http://www.w3.org/2000/svg" width="519.2" height="455.8" viewBox="0 0 519.2 455.8">
        <path class="gear" fill="none" stroke="#798082" stroke-width="7" stroke-miterlimit="10" d="M425.4 166.2c0-10.1 6.2-18.1 15.6-23.6-1.7-5.7-3.9-11.1-6.7-16.2-10.5 2.8-19.1-1.4-26.2-8.5-7.2-7.2-9.4-15.7-6.6-26.2-5.1-2.8-10.5-5-16.2-6.7-5.5 9.4-15.4 15.6-25.6 15.6s-20.1-6.2-25.6-15.6c-5.7 1.7-11.1 3.9-16.2 6.7 2.8 10.5.6 19.1-6.6 26.3-7.2 7.2-15.7 11.3-26.2 8.5-2.8 5.1-5 10.5-6.7 16.2 9.4 5.5 15.6 13.5 15.6 23.6 0 10.1-6.2 20.1-15.6 25.6 1.7 5.7 3.9 11.1 6.7 16.2 10.5-2.8 19.1-.6 26.2 6.6 7.2 7.2 9.4 15.7 6.6 26.3 5.1 2.8 10.5 5 16.2 6.7 5.5-9.4 15.4-15.6 25.6-15.6s20.1 6.2 25.6 15.6c5.7-1.7 11.1-3.9 16.2-6.7-2.8-10.5-.6-19.1 6.6-26.2 7.2-7.2 15.7-11.3 26.2-8.5 2.8-5.1 5-10.5 6.7-16.2-9.4-5.7-15.6-13.8-15.6-23.9zm-65.7 35.4c-19.5 0-35.4-15.8-35.4-35.4 0-19.5 15.8-35.4 35.4-35.4 19.5 0 35.4 15.8 35.4 35.4 0 19.5-15.9 35.4-35.4 35.4z"></path>

        <path class="arrowhead" fill="#798082" d="M206.2 148.8l-11.4 19.8-11.4-19.8z"></path>
        <path class="loop" fill="none" stroke="#798082" stroke-width="7.211" stroke-miterlimit="10" d="M192.8 170.2M194.1 160.2c1-39.8 16.7-79.2 47-109.6 62.8-62.8 164.6-62.8 227.3 0s62.8 164.6 0 227.3c-62.8 62.8-164.6 62.8-227.3 0L2.5 39.4"></path>
        <path class="to-next" fill="none" stroke="#798082" stroke-width="7.211" stroke-miterlimit="10" d="M192.8 318.1v137.7"></path>
      </svg>
    </div><!-- END approach-section-icon -->

    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Build</p>
      <p class="approach-section-text"><strong>Heck yes.</strong> Every interface as functional as it is beautiful. Clean, bug-free code on launch. Is it time to break out the champagne?</p>
      <a class="approach-section-next" href="#"></a>
    </div>
  </section><!-- END approach-section build -->

  <section class="approach-section approach-test gray">
    <div class="approach-section-content-wrapper col one-half">
      <p class="approach-section-heading">Test</p>
      <p class="approach-section-text"><strong>Not so fast, compadre.</strong> Users will want your product to keep up with their ever-changing demands, so you&rsquo;ll need to test, test, and test.</p>
      <a class="approach-section-next" href="#"></a>
    </div>

    <div class="approach-section-icon-wrapper col one-half">
      <svg class="approach-section-icon middle right" xmlns="http://www.w3.org/2000/svg" width="535.2" height="325.7" viewBox="0 0 535.2 325.7">
        <g class="timepiece" fill="none" stroke="#CECECE" stroke-width="7.139" stroke-miterlimit="10">
          <circle cx="169" cy="174.4" r="71.7"></circle>
          <path d="M169 81.3v21.4M154 81.3h29.9M214.3 120l12.1-12.1"></path>
          <circle cx="169" cy="172.4" r="8.9"></circle>
          <path d="M169 163.5V120"></path>
        </g>

        <path class="loop" fill="none" stroke="#CECECE" stroke-width="7.139" stroke-miterlimit="10" d="M278.1 53.4c27.1 28.5 43.8 67.1 43.8 109.6 0 87.9-71.3 159.2-159.2 159.2C74.8 322.2 3.6 250.9 3.6 163 3.6 75.1 74.8 3.9 162.7 3.9"></path>
        <path class="arrowhead" fill="#CECECE" d="M277.6 69.8L271.8 48l21.8 5.9z"></path>
        <path fill="none" stroke="#CECECE" stroke-width="7.139" stroke-miterlimit="10" d="M162.7 3.6h372.5"></path>
      </svg>
    </div><!-- END approach-section-icon -->
  </section><!-- END approach-section test -->

  <section class="cta">
    <div class="container">
      <p class="cta-text">Learn more about the doers doing things worth doing.</p>
      <a class="cta-link" href="/team.html">Meet the team<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <footer>
    <div class="container">
      <% include partials/footer-content %>
  </footer>
</div><!-- END wrapper -->

<% include partials/closer %>