<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Brave UX - Contact</title>
    <% include partials/head %>

    <!-- No Script Section in case of JS being disabled -->
    <noscript>
        <style>
            body .hiring-details.collapsed {display: block;}
        </style>
    </noscript>
  </head>
  <body>
    <div class="overlay"></div>
    <div class="overlay-exit"></div>

      <% include partials/menu %>

    <div class="wrapper careers">
      <header>
        <div class="container">
          <h1 class="page-heading">Careers</h1>
          <h2 class="page-subheading can-overlay">Get on the boat.</h2>
        </div>
      </header>
      <div class="hiring-section gray">
          <div class="container">
            <h2>UX Designer</h2>
            <p>We are looking for an experienced UX designer whose wireframes and mockups exude both beauty and brains.</p>
            <button class="hiring-interested">
              I&rsquo;m interested.
              <img class="cta-icon" src="../images/icons/icon-cta.svg">
            </button>

            <div class="hiring-details">
              <h4>Responsibilities include:</h4>
              <ul>
                <li>Understanding the strategy behind complex user interfaces</li>
                <li>Extending information architecture through taxonomy, flows and wireframing</li>
                <li>Ensuring tidy organization with feature-complete wireframes and pixel-perfect mockups</li>
                <li>Working closely with strategists, designers, developers and clients</li>
                <li>Staying ahead of interaction and visual trends</li>
              </ul>

              <h4>Must haves:</h4>
              <ul>
                <li>Proficient Adobe Illustrator skills</li>
                <li>A diverse aesthetic that can handle everything from enterprise to start-ups</li>
                <li>Experience with:</li>
                <li class="sub">Wireframes, storyboards and site maps</li>
                <li class="sub">Vector and raster-based design</li>
                <li class="sub">Interface information architecture and design (web and/or app)</li>
                <li class="sub">Responsive information architecture and design (desktop through mobile applications)</li>
                <li class="sub">Information architecting and designing for content management systems and limitations</li>
              </ul>

              <h4>Nice-to-haves:</h4>
              <ul>
                <li>Experience with:</li>
                <li class="sub">Sketch</li>
                <li class="sub">Print deliverables and processes</li>
                <li class="sub">HTML, CSS</li>
                <li class="sub">Web browser developer tools (Chrome Timeline, etc.)</li>
                <li class="sub">Animation (desktop, video and/or browser-based)</li>
              </ul>

              <h4 class="hiring-cta">If this sounds like you, please email us at <a href="mailto:team@braveux.com">team@braveux.com.</a></h4>
            </div>
          </div>
        </div>
      <footer class="footer is-short">
        <div class="footer-last-line">
          <p class="footer-copyright">&copy;2017 Brave UX. All Rights Reserved.</p>
          <div class="footer-stars"></div>
          <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
        </div>
        <div class="footer-egg"></div>
      </footer>
    </div><!-- END wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
    <script src="scripts.js"></script>

    <script>
      (function () {
        $('.hiring-details').toggleClass('collapsed');
      })();
      $('.hiring-interested').click(function(e) {
        e.preventDefault();
        $(this).parent().find('.hiring-details').slideToggle();
        $(this).parent().find('.hiring-details').toggleClass('collapsed');
        $(this).parent().find('.cta-icon').toggleClass('turned');
      });
    </script>

    <script>
      (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:20443, hjsv:3};
        c=b.createElement("script");c.async=1;
        c.src="//static.hotjar.com/c/hotjar-20443.js?sv=3";
        b.getElementsByTagName("head")[0].appendChild(c);
      })(window,document);
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48218627-1', 'braveux.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
