<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Careers</title>
  <% include partials/_head %>

  <noscript>
    <style>
      .career-box {
        max-height: none;
      }

      .career-btn {
        display: none;
      }
    </style>
  </noscript>
</head>
<body>
  <!-- content -->
  <% include partials/_menu %>
  <main class="wrapper">
    <header class="hero">
      <div class="container">
        <h1 class="hero-title">Careers</h1>
        <p class="hero-text">Get on the boat.</p>
      </div>
    </header>

    <section class="block padded white-smoke">
      <div class="container">
        <p class="career-title">UX Designer</p>
        <p class="career-text">We are looking for an experienced UX designer whose wireframes and mockups exude both beauty and brains.</p>
        <button class="btn btn-text icon-accordion align-left career-btn">I&rsquo;m interested.</button>
        <div class="career-box">
          <h3>Responsibilities include:</h3>
          <ul>
            <li>Understanding the strategy behind complex user interfaces</li>
            <li>Extending information architecture through taxonomy, flows and wireframing</li>
            <li>Ensuring tidy organization with feature-complete wireframes and pixel-perfect mockups</li>
            <li>Working closely with strategists, designers, developers and clients</li>
            <li>Staying ahead of interaction and visual trends</li>
          </ul>
          <h3>Must haves:</h3>
          <ul>
            <li>Proficient Sketch and Adobe Illustrator skills</li>
            <li>A diverse aesthetic that can handle everything from enterprise to start-ups</li>
            <li>Experience with:</li>
            <ul>
              <li>Wireframes, storyboards and site maps</li>
              <li>Vector and raster-based design</li>
              <li>Interface information architecture and design (web and/or app)</li>
              <li>Responsive information architecture and design (desktop through mobile applications)</li>
              <li>Information architecting and designing for content management systems and limitations</li>
            </ul>
          </ul>
          <h3>Nice-to-haves:</h3>
          <ul>
            <li>Experience with:</li>
            <ul>
              <li>HTLM, CSS</li>
              <li>Web browser developer tools (Chrome Timeline, etc.)</li>
              <li>Animation (desktop, video and/or browser-based)</li>
            </ul>
          </ul>
          <h2>If this sounds like you, please email us at <a href="mailto:team@braveux.com">team@braveux.com</a>.</h2>
        </div>
      </div>
    </section>

    <% include partials/_footer %>
  </main>

  <%- include partials/_footer-scripts %>

</body>
</html>
