<% include partials/header %>

<% include partials/menu %>

<div class="wrapper case-study character">

  <section class="case-header">
    <div class="case-header-container container">
      <p class="case-header-client-name">Character.org</p>
      <p class="case-header-tagline">A strong foundation.</p>
      <p class="case-header-type">2014 National Conference</p>
    </div>
  </section><!-- END case-header -->

  <section class="case-exec-summary">
    <div class="container">
      <p class="case-exec-summary-text" data-sr="enter left, move 100px">We designed a brand that showcases the great work, people, and programs of Character.org.</p>
    </div>
  </section><!-- END case-exec-summary -->

  <section class="case-breakdown">
    <div class="container">
      <div class="col one-third" data-sr="enter top, move 50px">
        <p class="case-breakdown-heading">Challenge</p>
        <p class="case-breakdown-summary">Shifting perceptions</p>
        <p class="case-breakdown-detail">A new name and new direction require a new design as well as print and digital collateral.</p>
      </div>

      <div class="col one-third" data-sr="wait .25s, enter top, move 50px">
        <p class="case-breakdown-heading">Solution</p>
        <p class="case-breakdown-summary">Confident, modern brand</p>
        <p class="case-breakdown-detail">The word &ldquo;character&rdquo; is strong enough. We designed a brand that lets the text do the hard work, and gets out of the way. </p>
      </div>

      <div class="col one-third" data-sr="wait .5s, enter top, move 50px">
        <p class="case-breakdown-heading">Scope</p>

        <ul class="case-breakdown-scope-list">
          <li>Branding &amp; Identity</li>
          <li>Information Architecture</li>
          <li>Print &amp; Interface Design</li>
        </ul>
      </div>
    </div>
  </section><!-- END case-breakdown -->

  <section class="case-block character-white">
    <div class="container">
      <p class="case-block-text-heading medium-length">All in the name</p>
      <p class="case-block-text-subtext medium-length">The word &ldquo;character&rdquo; is strong enough. We designed a brand that lets the text do the hard work, and gets out of the way. Brave delivered a modern, clean brand that reflects the organization&rsquo;s mission and values. We also developed a vision for how to apply the branding in print and online, including complementary sub-branding for Schools of Character.</p>
    </div>
  </section><!-- END case-block -->

  <section class="case-block not-padded">
    <div class="inner-block half absolute-left full-height">
      <img class="partial-block half top" src="images/character/marks.svg" data-sr="enter left, move 200px">
      <img class="partial-block half bottom" src="images/character/kids.svg" data-sr="wait .1s, enter left, move 200px">
    </div>

    <div class="inner-block half float-right">
      <img class="case-block-image" src="images/character/logo.svg">
    </div>
  </section><!-- END case-block -->

  <section class="case-block character-white">
    <div class="container">
      <div class="inner-block one-third absolute-left vertical-center">
        <p class="case-block-text-heading short-length">A schedule that makes sense</p>
        <p class="case-block-text-subtext short-length">We created a beautiful, intuitive program for their annual conference with organized, simplified page layouts that improve readability.</p>
      </div>

      <div class="inner-block two-third float-right" data-sr="enter right, move 200px">
        <img class="case-block-image" src="images/character/tablet.svg">
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block character-white">
    <div class="container">
      <div class="inner-block one-third absolute-left vertical-center">
        <p class="case-block-text-heading short-length">Not just a digital experience</p>
        <p class="case-block-text-subtext short-length">We printed banners, posters, signage as well as a program for the annual conference, showing depth and richness of the updated brand.</p>
      </div>

      <div class="inner-block two-third float-right">
        <img class="case-block-image" src="images/character/book-closed.png" data-sr="enter right, move 200px">
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block character-black">
    <div class="container">
      <img class="case-block-image" src="images/character/book-opened.png">
    </div>
  </section><!-- END case-block -->

  <section class="case-block character-red">
    <div class="container">
      <img class="case-block-text-quote-icon" src="images/character/quote.svg" data-sr="enter top, move 75px">
      <p class="case-block-text-quote align-center">&ldquo;This new direction is exactly what we wanted. It&rsquo;s clean, beautiful, and puts the emphasis on the great work we do. We&rsquo;re thrilled. Brave exceeded expectations every step of the way.&rdquo;</p>
      <p class="case-block-text-citation align-center">Tucker Wannamaker, <em>Character.org or Something</em></p>
    </div>
  </section><!-- END case-block -->

  <section class="cta">
    <div class="container">
      <p class="cta-text">Sometimes, you find something that just works.</p>
      <a class="cta-link" href="/contact.html">See Our Approach<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
