<% include partials/header %>

<% include partials/menu %>

<div class="wrapper case-study character">

  <section class="case-header">
    <div class="case-header-container container">
      <p class="case-header-client-name">Character.org</p>
      <p class="case-header-tagline">A strong foundation.</p>
      <p class="case-header-type">Visual Identity System</p>
    </div>
  </section><!-- END case-header -->

  <section class="case-exec-summary">
    <div class="container">
      <p class="case-exec-summary-text" data-sr>We designed a brand that showcases the great work, people, and programs of Character.org.</p>
    </div>
  </section><!-- END case-exec-summary -->

  <section class="case-breakdown">
    <div class="container">
      <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
        <p class="case-breakdown-heading">Challenge</p>
        <p class="case-breakdown-summary">Shifting perceptions</p>
        <p class="case-breakdown-detail">To match their new name, Character.org needed a new design, as well as digital and print collateral.</p>
      </div>

      <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
        <p class="case-breakdown-heading">Solution</p>
        <p class="case-breakdown-summary">Confident, modern brand</p>
        <p class="case-breakdown-detail">The word &ldquo;character&rdquo; is strong enough. We designed a brand that lets the text do the hard work, and gets out of the way. The rest fell into place.</p>
      </div>

      <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
        <p class="case-breakdown-heading">Scope</p>

        <ul class="case-breakdown-scope-list">
          <li>Branding &amp; Identity</li>
          <li>Information Architecture</li>
          <li>Interface &amp; Print Design</li>
        </ul>
      </div>
    </div>
  </section><!-- END case-breakdown -->

  <section class="case-block case-full-image character-school"></section><!-- END case-block -->

  <section class="case-block character-white">
    <div class="container">
      <p class="case-block-text-heading medium-length">A brand strong enough to hold up.</p>
      <p class="case-block-text-subtext medium-length">Brave delivered a modern, clean brand that reflects the organization&rsquo;s mission and values. We also developed a brand guide for how to apply the branding in print and online, including complementary sub-branding for their Schools of Character program.</p>
    </div>
  </section><!-- END case-block -->

  <section class="case-block not-padded">
    <div class="inner-block half absolute-left full-height">
      <img class="partial-block half top" src="images/character/school-mark-applications.svg">
      <img class="partial-block half bottom" src="images/character/students.jpg">
    </div>

    <div class="inner-block half float-right">
      <img class="case-block-image" src="images/character/school-logo.svg">
    </div>
  </section><!-- END case-block -->

  <section class="case-block not-padded">
    <img class="case-block-image" src="images/character/forum-banner.svg">
  </section>

  <section class="case-block character-white">
    <div class="container">
      <div class="inner-block one-third absolute-left vertical-center mobile-padded-below">
        <p class="case-block-text-heading short-length">A conference program that is beautiful and easy to read.</p>
        <p class="case-block-text-subtext short-length">We created a beautiful, intuitive program and event schedule for Character.org&rsquo;s annual conference with organized, simplified layouts that improve readability.</p>
      </div>

      <div class="inner-block two-third float-right">
        <img class="case-block-image" src="images/character/tablet.png" data-sr="enter right, move 200px">
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block case-full-image character-forum"></section><!-- END case-block -->

  <section class="case-block character-white">
    <div class="container narrow">
      <div class="inner-block one-third absolute-left vertical-center mobile-padded-below">
        <p class="case-block-text-heading short-length">Not just a digital experience</p>
        <p class="case-block-text-subtext short-length">We printed banners, posters, and signs for the annual conference, showing off the depth and richness of the updated brand.</p>
      </div>

      <div class="inner-block two-third float-right">
        <img class="case-block-image" src="images/character/program-closed.jpg" data-sr="enter right, move 200px">
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block character-black">
    <div class="container narrow">
      <img class="case-block-image" src="images/character/program-opened.jpg">
    </div>
  </section><!-- END case-block -->

  <section class="case-block character-red">
    <div class="container">
      <img class="case-block-text-quote-icon" src="images/character/quote.svg" data-sr="enter top, move 75px">
      <p class="case-block-text-quote align-center">&ldquo;This new direction is exactly what we wanted. It&rsquo;s clean, beautiful, and puts the emphasis on the great work we do.  We&rsquo;re thrilled.  Brave exceeded expectations every step of the way.&rdquo;</p>
      <p class="case-block-text-citation align-center">Tucker Wannamaker, <em>Director of Communications, Character.org</em></p>
    </div>
  </section><!-- END case-block -->

  <section class="cta">
    <div class="container">
      <p class="cta-text">Sometimes, you find something that just works.</p>
      <a class="cta-link" href="/approach.html">See Our Approach<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
