<% include partials/header %>

<% include partials/menu %>

<div class="wrapper case-study character">

  <section class="case-header">
    <div class="case-header-container container">
      <p class="case-header-client-name">Character.org</p>
      <p class="case-header-tagline">A strong foundation.</p>
      <p class="case-header-type">2014 National Conference</p>
    </div>
  </section><!-- END case-header -->

  <section class="case-exec-summary">
    <div class="container">
      <p class="case-exec-summary-text" data-sr="enter left, move 100px">We designed a brand that showcases the great work, people, and programs of Character.org.</p>
    </div>
  </section><!-- END case-exec-summary -->

  <section class="case-breakdown">
    <div class="container">
      <div class="col one-third" data-sr="enter top, move 50px">
        <p class="case-breakdown-heading">Challenge</p>
        <p class="case-breakdown-summary">Shifting perceptions</p>
        <p class="case-breakdown-detail">A new name and new direction require a new design as well as print and digital collateral.</p>
      </div>

      <div class="col one-third" data-sr="wait .25s, enter top, move 50px">
        <p class="case-breakdown-heading">Solution</p>
        <p class="case-breakdown-summary">Confident, modern brand</p>
        <p class="case-breakdown-detail">The word &ldquo;character&rdquo; is strong enough. We designed a brand that lets the text do the hard work, and gets out of the way. </p>
      </div>

      <div class="col one-third" data-sr="wait .5s, enter top, move 50px">
        <p class="case-breakdown-heading">Scope</p>

        <ul class="case-breakdown-scope-list">
          <li>Branding &amp; Identity</li>
          <li>Information Architecture</li>
          <li>Print &amp; Interface Design</li>
        </ul>
      </div>
    </div>
  </section><!-- END case-breakdown -->





  <section class="cta">
    <div class="container">
      <p class="cta-text">Sometimes, you find something that just works.</p>
      <a class="cta-link" href="/contact.html">See Our Approach<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
