<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Conference</title>
  <% include partials/_head %>

  <style>
    body {
      background-color: #141414;
    }
  </style>
</head>
<body>
  <iframe src="https://xd.adobe.com/embed/1d271e7a-3926-4666-7713-ad238a9d9510-6b16/" frameborder="0"></iframe>
</body>
</html>
