<% include partials/header %>

<% include partials/menu %>

<div class="wrapper contact">
  <header>
    <div class="container">
      <h1 class="page-heading">Contact</h1>
      <h2 class="page-subheading">Let&rsquo;s talk about your great ideas.</h2>
    </div>
  </header>

  <div class="contact-section">
    <div class="contact-info col one-half">

      <div class="contact-email overlay-component">
        <div class="overlay-note">
          <img class="overlay-image" src="images/ux-view/graph.svg">
          <p class="overlay-heading">Let&rsquo;s look at data.</p>
          <p class="overlay-text">81% of our clients first contact us via email. So it only makes sense that we prioritize this in a list of alternatives.</p>
          <p class="overlay-footnote">1. Internal Research Documentation</p>
        </div>

        <p class="contact-heading">Email Us</p>
        <a class="contact-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
      </div>

      <div class="contact-phone">
        <p class="contact-heading">Call Us</p>
        <a class="contact-phone-link" href="tel:18442728389">844.BRAVE.UX</a>
      </div>

      <div class="contact-location">
        <p class="contact-heading">Stop By</p>
        <a class="contact-location-link" href="https://www.google.com/maps/place/1200+18th+St+NW+%23700,+Washington,+DC+20036/">1200 18th St NW<br>Suite 700<br>Washington, DC</a>
      </div>

      <div class="contact-follow">
        <p class="contact-heading">Follow Us</p>

        <a class="social-link dark-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
        <a class="social-link dark-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
        <a class="social-link dark-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
        <a class="social-link dark-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
        <a class="social-link dark-github" href="https://github.com/braveux" target="_blank">GitHub</a>
      </div>
    </div>

    <div class="contact-map">

    </div>
  </div>

  <footer class="is-short">
    <p class="footer-copyright">&copy;2014 Brave UX. All Rights Reserved.<img class="footer-copyright-stars" src="images/icons/icon-stars.svg">Proudly made in our Nation&rsquo;s Capital.</p>
  </footer>
</div><!-- END wrapper -->

<% include partials/closer %>