<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Brave UX - Contact</title>
    <% include partials/head %>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <% include partials/menu %>

    <div class="wrapper contact">
      <header>
        <div class="container">
          <h1 class="page-heading">Contact</h1>
        </div>
      </header>

      <div class="contact-section left-gray">
        <div class="contact-column vertical-center">
          <p class="contact-heading">Email Us</p>
          <p class="contact-subheading">We love email. It&rsquo;s our favorite.</p>
          <a class="contact-link email" href="mailto:team@braveux.com">team@braveux.com</a>
        </div>

        <div class="contact-column contact-cover-background cover-monument"></div>
      </div>

      <div class="contact-section right-gray">
        <div class="contact-column vertical-center">
          <p class="contact-heading">Call Us</p>
          <p class="contact-subheading">Hello. Is it Lee you&rsquo;re looking for?</p>
          <a class="contact-link" href="tel:18442728389">844.BRAVE.UX (844.272.8389)</a>
        </div>

        <div class="contact-column vertical-center">
          <p class="contact-heading">Visit Us</p>
          <p class="contact-subheading">You&rsquo;re more fun than our in-laws.</p>
          <a class="contact-link" href="https://www.google.com/maps/place/1200+18th+St+NW+%23700,+Washington,+DC+20036/" target="_blank">1200 18th St NW, Suite 700<br>Washington, DC 20036</a>
        </div>
      </div>

      <div class="contact-section left-gray">
        <div class="contact-column vertical-center">
          <p class="contact-heading">Follow Us</p>
          <p class="contact-subheading">Bet you can&rsquo;t click just one!</p>

          <a class="social-link dark-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
          <a class="social-link dark-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
          <a class="social-link dark-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
          <a class="social-link dark-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
          <a class="social-link dark-github" href="https://github.com/braveux" target="_blank">GitHub</a>
        </div>

        <div class="contact-column contact-cover-background cover-capital"></div>
      </div>

      <footer class="footer is-short">
        <div class="footer-last-line">
          <p class="footer-copyright">&copy;2014 Brave UX. All Rights Reserved.</p>
          <div class="footer-stars"></div>
          <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
        </div>
        <div class="footer-egg"></div>
      </footer>
    </div><!-- END wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
    <script src="scripts.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48218627-1', 'braveux.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
