<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Contact</title>
  <% include partials/_head %>
</head>
<body>
  <!-- content -->
  <% include partials/_menu %>
  <main class="wrapper">
    <header class="hero">
      <div class="container">
        <h1 class="hero-title">Contact</h1>
        <p class="hero-text">Let&rsquo;s talk about your Brave ideas.</p>
      </div>
    </header>

    <section class="block padded white-smoke">
      <div class="container row">
        <div class="inner-block column one-third-md">
          <div class="contact-content">
            <p class="contact-title">Talk To Us</p>
            <p class="contact-text">Drop us a line, and let&rsquo;s get&nbsp;<br />the  conversation started.</p>
          </div>
          <div class="contact-group">
            <p class="contact-text">We&rsquo;re available at:</p>
            <a href="mailto:team@braveux.com" class="contact-link">team@braveux.com</a>
          </div>
          <div class="contact-content">
            <p class="contact-text">Or, you can call us at:</p>
            <a href="tel:202-909-2700" class="contact-link">202-909-2700</a>
          </div>
        </div>
        <div class="inner-block column two-third-md">
          <div class="contact-letter">
            <div class="contact-flipper">
              <div class="contact-front contact-cover-background cover-monument">
                <!-- Front of the letter content -->
                <p class="contact-front-heading">Greetings From</p>
                <p class="contact-star">&#9733;</p>
                <p class="contact-front-title">Washington, DC</p>
              </div>
              <div class="contact-back">
                <!-- Back of the letter content -->
                <div class="contact-back-stamp"></div>
                <div class="contact-back-content">
                  <div class="contact-back-box-intro">
                    <p class="contact-back-tagline">Send us an email</p>
                  </div>
                  <a href="mailto:team@braveux.com" class="contact-back-box-link">
                    <p class="contact-back-text">We&rsquo;re available at:</p>
                    <p class="contact-back-email">team@braveux.com</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="block padded">
      <div class="container row">
        <div class="inner-block column one-third-md">
          <div class="contact-content">
            <p class="contact-title">Visit Us</p>
            <p class="contact-text">Our storefront office is in the&nbsp;<br />heart of downtown DC, just&nbsp;<br />north of Farragut Square.</p>
            <div class="contact-address-group" target="_blank">
              <a href="https://goo.gl/maps/episQWmr91H2" class="contact-link">
                1705 DeSales St NW<br />
                Washington, DC 20036
              </a>
              <a href="https://goo.gl/maps/episQWmr91H2" class="contact-map-pin"></a>
            </div>
          </div>
        </div>
        <div class="inner-block gutter-top-mobile column two-third-md">
          <div class="contact-map-container">
            <a class="contact-cover-background column full-xs half-sm google-map" href="https://goo.gl/maps/episQWmr91H2" target="_blank"></a>
            <a class="contact-cover-background column full-xs half-sm google-street" href="https://goo.gl/maps/qkhmQ3K5aDD2" target="_blank"></a>
          </div>
        </div>
      </div>
    </section>

    <section class="cta-block padded white-smoke">
      <div class="cta-content container">
        <div class="cta-text">Get on the boat. We&rsquo;re hiring.</div>
        <a href="./careers" class="btn btn-text icon-arrow">Join Us</a>
      </div>
    </section>

    <% include partials/_footer %>
  </main>

  <%- include partials/_footer-scripts %>

</body>
</html>
