<% include partials/header %>

<% include partials/menu %>

<div class="wrapper case-study felix">

  <section class="case-header">
    <div class="case-header-container container">
      <p class="case-header-client-name">Felix</p>
      <p class="case-header-tagline">Who says government<br>work is boring?</p>
      <p class="case-header-type">US Dept of Health and Human Services</p>
    </div>
  </section><!-- END case-header -->

  <section class="case-exec-summary">
    <div class="container">
      <p class="case-exec-summary-text" data-sr="enter left, move 100px">We created Felix, an exciting, dynamic, and truly engaging wellness portal that is 0% boring.</p>
    </div>
  </section><!-- END case-exec-summary -->

  <section class="case-breakdown">
    <div class="container">
      <div class="col one-third" data-sr="enter top, move 50px">
        <p class="case-breakdown-heading">Challenge</p>
        <p class="case-breakdown-summary">Get people to care.</p>
        <p class="case-breakdown-detail">FOH hired Brave to design an application for government employees that will help them feel better, fitter, and just plain happy.</p>
      </div>

      <div class="col one-third" data-sr="wait .25s, enter top, move 50px">
        <p class="case-breakdown-heading">Solution</p>
        <p class="case-breakdown-summary">0% boring wellness app.</p>
        <p class="case-breakdown-detail">Working closely with FOH, we designed Felix, the most comprehensive and user-customizable wellness app on the market today.</p>
      </div>

      <div class="col one-third" data-sr="wait .5s, enter top, move 50px">
        <p class="case-breakdown-heading">Scope</p>

        <ul class="case-breakdown-scope-list">
          <li>Branding &amp; Identity</li>
          <li>Information Architecture</li>
          <li>Interface Design</li>
          <li>Front End Development</li>
          <li>Research &amp; User Testing</li>
        </ul>
      </div>
    </div>
  </section><!-- END case-breakdown -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
