<% include partials/header %>

<% include partials/menu %>

<div class="wrapper case-study felix">

  <section class="case-header">
    <div class="case-header-container container">
      <p class="case-header-client-name">US Dept of Health<br> and Human Services</p>
      <p class="case-header-tagline">Who says government<br> work is boring?</p>
      <p class="case-header-type">Wellness Application</p>
    </div>
  </section><!-- END case-header -->

  <section class="case-exec-summary">
    <div class="container">
      <p class="case-exec-summary-text" data-sr>We created Felix: an exciting, dynamic, and truly engaging wellness portal that is 0% boring.</p>
    </div>
  </section><!-- END case-exec-summary -->

  <section class="case-breakdown">
    <div class="container">
      <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
        <p class="case-breakdown-heading">Challenge</p>
        <p class="case-breakdown-summary">Get people to care.</p>
        <p class="case-breakdown-detail">Federal Occupational Health (a division of the Department of Health and Human Services) hired Brave to design an application for government employees that will help them feel better, fitter, and just plain happy.</p>
      </div>

      <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
        <p class="case-breakdown-heading">Solution</p>
        <p class="case-breakdown-summary">Make it awesome.</p>
        <p class="case-breakdown-detail">Working closely with FOH, we designed Felix, the most comprehensive and user-customizable wellness app on the market today.</p>
      </div>

      <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
        <p class="case-breakdown-heading">Scope</p>

        <ul class="case-breakdown-scope-list">
          <li>Branding &amp; Identity</li>
          <li>Information Architecture</li>
          <li>Interface Design</li>
          <li>Front End Development</li>
          <li>Research &amp; User Testing</li>
        </ul>
      </div>
    </div>
  </section><!-- END case-breakdown -->

  <section class="case-block not-padded felix-white">
    <div class="inner-block half float-left">
      <img class="case-block-image" src="images/felix/mark.svg">
    </div>

    <div class="inner-block half absolute-right full-height">
      <img class="partial-block half top" src="images/felix/mark-breakdown.svg">
      <img class="partial-block half bottom" src="images/felix/fitcoin-and-badge.svg">
    </div>
  </section><!-- END case-block -->

  <section class="case-block felix-gray">
    <div class="container">
      <div class="inner-block half absolute-right vertical-center left-padded mobile-padded-below">
        <p class="case-block-text-heading short-length">Numbers and gauges are only part of the solution.</p>
        <p class="case-block-text-subtext short-length">Not everyone is motivated by numbers, and it&rsquo;s hard to quantify happiness. So we created a challenge-based model that provides qualitative feedback on top of users&rsquo; stats.</p>
      </div>

      <div class="inner-block half float-left right-padded">
        <img class="case-block-image maintain-size align-right" src="images/felix/profile.svg" data-sr="enter left, move 200px">
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block top-padded felix-white">
    <div class="container">
      <div class="inner-block one-third absolute-left vertical-center mobile-padded-below">
        <p class="case-block-text-heading short-length">Wellness is more than steps, miles, or points.</p>
        <p class="case-block-text-subtext short-length">Felix accounts for the big picture of wellness: nutrition, sleep, stress, weight, and a variety of physical activities.  We&rsquo;ve created challenges that help users to learn and develop better habits across all these categories, and offer badges when a user meets his or her goals.</p>
      </div>

      <div class="inner-block two-third float-right">
        <img class="case-block-image" src="images/felix/home.png">
      </div>
    </div>
  </section>

  <section class="case-block case-full-image">
    <img src="images/felix/boardwalk.jpg">
  </section>

  <section class="case-block felix-black mobile-container">
    <div class="inner-block one-third absolute-left vertical-center left-padded mobile-padded-below">
      <p class="case-block-text-heading short-length">Felix can&rsquo;t be judgmental or a chore.</p>
      <p class="case-block-text-subtext short-length">The average user already has a full plate of responsibilities: a full-time job, a commute, a family, and a life. Felix needs to be fun and easy, or people just won&rsquo;t use it. We use gamification techniques like rewarding achievements and hot streaks to create positive habits. This &ldquo;positive addiction&rdquo; cycle, along with a huge repository of relevant content and challenges, will give users a reason to stay motivated and keep up with Felix.</p>
    </div>

    <div class="inner-block two-third float-right" data-sr="enter right, move 200px">
      <img class="case-block-image" src="images/felix/devices.png">
    </div>
  </section><!-- END case-block -->

  <section class="case-block extra-padded felix-blue">
    <div class="container narrow">
      <img class="case-block-image" src="images/felix/progress.svg">
    </div>
  </section><!-- END case-block -->

  <section class="case-block extra-padded felix-white">
    <div class="container">
      <div class="inner-block two-third float-left mobile-padded-below" data-sr="enter left, move 200px">
        <img class="case-block-image" src="images/felix/badges.svg">
      </div>

      <div class="inner-block one-third absolute-right vertical-center">
        <p class="case-block-text-heading short-length">Social support from users and trainers.</p>
        <p class="case-block-text-subtext short-length">Felix also makes it easy for users to find support from other users by joining groups based on their interests. There&rsquo;s also an integration with real life trainers who can chat with a user to help them stay on track.</p>
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block top-padded felix-slate">
    <div class="container narrow">
      <p class="case-block-text-heading medium-length align-center" data-sr>Give users what they want, and they&rsquo;ll come back for more.</p>
      <p class="case-block-text-subtext medium-length align-center" data-sr>We give users hundreds of ways to customize their profile and experience. Color themes, avatars, and badges all increase the user&rsquo;s desire to engage with Felix, increasing their chance of staying on track.</p>

      <img class="case-block-image text-above mobile-padded-above" src="images/felix/customize.png">
    </div>
  </section><!-- case-block -->

  <section class="case-block felix-black">
    <div class="container">
      <div class="inner-block one-third absolute-right vertical-center mobile-padded-below">
        <p class="case-block-text-heading medium-length">As much thought, time, and emphasis on how admins use Felix.</p>
        <p class="case-block-text-subtext medium-length">Most administrative portals are just an ugly, clunky afterthought. But with Felix, we&rsquo;ve made the admin design and functionality a priority because it&rsquo;s so crucial to the product&rsquo;s success.</p>
      </div>

      <div class="inner-block two-third float-left" data-sr="enter left, move 200px">
        <img class="case-block-image" src="images/felix/tablet.png">
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block felix-gray">
    <div class="container">
      <div class="inner-block one-third absolute-left vertical-center mobile-padded-below">
        <p class="case-block-text-heading medium-length">On-the-fly reports to see how trainers and users are doing.</p>
        <p class="case-block-text-subtext medium-length">Felix doesn&rsquo;t just help the end user. It also makes it easy for the experts on staff at FOH to see how the users are doing, so they can create better content, track trends, and understand what&rsquo;s really going on.</p>
      </div>

      <div class="inner-block two-third float-right" data-sr="enter right, move 200px">
        <img class="case-block-image" src="images/felix/admin.svg">
      </div>
    </div>
  </section>

  <section class="case-block felix-blue">
    <div class="container">
      <img class="case-block-text-quote-icon" src="images/felix/quote.svg" data-sr="enter top, move 75px">
      <p class="case-block-text-quote align-center">&ldquo;Their secret is fearlessness. No one has achieved anything by playing it safe. Brave UX gets that. Their talent, ideas, and passion took an ordinary offering and made it revolutionary. This is how every project should be done.&rdquo;</p>
      <p class="case-block-text-citation align-center">Tomas Bonome, <em>Chief of Staff, Office of the Director, for Federal Occupational Health (FOH)</em></p>
    </div>
  </section><!-- END case-block -->

  <section class="cta">
    <div class="container">
      <p class="cta-text">Sometimes, you find something that just works.</p>
      <a class="cta-link" href="/approach.html">See Our Approach<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
