<% include partials/header %>

<% include partials/menu %>

<div class="wrapper case-study felix">

  <section class="case-header">
    <div class="case-header-container container">
      <p class="case-header-client-name">Felix</p>
      <p class="case-header-tagline">Who says government<br>work is boring?</p>
      <p class="case-header-type">US Dept of Health and Human Services</p>
    </div>
  </section><!-- END case-header -->

  <section class="case-exec-summary">
    <div class="container">
      <p class="case-exec-summary-text" data-sr="enter left, move 100px">We created Felix: an exciting, dynamic, and truly engaging wellness portal that is 0% boring.</p>
    </div>
  </section><!-- END case-exec-summary -->

  <section class="case-breakdown">
    <div class="container">
      <div class="col one-third" data-sr="enter top, move 50px">
        <p class="case-breakdown-heading">Challenge</p>
        <p class="case-breakdown-summary">Get people to care.</p>
        <p class="case-breakdown-detail">FOH hired Brave to design an application for government employees that will help them feel better, fitter, and just plain happy.</p>
      </div>

      <div class="col one-third" data-sr="wait .25s, enter top, move 50px">
        <p class="case-breakdown-heading">Solution</p>
        <p class="case-breakdown-summary">Make it awesome.</p>
        <p class="case-breakdown-detail">Working closely with FOH, we designed Felix, the most comprehensive and user-customizable wellness app on the market today.</p>
      </div>

      <div class="col one-third" data-sr="wait .5s, enter top, move 50px">
        <p class="case-breakdown-heading">Scope</p>

        <ul class="case-breakdown-scope-list">
          <li>Branding &amp; Identity</li>
          <li>Information Architecture</li>
          <li>Interface Design</li>
          <li>Front End Development</li>
          <li>Research &amp; User Testing</li>
        </ul>
      </div>
    </div>
  </section><!-- END case-breakdown -->

  <section class="case-block not-padded felix-white">
    <div class="inner-block half float-left" data-sr="enter left, move 150px">
      <img class="case-block-image" src="images/felix/mark.svg">
    </div>

    <div class="inner-block half absolute-right vertical-center left-padded">
      <p class="case-block-text-heading short-length">Just like jeans, wellness is not one-size fits all.</p>
      <p class="case-block-text-subtext short-length">Felix is more than a portal. He&rsquo;s a personal trainer who tailors the user experience based on a user’s unique goals and starting point.</p>
    </div>
  </section><!-- END case-block -->

  <section class="case-block not-padded">
    <div class="inner-block half float-left">
      <img class="case-block-image" src="images/felix/profile.svg">
    </div>

    <div class="inner-block half absolute-right full-height">
      <img class="partial-block half top" src="images/felix/fitcoin-and-badge.svg" data-sr="enter right, move 200px">
      <img class="partial-block half bottom" src="images/felix/mark-breakdown.svg" data-sr="wait .1s, enter right, move 200px">
    </div>
  </section><!-- END case-block -->

  <section class="case-block top-padded felix-white">
    <div class="container">
      <div class="inner-block one-third absolute-left vertical-center left-padded">
        <p class="case-block-text-heading short-length">Numbers and gauges are only part of the solution.</p>
        <p class="case-block-text-subtext short-length">Not everyone is motivated by numbers, and it&rsquo;s hard to quantify happiness. So we created a challenge-based model that provides qualitative feedback on top of users&rsquo; stats.</p>
      </div>

      <div class="inner-block two-third float-right">
        <img class="case-block-image" src="images/felix/wireframe.svg">
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block felix-black">
    <div class="inner-block one-third absolute-left vertical-center left-padded">
      <p class="case-block-text-heading short-length">Felix can&rsquo;t be judgmental or a chore.</p>
      <p class="case-block-text-subtext short-length">The average user already has a full plate of responsibilities: a full-time job, a commute, a family, and a life. Felix needs to be fun and easy, or people just won&rsquo;t use it. We use gamification techniques like rewarding achievements and hot streaks to create positive habits.  This &ldquo;positive addiction&rdquo; cycle, along with a huge repository of relevant content and challenges, will give users a reason to stay motivated and keep up with Felix.</p>
    </div>

    <div class="inner-block two-third float-right" data-sr="enter right, move 200px">
      <img class="case-block-image" src="images/felix/devices.svg">
    </div>
  </section><!-- END case-block -->

  <section class="case-block extra-padded felix-blue">
    <div class="container">
      <img class="case-block-image" src="images/felix/tracker.svg">
    </div>
  </section><!-- END case-block -->

  <section class="case-block extra-padded felix-white">
    <div class="container">
      <div class="inner-block two-third float-left" data-sr="enter left, move 200px">
        <img class="case-block-image" src="images/felix/badges.svg">
      </div>

      <div class="inner-block one-third absolute-right vertical-center">
        <p class="case-block-text-heading short-length">Social support from users and trainers.</p>
        <p class="case-block-text-subtext short-length">Felix also makes it easy for users to find support from other users by joining groups based on their interests. There&rsquo;s also an integration with real life trainers who can chat with a user to help them stay on track.</p>
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block felix-gray">
    <div class="container">
      <img class="case-block-image" src="images/felix/status.svg">
    </div>
  </section><!-- END case-block -->

  <section class="case-block top-padded felix-white">
    <div class="container">
      <p class="case-block-text-heading medium-length align-center" data-sr="enter top, move 200px">Wellness is more than steps, miles, or points.</p>
      <p class="case-block-text-subtext medium-length align-center" data-sr="enter top, move 200px">Felix accounts for the big picture of wellness: nutrition, sleep, stress, weight, and a variety of physical activities.  We&rsquo;ve created challenges that help users to learn and develop better habits across all these categories, and offer badges when a user meets his/her goals.</p>

      <img class="case-block-image text-above" src="images/felix/dashboard.svg">
    </div>
  </section><!-- case-block -->

  <section class="case-block felix-black">
    <div class="container">
      <div class="inner-block one-third absolute-right vertical-center">
        <p class="case-block-text-heading medium-length align-center">Administrator headline goes in this space here</p>
        <p class="case-block-text-subtext medium-length align-center">Something relating to reporting goes here along the page until the second line or potentially the third if we have enough copy for the section.</p>
      </div>

      <div class="inner-block two-third float-left" data-sr="enter left, move 200px">
        <img class="case-block-image" src="images/felix/tablet.svg">
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block felix-gray">
    <div class="container">
      <div class="inner-block one-third absolute-left vertical-center">
        <p class="case-block-text-heading medium-length align-center">Reporting headline and tracking goes here</p>
        <p class="case-block-text-subtext medium-length align-center">Something relating to reporting goes here along the page until the second line or potentially the third if we have enough copy for the section.</p>
      </div>

      <div class="inner-block two-third float-right" data-sr="enter right, move 200px">
        <img class="case-block-image" src="images/felix/reporting.svg">
      </div>
    </div>
  </section>

  <section class="case-block felix-blue">
    <div class="container">
      <img class="case-block-text-quote-icon" src="images/felix/quote.svg" data-sr="enter top, move 75px">
      <p class="case-block-text-quote align-center">&ldquo;Brave has ideas, talent, and passion. Seeing Felix evolve from an concept to a fully realized product is the highlight of my year. This is how every project should be done.&rdquo;</p>
      <p class="case-block-text-citation align-center">Tomas Bonome, <em>Chief of Staff, Office of the Director, for Federal Occupational Health</em></p>
    </div>
  </section><!-- END case-block -->

  <section class="cta">
    <div class="container">
      <p class="cta-text">Sometimes, you find something that just works.</p>
      <a class="cta-link" href="/approach.html">See Our Approach.<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <footer class="has-cta">
    <a class="cta-link" href="/contact.html">You&rsquo;re decisive. We love that about you. Contact Us Now!<img class="cta-icon" src="images/icons/icon-cta-footer.svg"></a>

    <div class="container">
      <% include partials/footer-content %>
  </footer>
</div><!-- END wrapper -->

<% include partials/closer %>
