<% include partials/header %>

<% include partials/menu %>

<div class="wrapper case-study fieldone">

  <section class="case-header">
    <div class="case-header-container container">
      <p class="case-header-client-name">Field One</p>
      <p class="case-header-tagline">More than just looking better.<br>Let&rsquo;s make it work better.</p>
      <p class="case-header-type">Asset management application</p>
    </div>
  </section>

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>