<% include partials/header %>

<% include partials/menu %>

<div class="wrapper case-study fieldone">

  <section class="case-header">
    <div class="case-header-container container">
      <p class="case-header-client-name">Field One</p>
      <p class="case-header-tagline">More than just looking better.<br>Let&rsquo;s make it work better.</p>
      <p class="case-header-type">Asset management application</p>
    </div>
  </section><!-- END case-header -->

  <section class="case-exec-summary">
    <div class="container">
      <p class="case-exec-summary-text">We made FieldOne&rsquo;s asset management web app easy to use and easy on the eyes.</p>
    </div>
  </section><!-- END case-exec-summary -->

  <section class="case-breakdown">
    <div class="container">
      <div class="col one-third">
        <p class="case-breakdown-heading">Challenge</p>
        <p class="case-breakdown-summary">Make it easy to use.</p>
        <p class="case-breakdown-detail">FieldOne&rsquo;s asset management product needed a UX overhaul, including a easier interface with an updated design.</p>
      </div>

      <div class="col one-third">
        <p class="case-breakdown-heading">Solution</p>
        <p class="case-breakdown-summary">Revamp the UX.</p>
        <p class="case-breakdown-detail">The Brave team designed and built the design/user interface for Field One&rsquo;s core product, including a number of demonstrable improvements for the end user.</p>
      </div>

      <div class="col one-third">
        <p class="case-breakdown-heading">Scope</p>

        <ul class="case-breakdown-scope-list">
          <li>Information Architecture</li>
          <li>Interface Design</li>
          <li>Front End Development</li>
        </ul>
      </div>
    </div>
  </section><!-- END case-breakdown -->

  <section class="case-block">
    <div class="case-half-block case-text-block full-height" data-sr>
      <div class="container">
        <p class="case-text-block-heading">Tracking that makes sense and saves time.</p>
        <p class="case-text-block-subtext">The core users of the product, dispatchers, wanted a product that would make it easier to view and interact with data on the screen. And that&rsquo;s exactly what we delivered.</p>
      </div>
    </div>

    <div class="case-half-block case-image-block float-right" data-sr>
      <img class="case-block-image" src="images/fieldone/fieldone-image-block-1.svg">
    </div>
  </section><!-- END case-block -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>