<% include partials/header %>

<div class="wrapper full-height">

  <% include partials/menu %>

  <main class="home">
    <div class="container">
      <div class="typewriter-wrapper">
        <p class="typewriter">You need <span class="typewriter-rotating">user experience</span>.</p>
        <p class="typewriter">We are <span class="typewriter-rotating">Brave</span>.</p>
      </div>
    </div>
  </main><!-- END main -->

  <section class="cta">
    <div class="container">
      <a class="cta-link" href="#">See our work<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>