<% include partials/header %>

<section class="menu is-home">
  <a class="logo" href="/">Brave UX</a>

  <div class="container">
    <a class="menu-link" href="/work.html">Work</a>
    <a class="menu-link" href="/approach.html">Approach</a>
    <a class="menu-link" href="/team.html">Team</a>
    <a class="menu-link" href="/contact.html">Contact</a>
  </div>

  <div class="ux-toggle-frame">
    <a class="ux-toggle" href="#">?</a>
  </div>
</section><!-- END menu -->

<div class="wrapper home">
  <div class="container" data-vide-bg="images/video/homepage" data-vide-options="posterType: png">
    <div class="typewriter-wrapper">
      <h1 class="typewriter-text">
        You need
        <span class="typewriter typewriter-1"></span>
        <span class="typewriter-cursor"></span>
      </h1>

      <h1 class="typewriter-text">
        We are
        <span class="typewriter typewriter-2"></span>
        <span class="typewriter-cursor"></span>
      </h1>
    </div>
  </div>

  <section class="cta">
    <div class="container">
      <p class="cta-text">The meanest, the baddest, and the bravest so-and-sos in the game.</p>
      <a class="cta-link" href="/work.html">See our work<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section>

  <% include partials/footer %>
</div>

<% include partials/closer %>

<script type="text/javascript">
  $(document).on('ready', function() {
    $('.typewriter-text-1').typewriter(function() {
      console.log('callback called')
    });
  });
</script>
