<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX</title>
  <% include partials/_head %>
</head>
<body>
  <!-- content -->
  <main class="wrapper">
    <div class="menu-home active">
      <div class="menu-home-trigger">
        <% include partials/_menu %>
      </div>
    </div>
    <header class="hero hero-lg">
      <div class="row">
        <div class="column container align-left">
          <p class="hero-tagline">We design &amp; build application interfaces that are</p>
          <% include partials/_home-text-underline %>
          <a href="./work" class="btn btn-box-lg alt">See Our Work</a>
        </div>
      </div>
    </header>

    <section class="block home-approach white-smoke">
      <div class="container row">
        <div class="inner-block extra-padded column center half-md">
          <div class="inner-block-content gutter-right">
            <p class="content-tagline">Work With Us</p>
            <p class="content-title">Together, we&rsquo;ll take a&nbsp;<br />radical approach to empathy.</p>
            <a href="./approach" class="btn btn-box">See Our Approach</a>
          </div>
        </div>
        <div class="inner-block column align-bottom half-md home-approach-image">
          <img data-normal="./images/sections/home/home-approach.svg" alt="" class="inner-block-image contain">
        </div>
      </div>
    </section>

    <% include partials/_footer %>
  </main>

  <%- include partials/_footer-scripts %>

  <script src="./scripts/vivus.min.js"></script>
  <script>
  var vivusConfig = {
    type: 'delayed',
    duration: 150,
    delay: 130,
    pathTimingFunction: Vivus.EASE,
    onReady: function() {
      $('path').css('visibility', 'visible');
    }
  };

  // Delay start of vivus animation
  setTimeout(function(){
    new Vivus("outline-desktop", vivusConfig);
    new Vivus("outline-mobile", vivusConfig);
  }, 1500);
  </script>
</body>
</html>
