<% include partials/header %>

<% include partials/menu %>

<div class="wrapper home">
  <div class="container">
    <div class="typewriter-wrapper">
      <h1 class="typewriter-text typewriter-text-1">
        You need
        <span class="typewriter"></span>
        <span class="typewriter-cursor">|</span>
      </h1>

      <h1 class="typewriter-text typewriter-text-2">
        We are
        <span class="typewriter"></span>
        <span class="typewriter-cursor">|</span>
      </h1>
    </div>
  </div>

  <section class="cta">
    <div class="container">
      <p class="cta-text">The meanest, the baddest, and the bravest so-and-sos in the game.</p>
      <a class="cta-link" href="/work.html">See our work<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>

<script type="text/javascript">
  $(document).on('ready', function() {
    var phrases1 = ['user experience.', 'happy users.', 'better user flow.', 'to understand your users.'];
    $('.typewriter-text-1').typewriter(phrases1);

    // var phrases2 = ['brave', 'designing awesome apps', 'smart and capable', 'research driven'];
    // $('.typewriter-text-2').typewriter(phrases2);
  });
</script>








