<% include partials/header %>

<% include partials/menu %>

<div class="wrapper home">
  <div class="container">
    <div class="typewriter-wrapper">
      <p class="typewriter">You need <span class="typewriter-rotating"></span>.</p>
      <p class="typewriter">We are <span class="typewriter-rotating"></span>.</p>
    </div>
  </div>

  <section class="cta">
    <div class="container">
      <p class="cta-text">The meanest, the baddest, and the bravest so-and-sos in the game.</p>
      <a class="cta-link" href="/work.html">See our work<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <footer>
    <div class="container">
      <% include partials/footer-content %>
  </footer>
</div><!-- END wrapper -->

<% include partials/closer %>