<!DOCTYPE html>

<html lang="en-US">

<head>
  <title>Brave UX | Playlist</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="You need user experience. We are Brave. We design and build interfaces people love to use." />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <!-- FaceBook -->
  <meta property="og:title" content="Brave UX" />
  <meta property="og:description" content="You need user experience. We are Brave. We design and build interfaces people love to use." />
  <meta property="og:image" content="https://braveux.com/images/sections/team/team.jpg" />
  <meta property="og:url" content="https://braveux.com/" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#262628" />
  <meta name="theme-color" content="#ffffff" />

  <!-- Fonts and Stylesheets -->
  <link rel="stylesheet" type="text/css" href="https://use.typekit.net/ajf6zob.css" />
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7775932/607446/css/fonts.css" />

  <style type="text/css">
    html {
      font-family: sans-serif;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }

    body {
      background-color: #000;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      overflow-x: hidden;
      padding: 7.5vh 7.5vh 0;
      margin: 0;
      -webkit-font-smoothing: antialiased;
    }

    .playlist {
      display: flex;
      flex-direction: column;
      color: #fff;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }

    .playlist__title {
      font-family: "nudista-web", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      font-weight: 600;
      font-size: 21px;
      margin: 0 0 16px;
    }

    .playlist__text {
      font-family: "nudista-web", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      font-weight: 600;
      line-height: 1.4;
      font-size: 12px;
      margin: 0 0 5vh;
    }

    .playlist__boombox {
      position: relative;
    }

    .playlist__boombox-noclick {
      position: absolute;
      height: 75px;
      width: 50px;
      background-color: transparent;
      top: 105px;
      z-index: 10;
      left: 680px;
    }

    .playlist__boombox-image {
      height: 583px;
      position: relative;
      width: 1138px;
      pointer-events: none;
      z-index: 2;
      background: url("https://braveux.com/images/brave-cassette-desktop.png") center center/cover no-repeat;
    }

    .playlist__player {
      position: absolute;
      z-index: 0;
      top: 17.64%;
      left: -10px;
      right: 0;
      margin: 0 auto;
      width: 335px;
    }

    .playlist__footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      padding-bottom: 2.5vh;
      align-items: center;
    }

    .playlist__share {
      font-family: "Sentinel A", "Sentinel B", serif;
      text-decoration: none;
      color: hsla(0, 0%, 74.1%, 0.4);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.4px;
      margin: 5vh 0 32px;
      transition: color 200ms ease-out;
    }

    .playlist__share:hover {
      color: hsla(0, 0%, 74.1%, 1);
    }

    .playlist__brave {
      align-items: center;
      display: flex;
      height: 36px;
      justify-content: center;
      position: relative;
    }

    .playlist__brave-logo {
      color: transparent;
      font-size: 0;
      text-indent: 101%;
      white-space: nowrap;
      background-image: url("images/braveux-logo.svg");
      background-repeat: no-repeat;
      display: flex;
      height: 36px;
      opacity: 1;
      position: relative;
      transition: opacity 300ms 250ms;
      width: 30px;
    }

    .playlist__brave:hover .playlist__brave-logo {
      opacity: 0;
      transition: opacity 300ms;
    }

    .playlist__brave-logo--hover {
      -ms-grid-row-align: center;
      align-self: center;
      background-image: url("images/braveux-logo--hover.svg");
      display: block;
      height: 12px;
      left: 50%;
      opacity: 0;
      position: absolute;
      -webkit-transform: translateX(-50%) translateY(100px);
      transform: translateX(-50%) translateY(100px);
      transition: opacity 300ms, -webkit-transform 1200ms;
      transition: opacity 300ms, transform 1200ms;
      transition: opacity 300ms, transform 1200ms, -webkit-transform 1200ms;
      width: 107px;
    }

    .playlist__brave:hover .playlist__brave-logo--hover {
      opacity: 1;
      -webkit-transform: translateX(-50%) translateY(0);
      transform: translateX(-50%) translateY(0);
      transition: opacity 300ms 250ms, -webkit-transform 300ms 200ms;
      transition: opacity 300ms 250ms, transform 300ms 200ms;
      transition: opacity 300ms 250ms, transform 300ms 200ms, -webkit-transform 300ms 200ms;
    }
  </style>

  <!-- Google Analytics -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      (i[r] =
        i[r] ||
        function () {
          (i[r].q = i[r].q || []).push(arguments);
        }),
      (i[r].l = 1 * new Date());
      (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(
      window,
      document,
      'script',
      'https://www.google-analytics.com/analytics.js',
      'ga'
    );
    ga('create', 'UA-48218627-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <div class="playlist">
    <h1 class="playlist__title">Happy Holidays to Our Biggest Fans</h1>
    <p class="playlist__text">
      Please enjoy some of our favorite hits from the cassette tape era!
    </p>
    <div class="playlist__boombox">
      <div class="playlist__boombox-image"></div>
      <div class="playlist__boombox-noclick"></div>
      <iframe frameborder="0" class="playlist__player" src="https://open.spotify.com/embed/user/9uc53dbwx9363yg40254d8n4g/playlist/5JyRYGYXje2ug1lzrfA9C0"
        width="335" height="470" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="playlist__footer">
      <a href="https://open.spotify.com/user/9uc53dbwx9363yg40254d8n4g/playlist/5JyRYGYXje2ug1lzrfA9C0" class="playlist__share">Share
        The Playlist</a>
      <a class="playlist__brave" href="https://braveux.com" target="_blank">
        <svg class="playlist__brave-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.901 36">
          <path fill="#fff" d="M29.9 9H18.517l.393 2h7.902l-2.226 6 1.177 6h-11.8l-.78-5h-2.288l1.178 7H28.5l-1.566-8L29.9 9" />
          <path d="M20.95 11h-2.08l-.39-2h2.076zm-7.766 7h-2.347l.392 2h2.27z" fill="#959ca0" />
          <path fill="#fff" d="M3.125 4h12.27l2.352 12H5.56l.435 2h14.547L17.21 2H2.732l.393 2" />
          <path d="M7.466 16l.39 2H5.813l-.393-2zM2.964 4H5.01l-.393-2H2.57z" fill="#959ca0" />
          <path fill="#fff" d="M2.29 0H0l7.072 36H9.36L2.29 0" /></svg>
        <svg class="playlist__brave-logo--hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 104.498 11.93">
          <path d="M98.672 3.02c0 .74-.295.89-.77.89s-.768-.15-.768-.89V0h-1.1v2.982a1.87 1.87 0 1 0 3.74 0V0h-1.1zm4.528-.673L104.42 0h-1.207l-.615 1.27-.616-1.27h-1.21l1.222 2.347-1.296 2.46h1.21l.69-1.41.692 1.41h1.208l-1.297-2.46M73.266.09l2.857 7.192 2.872-7.19h3.157L77.098 11.93h-2.014L70.11.09zm19.761 2.607H87.87v1.98h4.03V7.28h-4.03v2.04h5.157v2.608h-8.043V.09h8.047zM67.124 11.93h3.16L65.306.09h-2.01l-5.058 11.84h3.156l.814-2.037h4.107zm-4.082-4.522l1.225-3.07 1.217 3.07zM40.64 5.907a3.14 3.14 0 0 0 1.717-2.67A3.4 3.4 0 0 0 38.72.09H33.5v11.84h5.477a3.45 3.45 0 0 0 3.686-3.265 2.99 2.99 0 0 0-2.022-2.758zm-4.5-3.38h2.28a1.148 1.148 0 0 1 1.187 1.15 1.2 1.2 0 0 1-1.186 1.216h-2.28zm2.5 6.984h-2.5V7.09h2.332a1.352 1.352 0 0 1 1.382 1.186 1.227 1.227 0 0 1-1.217 1.234zm17.227 2.419l-3.05-4.464A3.658 3.658 0 0 0 55.19 3.91 3.642 3.642 0 0 0 51.576.09h-5.762v11.84h2.707v-4.3h1.342l2.89 4.3zm-7.345-9.31h2.826a1.354 1.354 0 0 1 1.344 1.345 1.42 1.42 0 0 1-1.344 1.416h-2.826z"
            fill="#919191" />
          <path d="M0 1.26h.746l1.857 5.863c.38 1.22.64 2.147 1.05 3.366h.06C4.127 9.27 4.4 8.34 4.78 7.123L6.638 1.26h.7L4.065 11.295h-.762zm8.496.366a.61.61 0 1 1 1.218 0 .61.61 0 0 1-1.218 0zm.26 2.36h.67v7.31h-.67zm2.966 5.984a3.393 3.393 0 0 0 2.33.93c1.143 0 1.736-.67 1.736-1.447 0-.914-.944-1.31-1.78-1.614-1.113-.4-2.33-.838-2.33-2.087 0-1.066.836-1.95 2.36-1.95a3.39 3.39 0 0 1 2.085.762l-.365.472a2.765 2.765 0 0 0-1.75-.655c-1.128 0-1.647.655-1.647 1.325 0 .807.855 1.157 1.722 1.477 1.143.427 2.392.807 2.392 2.24a2.182 2.182 0 0 1-2.467 2.055 4.232 4.232 0 0 1-2.68-1zm6.426-8.344a.61.61 0 1 1 1.218 0 .61.61 0 0 1-1.218 0zm.26 2.36h.67v7.31h-.67zm3.652.579h-1.142v-.518l1.157-.06.09-2.118h.58v2.116h2.116v.58h-2.115V9.33c0 .93.23 1.553 1.233 1.553a2.448 2.448 0 0 0 .914-.226l.183.547a4.083 4.083 0 0 1-1.188.274c-1.416 0-1.827-.9-1.827-2.207z"
            fill="#bdbdbd" /></svg>
      </a>
    </div>
  </div>
</body>

</html>