<% include partials/header %>

<div class="wrapper">

  <% include partials/menu %>

  <header>
    <div class="container">
      <h1 class="page-heading">Team</h1>
      <h2 class="page-subheading">Small but mighty. We are Brave.</h2>
    </div>
  </header>

  <main class="team">

    <section class="team-section">
      <div class="container">

        <div class="team-section-image col one-half">
          <img class="team-section-headshot" src="images/team/lf.jpg">
          <p class="team-section-quote">&ldquo;Stay Hungry. Stay Foolish.&rdquo;<br><span class="team-section-quote-cite">Steve Jobs</span></p>
        </div>

        <div class="team-section-profile col one-half">
          <p class="team-section-name">Lee Finkel</p>
          <p class="team-section-job">Founder</p>
          <p class="team-section-heading">Resume</p>
          <p class="team-section-longtext">10+ years running digital and design companies. Knows enough to hire smart, talented people and get out of the way.</p>
          <p class="team-section-heading">Personality</p>
          <p class="team-section-longtext">Outspoken New Yorker. Still thinking about his prime, though it&rsquo;s long gone. Loves dance floors and microphones.</p>
          <a class="social-link dark-linkedin" href="http://www.linkedin.com/in/leefinkel" target="_blank">LinkedIn</a>
        </div>

      </div><!-- END container -->
    </section><!-- END team-section -->

    <section class="team-section">
      <div class="container">

        <div class="team-section-image col one-half">
          <img class="team-section-headshot" src="images/team/kc.jpg">
          <p class="team-section-quote">&ldquo;You can, you should, and if you&rsquo;re brave enough to start, you will.&rdquo;<br><span class="team-section-quote-cite">Stephen King</span></p>
        </div>

        <div class="team-section-profile col one-half">
          <p class="team-section-name">Kelaine Conochan</p>
          <p class="team-section-job">Director, Strategy</p>
          <p class="team-section-heading">Resume</p>
          <p class="team-section-longtext">Deep experience in user testing and research, including Fortune 500 companies. Leads client engagements from strategy through launch.</p>
          <p class="team-section-heading">Personality</p>
          <p class="team-section-longtext">An extrovert with introverted hobbies. Likes doing long, arduous things no one else enjoys, like running ultramarathons and writing novels.</p>
          <a class="social-link dark-linkedin" href="http://www.linkedin.com/in/kelaineconochan" target="_blank">LinkedIn</a>
        </div>

      </div><!-- END container -->
    </section><!-- END team-section -->

    <section class="team-section">
      <div class="container">

        <div class="team-section-image col one-half">
          <img class="team-section-headshot" src="images/team/jd.jpg">
          <p class="team-section-quote">&ldquo;The only important thing about design is how it relates to people.&rdquo;<br><span class="team-section-quote-cite">Victor Papanek</span></p>
        </div>

        <div class="team-section-profile col one-half">
          <p class="team-section-name">Jordan DeVries</p>
          <p class="team-section-job">Director, User Experience</p>
          <p class="team-section-heading">Resume</p>
          <p class="team-section-longtext">Designer, animator, coder, editor and writer. Directs projects through information architecture, visual design, and launch.</p>
          <p class="team-section-heading">Personality</p>
          <p class="team-section-longtext">Pop culture guru and random fact machine. Needs to spend less time on his hair and more time outside. Fluent in Mandarin. Ni hao!</p>
          <a class="social-link dark-dribbble" href="http://www.dribbble.com/theastralj" target="_blank">Dribbble</a>
        </div>

      </div><!-- END container -->
    </section><!-- END team-section -->

  </main>

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>