<% include partials/header %>

<div class="wrapper">

  <% include partials/menu %>

  <header>
    <div class="container">
      <h1 class="page-heading">Team</h1>
      <h2 class="page-subheading">Small but mighty. We are Brave.</h2>
    </div>
  </header>

  <main class="team">

    <section class="team-section">
      <div class="container">

        <div class="team-section-image col one-half">
          <img class="team-section-headshot" src="images/team/lf.jpg">
          <p class="team-section-quote">&ldquo;Stay Hungry. Stay Foolish.&rdquo;<br><span class="team-section-quote-cite">Steve Jobs</span></p>
        </div>

        <div class="team-section-profile col one-half">
          <p class="team-section-name">Lee Finkel</p>
          <p class="team-section-job">Founder</p>
          <p class="team-section-heading">Resume</p>
          <p class="team-section-longtext">10+ years running digital and design companies. Knows enough to hire smart, talented people and get out of the way.</p>
          <p class="team-section-heading">Personality</p>
          <p class="team-section-longtext">Outspoken New Yorker. Still thinking about his prime, though it&rsquo;s long gone. Loves dance floors and microphones.</p>
          <a class="social-link dark-linkedin" href="http://www.linkedin.com/in/leefinkel" target="_blank">Dribbble</a>
        </div>

      </div><!-- END container -->
    </section><!-- END team-section -->

    <section class="team-section">
      <div class="container">

        <div class="team-section-image col one-half">
          <img class="team-section-headshot" src="images/team-placeholder.jpg">
          <p class="team-section-quote">&ldquo;Pika, pika.&rdquo;<br><span class="team-section-quote-cite">Pikachu</span></p>
        </div>

        <div class="team-section-profile col one-half">
          <p class="team-section-name">Chris Allen</p>
          <p class="team-section-job">Design &amp; Brand Strategy</p>
          <p class="team-section-heading">The Man</p>
          <p class="team-section-longtext">Deep experience in user testing and research, including Fortune 500 companies. Leads client engagements from strategy through launch.</p>
          <p class="team-section-heading">The Myth</p>
          <p class="team-section-longtext">An extrovert with introverted hobbies, Kelaine likes doing long, arduous things no one else enjoys, like running ultramarathons and writing novels.</p>
          <a class="social-link dark-dribbble" href="https://dribbble.com/cp_allen" target="_blank">Dribbble</a>
        </div>

      </div><!-- END container -->
    </section><!-- END team-section -->

    <section class="team-section">
      <div class="container">

        <div class="team-section-image col one-half">
          <img class="team-section-headshot" src="images/team-placeholder.jpg">
          <p class="team-section-quote">&ldquo;Pika, pika.&rdquo;<br><span class="team-section-quote-cite">Pikachu</span></p>
        </div>

        <div class="team-section-profile col one-half">
          <p class="team-section-name">Chris Allen</p>
          <p class="team-section-job">Design &amp; Brand Strategy</p>
          <p class="team-section-heading">The Man</p>
          <p class="team-section-longtext">Deep experience in user testing and research, including Fortune 500 companies. Leads client engagements from strategy through launch.</p>
          <p class="team-section-heading">The Myth</p>
          <p class="team-section-longtext">An extrovert with introverted hobbies, Kelaine likes doing long, arduous things no one else enjoys, like running ultramarathons and writing novels.</p>
          <a class="social-link dark-dribbble" href="https://dribbble.com/cp_allen" target="_blank">Dribbble</a>
        </div>

      </div><!-- END container -->
    </section><!-- END team-section -->

  </main>

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>