<% include partials/header %>

<div class="wrapper">

  <% include partials/menu %>

  <header>
    <div class="container">
      <h1 class="page-heading">Team</h1>
      <h2 class="page-subheading">Small but mighty. We are Brave.</h2>
    </div>
  </header>

  <main class="team">
    <section class="team-section">
      <div class="container">

        <div class="team-section-profile col one-half">
          <p class="team-section-name">Mike Cavalea</p>
          <p class="team-section-job">Development</p>
          <p class="team-section-heading">Business</p>
          <p class="team-section-longtext">Deep experience in user testing and research, including Fortune 500 companies. Leads client engagements from strategy through launch.</p>
          <p class="team-section-heading">Casual</p>
          <p class="team-section-longtext">An extrovert with introverted hobbies, Kelaine likes doing long, arduous things no one else enjoys, like running ultramarathons and writing novels.</p>

          <a class="social-link dark-github" href="https://github.com/callmecavs" target="_blank">GitHub</a>
        </div>

        <div class="team-section-image col one-half">
          <img class="team-section-headshot" src="images/team-placeholder.jpg">
          <p class="team-section-quote">&ldquo;Pika, pika.&rdquo;</p>
        </div>

      </div><!-- END container -->
    </section><!-- END team-section -->

    <section class="team-section">
      <div class="container">

        <div class="team-section-image col one-half">
          <img class="team-section-headshot" src="images/team-placeholder.jpg">
          <p class="team-section-quote">&ldquo;Pika, pika.&rdquo;</p>
        </div>

        <div class="team-section-profile col one-half">
          <p class="team-section-name">Chris Allen</p>
          <p class="team-section-job">Design &amp; Brand Strategy</p>
          <p class="team-section-heading">The Man</p>
          <p class="team-section-longtext">Deep experience in user testing and research, including Fortune 500 companies. Leads client engagements from strategy through launch.</p>
          <p class="team-section-heading">The Myth</p>
          <p class="team-section-longtext">An extrovert with introverted hobbies, Kelaine likes doing long, arduous things no one else enjoys, like running ultramarathons and writing novels.</p>
          <a class="social-link dark-dribbble" href="https://dribbble.com/cp_allen" target="_blank">Dribbble</a>
        </div>

      </div><!-- END container -->
    </section><!-- END team-section -->
  </main>

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>