<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Team</title>
  <% include partials/_head %>
</head>
<body>
  <!-- content -->
  <% include partials/_menu %>
  <main class="wrapper">
    <header class="hero">
      <div class="container">
        <h1 class="hero-title">Team</h1>
        <p class="hero-text">Small but mighty. We are Brave.</p>
      </div>
    </header>

    <section class="block row">
      <div class="inner-block column">
        <img src="./images/sections/team/team.jpg" alt="Some daring individuals braving the icy straights of the Delaware river, much like George Washington did in 1776 during the American Revolution." class="team-hero-image inner-block-image contain">
      </div>
    </section>

    <section class="block row">
      <div class="inner-block padded absolute-center-md column half-md">
        <div class="inner-block-content container">
          <p class="team-content-name">Lee Finkel</p>
          <p class="team-content-heading">Business</p>
          <p class="team-content-text">
            Our CEO, with 15 years running digital and design companies. Knows enough to hire smart, talented people and get out of the way.
          </p>
          <p class="team-content-heading">Casual</p>
          <p class="team-content-text">
            Outspoken New Yorker. Still thinking about his prime, though it&rsquo;s long gone. Loves dance floors and microphones.
          </p>
        </div>
      </div>
      <div class="inner-block column order-top-xs half-md">
        <img data-normal="./images/sections/team/lf.jpg" alt="A photograph of Lee Finkel" class="inner-block-image full-height">
        <div class="team-quote-container">
          <div class="team-quote-content container">
            <p class="team-quote-text">&ldquo;Stay Hungry. Stay Foolish.&rdquo;</p>
            <p class="team-quote-author">Steve Jobs</p>
          </div>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block column half-md">
        <img data-normal="./images/sections/team/jd.jpg" alt="A photograph of Jordan DeVries" class="inner-block-image full-height">
        <div class="team-quote-container">
          <div class="team-quote-content container">
            <p class="team-quote-text">&ldquo;The only important thing about design is how it relates to people.&rdquo;</p>
            <p class="team-quote-author">Victor Papanek</p>
          </div>
        </div>
      </div>
      <div class="inner-block padded absolute-center-md column half-md">
        <div class="inner-block-content container">
          <p class="team-content-name">Jordan DeVries</p>
          <p class="team-content-heading">The Man</p>
          <p class="team-content-text">
            Our Director of UX, with a background in design, animation, code, and content. Keeps projects unified from strategy through launch.
          </p>
          <p class="team-content-heading">The Myth</p>
          <p class="team-content-text">
            Pop culture guru and random fact machine. Needs to spend less time on his hair and more time outside. Fluent in Mandarin. Ni&nbsp;hao!
          </p>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block padded absolute-center-md column half-md">
        <div class="inner-block-content container">
          <p class="team-content-name">Jenna Billingsley</p>
          <p class="team-content-heading">Pro</p>
          <p class="team-content-text">
            UX designer who leads our visual design and brand strategy work. In charge of putting your best foot forward.
          </p>
          <p class="team-content-heading">Semi Pro</p>
          <p class="team-content-text">
            Loves good typography and bad jokes. Always up for an adventure and secretly wishes she had an accent.
          </p>
        </div>
      </div>
      <div class="inner-block column half-md">
        <img data-normal="./images/sections/team/jb.jpg" alt="A photograph of Jenna Billingsley" class="inner-block-image full-height">
        <div class="team-quote-container">
          <div class="team-quote-content container">
            <p class="team-quote-text">&ldquo;The details are not the details. They make&nbsp;the&nbsp;design.&rdquo;</p>
            <p class="team-quote-author">Charles Eames</p>
          </div>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block column order-top-xs half-md">
        <img data-normal="./images/sections/team/sg.jpg" alt="A photograph of Sean Goodwin" class="inner-block-image full-height">
        <div class="team-quote-container">
          <div class="team-quote-content container">
            <p class="team-quote-text">&ldquo;Good design is honest.&rdquo;</p>
            <p class="team-quote-author">Dieter Rams</p>
          </div>
        </div>
      </div>
      <div class="inner-block padded absolute-center-md column half-md">
        <div class="inner-block-content container">
          <p class="team-content-name">Sean Goodwin</p>
          <p class="team-content-heading">Go Time</p>
          <p class="team-content-text">
            UX designer who specializes in product, interface, and systems design. Our test subject for Sketch updates.
          </p>
          <p class="team-content-heading">R &rsquo;n&rsquo; R</p>
          <p class="team-content-text">
            Usually doing something outside. Riding bikes, backcountry trekking, sometimes both. Likes to build things. Always learning, always growing.
          </p>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block padded absolute-center-md column half-md">
        <div class="inner-block-content container">
          <p class="team-content-name">Jessie Kamachaitis</p>
          <p class="team-content-heading">The Doer</p>
          <p class="team-content-text">
            UX designer who balances information architecture and visual design. A team player from start to finish.
          </p>
          <p class="team-content-heading">The Dreamer</p>
          <p class="team-content-text">
            Functions on fresh air, nice views and natural sunlight. When she’s not daydreaming about her next travel adventure, you can find her exploring DC or spending quality time with friends and&nbsp;family.
          </p>
        </div>
      </div>
      <div class="inner-block column order-top-xs half-md">
        <img data-normal="./images/sections/team/jk.jpg" alt="A photograph of Jessie Kamachaitis" class="inner-block-image full-height">
        <div class="team-quote-container">
          <div class="team-quote-content container">
            <p class="team-quote-text">&ldquo;Do not seek praise. Seek criticism.&rdquo;</p>
            <p class="team-quote-author">Paul Arden</p>
          </div>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block column order-top-xs half-md">
        <img data-normal="./images/sections/team/as.jpg" alt="A photograph of Alicia Salvino" class="inner-block-image full-height">
        <div class="team-quote-container">
          <div class="team-quote-content container">
            <p class="team-quote-text">&ldquo;The ultimate in sophistication is simplicity.&rdquo;</p>
            <p class="team-quote-author">Leonard Thiessen</p>
          </div>
        </div>
      </div>
      <div class="inner-block padded absolute-center-md column half-md">
        <div class="inner-block-content container">
          <p class="team-content-name">Alicia Salvino</p>
          <p class="team-content-heading">Prix Fixe</p>
          <p class="team-content-text">
            UX designer focused on interactions and information architecture. Dreams in wireframes, so you don't have to.
          </p>
          <p class="team-content-heading">A La Carte</p>
          <p class="team-content-text">
            Loves old martial arts movies, cooking, blues guitar, and tinkering with hardware. Hates sitting still.
          </p>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block padded absolute-center-md column half-md">
        <div class="inner-block-content container">
          <p class="team-content-name">Eric Fuhrmann</p>
          <p class="team-content-heading">The Hits</p>
          <p class="team-content-text">
            Front-end developer who knows his way through the alphabet: HTML, CSS, JS, ETC. Turns fantastic design into lean, functional code.
          </p>
          <p class="team-content-heading">B-Sides</p>
          <p class="team-content-text">
            Loves gaming, keeping up with technology, and trying new things. Has more pictures of his cats than himself or his wife right meow.
          </p>
        </div>
      </div>
      <div class="inner-block column order-top-xs half-md">
        <img data-normal="./images/sections/team/ef.jpg" alt="A photograph of Eric Fuhrmann" class="inner-block-image full-height">
        <div class="team-quote-container">
          <div class="team-quote-content container">
            <p class="team-quote-text">&ldquo;Without requirements or design, programming is the art of adding bugs to an empty text file.&rdquo;</p>
            <p class="team-quote-author">Louis Srygley</p>
          </div>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block column half-md">
        <img data-normal="./images/sections/team/gt.jpg" alt="A photograph of Gabriela< Taginya" class="inner-block-image full-height">
        <div class="team-quote-container">
          <div class="team-quote-content container">
            <p class="team-quote-text">&ldquo;How we spend our days is how we spend&nbsp;our&nbsp;lives.&rdquo;</p>
            <p class="team-quote-author">Annie Dillard</p>
          </div>
        </div>
      </div>
      <div class="inner-block padded absolute-center-md column half-md">
        <div class="inner-block-content container">
          <p class="team-content-name">Gabriela Taginya</p>
          <p class="team-content-heading">Portrait</p>
          <p class="team-content-text">
            UX Strategist focused on research and planning. Keeps our team running smoothly with timelines, checklists, and copious, diligent notes.
          </p>
          <p class="team-content-heading">Landscape</p>
          <p class="team-content-text">
            Loves new music that sounds old and prefers movies with no plot. Has an insatiable thirst for understanding why people do the things they do.
          </p>
        </div>
      </div>
    </section>

    <section class="cta-block padded white-smoke">
      <div class="cta-content container">
        <div class="cta-text">You&rsquo;re decisive. We love that about you.</div>
        <a href="./contact" class="btn btn-text icon-arrow">Contact Us Now</a>
      </div>
    </section>
    <% include partials/_footer %>
  </main>

  <%- include partials/_footer-scripts %>

</body>
</html>
