<% include partials/header %>

<% include partials/menu %>

<div class="wrapper team">
  <header>
    <div class="container">
      <div class="overlay-content overlay-team-dont">
        <p class="overlay-header">Don&apos;t be afraid. Be Brave!</p>
        <p class="overlay-text">We have personality, so why not show it? Building emotion into your website makes it more enjoyable for the user. We parodied Washington Crossing the Delaware so you get a chuckle, a dopamine response, and a sense for what we mean by We Are Brave.</p>
        <p class="overlay-footer"><a href="http://www.abookapart.com/products/designing-for-emotion ">Source</a></p>
      </div>

      <h1 class="page-heading">Team</h1>
      <h2 class="page-subheading">Small but mighty. We are Brave.</h2>
    </div>
  </header>

  <section class="team-section team-section-team-pic">
    <img class="team-photo" src="images/team/team.jpg">
  </section><!-- END team-section -->

  <section class="team-section">
    <div class="overlay-content overlay-team-hey">
      <p class="overlay-header">Hey! Over here!</p>
      <p class="overlay-text">An eye tracking study conducted with 106 people shows how human faces can be used to guide people's attention in advertising and web design.</p>
      <p class="overlay-footer"><a href="http://usableworld.com.au/2009/03/16/you-look-where-they-look/">Source</a></p>
    </div>

    <div class="team-section-image col one-half">
      <img class="team-section-headshot" src="images/team/lf.jpg">
      <img class="team-section-headshot overlay-headshot-cutout" src="images/team/lf-cutout.jpg">
      <p class="team-section-quote">&ldquo;Stay Hungry. Stay Foolish.&rdquo;<br><span class="team-section-quote-cite">Steve Jobs</span></p>
    </div>

    <div class="team-section-profile col one-half">
      <p class="team-section-name founder">Lee Finkel</p>
      <p class="team-section-job">Founder</p>
      <p class="team-section-heading">Business</p>
      <p class="team-section-longtext">10+ years running digital and design companies. Knows enough to hire smart, talented people and get out of the way.</p>
      <p class="team-section-heading">Casual</p>
      <p class="team-section-longtext">Outspoken New Yorker. Still thinking about his prime, though it&rsquo;s long gone. Loves dance floors and microphones.</p>
      <a class="social-link dark-linkedin" href="http://www.linkedin.com/in/leefinkel" target="_blank">LinkedIn</a>
    </div>
  </section><!-- END team-section -->

  <section class="team-section">
    <div class="team-section-image col one-half">
      <img class="team-section-headshot" src="images/team/kc.jpg">
      <p class="team-section-quote">&ldquo;You can, you should, and if you&rsquo;re brave<br>enough to start, you will.&rdquo;<br><span class="team-section-quote-cite">Stephen King</span></p>
    </div>

    <div class="team-section-profile col one-half">
      <p class="team-section-name">Kelaine Conochan</p>
      <p class="team-section-heading">In the Game</p>
      <p class="team-section-longtext">Deep experience in user testing and research, including Fortune 500 companies. Leads client engagements from strategy through launch.</p>
      <p class="team-section-heading">Off the Court</p>
      <p class="team-section-longtext">An extrovert with introverted hobbies. Likes doing long, arduous things no one else enjoys, like running ultramarathons and writing novels.</p>
      <a class="social-link dark-linkedin" href="http://www.linkedin.com/in/kelaineconochan" target="_blank">LinkedIn</a>
    </div>
  </section><!-- END team-section -->

  <section class="team-section">
    <div class="team-section-image col one-half">
      <img class="team-section-headshot" src="images/team/jd.jpg">
      <p class="team-section-quote">&ldquo;The only important thing about design is<br>how it relates to people.&rdquo;<br><span class="team-section-quote-cite">Victor Papanek</span></p>
    </div>

    <div class="team-section-profile col one-half">
      <p class="team-section-name">Jordan DeVries</p>
      <p class="team-section-heading">The Man</p>
      <p class="team-section-longtext">Designer, animator, coder, editor and writer. Directs projects through information architecture, visual design, and launch.</p>
      <p class="team-section-heading">The Myth</p>
      <p class="team-section-longtext">Pop culture guru and random fact machine. Needs to spend less time on his hair and more time outside. Fluent in Mandarin. Ni hao!</p>
      <a class="social-link dark-dribbble" href="http://www.dribbble.com/theastralj" target="_blank">Dribbble</a>
    </div>
  </section><!-- END team-section -->

  <section class="team-section">
    <div class="team-section-image col one-half">
      <img class="team-section-headshot" src="images/team/mc.jpg">
      <p class="team-section-quote">&ldquo;Opportunity is missed by most people because it is dressed in overalls and looks like work.&rdquo;<br><span class="team-section-quote-cite">Thomas Edison</span></p>
    </div>

    <div class="team-section-profile col one-half">
      <p class="team-section-name">Michael Cavalea</p>
      <p class="team-section-heading">Dinner</p>
      <p class="team-section-longtext">Front-end developer with an unrivaled eye for detail. Focus on building lightweight, functional interfaces.</p>
      <p class="team-section-heading">Dessert</p>
      <p class="team-section-longtext">Living vicariously through himself. Lost his mind, but he&rsquo;s got it backed up somewhere. Interested in the intersection of technology and happiness.</p>
      <a class="social-link dark-github" href="http://www.github.com/callmecavs" target="_blank">GitHub</a>
    </div>
  </section><!-- END team-section -->

  <section class="team-section">
    <div class="team-section-image col one-half">
      <img class="team-section-headshot" src="images/team/ca.jpg">
      <p class="team-section-quote">&ldquo;&ldquo;You miss 100 percent of the shots<br>you don't take.&rdquo; - Wayne Gretzky&rdquo;<br><span class="team-section-quote-cite">Michael Scott</span></p>
    </div>

    <div class="team-section-profile col one-half">
      <p class="team-section-name">Chris Allen</p>
      <p class="team-section-heading">By Day</p>
      <p class="team-section-longtext">Designer with serious chops, addressing brand and identity, print, and interface design.</p>
      <p class="team-section-heading">At Night</p>
      <p class="team-section-longtext">Deceptively tall optimist from the North country. Struggling food and beer critic (it all tastes good).</p>
      <a class="social-link dark-dribbble" href="http://www.dribbble.com/cp_allen" target="_blank">Dribbble</a>
    </div>
  </section><!-- END team-section -->

  <section class="team-section">
    <div class="team-section-image col one-half">
      <img class="team-section-headshot" src="images/team/jg.jpg">
      <p class="team-section-quote">&ldquo;The way to get started is to quit talking<br>and start doing.&rdquo;<br><span class="team-section-quote-cite">Walt Disney</span></p>
    </div>

    <div class="team-section-profile col one-half">
      <p class="team-section-name">Jackson Geller</p>
      <p class="team-section-heading">Pro</p>
      <p class="team-section-longtext">Full-stack developer, fluent in Angular, Backbone, Sass, Node, Ruby, and Go. Focus on innovation and product development.</p>
      <p class="team-section-heading">Semi-pro</p>
      <p class="team-section-longtext">Still working on his hipster beard. Likes TV, sports, dad jokes, and contributing to open source.</p>
      <a class="social-link dark-github" href="http://www.github.com/jaxgeller" target="_blank">GitHub</a>
    </div>
  </section><!-- END team-section -->

  <section class="cta">
    <div class="container">
      <p class="cta-text">You&rsquo;re decisive. We love that about you.</p>
      <a class="cta-link" href="/contact.html">Contact Us Now<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
