<% include partials/header %>

<div class="wrapper">

  <% include partials/menu %>

  <header>
    <div class="container">
      <h1 class="page-heading">Team</h1>
      <h2 class="page-subheading">Small but mighty. We are Brave.</h2>
    </div>
  </header>

  <main class="team">
    <section class="team-section">
      <div class="container">

        <div class="team-section-profile col one-half">
          <p class="team-section-name">Mike Cavalea</p>
          <p class="team-section-job">Development</p>
          <p class="team-section-heading">Business</p>
          <p class="team-section-longtext">Front end developer with 5+ years experience building lean and mean layouts and interactions. Graduated from The George Washington University with a degree in Computer Science.</p>
          <p class="team-section-heading">Casual</p>
          <p class="team-section-longtext">Living vicariously through myself. Lost my mind, but I&rsquo;ve got it backed up somewhere. Open source proponent, interested in the intersection of technology and happiness.</p>

          <a class="social-link dark-github" href="https://github.com/callmecavs" target="_blank">GitHub</a>
        </div>

        <div class="col one-half">
          <img class="team-section-headshot" src="//placehold.it/520x520">
          <p class="team-section-quote">Pika, pika.</p>
        </div>

      </div><!-- END container -->
    </section><!-- END team-section -->

    <section class="team-section">
      <div class="container">

        <div class="col one-half">
          <img class="team-section-headshot" src="//placehold.it/520x520">
          <p class="team-section-quote">Pika, pika.</p>
        </div>

        <div class="team-section-profile col one-half">
          <p class="team-section-name">Chris Allen</p>
          <p class="team-section-job">Design &amp; Brand Strategy</p>
          <p class="team-section-heading">The Man</p>
          <p class="team-section-longtext">Brand Strategist and Designer with more than five years of freelance design experience in brand and identity as well as print and interface design. Graduated from the Robert H. Smith School of Business at the University of Maryland with a degree in Marketing.</p>
          <p class="team-section-heading">The Myth</p>
          <p class="team-section-longtext">Deceptively tall optimist from the north country. Struggling food and beer critic (it all tastes good).</p>
          <a class="social-link dark-dribbble" href="https://dribbble.com/cp_allen" target="_blank">Dribbble</a>
        </div>

      </div><!-- END container -->
    </section><!-- END team-section -->
  </main>

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>