<% include partials/header %>

<% include partials/menu %>

<div class="wrapper case-study wedding">

  <section class="case-header">
    <div class="case-header-container container">
      <p class="case-header-client-name">Wedding Wire</p>
      <p class="case-header-tagline">One happy marriage.</p>
      <p class="case-header-type">Uniﬁed Application Experience</p>
    </div>

    <img class="case-header-image" src="images/wedding/header.svg"></div>
  </section><!-- END case-header -->

  <section class="case-exec-summary">
    <div class="container">
      <p class="case-exec-summary-text" data-sr>We provided thought leadership and perspective to WeddingWire&rsquo;s design team to<br> help take their world-class mobile and app UX to the next level.</p>
    </div>
  </section><!-- END case-exec-summary -->
  <section class="cta">
    <div class="container">
      <p class="cta-text">Sometimes, you find something that just works.</p>
      <a class="cta-link" href="/approach.html">See Our Approach<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
