<% include partials/header %>

<% include partials/menu %>

<div class="wrapper case-study wedding">

  <section class="case-header">
    <div class="case-header-container container">
      <p class="case-header-client-name">Wedding Wire</p>
      <p class="case-header-tagline">One happy marriage.</p>
      <p class="case-header-type">Uniﬁed Application Experience</p>
    </div>

    <img class="case-header-image" src="images/wedding/header.svg">
  </section><!-- END case-header -->

  <section class="case-exec-summary">
    <div class="container">
      <p class="case-exec-summary-text" data-sr>We provided thought leadership and perspective to WeddingWire&rsquo;s design team to<br>&nbsp;help take their world-class mobile and app UX to the next level.</p>
    </div>
  </section><!-- END case-exec-summary -->

  <section class="case-breakdown">
    <div class="container">
      <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
        <p class="case-breakdown-heading">Challenge</p>
        <p class="case-breakdown-summary">Improve upon the best.</p>
        <p class="case-breakdown-detail">To stay on top, WeddingWire engaged Brave UX to improve their industry-leading mobile website and family of apps.</p>
      </div>

      <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
        <p class="case-breakdown-heading">Solution</p>
        <p class="case-breakdown-summary">Whiteboards &amp; ideas.</p>
        <p class="case-breakdown-detail">Brave worked closely with WeddingWire&rsquo;s talented design team to create a new navigation framework and tackle hard-hitting UX challenges.</p>
      </div>

      <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
        <p class="case-breakdown-heading">Scope</p>

        <ul class="case-breakdown-scope-list">
          <li>UX Consulting</li>
          <li>Information Architecture</li>
        </ul>
      </div>
    </div>
  </section><!-- END case-breakdown -->

  <section class="case-block not-padded wedding-white">
    <div class="inner-block half float-right" data-sr>
      <img class="case-block-image" src="images/wedding/wireframe.svg" data-sr>
    </div>

    <div class="inner-block half absolute-left vertical-center left-padded mobile-container">
      <p class="case-block-text-heading short-length">Sort, simplify, &amp; select.</p>
      <p class="case-block-text-subtext short-length">As brides and grooms sort through vendors, we simplified decision-making (more than just the number of clicks) to prevent decision-fatigue across over 150 data points. This simplifies user decision-making (rather than simply the number of clicks) to prevent users&rsquo; decision-fatigue.</p>
    </div>
  </section><!-- END case-block -->

  <section class="case-block wedding-green">
    <div class="container">
      <div class="inner-block two-third float-left mobile-padded-below">
        <img class="case-block-image" src="images/wedding/devices.jpg"  data-sr="enter left, move 200px">
      </div>

      <div class="inner-block one-third absolute-right vertical-center">
        <p class="case-block-text-heading short-length">Know thy user.</p>
        <p class="case-block-text-subtext short-length">Brave created user personas to better understand mobile users, their unique needs, and likely use cases. We then reviewed, validated, and updated WeddingWire&rsquo;s existing prototypes to ensure the UX delivered.</p>
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block top-padded wedding-white">
    <div class="container narrow">
      <div class="inner-block two-third absolute-left vertical-center mobile-padded-below">
        <p class="case-block-text-heading medium-length">What does 4.9 stars mean?</p>
        <p class="case-block-text-subtext medium-length">We normalized data from reviews to make it more meaningful to users, so they can make more informed decisions.</p>
      </div>

      <div class="inner-block one-third float-right">
        <img class="case-block-image" src="images/wedding/phone.jpg" data-sr="enter right, move 200px">
      </div>
    </div>
  </section><!-- END case-block -->

  <section class="case-block case-full-image wedding-bouquet"></section><!-- END case-block -->

  <section class="case-block wedding-gray">
    <div class="container">
      <img class="case-block-text-quote-icon" src="images/wedding/quote.svg" data-sr="enter top, move 75px">
      <p class="case-block-text-quote align-center">&ldquo;Brave&rsquo;s partnership provided our team with a fresh perspective and valuable support to further elevate the WeddingWire mobile apps and mobile UX. Their understanding of UX is absolutely first-class.&rdquo;</p>
      <p class="case-block-text-citation align-center">Sonny Ganguly, <em>Wedding Wire CMO</em></p>
    </div>
  </section><!-- END case-block -->

  <section class="cta">
    <div class="container">
      <p class="cta-text">Sometimes, you find something that just works.</p>
      <a class="cta-link" href="/approach.html">See Our Approach<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
