<% include partials/header %>

<div class="wrapper">
  <% include partials/menu %>

  <header>
    <div class="container">
      <h1 class="page-heading">Work</h1>
      <h2 class="page-subheading">A few projects we&rsquo;ve been lucky to work on.</h2>
    </div>
  </header>

  <main class="work">

  </main><!-- END work -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>