<% include partials/header %>

<% include partials/menu %>

<div class="wrapper work">
  <header>
    <div class="container">
      <div class="overlay-relative">
        <div class="can-overlay can-overlay-work">
          <h1 class="page-heading">Work</h1>
          <h2 class="page-subheading">Looking for something creative, intuitive, beautiful, and functional?</h2>
        </div>

        <div class="overlay-content overlay-work-just">
          <p class="overlay-header">Just our type.</p>
          <p class="overlay-text">We use Source Sans for headlines: large lowercase characters tend to communicate with clarity and emphasis at larger sizes. We use Sentinel for body copy: a highly legible typeface featuring a smaller x-height and increased ascenders/descenders.</p>
          <p class="overlay-footer"><a href="https://www.fonts.com/content/learning/fontology/level-1/type-anatomy/x-height">1. Source</a></p>
        </div>
      </div>
    </div>
  </header>

  <section class="work-landing felix">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Wellness Application</p>
      <p class="work-rollover-client-name">US Dept of Health and Human Services</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing half-landing fieldone">
    <div class="overlay-content overlay-work-taking">
      <p class="overlay-header">Taking stock of stock photography</p>
      <p class="overlay-text">We avoid using overly posed stock photography on our site because users have learned to ignore that kind of visual bloat. (PS - Be real. Some people look a little too happy shaking hands in a conference room, don&rsquo;t you think?)</p>
      <p class="overlay-footer"><a href="http://www.nngroup.com/articles/photos-as-web-content/">1. Source</a></p>
    </div>

    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Asset Management Application</p>
      <p class="work-rollover-client-name">FieldOne</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing half-landing character">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Visual Identity System</p>
      <p class="work-rollover-client-name">Character.org</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing half-landing wedding">
    <div class="overlay-content overlay-work-dismount">
      <p class="overlay-header">Dismount the carousel.</p>
      <p class="overlay-text">We don&rsquo;t bother with a carousel that requires you to click through sliders or wait to see more. In this context, letting you scroll at your own pace takes less time and increases your comprehension.</p>
      <p class="overlay-footer"><a href="http://usabilitynews.org/the-impact-of-paging-vs-scrolling-on-reading-online-text-passages/">1. Source</a></p>
    </div>

    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Unified Application Experience</p>
      <p class="work-rollover-client-name">WeddingWire</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing half-landing obesity">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Interactive Data Visualization</p>
      <p class="work-rollover-client-name">State of Obesity</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="cta">
    <div class="container">
      <p class="cta-text">Sometimes, you find something that just works.</p>
      <a class="cta-link" href="/approach.html">See Our Approach<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
