<% include partials/header %>

<% include partials/menu %>

<div class="wrapper work">
  <header>
    <div class="container">
      <h1 class="page-heading">Work</h1>
      <h2 class="page-subheading">Looking for something creative, intuitive, beautiful, and functional?</h2>
    </div>
  </header>

  <section class="work-landing felix">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Wellness Application</p>
      <p class="work-rollover-client-name">US Dept of Health and Human Services</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing half-landing fieldone">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Asset Management Application</p>
      <p class="work-rollover-client-name">FieldOne</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing half-landing character">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Visual Identity System</p>
      <p class="work-rollover-client-name">Character.org</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing half-landing wedding">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Unified Application Experience</p>
      <p class="work-rollover-client-name">WeddingWire</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing half-landing obesity">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Interactive Data Visualization</p>
      <p class="work-rollover-client-name">State of Obesity</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="cta">
    <div class="container">
      <p class="cta-text">Sometimes, you find something that just works.</p>
      <a class="cta-link" href="/approach.html">See Our Approach<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>
