<% include partials/header %>

<% include partials/menu %>

<div class="wrapper work">
  <header>
    <div class="container">
      <h1 class="page-heading">Work</h1>
      <h2 class="page-subheading">Looking for something creative, intuitive, beautiful, and functional?</h2>
    </div>
  </header>

  <section class="work-landing is-felix col full">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Felix Wellness Portal</p>
      <p class="work-rollover-client-name">US Dept of Health and Human Services</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing is-character col one-half">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Annual Conference</p>
      <p class="work-rollover-client-name">Character.org</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing is-fieldone col one-half">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">FieldOne Sky</p>
      <p class="work-rollover-client-name">FieldOne Solutions</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing is-obesity col one-half">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">F as in Fat 2014</p>
      <p class="work-rollover-client-name">State of Obesity</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="work-landing is-dtd col one-half">
    <a class="work-rollover" href="#">
      <p class="work-rollover-project-name">Assorted Events</p>
      <p class="work-rollover-client-name">Drink the District</p>
      <p class="work-rollover-cta">See case <img class="work-rollover-cta-icon" src="images/icons/icon-work-cta.svg"></p>
    </a>
  </section>

  <section class="cta">
    <div class="container">
      <p class="cta-text">Sometimes, you find something that just works.</p>
      <a class="cta-link" href="/approach.html">See Our Approach.<img class="cta-icon" src="images/icons/icon-cta.svg"></a>
    </div>
  </section><!-- END cta -->

  <% include partials/footer %>
</div><!-- END wrapper -->

<% include partials/closer %>