<footer class="footer">
    <div class="container">
      <div class="footer-content row wrap">
        <div class="footer-logo-box column  clear-gutter-xl">
          <a class="footer-logo" href="/">Brave UX</a>
        </div>
        <div class="footer-box column">
          <p class="footer-heading">Get In Touch</p>
          <a href="mailto:team@braveux.com" class="footer-link email">team@braveux.com</a>
        </div>
        <div class="footer-box column">
          <p class="footer-heading">Follow Us</p>
          <div class="footer-social-box row wrap">
            <a href="https://twitter.com/brave_ux" class="footer-social-link twitter" target="_blank">Twitter</a>
            <a href="https://www.facebook.com/braveux" class="footer-social-link facebook" target="_blank">FaceBook</a>
            <a href="https://www.linkedin.com/company/brave-ux" class="footer-social-link linkedin" target="_blank">LinkedIn</a>
            <a href="https://dribbble.com/braveux" class="footer-social-link dribble" target="_blank">Dribble</a>
            <a href="https://github.com/braveux" class="footer-social-link github" target="_blank">GitHub</a>
          </div>
        </div>
        <div class="footer-box column">
          <p class="footer-heading">Our Products</p>
          <a href="https://fightforux.com/" class="footer-link" target="_blank">Fight For UX</a>
          <a href="/bravery" class="footer-link" target="_blank">Bravery</a>
          <a href="https://compass.is" class="footer-link" target="_blank">Compass</a>
          <a href="https://forthebadge.com/" class="footer-link" target="_blank">For the Badge</a>
        </div>
      </div>
      <div class="footer-content row center">
        <div class="footer-box column gutter-quarter auto-xs absolute-center-xs">
          <p class="footer-text">
            &copy;
            <span class="footer-copyright">
              <script>document.write(new Date().getFullYear());</script>
              <noscript>2017</noscript>
            </span>
            &nbsp;Brave UX. All Rights Reserved.
          </p>
        </div>
        <div class="footer-box column gutter-quarter auto-xs absolute-center-xs">
          <button class="footer-stars">&#9733;</button>
        </div>
        <div class="footer-box column gutter-quarter auto-xs absolute-center-xs">
          <p class="footer-text">Proudly made in our Nation's Capital.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
