<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 476 410">
    <defs>
        <linearGradient id="GaugeGradient" x1="379.2" y1="401.97" x2="378.2" y2="401.97" gradientTransform="matrix(476, 0, 0, -238, -180025, 95788)"
            gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fd9724" />
            <stop offset="1" stop-color="#fd9724" stop-opacity="0.18" />
        </linearGradient>
        <filter id="NeedleShadow" height="200%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
            <feOffset dx="0" dy="0" result="offsetblur" />
            <feComponentTransfer>
                <feFuncA type="linear" slope="0.2" />
            </feComponentTransfer>
            <feMerge>
                <feMergeNode/>
                <feMergeNode in="SourceGraphic" />
            </feMerge>
        </filter>
        <filter id="GaugeShadow" x="-50%" y="-50%" width="200%" height="200%">
            <feOffset result="offOut" in="SourceGraphic" dx="0" dy="7" />
            <feColorMatrix result="matrixOut" in="offOut" type="matrix" values="0.2 0 0 0 0 0 0.2 0 0 0 0 0 0.2 0 0 0 0 0 1 0" />
            <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="10" />
            <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
        </filter>
        <filter id="GaugeTickShadow" x="-20%" y="-20%" width="200%" height="200%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
            <feOffset dx="0" dy="0" result="offsetblur" />
            <feComponentTransfer>
                <feFuncA type="linear" slope="0.2" />
            </feComponentTransfer>
            <feMerge>
                <feMergeNode/>
                <feMergeNode in="SourceGraphic" />
            </feMerge>
        </filter>
    </defs>
    <title>number-guage-animate</title>
    <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
            <path d="M461,321.47a3.47,3.47,0,0,1,3.48,3.47v78.11a3.47,3.47,0,0,1-3.48,3.47H16a3.47,3.47,0,0,1-3.48-3.47V324.94A3.47,3.47,0,0,1,16,321.47Zm0-3.47H16a7,7,0,0,0-7,6.94v78.11A7,7,0,0,0,16,410H461a7,7,0,0,0,7-6.94V324.94A7,7,0,0,0,461,318Z"
                style="fill: #fff" />
            <path d="M461,321.47a3.47,3.47,0,0,1,3.48,3.47v78.11a3.47,3.47,0,0,1-3.48,3.47H16a3.47,3.47,0,0,1-3.48-3.47V324.94A3.47,3.47,0,0,1,16,321.47Z"
                style="fill-opacity: 0.6190000176429749" />
            <rect x="84" y="318" width="3" height="92" style="fill: #f7f7f7" />
            <rect x="160" y="318" width="3" height="92" style="fill: #f7f7f7" />
            <rect x="236" y="318" width="3" height="92" style="fill: #f7f7f7" />
            <rect x="388" y="318" width="3" height="92" style="fill: #f7f7f7" />
            <rect x="312" y="318" width="3" height="92" style="fill: #f7f7f7" />
            <path d="M42,354.72a2.48,2.48,0,0,1,1-1.92l4.82-6.11a1.8,1.8,0,0,1,1.33-.7,2.26,2.26,0,0,1,1.33.52,1.43,1.43,0,0,1,.5,1.22v37.51a1.41,1.41,0,0,1-.66,1.22l-1.66.52-1.5-.35a1.41,1.41,0,0,1-.66-1.22V353l-1.83,3.14a1.56,1.56,0,0,1-2.33,0A2,2,0,0,1,42,354.72Zm68,22.22a1.73,1.73,0,0,1,.5-1.71,1.71,1.71,0,0,1,1.74-.36,2.91,2.91,0,0,1,1.89.52,1.73,1.73,0,0,1,.52,1.38,5.2,5.2,0,0,0,1.72,3.8,7.72,7.72,0,0,0,5.51,1.73q7.4,0,7.4-7.61v-1q0-6.74-7.4-6.74-1.55,0-1.55-1.9t1.55-1.9a6.86,6.86,0,0,0,4.82-1.38,6.76,6.76,0,0,0,1.55-5.19q0-6.4-6.19-6.4a6.69,6.69,0,0,0-5,1.56,5.55,5.55,0,0,0-1.38,3.8q0,2.07-2.24,2.07a1.89,1.89,0,0,1-2-.45,1.91,1.91,0,0,1-.45-2,8.16,8.16,0,0,1,.52-2.77,9.34,9.34,0,0,1,1.72-2.94,7.74,7.74,0,0,1,3.44-2.42,14.39,14.39,0,0,1,5.51-1q10.5,0,10.5,9.85a13.36,13.36,0,0,1-1.2,5.88,7.25,7.25,0,0,1-3.27,3.46A8.64,8.64,0,0,1,134,374v1q0,6.05-3.27,9a12.86,12.86,0,0,1-8.77,2.94,12,12,0,0,1-8.77-2.94A8.66,8.66,0,0,1,110.06,376.94Zm76-1.59a1.91,1.91,0,0,1,.35-1L200,347.39a2.27,2.27,0,0,1,2.09-1.39,2.62,2.62,0,0,1,1.57.52,1.56,1.56,0,0,1,.7,1.39,1.91,1.91,0,0,1-.17.87L192,372.92h9.76v-9.38a1.39,1.39,0,0,1,.7-1.22L204,362l1.57.52a1.39,1.39,0,0,1,.7,1.22v9.38h3a1.57,1.57,0,0,1,1.22.69,3,3,0,0,1,.52,1.56,2.6,2.6,0,0,1-.52,1.56,1.57,1.57,0,0,1-1.22.69h-3v7.64a1.39,1.39,0,0,1-.7,1.22L204,387a3,3,0,0,1-1.57-.35,1.39,1.39,0,0,1-.7-1.22v-7.64H187.82a1.75,1.75,0,0,1-1.22-.52A1.91,1.91,0,0,1,186.07,375.36Zm77,1.59a1.73,1.73,0,0,1,.5-1.71,1.71,1.71,0,0,1,1.74-.36,2.91,2.91,0,0,1,1.89.52,1.73,1.73,0,0,1,.52,1.38,5.2,5.2,0,0,0,1.72,3.8,7.72,7.72,0,0,0,5.51,1.73q7.4,0,7.4-7.61v-1q0-6.74-7.4-6.74-1.55,0-1.55-1.9t1.55-1.9a6.86,6.86,0,0,0,4.82-1.38,6.76,6.76,0,0,0,1.55-5.19q0-6.4-6.19-6.4a6.69,6.69,0,0,0-5,1.56,5.55,5.55,0,0,0-1.38,3.8q0,2.07-2.24,2.07a1.89,1.89,0,0,1-2-.45,1.91,1.91,0,0,1-.45-2,8.16,8.16,0,0,1,.52-2.77,9.34,9.34,0,0,1,1.72-2.94,7.74,7.74,0,0,1,3.44-2.42,14.39,14.39,0,0,1,5.51-1q10.5,0,10.5,9.85a13.36,13.36,0,0,1-1.2,5.88,7.25,7.25,0,0,1-3.27,3.46A8.64,8.64,0,0,1,287,374v1q0,6.05-3.27,9a12.86,12.86,0,0,1-8.77,2.94,12,12,0,0,1-8.77-2.94A8.66,8.66,0,0,1,263.06,376.94Zm152-23.71V339.77a8.45,8.45,0,0,1,3.29-7.43,17.23,17.23,0,0,1,17.34,0,8.45,8.45,0,0,1,3.29,7.43v13.47a8.27,8.27,0,0,1-3.29,7.43,17.23,17.23,0,0,1-17.34,0A8.45,8.45,0,0,1,415,353.23Zm4.68,0q0,6.22,7.28,6.22a8.35,8.35,0,0,0,5.38-1.55,5.69,5.69,0,0,0,1.91-4.66V339.77a5.69,5.69,0,0,0-1.91-4.66,8.18,8.18,0,0,0-5.38-1.55q-7.28,0-7.28,6.39ZM341,389.77v-4.89a6.77,6.77,0,0,1,1.94-4.54,22,22,0,0,1,4.76-4l5.47-3.67a22.53,22.53,0,0,0,4.76-4,6.77,6.77,0,0,0,1.94-4.54,5.9,5.9,0,0,0-1.76-4.19,6.93,6.93,0,0,0-5.12-1.75,7.29,7.29,0,0,0-4.59,1.4,5,5,0,0,0-1.76,4,1.4,1.4,0,0,1-.71,1,2.85,2.85,0,0,1-1.76.52q-2.12,0-2.12-2.44a7.48,7.48,0,0,1,3.18-6.28,13.71,13.71,0,0,1,16.06.35,8.87,8.87,0,0,1,3.35,7,9.35,9.35,0,0,1-1.41,4.89,13.14,13.14,0,0,1-3.53,4L355.29,376l-4.59,2.79a16,16,0,0,0-3.35,2.79,4.35,4.35,0,0,0-1.41,3v2.62h17.29a1.42,1.42,0,0,1,1.24.52,2.11,2.11,0,0,1,0,2.79,1.42,1.42,0,0,1-1.24.52H343.12l-1.41-.52A1.23,1.23,0,0,1,341,389.77Z"
                style="fill: #fff" />
            <path d="M471.66,238a4.34,4.34,0,0,1-4.17-4.17C465.06,109.27,363.08,8.51,238,8.51S10.77,109.27,8.51,233.83A4.34,4.34,0,0,1,4.34,238,4.34,4.34,0,0,1,0,233.66C2.26,104.41,108.23,0,238,0S473.57,104.41,476,233.66A4.34,4.34,0,0,1,471.66,238Z"
                style="opacity: 0.8149999976158142;isolation: isolate;fill: url(./work/hurdlr#GaugeGradient)" filter="url(./work/hurdlr#GaugeSshadow)"
            />
            <path d="M50.71,188.94,35.1,185a1.56,1.56,0,0,1-1-1.91v-.35a1.56,1.56,0,0,1,1.91-1L51.58,186a1.54,1.54,0,1,1-.87,2.95Zm371.66-1.21a1.56,1.56,0,0,1,1-1.91L439,181.49a1.56,1.56,0,0,1,1.91,1v.35a1.56,1.56,0,0,1-1,1.91l-15.62,4a1.56,1.56,0,0,1-1.74-1ZM69.63,142.34l-14.05-8a1.56,1.56,0,0,1-.52-2.08v-.35a1.56,1.56,0,0,1,2.08-.52L71,139.57a1.56,1.56,0,0,1-1.39,2.77Zm333.66-.69a1.56,1.56,0,0,1,.52-2.08l13.88-8.14a1.56,1.56,0,0,1,2.08.52h.17a1.56,1.56,0,0,1-.52,2.08l-14.05,8A1.56,1.56,0,0,1,403.29,141.65ZM139.73,71.13l-8.16-13.86a1.56,1.56,0,0,1,.52-2.08h.35a1.56,1.56,0,0,1,2.08.52l8,14a1.55,1.55,0,1,1-2.78,1.39Zm193.47.52a1.56,1.56,0,0,1-.52-2.08l8-14a1.56,1.56,0,0,1,2.08-.52h.35a1.56,1.56,0,0,1,.52,2.08L335.45,71a1.56,1.56,0,0,1-2.26.69ZM186.05,51.56,181.72,36a1.56,1.56,0,0,1,1-1.91h.35a1.56,1.56,0,0,1,1.91,1l4,15.59a1.54,1.54,0,0,1-2.95.87Zm101,1a1.56,1.56,0,0,1-1-1.91l4-15.59a1.56,1.56,0,0,1,1.91-1h.35a1.56,1.56,0,0,1,1,1.91l-4.34,15.59A1.56,1.56,0,0,1,287,52.59Z"
                style="fill: #fff" filter="url(./work/hurdlr#GaugeTickShadow)" />
            <rect x="235" y="24" width="3" height="38" rx="0.9" ry="0.9" style="fill: #fff" filter="url(./work/hurdlr#GaugeTickShadow)"
            />
            <rect x="98" y="83" width="3" height="38" rx="0.9" ry="0.9" transform="translate(-42.98 100.23) rotate(-45)" style="fill: #fff"
                filter="url(./work/hurdlr#GaugeTickShadow)" />
            <rect x="353" y="98" width="38" height="3" rx="0.9" ry="0.9" transform="translate(38.6 292.19) rotate(-45)" style="fill: #fff"
                filter="url(./work/hurdlr#GaugeTickShadow)" />
            <path id="needle" filter="url(./work/hurdlr#NeedleShadow)" d="M28.16,238.94,234,246.88a.94.94,0,0,0,1-.94V230.05a.94.94,0,0,0-1-.94L28.16,   237.06A.94.94,0,0,0,28.16,238.94Z"
                style="fill: #fff" />
            <path d="M236.5,265A28.5,28.5,0,1,1,265,236.5,28.5,28.5,0,0,1,236.5,265Z" style="fill: #5aae46" />
            <path d="M226.14,249.93l2.67-3.28a.55.55,0,0,1,.71,0,12.28,12.28,0,0,0,6.4,2.59v-10c-5.69-.86-9.06-4.31-9.06-9.31a9.59,9.59,0,0,1,9.06-9.83v-2.59a.53.53,0,0,1,.53-.52h1.78a.53.53,0,0,1,.53.52v2.59a16.68,16.68,0,0,1,7.64,2.59.51.51,0,0,1,.18.69l-2.31,3.28a.54.54,0,0,1-.71.17,12.68,12.68,0,0,0-4.8-1.72v9.48c6,1,9.24,4.31,9.24,9.31a9.77,9.77,0,0,1-9.24,10v2.59a.51.51,0,0,1-.16.37.54.54,0,0,1-.38.15h-2a.54.54,0,0,1-.38-.15.51.51,0,0,1-.16-.37v-2.41a16.65,16.65,0,0,1-9.6-3.45A.51.51,0,0,1,226.14,249.93Zm9.77-24.83a4.34,4.34,0,0,0-3.73,4.48,4.18,4.18,0,0,0,3.73,4.31Zm6.75,19c0-1.9-.89-3.45-3.73-4.31v9.31a4.67,4.67,0,0,0,3.55-4.83Z"
                style="fill: #fff" />
        </g>
    </g>
</svg>