<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 600" class="mhg-graph">
  <title>graph-outline</title>
  <style>
    .mhg-graph {
      margin-left: -2px;
    }

    .graph-top {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      transform-box: fill-box;
      -webkit-transform-origin: center;
      transform-origin: center;
    }
  </style>
  <g>
    <rect x="1.25" width="1440" height="600" style="fill:#002f43" />
    <rect y="307" width="1440" height="293" style="fill:#024662;opacity:0.4000000059604645;isolation:isolate" />

    <!-- Bar 1 -->
    <g>
      <rect x="18" y="132" width="32" height="173" style="fill:#2a47ac" class="graph-top" />
      <rect x="18" y="309" width="32" height="18" style="fill:#7e9fff" class="graph-bottom" />
      <g class="num-top">
        <path d="M33.25,115.88a2,2,0,0,1-.94,1.66,2.09,2.09,0,0,1,1.18,2,2.64,2.64,0,0,1-2.88,2.61,2.64,2.64,0,0,1-2.88-2.61,2.09,2.09,0,0,1,1.18-2,2,2,0,0,1-.94-1.66,2.42,2.42,0,0,1,2.64-2.42A2.42,2.42,0,0,1,33.25,115.88ZM32,119.51a1.43,1.43,0,0,0-2.85,0,1.43,1.43,0,0,0,2.85,0Zm-1.43-4.73a1.12,1.12,0,1,0,1.21,1.12A1.12,1.12,0,0,0,30.61,114.78Z"
          style="fill:#f5f5f5" />
        <path d="M37.29,116.5a1.51,1.51,0,0,1,.29,0,2.78,2.78,0,0,1,2.84,2.84,2.94,2.94,0,0,1-5.88,0,3.71,3.71,0,0,1,.47-1.74c.13-.24,2.64-4.37,2.64-4.37l1.2.74ZM36,119.3a1.49,1.49,0,1,0,1.49-1.5A1.44,1.44,0,0,0,36,119.3Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M31.42,337.1h1.19v8.4H31.17V339l-1.48,1.18-.83-1.06Z" style="fill:#f5f5f5" />
        <path d="M36.75,337.1h1.19v8.4H36.49V339L35,340.2l-.83-1.06Z" style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 2 -->
    <g>
      <rect x="90" y="192" width="32" height="113" style="fill:#98226c" class="graph-top" />
      <rect x="90" y="309" width="32" height="53" style="fill:#efb4fe" class="graph-bottom" />
      <g class="num-top">
        <path d="M102.9,376.59a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7v1.37H99.82Z"
          style="fill:#f5f5f5" />
        <path d="M109.56,376.59a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49H112v1.37h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M102.5,176.5a1.51,1.51,0,0,1,.29,0,2.78,2.78,0,0,1,2.84,2.84,2.94,2.94,0,0,1-5.88,0,3.71,3.71,0,0,1,.47-1.74c.13-.24,2.64-4.37,2.64-4.37l1.2.74Zm-1.3,2.81a1.49,1.49,0,1,0,1.49-1.5A1.44,1.44,0,0,0,101.21,179.3Z"
          style="fill:#f5f5f5" />
        <path d="M109.62,178.09a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.47,3.47,0,0,1-.73,2.06l-1.93,2.49h2.7V182h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 3 -->
    <g>

      <rect x="162" y="167" width="32" height="138" style="fill:#f9a000" class="graph-top" />
      <rect x="162" y="309" width="32" height="89" style="fill:#ffdf7c" class="graph-bottom" />
      <g class="num-top">
        <path d="M171.75,148.6h6l-4.5,8.68-1.22-.64,3.45-6.68h-3.73Z" style="fill:#f5f5f5" />
        <path d="M184.2,152.8c0,2.28-1,4.34-3.14,4.34s-3.17-2.06-3.17-4.34,1-4.34,3.17-4.34S184.2,150.52,184.2,152.8Zm-1.44,0c0-1.64-.54-3-1.7-3s-1.73,1.36-1.73,3,.56,3,1.73,3S182.76,154.45,182.76,152.8Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M175.21,408.15h1.61v5.23h.92v1.34h-.92v1.82h-1.44v-1.82h-4.44Zm.19,5.23v-3.25l-2.11,3.25Z" style="fill:#f5f5f5"
        />
        <path d="M184.2,410.42a2,2,0,0,1-.94,1.66,2.09,2.09,0,0,1,1.18,2,2.89,2.89,0,0,1-5.76,0,2.09,2.09,0,0,1,1.18-2,2,2,0,0,1-.94-1.66,2.65,2.65,0,0,1,5.28,0ZM183,414a1.43,1.43,0,0,0-2.85,0,1.43,1.43,0,0,0,2.85,0Zm-1.43-4.73a1.12,1.12,0,1,0,1.21,1.12A1.12,1.12,0,0,0,181.56,409.32Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 4 -->
    <g>
      <rect x="234" y="99" width="32" height="206" style="fill:#17575d" class="graph-top" />
      <rect x="234" y="309" width="32" height="13" style="fill:#63d2cd" class="graph-bottom" />
      <g class="num-top">
        <path d="M249.31,82.88a2,2,0,0,1-.94,1.66,2.09,2.09,0,0,1,1.17,2,2.89,2.89,0,0,1-5.76,0,2.09,2.09,0,0,1,1.18-2,2,2,0,0,1-.94-1.66,2.65,2.65,0,0,1,5.28,0Zm-1.21,3.62a1.43,1.43,0,0,0-2.85,0,1.43,1.43,0,0,0,2.85,0Zm-1.43-4.73a1.12,1.12,0,1,0,1.21,1.12A1.12,1.12,0,0,0,246.67,81.78Z"
          style="fill:#f5f5f5" />
        <path d="M253.69,85.09a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7V89h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M249.83,335.16a1.51,1.51,0,0,1,.29,0A2.78,2.78,0,0,1,253,338a2.94,2.94,0,0,1-5.88,0,3.71,3.71,0,0,1,.47-1.74c.13-.24,2.64-4.37,2.64-4.37l1.2.74Zm-1.3,2.81a1.49,1.49,0,1,0,1.49-1.5A1.44,1.44,0,0,0,248.53,338Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 5 -->
    <g>
      <rect x="310" y="192" width="32" height="113" style="fill:#2a47ac" class="graph-top" />
      <rect x="310" y="309" width="32" height="144" style="fill:#7e9fff" class="graph-bottom" />
      <g class="num-top">
        <path d="M322.9,178.09a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.47,3.47,0,0,1-.73,2.06l-1.93,2.49h2.7V182h-5.53Z"
          style="fill:#f5f5f5" />
        <path d="M329.56,178.09a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.47,3.47,0,0,1-.73,2.06l-1.93,2.49H332V182h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M322.85,467.84a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7v1.37h-5.53Z"
          style="fill:#f5f5f5" />
        <path d="M329.16,466.25a1.51,1.51,0,0,1,.29,0,2.78,2.78,0,0,1,2.84,2.84,2.94,2.94,0,0,1-5.88,0,3.71,3.71,0,0,1,.47-1.74c.13-.24,2.64-4.37,2.64-4.37l1.2.74Zm-1.3,2.81a1.49,1.49,0,1,0,1.49-1.5A1.44,1.44,0,0,0,327.87,469.05Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 6 -->
    <g>
      <rect x="382" y="241" width="32" height="64" style="fill:#98226c" class="graph-top" />
      <rect x="382" y="309" width="32" height="113" style="fill:#efb4fe" class="graph-bottom" />
      <g class="num-top">
        <path d="M394.62,223.8a1.54,1.54,0,0,0-1.43,1l-1.25-.59a2.87,2.87,0,0,1,2.67-1.78,2.5,2.5,0,0,1,2.71,2.52,2.11,2.11,0,0,1-1,1.76,1.84,1.84,0,0,1,1.24,1.92c0,1.52-1.27,2.48-2.9,2.48a3,3,0,0,1-2.94-1.94l1.18-.68a1.85,1.85,0,0,0,1.76,1.28c.91,0,1.46-.49,1.46-1.14,0-.89-.77-1.19-1.52-1.19H394v-1.32h.46c.88,0,1.45-.32,1.45-1.18A1.18,1.18,0,0,0,394.62,223.8Z"
          style="fill:#f5f5f5" />
        <path d="M401.65,227.09a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7V231h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M394.19,435.25a1.51,1.51,0,0,1,.29,0,2.78,2.78,0,0,1,2.84,2.84,2.94,2.94,0,0,1-5.88,0,3.71,3.71,0,0,1,.47-1.74c.13-.24,2.64-4.37,2.64-4.37l1.2.74Zm-1.3,2.81a1.49,1.49,0,1,0,1.49-1.5A1.44,1.44,0,0,0,392.9,438.05Z"
          style="fill:#f5f5f5" />
        <path d="M404.54,436.55c0,2.28-1,4.34-3.14,4.34s-3.17-2.06-3.17-4.34,1-4.34,3.17-4.34S404.54,434.27,404.54,436.55Zm-1.44,0c0-1.64-.54-3-1.7-3s-1.73,1.36-1.73,3,.56,3,1.73,3S403.1,438.2,403.1,436.55Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 7 -->
    <g>
      <rect x="454" y="281" width="32" height="24" style="fill:#f9a000" class="graph-top" />
      <rect x="454" y="309" width="32" height="79" style="fill:#ffdf7c" class="graph-bottom" />
      <g class="num-top">
        <path d="M466.45,262.6h1.19V271h-1.44v-6.48l-1.48,1.18-.83-1.06Z" style="fill:#f5f5f5" />
        <path d="M475.82,266.8c0,2.28-1,4.34-3.14,4.34s-3.17-2.06-3.17-4.34,1-4.34,3.17-4.34S475.82,264.52,475.82,266.8Zm-1.44,0c0-1.64-.54-3-1.7-3s-1.73,1.36-1.73,3,.56,3,1.73,3S474.38,268.45,474.38,266.8Z"
          style="fill:#f5f5f5" />
        <path d="M466.49,399.55a1.54,1.54,0,0,0-1.43,1l-1.25-.59a2.87,2.87,0,0,1,2.67-1.78,2.5,2.5,0,0,1,2.71,2.52,2.11,2.11,0,0,1-1,1.76,1.84,1.84,0,0,1,1.24,1.92c0,1.52-1.27,2.48-2.9,2.48a3,3,0,0,1-2.94-1.94l1.18-.68a1.85,1.85,0,0,0,1.76,1.28c.91,0,1.46-.49,1.46-1.14,0-.89-.77-1.19-1.52-1.19h-.6v-1.32h.46c.88,0,1.45-.32,1.45-1.18A1.18,1.18,0,0,0,466.49,399.55Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M476.06,400.63a2,2,0,0,1-.94,1.66,2.09,2.09,0,0,1,1.18,2,2.89,2.89,0,0,1-5.76,0,2.09,2.09,0,0,1,1.18-2,2,2,0,0,1-.94-1.66,2.65,2.65,0,0,1,5.28,0Zm-1.21,3.62a1.43,1.43,0,0,0-2.85,0,1.43,1.43,0,0,0,2.85,0Zm-1.43-4.73a1.12,1.12,0,1,0,1.21,1.12A1.12,1.12,0,0,0,473.42,399.53Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 8 -->
    <g>
      <rect x="526" y="226" width="32" height="79" style="fill:#17575d" class="graph-top" />
      <rect x="526" y="309" width="32" height="100" style="fill:#63d2cd" class="graph-bottom" />
      <g class="num-top">
        <path d="M539,207.6h1.61v5.23h.92v1.34h-.92V216H539.2v-1.82h-4.44Zm.19,5.23v-3.25l-2.11,3.25Z" style="fill:#f5f5f5" />
        <path d="M548.71,211.8c0,2.28-1,4.34-3.14,4.34s-3.17-2.06-3.17-4.34,1-4.34,3.17-4.34S548.71,209.52,548.71,211.8Zm-1.44,0c0-1.64-.54-3-1.7-3s-1.73,1.36-1.73,3,.56,3,1.73,3S547.27,213.45,547.27,211.8Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M539.11,419.35h1.61v5.23h.92v1.34h-.92v1.82h-1.44v-1.82h-4.44Zm.19,5.23v-3.25l-2.11,3.25Z" style="fill:#f5f5f5"
        />
        <path d="M546.22,419.35h1.61v5.23h.92v1.34h-.92v1.82h-1.44v-1.82H542Zm.19,5.23v-3.25l-2.11,3.25Z" style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 9 -->
    <g>
      <rect x="597" y="251" width="32" height="54" style="fill:#2a47ac" class="graph-top" />
      <rect x="597" y="309" width="32" height="190" style="fill:#7e9fff" class="graph-bottom" />
      <g class="num-top">
        <path d="M609.63,232.6h1.19V241h-1.44v-6.48l-1.48,1.18-.83-1.06Z" style="fill:#f5f5f5" />
        <path d="M618.3,234.88a2,2,0,0,1-.94,1.66,2.09,2.09,0,0,1,1.18,2,2.89,2.89,0,0,1-5.76,0,2.09,2.09,0,0,1,1.18-2,2,2,0,0,1-.94-1.66,2.65,2.65,0,0,1,5.28,0Zm-1.21,3.62a1.43,1.43,0,0,0-2.85,0,1.43,1.43,0,0,0,2.85,0Zm-1.43-4.73a1.12,1.12,0,1,0,1.21,1.12A1.12,1.12,0,0,0,615.66,233.78Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M606.95,509.35h6l-4.5,8.68-1.22-.64,3.45-6.68h-3.73Z" style="fill:#f5f5f5" />
        <path d="M616.39,513.84a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7v1.37h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 10 -->
    <g>

      <rect x="669" y="97" width="32" height="208" style="fill:#98226c" class="graph-top" />
      <rect x="669" y="309" width="32" height="53" style="fill:#efb4fe" class="graph-bottom" />
      <g class="num-top">
        <path d="M681.53,84.11a1.52,1.52,0,0,1-.29,0,2.83,2.83,0,0,1-2.84-2.84,2.94,2.94,0,0,1,5.88,0A3.75,3.75,0,0,1,683.8,83c-.13.24-2.6,4.32-2.6,4.32l-1.2-.74Zm1.29-2.81a1.49,1.49,0,1,0-1.49,1.5A1.44,1.44,0,0,0,682.83,81.3Z"
          style="fill:#f5f5f5" />
        <path d="M691.54,82.8c0,2.28-1,4.34-3.14,4.34s-3.17-2.06-3.17-4.34,1-4.34,3.17-4.34S691.54,80.52,691.54,82.8Zm-1.44,0c0-1.64-.54-3-1.7-3s-1.73,1.36-1.73,3,.56,3,1.73,3S690.1,84.45,690.1,82.8Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M681.9,376.84a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7v1.37h-5.53Z"
          style="fill:#f5f5f5" />
        <path d="M688.56,376.84a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49H691v1.37h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 11 -->
    <g>
      <rect x="741" y="237" width="32" height="68" style="fill:#f9a000" class="graph-top" />
      <rect x="741" y="309" width="32" height="89" style="fill:#ffdf7c" class="graph-bottom" />
      <g class="num-top">
        <path d="M754.21,218.6h1.61v5.23h.92v1.34h-.92V227h-1.44v-1.82h-4.44Zm.19,5.23v-3.25l-2.11,3.25Z" style="fill:#f5f5f5" />
        <path d="M763.2,220.88a2,2,0,0,1-.94,1.66,2.09,2.09,0,0,1,1.17,2,2.89,2.89,0,0,1-5.76,0,2.09,2.09,0,0,1,1.18-2,2,2,0,0,1-.94-1.66,2.65,2.65,0,0,1,5.28,0ZM762,224.51a1.43,1.43,0,0,0-2.85,0,1.43,1.43,0,0,0,2.85,0Zm-1.43-4.73a1.12,1.12,0,1,0,1.21,1.12A1.12,1.12,0,0,0,760.56,219.78Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M753.67,416.89a3.16,3.16,0,0,1-2.94-1.94l1.2-.68a1.92,1.92,0,0,0,1.74,1.28,1.47,1.47,0,0,0,1.54-1.56c0-.9-.54-1.56-1.79-1.56a4.12,4.12,0,0,0-2.25.91v-5h5.28v1.37h-3.84v1.64a2.88,2.88,0,0,1,4.05,2.63A2.84,2.84,0,0,1,753.67,416.89Z"
          style="fill:#f5f5f5" />
        <path d="M760.74,412.84a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.29,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.89,2.89,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.62,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7v1.37h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 12 -->
    <g>
      <rect x="813" y="241" width="32" height="64" style="fill:#17575d" class="graph-top" />
      <rect x="813" y="309" width="32" height="13" style="fill:#63d2cd" class="graph-bottom" />
      <g class="num-top">
        <path d="M825.84,223.8a1.54,1.54,0,0,0-1.43,1l-1.25-.59a2.87,2.87,0,0,1,2.67-1.78,2.5,2.5,0,0,1,2.71,2.52,2.11,2.11,0,0,1-1,1.76,1.84,1.84,0,0,1,1.24,1.92c0,1.52-1.27,2.48-2.9,2.48a3,3,0,0,1-2.94-1.94l1.17-.68a1.85,1.85,0,0,0,1.76,1.28c.91,0,1.46-.49,1.46-1.14,0-.89-.77-1.19-1.52-1.19h-.6v-1.32h.46c.88,0,1.45-.32,1.45-1.18A1.18,1.18,0,0,0,825.84,223.8Z"
          style="fill:#f5f5f5" />
        <path d="M833.53,222.6h1.61v5.23h.92v1.34h-.92V231H833.7v-1.82h-4.44Zm.19,5.23v-3.25l-2.11,3.25Z" style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M826.2,332.35h1.19v8.4h-1.44v-6.48l-1.48,1.18-.83-1.06Z" style="fill:#f5f5f5" />
        <path d="M832.34,336.84a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7v1.37h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 13 -->
    <g>
      <rect x="879" y="192" width="32" height="113" style="fill:#2a47ac" class="graph-top" />
      <rect x="879" y="309" width="32" height="144" style="fill:#7e9fff" class="graph-bottom" />
      <g class="num-top">
        <path d="M891.62,182.14a3.16,3.16,0,0,1-2.94-1.94l1.2-.68a1.92,1.92,0,0,0,1.74,1.28,1.47,1.47,0,0,0,1.54-1.56c0-.9-.54-1.56-1.79-1.56a4.12,4.12,0,0,0-2.25.91v-5h5.28V175h-3.84v1.64a2.88,2.88,0,0,1,4.05,2.63A2.84,2.84,0,0,1,891.62,182.14Z"
          style="fill:#f5f5f5" />
        <path d="M898.34,176.5a1.52,1.52,0,0,1,.29,0,2.78,2.78,0,0,1,2.84,2.84,2.94,2.94,0,0,1-5.88,0,3.71,3.71,0,0,1,.47-1.74c.13-.24,2.64-4.37,2.64-4.37l1.2.74ZM897,179.3a1.49,1.49,0,1,0,1.49-1.5A1.44,1.44,0,0,0,897,179.3Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M894.25,465.63a2,2,0,0,1-.94,1.66,2.09,2.09,0,0,1,1.17,2,2.89,2.89,0,0,1-5.76,0,2.09,2.09,0,0,1,1.18-2,2,2,0,0,1-.94-1.66,2.65,2.65,0,0,1,5.28,0ZM893,469.26a1.43,1.43,0,0,0-2.85,0,1.43,1.43,0,0,0,2.85,0Zm-1.43-4.73a1.12,1.12,0,1,0,1.21,1.12A1.12,1.12,0,0,0,891.61,464.53Z"
          style="fill:#f5f5f5" />
        <path d="M898.29,466.25a1.52,1.52,0,0,1,.29,0,2.78,2.78,0,0,1,2.84,2.84,2.94,2.94,0,0,1-5.88,0,3.71,3.71,0,0,1,.47-1.74c.13-.24,2.64-4.37,2.64-4.37l1.2.74ZM897,469.05a1.49,1.49,0,1,0,1.49-1.5A1.44,1.44,0,0,0,897,469.05Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 14 -->
    <g>
      <rect x="951" y="241" width="32" height="64" style="fill:#98226c" class="graph-top" />
      <rect x="951" y="309" width="32" height="113" style="fill:#efb4fe" class="graph-bottom" />
      <g class="num-top">
        <path d="M963.62,223.8a1.54,1.54,0,0,0-1.43,1l-1.25-.59a2.87,2.87,0,0,1,2.67-1.78,2.5,2.5,0,0,1,2.71,2.52,2.11,2.11,0,0,1-1,1.76,1.84,1.84,0,0,1,1.24,1.92c0,1.52-1.27,2.48-2.9,2.48a3,3,0,0,1-2.94-1.94l1.18-.68a1.85,1.85,0,0,0,1.76,1.28c.91,0,1.46-.49,1.46-1.14,0-.89-.77-1.19-1.52-1.19H963v-1.32h.46c.88,0,1.45-.32,1.45-1.18A1.18,1.18,0,0,0,963.62,223.8Z"
          style="fill:#f5f5f5" />
        <path d="M970.65,227.09a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7V231h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M963.19,435.25a1.5,1.5,0,0,1,.29,0,2.78,2.78,0,0,1,2.84,2.84,2.94,2.94,0,0,1-5.88,0,3.71,3.71,0,0,1,.47-1.74c.13-.24,2.64-4.37,2.64-4.37l1.2.74Zm-1.3,2.81a1.49,1.49,0,1,0,1.49-1.5A1.44,1.44,0,0,0,961.9,438.05Z"
          style="fill:#f5f5f5" />
        <path d="M973.54,436.55c0,2.28-1,4.34-3.14,4.34s-3.17-2.06-3.17-4.34,1-4.34,3.17-4.34S973.54,434.27,973.54,436.55Zm-1.44,0c0-1.64-.54-3-1.7-3s-1.73,1.36-1.73,3,.56,3,1.73,3S972.1,438.2,972.1,436.55Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 15 -->
    <g>
      <rect x="1023" y="119" width="32" height="186" style="fill:#f9a000" class="graph-top" />
      <rect x="1023" y="309" width="32" height="79" style="fill:#ffdf7c" class="graph-bottom" />
      <g class="num-top">
        <path d="M1032.89,100.6h6l-4.5,8.68-1.22-.64,3.45-6.68h-3.73Z" style="fill:#f5f5f5" />
        <path d="M1042,103.5a1.52,1.52,0,0,1,.29,0,2.78,2.78,0,0,1,2.84,2.84,2.94,2.94,0,0,1-5.88,0,3.71,3.71,0,0,1,.47-1.74c.13-.24,2.64-4.37,2.64-4.37l1.2.74Zm-1.29,2.81a1.49,1.49,0,1,0,1.49-1.5A1.44,1.44,0,0,0,1040.69,106.3Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M1036.08,402.84a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7v1.37H1033Z"
          style="fill:#f5f5f5" />
        <path d="M1039.61,398.35h6l-4.5,8.68-1.22-.64,3.45-6.68h-3.73Z" style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 16 -->
    <g>
      <rect x="1095" y="226" width="32" height="79" style="fill:#17575d" class="graph-top" />
      <rect x="1095" y="309" width="32" height="160" style="fill:#63d2cd" class="graph-bottom" />
      <g class="num-top">
        <path d="M1108.33,207.6h1.61v5.23h.92v1.34h-.92V216h-1.44v-1.82h-4.44Zm.19,5.23v-3.25l-2.11,3.25Z" style="fill:#f5f5f5" />
        <path d="M1114.79,212.09a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3A1.57,1.57,0,0,0,1113,210l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.48,3.48,0,0,1-.73,2.06l-1.93,2.49h2.7V216h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M1107.53,484.86a1.52,1.52,0,0,1-.29,0,2.83,2.83,0,0,1-2.84-2.84,2.94,2.94,0,0,1,5.88,0,3.75,3.75,0,0,1-.48,1.74c-.13.24-2.6,4.32-2.6,4.32l-1.2-.74Zm1.29-2.81a1.49,1.49,0,1,0-1.49,1.5A1.44,1.44,0,0,0,1108.83,482.05Z"
          style="fill:#f5f5f5" />
        <path d="M1117.54,483.55c0,2.28-1,4.34-3.14,4.34s-3.17-2.06-3.17-4.34,1-4.34,3.17-4.34S1117.54,481.27,1117.54,483.55Zm-1.44,0c0-1.64-.54-3-1.7-3s-1.73,1.36-1.73,3,.56,3,1.73,3S1116.1,485.2,1116.1,483.55Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 17 -->
    <g>
      <rect x="1174" y="132" width="32" height="173" style="fill:#2a47ac" class="graph-top" />
      <rect x="1174" y="309" width="32" height="18" style="fill:#7e9fff" class="graph-bottom" />
      <g class="num-top">
        <path d="M1183.75,113.6h6l-4.5,8.68-1.22-.64,3.45-6.68h-3.73Z" style="fill:#f5f5f5" />
        <path d="M1196.2,117.8c0,2.28-1,4.34-3.14,4.34s-3.17-2.06-3.17-4.34,1-4.34,3.17-4.34S1196.2,115.52,1196.2,117.8Zm-1.44,0c0-1.64-.54-3-1.7-3s-1.73,1.36-1.73,3,.56,3,1.73,3S1194.76,119.45,1194.76,117.8Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M1192.64,339.63a2,2,0,0,1-.94,1.66,2.09,2.09,0,0,1,1.18,2,2.89,2.89,0,0,1-5.76,0,2.09,2.09,0,0,1,1.18-2,2,2,0,0,1-.94-1.66,2.65,2.65,0,0,1,5.28,0Zm-1.21,3.62a1.43,1.43,0,0,0-2.86,0,1.43,1.43,0,0,0,2.86,0Zm-1.43-4.73a1.12,1.12,0,1,0,1.21,1.12A1.12,1.12,0,0,0,1190,338.53Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 18 -->
    <g>
      <rect x="1246" y="269" width="32" height="36" style="fill:#98226c" class="graph-top" />
      <rect x="1246" y="309" width="32" height="196" style="fill:#efb4fe" class="graph-bottom" />
      <g class="num-top">
        <path d="M1258.57,250.6h1.19V259h-1.44v-6.48l-1.47,1.18-.83-1.06Z" style="fill:#f5f5f5" />
        <path d="M1264.67,259.14a3.16,3.16,0,0,1-2.94-1.94l1.2-.68a1.92,1.92,0,0,0,1.74,1.28,1.47,1.47,0,0,0,1.54-1.56c0-.9-.54-1.56-1.79-1.56a4.12,4.12,0,0,0-2.25.91v-5h5.28V252h-3.84v1.64a2.88,2.88,0,0,1,4.05,2.63A2.84,2.84,0,0,1,1264.67,259.14Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M1262,517.63a2,2,0,0,1-.94,1.66,2.09,2.09,0,0,1,1.18,2,2.89,2.89,0,0,1-5.76,0,2.09,2.09,0,0,1,1.17-2,2,2,0,0,1-.94-1.66,2.65,2.65,0,0,1,5.28,0Zm-1.21,3.62a1.43,1.43,0,0,0-2.85,0,1.43,1.43,0,0,0,2.85,0Zm-1.43-4.73a1.12,1.12,0,1,0,1.21,1.12A1.12,1.12,0,0,0,1259.33,516.53Z"
          style="fill:#f5f5f5" />
        <path d="M1265.54,515.35h1.19v8.4h-1.44v-6.48l-1.48,1.18-.83-1.06Z" style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 19 -->
    <g>
      <rect x="1318" y="167" width="32" height="138" style="fill:#f9a000" class="graph-top" />
      <rect x="1318" y="309" width="32" height="89" style="fill:#ffdf7c" class="graph-bottom" />
      <g class="num-top">
        <path d="M1331.28,148.6h1.61v5.23h.92v1.34h-.92V157h-1.44v-1.82H1327Zm.19,5.23v-3.25l-2.11,3.25Z" style="fill:#f5f5f5" />
        <path d="M1337.72,154.11a1.51,1.51,0,0,1-.29,0,2.83,2.83,0,0,1-2.84-2.84,2.94,2.94,0,0,1,5.88,0A3.73,3.73,0,0,1,1340,153c-.13.24-2.6,4.32-2.6,4.32l-1.2-.74Zm1.3-2.81a1.49,1.49,0,1,0-1.49,1.5A1.44,1.44,0,0,0,1339,151.3Z"
          style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M1330.62,409.55a1.54,1.54,0,0,0-1.43,1l-1.25-.59a2.87,2.87,0,0,1,2.67-1.78,2.5,2.5,0,0,1,2.71,2.52,2.11,2.11,0,0,1-1,1.76,1.84,1.84,0,0,1,1.24,1.92c0,1.52-1.27,2.48-2.9,2.48a3,3,0,0,1-2.94-1.94l1.18-.68a1.85,1.85,0,0,0,1.76,1.28c.91,0,1.46-.49,1.46-1.14,0-.89-.77-1.19-1.52-1.19h-.6v-1.32h.46c.88,0,1.45-.32,1.45-1.18A1.18,1.18,0,0,0,1330.62,409.55Z"
          style="fill:#f5f5f5" />
        <path d="M1337.65,412.84a3.22,3.22,0,0,0,1-2,1.23,1.23,0,0,0-1.25-1.3,1.57,1.57,0,0,0-1.5,1.22l-1.28-.47a2.88,2.88,0,0,1,2.78-2.1,2.49,2.49,0,0,1,2.69,2.61,3.47,3.47,0,0,1-.73,2.06l-1.93,2.49h2.7v1.37h-5.53Z"
          style="fill:#f5f5f5" />
      </g>
    </g>

    <!-- Bar 20 -->
    <g>
      <rect x="1390" y="111" width="32" height="194" style="fill:#17575d" class="graph-top" />
      <rect x="1390" y="309" width="32" height="13" style="fill:#63d2cd" class="graph-bottom" />
      <g class="num-top">
        <path d="M1399.72,92.6h6l-4.5,8.68-1.22-.64,3.45-6.68h-3.73Z" style="fill:#f5f5f5" />
        <path d="M1409.82,92.6h1.61v5.23h.92v1.34h-.92V101H1410V99.18h-4.44Zm.19,5.23V94.58l-2.11,3.25Z" style="fill:#f5f5f5" />
      </g>
      <g class="num-bottom">
        <path d="M1406,340.89a3.16,3.16,0,0,1-2.94-1.94l1.2-.68a1.92,1.92,0,0,0,1.74,1.28,1.47,1.47,0,0,0,1.54-1.56c0-.9-.54-1.56-1.79-1.56a4.12,4.12,0,0,0-2.25.91v-5h5.28v1.37h-3.84v1.64A2.88,2.88,0,0,1,1409,338,2.84,2.84,0,0,1,1406,340.89Z"
          style="fill:#f5f5f5" />
      </g>
    </g>
  </g>
</svg>