<div class="subnav wrapper">
  <div class="subnav-scroll-indicator subnav-scroll-indicator--right is-hidden"></div>
  <div class="subnav-scroll-indicator subnav-scroll-indicator--left is-hidden"></div>
  <div class="subnav-container">
    <nav class="subnav-menu">
      <a class="subnav-item featured" href="#features">Stretch Case Study</a>
      <a class="subnav-item" href="#">The Brand</a>
      <a class="subnav-item" href="#">The Portal</a>
      <a class="subnav-item" href="#">The CMS</a>
      <a class="subnav-item" href="#">The System</a>
    </nav>
  </div>
</div>