<div class="subnav wrapper">
  <div class="subnav-scroll-indicator subnav-scroll-indicator--right is-hidden"></div>
  <div class="subnav-scroll-indicator subnav-scroll-indicator--left is-hidden"></div>
  <div class="subnav-container">
    <nav class="subnav-menu">
      <a class="subnav-item featured" href="./work/stretch/">Stretch Case Study</a>
      <a class="subnav-item" href="./work/stretch/brand">The Brand</a>
      <a class="subnav-item" href="./work/stretch/portal">The Portal</a>
      <a class="subnav-item" href="./work/stretch/cms">The CMS</a>
      <a class="subnav-item" href="./work/stretch/support">The System</a>
    </nav>
  </div>
</div>