<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Brave UX</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--[if lt IE 9]><script>document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');document.createElement('hgroup');</script><![endif]-->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="overlay"> <a class="overlay-exit" ><img src="images/ux-view/x.svg"></a> </div>
