<section class="menu">
  <a class="logo" href="/">Brave UX</a>
  <a class="mobile-logo" href="/">Brave UX</a>

  <div class="container">
    <a class="menu-link" href="/work.html">Work</a>
    <a class="menu-link" href="/approach.html">Approach</a>
    <a class="menu-link" href="/team.html">Team</a>
    <a class="menu-link" href="/contact.html">Contact</a>
  </div>

  <div class="ux-toggle-frame">
    <a class="ux-toggle" href="#">?</a>
  </div>
</section><!-- END menu -->
