<section class="menu">
  <h1 class="logo">Brave UX</h1>

  <div class="container">
    <a class="menu-link" href="#">Work</a>
    <a class="menu-link" href="#">Approach</a>
    <a class="menu-link" href="#">Team</a>
    <a class="menu-link" href="#">Contact</a>
  </div>

  <a class="ux-toggle" href="#">?</a>
</section><!-- END menu -->