<section class="menu">
  <h1 class="logo">Brave UX</h1>

  <div class="container">
    <a class="menu-link" href="/work">Work</a>
    <a class="menu-link" href="/approach">Approach</a>
    <a class="menu-link" href="/team">Team</a>
    <a class="menu-link" href="/contact">Contact</a>
  </div>

  <a class="ux-toggle" href="#">?</a>
</section><!-- END menu -->