.approach-section {
  overflow: hidden;
  @include clearfix;
  @include size(100% 575px);

  &:nth-child(odd) {
    .approach-section-heading,
    .approach-section-text,
    .approach-section-next {
      float: right;
      clear: right;
      text-align: right;
    }
  }

  &.white {
    background-color: #F1F1F1;
    color: #6F7F86;
  }

  &.black {
    background-color: $black;
    color: #F4F4F4;
  }

  &.gray {
    background-color: #6B6B6B;
    color: #E1E1E1;
  }
}

.approach-section-content-wrapper {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

// SVG ICON

.approach-section-icon {
  position: relative;
  height: 100%;
}

.approach-section-icon-svg {
  position: absolute;
  @include size(75% auto);

  // hide jagged corners
  $offset: -5px;

  &.top    { top: $offset; }
  &.left   { left: $offset; }
  &.bottom { bottom: $offset; }
  &.right  { right: $offset; }

  &.middle {
    top: 50%;
    @include transform(translateY(-50%));
  }
}

.approach-inner-icon {
  // @include transition(all 1.0 ease);
  @include transform-origin(center center);

  &.gear { @include animation(spin 10.0s linear infinite); }

  .stopwatch-hand {
    @include transform-origin(center 174px);
    @include animation(spin 10.0s linear infinite);
  }
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(360deg));
  }

  100% {
    @include transform(rotate(0deg));
  }
}

// $magic-number is the length of the .approach-to-next path
// calculated via getTotalLength() beforehand, because Firefox doesn't always do it right
// this length doesn't change, even if the size of the SVG does

.approach-to-next {
  @include transition(stroke-dashoffset .3s linear);

  &.drawing {
    @include transition(none);
  }

  &.one.hidden   {
    $magic-number: 220px;

    stroke-dashoffset: $magic-number !important;
    stroke-dasharray: $magic-number !important;
  }

  &.two.hidden   {
    $magic-number: 173px;

    stroke-dashoffset: $magic-number !important;
    stroke-dasharray: $magic-number !important;
  }

  &.three.hidden   {
    $magic-number: 255px;

    stroke-dashoffset: $magic-number !important;
    stroke-dasharray: $magic-number !important;
  }

  &.four.hidden   {
    $magic-number: 247px;

    stroke-dashoffset: $magic-number !important;
    stroke-dasharray: $magic-number !important;
  }

  &.five.hidden   {
    $magic-number: 138px;

    stroke-dashoffset: $magic-number !important;
    stroke-dasharray: $magic-number !important;
  }
}

.approach-section-heading {
  max-width: 600px;
  margin: 0 0 45px 0;
  @include font(28px, bold, null, 'Trade Gothic LT Std');
  letter-spacing: 2px;
  text-transform: uppercase;

  &:first-child {
    @include font(40px);
  }
}

.approach-section-text {
  max-width: 400px;
  margin: 0 0 35px 0;
  @include font(18px);
  line-height: 2;

  strong {
    @include font(24px, 600);
  }
}

.approach-section-next {
  display: block;
  @include size(25px);
  background-position: center center;
  background-repeat: no-repeat;

  .white & { background-image: url('images/approach/approach-section-next-white.svg'); }
  .black & { background-image: url('images/approach/approach-section-next-black.svg'); }
  .gray &  { background-image: url('images/approach/approach-section-next-gray.svg'); }
}
