.approach-section {
  overflow: hidden;
  @include clearfix;
  @include size(100% 575px);

  @media mq-min(1500px) {
    height: 750px;
  }

  @include mq($tablet) {
    height: auto;
    padding: 80px 0;
  }

  &:nth-child(odd) {
    .approach-section-heading,
    .approach-section-text,
    .approach-section-next {
      float: right;
      clear: right;
      text-align: right;

      @include mq($tablet) {
        float: none;
        clear: none;
        text-align: center;
      }
    }
  }

  &.white {
    background-color: #F1F1F1;
    color: #6F7F86;
  }

  &.black {
    background-color: $black;
    color: #F4F4F4;
  }

  &.gray { color: #E1E1E1; }
}

.approach-section-content-wrapper {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));

  @include mq($tablet) {
    position: static;
    top: auto;
    @include transform(none);
  }
}

// SVG ICON

.approach-section-mobile-icon {
  display: none;
  @include size(100% auto);
  margin: -80px 0 55px 0;

  @include mq($tablet) {
    display: block;
  }

  &.last {
    margin-top: 0;
  }
}

.approach-section-icon {
  position: relative;
  height: 100%;

  @include mq($tablet) {
    display: none;
  }
}

.approach-section-icon-svg {
  position: absolute;
  @include size(75% auto);

  // hide jagged corners
  $offset: -5px;

  &.top    { top: $offset; }
  &.left   { left: $offset; }
  &.bottom { bottom: $offset; }
  &.right  { right: $offset; }

  &.middle {
    top: 50%;
    @include transform(translateY(-50%));
  }
}

.approach-inner-icon {
  // @include transition(all 1.0 ease);
  @include transform-origin(center center);

  &.gear { @include animation(spin 10.0s linear infinite); }

  .stopwatch-hand {
    @include transform-origin(center 174px);
    @include animation(spinReverse 10.0s linear infinite);
  }
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(360deg));
  }

  100% {
    @include transform(rotate(0deg));
  }
}

@include keyframes(spinReverse) {
  0% {
    @include transform(rotate(-360deg));
  }

  100% {
    @include transform(rotate(0deg));
  }
}

// $magic-number is the length of the .approach-to-next path
// calculated via getTotalLength() beforehand, because Firefox doesn't always do it right
// this length doesn't change, even if the size of the SVG does

.approach-to-next {
  @include transition(stroke-dashoffset .3s linear);

  &.drawing {
    @include transition(none);
  }

  &.one.hidden   {
    $magic-number: 220px;

    stroke-dashoffset: $magic-number !important;
    stroke-dasharray: $magic-number !important;
  }

  &.two.hidden   {
    $magic-number: 173px;

    stroke-dashoffset: $magic-number !important;
    stroke-dasharray: $magic-number !important;
  }

  &.three.hidden   {
    $magic-number: 255px;

    stroke-dashoffset: $magic-number !important;
    stroke-dasharray: $magic-number !important;
  }

  &.four.hidden   {
    $magic-number: 247px;

    stroke-dashoffset: $magic-number !important;
    stroke-dasharray: $magic-number !important;
  }

  &.five.hidden   {
    $magic-number: 138px;

    stroke-dashoffset: $magic-number !important;
    stroke-dasharray: $magic-number !important;
  }
}

.approach-section-heading {
  max-width: 600px;
  margin: 0 0 20px 0;
  @include font(34px, bold, null, 'Source Sans Pro');
  letter-spacing: 3px;
  text-transform: uppercase;

  @include mq($tablet) {
    margin: 0 auto 25px auto;
    font-size: 28px;
    text-align: center;
  }

  @include mq($mobile) {
    max-width: 85%;
  }
}

.approach-section-text {
  max-width: 400px;
  margin: 0 0 30px 0;
  font-family: 'Sentinel';
  font-size: 24px;
  line-height: 1.8;

  @include mq($tablet) {
    margin: 0 auto 30px auto;
    font-size: 16px;
    text-align: center;
  }

  @include mq($mobile) {
    max-width: 85%;
  }

  strong {
    font-weight: 600;
  }
}

.approach-section-next {
  display: block;
  @include size(25px);
  background-position: center center;
  background-repeat: no-repeat;

  @include mq($tablet) {
    margin: 0 auto;
  }

  .white & { background-image: url('images/approach/approach-section-next-white.svg'); }
  .black & { background-image: url('images/approach/approach-section-next-black.svg'); }
  .gray &  { background-image: url('images/approach/approach-section-next-gray.svg'); }
}
