// FELIX

.felix-white {
  .case-block-text-heading { color: #536D79; }
  .case-block-text-subtext { color: #414141; }
}

.felix-black {
  background-color: #3F454A;
  color: white;
}

// FIELD ONE

.fo-dark-blue {
  background-color: #2E3D5A;

  .case-block-text-heading { color: #EBEEF0; }
  .case-block-text-subtext { color: #EBEEF0; }
  .case-block-text-quote { color: #CED7DB; }
  .case-block-text-citation { color: #8FA3AD; }
}

.fo-light-blue {
  background-color: #34B2FF;
}

.fo-white {
  background-color: white;

  .case-block-text-heading { color: #445963; }
  .case-block-text-subtext { color: #414141; }
}

.fo-off-white {
  background-color: #EBEEF0;
  color: #536D79;
}
