// FULL IMAGE STYLE

.case-full-image {
  @include size(100% 75vh);

  @include mq($tablet) {
    // fixes iOS glitch with vh units
    max-height: 500px;
  }
}

// FELIX

.felix-boardwalk {
  background: url('images/felix/boardwalk.jpg') center center no-repeat;

  @include mq($tablet) {
    background-position: right center;
  }
}

// FIELDONE

.fieldone-traffic {
  background: url('images/fieldone/traffic.jpg') center center no-repeat;
}

// CHARACTER

.character-school {
  background: url('images/character/logo.svg') center center no-repeat,
              url('images/character/school.jpg') center center/cover no-repeat;

  @include mq($mobile) {
    background: url('images/character/logo.svg') center center/85% auto no-repeat,
                url('images/character/school.jpg') center center/cover no-repeat;
  }
}

.character-forum {
  background: url('images/character/forum.jpg') center center no-repeat;
}

// OBESITY

.obesity-racial-inequity {
  background: url('images/obesity/racial-inequity.jpg') center center no-repeat;
}

// WEDDING

.wedding-bouquet {
  background: url('images/wedding/bouquet.jpg') center center no-repeat;
}
