// FELIX

.felix-white {
  .case-block-text-heading { color: #536D79; }
  .case-block-text-subtext { color: #414141; }
}

.felix-gray {
  background-color: #EEE;

  .case-block-text-heading { color: #536D79; }
  .case-block-text-subtext { color: #414141; }
}

.felix-gradient {
  @include linear-gradient(to bottom, #FFF, #EEE);

  .case-block-text-heading { color: #536D79; }
  .case-block-text-subtext { color: #414141; }
}

.felix-black {
  background-color: #3F454A;
  color: white;
}

.felix-blue {
  background-color: #1BD4EE;
}

.felix-slate {
  background-color: #AFBDC4;
}

// FIELD ONE

.fo-dark-blue {
  background-color: #2E3D5A;

  .case-block-text-heading  { color: #EBEEF0; }
  .case-block-text-subtext  { color: #EBEEF0; }
  .case-block-text-quote    { color: #CED7DB; }
  .case-block-text-citation { color: #8FA3AD; }
}

.fo-light-blue {
  background-color: #34B2FF;
}

.fo-white {
  background-color: white;

  .case-block-text-heading { color: #445963; }
  .case-block-text-subtext { color: #414141; }
}

.fo-off-white {
  background-color: #EBEEF0;
  color: #536D79;
}

// CHARACTER

.character-red {
  background-color: #AA243B;

  .case-block-text-citation { color: #511830; }
}

.character-black {
  background-color: #2A3132;
}

.character-white {
  .case-block-text-heading { color: #445963; }
  .case-block-text-subtext { color: #747474; }
}

// OBESITY

.obesity-black {
  background-color: #33393D;

  .case-block-text-citation { color: #EFEFEF; }
}

.obesity-white {
  .case-block-text-heading { color: #445963; }
  .case-block-text-subtext { color: #536D79; }
}

.obesity-gray {
  background-color: #EFEFEF;
  color: #536D79;
}

.obesity-red {
  background-color: #A6273C;

  .case-block-text-heading { color: #F4F4F4; }
  .case-block-text-subtext { color: #EBEEF0; }
}

// WEDDING

.wedding-white {
  .case-block-text-heading { color: #455A64; }
  .case-block-text-subtext { color: #424242; }
}

.wedding-green {
  background-color: #19B5BC;
  color: white;
}

.wedding-gray {
  background-color: #ECEFF1;

  .case-block-text-quote    { color: #22A9AD; }
  .case-block-text-citation { color: #006064; }
}
