// CASE BLOCK

.case-block {
  overflow: hidden;
  position: relative;
  @include clearfix;
  @include size(100% auto);
  padding: 120px 0;

  // MODIFIERS

  &.extra-padded { padding: 200px 0; }
  &.top-padded { padding: 120px 0 0 0; }
  &.not-padded { padding: 0; }

  // CONTAINER

  .container {
    position: relative;
    margin: 0 12.5%;
  }
}

// INNER BLOCK

.inner-block {
  @include clearfix;

  // SIZE MODIFIERS

  &.half        { width: 50%; }
  &.one-third   { width: 30%; }
  &.two-third   { width: 60%; }
  &.full-height { height: 100%; }

  // PADDING MODIFIERS

  &.left-padded    { padding-left: 5%; }

  // ALIGNMENT MODIFIERS

  &.float-left  { float: left; }
  &.float-right { float: right; }

  &.absolute-left {
    position: absolute;
    left: 0;
  }

  &.absolute-right {
    position: absolute;
    right: 0;
  }

  &.vertical-center {
    top: 50%;
    @include transform(translateY(-50%));
  }
}

// PARTIAL BLOCK

.partial-block {
  position: absolute;

  // SIZE MODIFIERS

  &.quarter { @include size(50%); }
  &.half    { @include size(100% 50%); }

  // POSITION MODIFIERS

  &.top    { top: 0; }
  &.bottom { bottom: 0; }
  &.left   { left: 0; }
  &.right  { right: 0; }
}

// IMAGE STYLE

.case-block-image {
  display: block;
  @include size(100% auto);

  // SPACING MODIFIERS

  &.text-above { margin-top: 80px; }
  &.text-below { margin-bottom: 80px; }
}

// CASE TEXT

[class^="case-block-text"] {
  font-weight: 200;

  // LENGTH MODIFIERS

  &.short-length  { max-width: 300px; }
  &.medium-length { max-width: 550px; }

  // ALIGNMENT MODIFIERS

  &.align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.case-block-text-heading {
  margin-bottom: 15px;
  @include font(32px, null, null, 'Trade Gothic LT Std');
  line-height: 1.2;
}

.case-block-text-subtext {
  @include font(14px, null, null, 'Sentinel');
  line-height: 1.9;
}

.case-block-text-quote {
  margin-bottom: 40px;
  @include font(35px, null, null, 'Trade Gothic LT Std');
  line-height: 1.3;
}

.case-block-text-citation {
  @include font(18px, null, null, 'Sentinel');
}

// CASE ICONS

.case-block-text-quote-icon {
  display: block;
  margin: 0 auto 35px auto;
}
