.contact-section {
  @include clearfix;
  @include size(100% 420px);

  @include mq($tablet) {
    height: auto;
  }

  &.left-gray { @include linear-gradient(to right, #F4F4F4 0%,#F4F4F4 50%, white 50%); }
  &.right-gray { @include linear-gradient(to left, #F4F4F4 0%,#F4F4F4 50%, white 50%); }

  &.left-gray,
  &.right-gray {
    @include mq($tablet) {
      background-image: none;
      background-color: transparent;
    }
  }

  // SOCIAL ICONS MODIFIERS

  .social-link {
    margin-bottom: 0;

    @include mq(900px) {
      margin-bottom: 25px;
    }
  }
}

.contact-column {
  @include clearfix;
  float: left;
  @include size(50% 100%);
  padding: 0 7.5%;

  @include mq($tablet) {
    position: static;
    float: none;
    width: 100%;
  }

  // TEXT COLUMNS

  &.vertical-center {
    position: relative;
    top: 50%;
    height: auto;
    @include transform(translateY(-50%));

    @include mq($tablet) {
      top: auto;
      padding: 60px 7.5%;
      @include transform(none);
    }
  }

  // IMAGE COLUMNS

  &.cover-background {
    @include mq($tablet) {
      height: 250px;
    }
  }
}

.contact-heading {
  margin-bottom: 30px;
  @include font(18px, 600, #4D4D4D, 'Trade Gothic LT Std');
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact-subheading {
  margin-bottom: 30px;
  font-family: 'Sentinel A', 'Sentinel B';
  @include font(26px, 300, #ABABAB, null);

  @include mq(900px) {
    font-size: 20px;
  }
}

.contact-link {
  display: block;
  font-family: 'Sentinel A', 'Sentinel B';
  @include font(27px, 300, #808080, null);

  @include mq(900px) {
    font-size: 22px;
  }

  &.email {
    margin-top: -5px;
    font-size: 42px;

    @include mq(1000px) {
      font-size: 32px;
    }

    @include mq($tablet) {
      font-size: 24px;
    }
  }
}
