.cta {
  clear: both;
  padding: 120px 0;
  text-align: center;

  .team & {
    @include mq($tablet) {
      background-color: #F1F1F1;
    }
  }
}

.cta-text {
  margin-bottom: 30px;
  @include font(26px, 200, #ACACAC, 'Sentinel');

  @include mq($mobile) {
    font-size: 21px;
  }
}

.cta-link {
  display: inline-block;
  @include font(22px, 200, #414141);
}

.cta-icon {
  margin: 0 0 -6px 15px;
}
