.cta {
  clear: both;
  padding: 120px 0;
  text-align: center;

  .team & {
    background-color: #F1F1F1;
  }
}

.cta-text {
  margin-bottom: 30px;
  @include font(26px, 300, #ACACAC, null);
  font-family: 'Sentinel A', 'Sentinel B';

  @include mq($mobile) {
    font-size: 21px;
  }
}

.cta-link {
  display: inline-block;
  @include font(22px, 200, #414141);
  @include transition(all 0.5s ease);

  &:hover {
     @include transform(translateX(-5px));

    .cta-icon {
      @include transform(translateX(25px));
    }
  }
}

.cta-icon {
  @include transition(all 0.5s ease);
  @include transform(translateX(15px));
  margin: 0 0 -6px 0;
}
