.footer {
  clear: both;
  padding: 120px 0 60px 0;
  background-color: $black;
  background-position: center bottom;
  background-repeat: no-repeat;
  @include font(14px);

  &.is-short {
    padding: 80px 0;

    .footer-copyright {
      margin-top: 0;
      font-size: 20px;
    }
  }

  &.is-egg {
    padding-bottom: 200px;
    background-image: url('images/footer-egg.svg');
  }
}

.footer-column {
  float: left;

  &:nth-child(1) {
    width: 20%;
  }

  &:nth-child(2) {
    width: 25%;
  }

  &:nth-child(3) {
    width: 35%;
  }

  &:nth-child(4) {
    width: 20%;

    .footer-heading {
      margin-bottom: 32px;
    }
  }
}

.footer-logo {
  margin-top: 30px;
}

.footer-heading {
  margin-bottom: 35px;
  @include font(null, 600, #979797, 'Trade Gothic LT Std');
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-email-link {
  @include font(24px, null, #979797);
  line-height: 1.5;
}

.footer-product-link {
  display: block;
  @include font(16px, null, #979797);
}

.footer-copyright {
  clear: both;
  margin-top: 95px;
  @include font(null, null, #666, 'Sentinel');
  text-align: center;
}

.footer-copyright-stars {
  display: inline-block;
  @include size(40px 10px);
  margin: 0 50px;
  background-image: url('images/icons/icon-stars.svg');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    background-image: url('images/icons/icon-stars-light.svg');
  }
}

.stars-disable {
  cursor: default;

  &:hover {
    background-image: url('images/icons/icon-stars.svg');
  }
}
