$footer-tablet: 900px;

.footer {
  clear: both;
  padding: 120px 0 65px 0;
  background-color: $black;
  background-position: center bottom;
  background-repeat: no-repeat;
  font-size: 14px;
  text-align: center;

  @include mq($footer-tablet) {
    padding-top: 60px;
  }

  &.is-short {
    padding: 80px 0;

    .footer-copyright,
    .footer-made {
      font-size: 20px;

      @include mq($mobile) {
        font-size: 16px;
      }
    }

    .footer-stars {
      margin-top: 10px;
    }
  }

  &.is-egg {
    padding-bottom: 200px;
    background-image: url("images/footer/footer-egg.svg");
  }
}

.footer-column {
  @include clearfix;
  float: left;
  text-align: left;

  @include mq($footer-tablet) {
    float: none;
    width: auto !important;
    margin-bottom: 60px;
  }

  &:nth-child(1) {
    width: 20%;

    @include mq(1100px) {
      float: none;
      width: auto;
      margin-bottom: 60px;
    }
  }

  &:nth-child(2) {
    width: 25%;

    @include mq(1100px) {
      width: 32.5%;
    }
  }

  &:nth-child(3) {
    width: 35%;

    @include mq(1100px) {
      width: 42.5%;
    }

    @include mq($footer-tablet) {
      margin-bottom: 35px;
    }
  }

  &:nth-child(4) {
    width: 20%;

    @include mq(1100px) {
      width: 25%;
    }
  }
}

.footer-logo {
  margin-top: 30px;
}

.footer-heading {
  margin-bottom: 35px;
  font: 600 14px "Trade Gothic LT Std";
  color: #979797;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include mq($footer-tablet) {
    margin-bottom: 25px;
  }
}

.footer-email-link {
  font: 24px/1.5;
  color: #979797;

  &:hover {
    color: white;
  }
}

.footer-product-link {
  display: block;
  font-size: 16px;
  color: #979797;

  @include mq($footer-tablet) {
    font-size: 24px;
  }

  &:hover {
    color: white;
  }
}

// LAST LINE

.footer-last-line {
  @include clearfix;
  display: inline-block;
  margin-top: 90px;
  font: 300 15px "Sentinel A", "Sentinel B";
  color: #666666;

  @include mq($footer-tablet) {
    margin-top: 10px;
    font-size: 14px;
  }

  .is-short & {
    margin-top: 0;
  }
}

.footer-copyright,
.footer-made,
.footer-stars {
  float: left;

  @include mq($tablet) {
    float: none;
    width: auto;
    margin-bottom: 20px;
  }
}

.footer-copyright {

}

.footer-made {
  @include mq($tablet) {
    margin-bottom: 0;
  }
}

.footer-stars {
  @include size(40px 10px);
  margin: 5px 50px 0 50px;
  background-image: url("images/icons/icon-stars.svg");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;

  @include mq($tablet) {
    margin: 0 auto 20px auto;
  }

  &.is-found,
  &:hover {
    background-image: url("images/icons/icon-stars-light.svg");
  }
}
