header {
  @include size(100% 340px);
  padding-top: 145px;

  @include mq($mobile) {
    height: auto;
    padding: 140px 0 100px 0;
  }
}

.page-heading {
  margin: 0 0 15px 0;
  font: 200 52px;
  color: #333333;
}

.page-subheading {
  font: 300 22px "Sentinel A", "Sentinel B";
  color: #AEAEAE;
}
