header {
  @include size(100% 340px);
  padding-top: 145px;

  @include mq($mobile) {
    height: auto;
    padding: 140px 0 100px 0;
  }
}

.page-heading {
  margin: 0 0 15px 0;
  @include font(52px, 200, #333333);
}

.page-subheading {
  @include font(24px, 300, #AEAEAE, null);
  font-family: 'Sentinel A', 'Sentinel B';
}
