.home {
  background: #1C1C1E;
  height: 100%;
  > .container {
    padding: 120px 7.5%;
    margin: 0;
    height: 100%;
  }
}

.typewriter-wrapper {
  @include position(absolute, 50% null null 7.5%);
  @include size(85% 290px);
  margin-top: -145px;
}


.home-cta {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-family: "Trade Gothic LT Std";
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.home-see-it {
  display: inline-block;
  border: 3px solid white;
  border-radius: 3px;
  padding: 15px 30px;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 40px;
  opacity: 0.85;
  @include transition(opacity ease .25s);

  &:hover {
    opacity: 1.0;
  }
}
