.home {
  height: 100%;
  background-color: #4D4D4D;
}

.typewriter-wrapper {
  position: absolute;
  @include size(100% 180px);
  top: 50%;
  left: 20px;
  margin-top: -90px;
}

.typewriter {
  margin-bottom: 40px;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 54px;
  color: #ECECEC;

  &:last-child {
    margin-bottom: 0;
  }
}

.typewriter-rotating {
  text-decoration: underline;
}