.home {
  background: #1C1C1E;
  height: 100%;
  > .container {
    padding: 120px 7.5%;
    margin: 0;
    height: 100%;

    @include mq($mobile) {
      padding: 95px 10%;
    }

    @media only screen and (max-width : 700px) and (orientation : landscape) {
      padding-top: 85px;
    }
  }
}

.typewriter-wrapper {
  @include position(absolute, 50% null null 7.5%);
  @include size(85% 290px);
  margin-top: -145px;
}


.home-cta {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-family: "Trade Gothic LT Std";
  letter-spacing: 2px;
  margin-bottom: 40px;

  @include mq($tablet) {
    width: 400px;
  }

  @include mq($mobile) {
    width: 250px;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 2;
  }

  @media only screen and (max-width : 700px) and (orientation : landscape) {
    margin-bottom: 15px;
  }

}

.home-see-it {
  display: inline-block;
  border: 3px solid white;
  border-radius: 2px;
  padding: 15px 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 40px;
  opacity: 0.85;
  font-weight: 600;
  @include transition(opacity ease .25s);

  @include mq($mobile) {
    width: 105px;
    height: 35px;
    padding: 9px 0 0 0;
    border: 2px solid white;
    font-size: 9px;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  @media only screen and (max-width : 700px) and (orientation : landscape) {
    margin-top:5px;
    width: 105px;
    height: 35px;
    padding: 9px 0 0 0;
    border: 2px solid white;
    font-size: 9px;
    letter-spacing: 1px;
  }

  &:hover {
    opacity: 1.0;
  }
}

.outline {
  display: none;
  position: relative;
  left: -5px;
  padding: 5px;
}

.outline-desktop {
  @extend .outline;

  @include mq-min($tablet) {
    display: block;
  }
}

.outline-tablet {
  @extend .outline;
  height: 100%;
  max-height: 550px;
  display: block;

  @include mq-min($tablet) {
    display: none;
  }

  @include mq(560px) {
    display: none;
  }

  @media only screen and (max-width : 700px) and (orientation : landscape) {
    display: none;
  }
}

.outline-mobile {
  @extend .outline;
  height: 100%;
  width: auto;

  max-height: 320px;
  @include mq(560px) {
    display: block;
  }

  @media only screen and (max-width : 700px) and (orientation : landscape) {
    display: none;
  }
}


.outline-mobile-landscape {
  display: none;
  padding: 5px 0;
  @media only screen and (max-width : 700px) and (orientation : landscape) {
    display: block;
    overflow: visible !important;
  }
}
