.wrapper {
	@include clearfix;
	@include size(100% auto);
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 50px;
}

// grid settings
$gutterWidth: 10px;

.row {
	@include clearfix;
	max-width: 1200px;

	.col:last-child {
		float: right;
	}
}

.col {
	float: left;
	padding: 0 $gutterWidth;
}

// generate push/pull classes
@for $i from 1 through 11 {
	.push-#{$i} {
		margin-left: percentage($i/12);
	}

	.pull-#{$i} {
		margin-left: percentage(-$i/12);
	}
}

// generate width classes
@for $i from 1 through 12 {
	.width-#{$i} {
		width: percentage($i/12);
	}
}