html,
body {
  height: 100%;
}

.wrapper {
	@include clearfix;
	@include size(100% auto);

  &.home {
    height: 100%;
  }
}

.container {
  @include clearfix;
  margin: 0 5%;

  .home & {
    position: relative;
    height: 100%;
  }
}

// grid

.col {
  float: left;
  @include clearfix;
}

.full { width: 100%; }
.one-half { width: percentage(1/2); }
