$menu-height: 50px;

.menu {
  z-index: 15;
  @include transition(all 0.5s ease);
  @include position(fixed, 0 0 null null);
  position: fixed;
  @include size(100% $menu-height);
  background-color: $black;

  @include mq($tablet) {
    @include size(65% 100%);
    right: -65%;

    &.is-expanded {
      right: 0%;
    }

    .container {
      margin: 0;
    }
  }

  &.is-collapsed {
    top: -$menu-height;

    @include mq($tablet) {
      top: auto;
    }
  }

  &.is-home {
    margin-top: 20px;
    background-color: transparent;

    @include mq($tablet) {
      margin-top: 0;
      background-color: $black;
    }
  }
}

.logo {
  z-index: 20;
  @include transition(all 0.5s ease);
  @include position(fixed, 0 null null $site-padding);
  display: block;
  @include size($menu-height);
  @include hide-text;
  background: url('images/icons/flag.svg') $light-black center center no-repeat;

  @include mq($tablet) {
    height: 70px;
    background-position: center 33px;
  }

  &:hover {
    width: 110px;
    margin-left: -60px;
    background-image: url('images/icons/wordmark.svg');
  }

  &.is-home {
    top: 20px;
    background-color: transparent;

    @include mq($tablet) {
      top: 3px;
    }
  }
}

.mobile-logo {
  display: none;
  @include size(97px 16px);
  margin: 40px 0 40px 40px;
  background: url('images/icons/wordmark-mobile.svg') center center no-repeat;
  @include hide-text();

  @include mq($tablet) {
    display: block;
  }
}

.menu-link {
  @include transition(all 0.5s ease);
  @include size(auto $menu-height);
  float: left;
  display: block;
  padding: 21px 40px 0 20px;
  border-right: 2px solid $light-black;
  @include font(9px, 600, #F3F3F3, 'Trade Gothic LT Std');
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;

  @include mq($tablet) {
    float: none;
    height: 55px;
    padding-left: 40px;
    border-right: none;
    border-bottom: 2px solid $light-black;
    font-size: 12px;
  }

  &:hover,
  &:active {
    background-color: $light-black;
  }

  &:first-child {
    margin-left: $menu-height;

    @include mq($tablet) {
      margin-left: 0;
      padding-top: 20px;
      border-top: 2px solid $light-black;
    }
  }

  .is-home & {
    border-right-color: transparent;
    padding-right: 60px;

    &:first-child {
      margin-left: 75px;

      @include mq($tablet) {
        margin-left: 0;
      }
    }

    &:hover {
      background-color: transparent;
      color: #777;
    }
  }
}

.ux-toggle-frame {
  @include transition(all 0.5s ease);
  @include position(absolute, 15px 15px null null);
  @include size(42px 22px);
  border: 1px solid $black;
  border-radius: 11px;
  cursor: pointer;

  @include mq($tablet) {
    display: none;
  }

  &.is-active {
    border-color: #778F9B;
  }

  .is-home & {
    right: 7.5%;
  }
}

.ux-toggle {
  @include transition(all 0.5s ease);
  @include position(absolute, 2px 2px null null);
  display: block;
  @include size(16px);
  @include hide-text;
  background: url('images/ux-view/ux-icon.svg') #808080 center center no-repeat;
  border-radius: 50%;

  .is-active & {
    right: 22px;
    background-image: url('images/ux-view/ux-icon-toggled.svg');
    background-color: #F3F3F3;
  }
}

.mobile-menu-toggle {
  display: none;
  z-index: 20;
  @include position(fixed, 40px 7.5% null null);
  @include size(20px 17px);
  cursor: pointer;

  @include mq($tablet) {
    display: block;
  }
}

.mobile-menu-toggle-burger {
  @include transition(all 0.5s ease);
  @include position(absolute, 7px null 0);
  @include size(20px 3px);
  background-color: #AFBDC4;

  .is-home & {
    background-color: white;
  }

  .is-expanded & {
    background-color: transparent;
  }

  &::before,
  &::after {
    content: "";
    @include transition(all 0.5s ease);
    position: absolute;
    @include size(100%);
    background-color: #AFBDC4;

    .is-home & {
      background-color: white;
    }
  }

  &::before {
    top: -7px;

    .is-expanded & {
      @include transform(rotate(45deg));
      top: 0;
    }
  }

  &::after {
    top: 7px;

    .is-expanded & {
      @include transform(rotate(-45deg));
      top: 0;
    }
  }
}
