/**
 * @param $size - breakpoint, in pixels
 */
@mixin mq($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

/**
 * @param $size   - font size, default: null
 * @param $weight - font weight, default: null
 * @param $color  - font color, default: null
 * @param $family - font family, default: null
 *
 * @example
 * body {
 *   @include font(15px, 400, red);
 * }
 *
 * output
 * body {
 *   font-size: 12px;
 *   font-weight: 400;
 *   color: red;
 * }
 */
@mixin font($size, $weight: null, $color: null, $family: null) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}