.overlay {
  z-index: 9;
  @include position(fixed, 0 0);
  @include size(100%);
  display: none;
  opacity: 0.8;
  background-color: $light-black;
  overflow: hidden;
}

.can-overlay {
  .is-overlayed & {
    background-color: #FFFFFF;
    color: #262628;
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 30px;
    margin: -30px 0 7px -30px;
    border-radius: 5px;
    max-width: 400px;
  }
}

.overlay-content {
  display: none;
  .is-overlayed & {
    color: white;
    z-index: 10;
    display: block;
    position: absolute;
    @include size(450px auto);
  }
}

.overlay-header {
  @include font(35px, 100, white);
  margin-bottom: 25px;
}

.overlay-text {
  @include font(14px, 100, white, 'Sentinel');
  line-height: 1.5;
  margin-bottom: 25px;
}

.overlay-footer {
  @include font(12px, 300, #C6C6C6, 'Trade Gothic LT Std');
  a {
    color: #C6C6C6;
  }
}






// specific pages


// CONTACT
.overlay-contact-empathy {
  top: 181px;
  left: 500px;
}

.overlay-contact-priority {
  top: 60px;
  left: 500px;
}

.overlay-contact-well {
  top: 516px;
  left: 500px;  
}

.is-overlayed & {
  .social-link {
    margin-bottom: 0;
  }  
}

// INDEX
.overlay-index-where {
  top: 30px;
  right: -80px;
  text-align: left;
}


//WORK
.can-overlay-work {
  .is-overlayed & {
    width: 450px;
    margin-top: -5px;

    h1 {
      width: 120px;
      border-top: 1px solid #FF345A;
      border-bottom: 1px solid #C4C4C4;
      line-height: 0.3;
      padding-bottom: 11px;
      margin-bottom: 29px;
    }
    h2 {
      width: 250px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    } 

    &::after {
      content: "X-HEIGHT";
      display: inline-block;
      top: 36px;
      left: 170px;
      position: absolute;
      font-weight: bold;
      color: #4D4D4D;
    }
  }
}

.is-character, .is-obesity {
  .is-overlayed & {
    position: relative;
  }
}


.overlay-work-just {
  top: 124px;
  left: 580px;
}

.overlay-work-taking {
  top: 75px;
  left: 100px;
}

.overlay-work-dismount {
  text-align: center;
  width: 570px !important;
  left: 100%;
  margin-left: -285px;
  background: url("images/ux-view/dismount-carousel.png") no-repeat center 30px;
  padding-top: 70px;

}

