.overlay {
  z-index: 9;
  @include position(fixed, 0 0);
  @include size(100%);
  display: none;
  opacity: 0.8;
  background-color: $light-black;
  overflow: hidden;
}

.can-overlay {
  .is-overlayed & {
    background-color: #FFFFFF;
    color: #262628;
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 30px;
    margin: -30px 0 7px -30px;
    border-radius: 5px;
    max-width: 400px;
  }
}

.overlay-content {
  display: none;
  .is-overlayed & {
    color: white;
    z-index: 10;
    display: block;
    position: absolute;
    @include size(450px auto);
  }
}

.overlay-header {
  @include font(35px, 100, white);
  margin-bottom: 25px;
}

.overlay-text {
  @include font(14px, 100, white, 'Sentinel');
  line-height: 1.5;
  margin-bottom: 25px;
}

.overlay-footer {
  @include font(12px, 300, #C6C6C6, 'Trade Gothic LT Std');
  a {
    color: #C6C6C6;
  }
}






// specific pages


// CONTACT PAGE
.overlay-contact-empathy {
  top: 181px;
  left: 500px;
}

.overlay-contact-priority {
  top: 60px;
  left: 500px;
}

.overlay-contact-well {
  top: 516px;
  left: 500px;  
}

.is-overlayed & {
  .social-link {
    margin-bottom: 0;
  }  
}

// INDEX
.overlay-index-where {
  top: 30px;
  right: -80px;
  text-align: left;
}



