.overlay {
  display: none;
  z-index: 9;
  @include position(fixed, 0 0);
  @include size(100%);
  opacity: 0.8;
  background-color: $light-black;
  overflow: hidden;
}

.can-overlay {
  
  .is-overlayed & {
    z-index: 10;
    display: inline-block;
    position: relative;    
    background-color: #FFFFFF;
    padding: 30px;
    margin: -30px 0 7px -30px;
    border-radius: 5px;
    max-width: 400px;
    overflow: visible;
    color: #262628;

    &::after {
      @include position(absolute, 0 -16px null null);
      @include triangle(20px, white, up-left);
      content: "";
    }
  }
}

.overlay-content {
  display: none;
  
  .is-overlayed & {
    z-index: 10;
    position: absolute;
    display: block;
    @include size(450px auto);
    color: white;
  }
}

.overlay-header {
  margin-bottom: 25px;
  @include font(35px, 100, white);
}

.overlay-text {
  margin-bottom: 25px;
  @include font(14px, 100, white, 'Sentinel');
  line-height: 1.5;
}

.overlay-footer {
  @include font(12px, 300, #C6C6C6, 'Trade Gothic LT Std');
  
  a {
    color: #C6C6C6;
  }
}

// CONTACT
.overlay-contact-empathy {
  top: 181px;
  left: 500px;
}

.overlay-contact-priority {
  top: 60px;
  left: 500px;
}

.overlay-contact-well {
  top: 516px;
  left: 500px;  
}

.is-overlayed & {
  
  .social-link {
    margin-bottom: 0;
  }  
}

// INDEX
.overlay-index-where {
  top: 30px;
  right: -80px;
  text-align: left;
}

.overlay-index-typewriter {
  top: 115px;
  left: 350px;
  padding-top: 130px;
  background: url("images/ux-view/typewriter.png") no-repeat 0 0;

  .overlay-text {
    width: 250px;
  }
}

// WORK
.can-overlay-work {
  
  .is-overlayed & {
    width: 450px;
    margin-top: -5px;

    h1 {
      margin-bottom: 29px;
      padding-bottom: 11px;
      width: 120px;
      border-top: 1px solid #FF345A;
      border-bottom: 1px solid #C4C4C4;
      line-height: 0.3;
    }

    h2 {
      width: 250px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    } 

    &::before {
      @include position(absolute, 36px null null 170px);
      display: inline-block;
      font-weight: bold;
      color: #4D4D4D;
      content: "X-HEIGHT";
    }
  }
}

.is-character, .is-obesity {
  
  .is-overlayed & {
    position: relative;
  }
}

.overlay-work-just {
  top: 124px;
  left: 580px;
}

.overlay-work-taking {
  top: 75px;
  left: 100px;
}

.overlay-work-dismount {
  left: 100%;
  margin-left: -285px;
  width: 570px !important;
  padding-top: 70px;
  text-align: center;
  background: url("images/ux-view/dismount-carousel.png") no-repeat center 30px;
}

// TEAM
.overlay-team-dont {
  top: 100px;
  right: 250px;
  width: 411px !important;
  text-align: right;
}

.overlay-team-hey {
  left: -350px;
  top: 126px;
  width: 450px !important;
  text-align: right;
}

.team-section-team-pic {
  z-index: 10;
}

.team-section-headshot.overlay-headshot-cutout {
  display: none;
  z-index: 9;

  .is-overlayed & {
    display: block;
  }
}

// APPROACH
.overlay-approach-f {
  top: 175px;
  left: 120px;  
  height: 503px !important;
  padding: 100px 35px;
  background: url("images/ux-view/f-this.png") no-repeat 0 0;
  
  .overlay-text {
    width: 220px;
  }
}

.overlay-approach-fold {
  top: 100px;
  right: 100px;
  height: 784px !important;
  background: url("images/ux-view/fold.png") no-repeat right 0;
  text-align: right;

  .fold-content {
    @include position(absolute, null 0 120px null);
  }

  .overlay-text {
    float: right;
    width: 220px;
  }
  .overlay-footer {
    clear: right;
  }
}

.overlay-information-architecture {
  transform: translate3d(0, -50%, 0);
  z-index: 12;

  .is-overlayed & {
    
    .approach-section-text {
      color: rgba(206,206,206, 0.2);
    }

    .approach-section-next {
      opacity: 0.2;
    }
  }
}

.can-overlay-approach-information {

  .is-overlayed & {
    margin-bottom: 15px;
  }
}

.overlay-approach-information {
  top: 58px;
  left: 100px;
}
