.social-link {
  float: left;
  display: block;
  @include size(37px);
  margin: 0 25px 25px 0;
  @include hide-text;
  background-position: center center;
  background-repeat: no-repeat;

  @include mq($tablet) {
    margin-bottom: 25px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.light-twitter  { background-image: url("images/icons/icon-light-twitter.svg"); }
.light-facebook { background-image: url("images/icons/icon-light-facebook.svg"); }
.light-linkedin { background-image: url("images/icons/icon-light-linkedin.svg"); }
.light-dribbble { background-image: url("images/icons/icon-light-dribbble.svg"); }
.light-github   { background-image: url("images/icons/icon-light-github.svg"); }

.dark-twitter  { background-image: url("images/icons/icon-dark-twitter.svg"); }
.dark-facebook { background-image: url("images/icons/icon-dark-facebook.svg"); }
.dark-linkedin { background-image: url("images/icons/icon-dark-linkedin.svg"); }
.dark-dribbble { background-image: url("images/icons/icon-dark-dribbble.svg"); }
.dark-github   { background-image: url("images/icons/icon-dark-github.svg"); }

// footer hover states

.footer {
  .light-twitter:hover { background-image: url("images/icons/icon-white-twitter.svg"); }
  .light-facebook:hover { background-image: url("images/icons/icon-white-facebook.svg"); }
  .light-linkedin:hover { background-image: url("images/icons/icon-white-linkedin.svg"); }
  .light-dribbble:hover { background-image: url("images/icons/icon-white-dribbble.svg"); }
  .light-github:hover { background-image: url("images/icons/icon-white-github.svg"); }
}