.social-link {
  float: left;
  display: block;
  @include size(36px);
  margin-right: 25px;
  @include hide-text;
  background-position: center center;
  background-repeat: no-repeat;
}

.light-twitter  { background-image: url('images/icons/icon-light-twitter.svg'); }
.light-facebook { background-image: url('images/icons/icon-light-facebook.svg'); }
.light-linkedin { background-image: url('images/icons/icon-light-linkedin.svg'); }
.light-dribbble { background-image: url('images/icons/icon-light-dribbble.svg'); }
.light-github   { background-image: url('images/icons/icon-light-github.svg'); }

.dark-twitter  { background-image: url('images/icons/icon-dark-twitter.svg'); }
.dark-facebook { background-image: url('images/icons/icon-dark-facebook.svg'); }
.dark-linkedin { background-image: url('images/icons/icon-dark-linkedin.svg'); }
.dark-dribbble { background-image: url('images/icons/icon-dark-dribbble.svg'); }
.dark-github   { background-image: url('images/icons/icon-dark-github.svg'); }