.social-link {
  float: left;
  display: block;
  @include size(36px);
  margin-right: 25px;
  @include hide-text;
  background-position: center center;
  background-repeat: no-repeat;
}




.light-twitter  { @include bg-img("/icons/icon-light-twitter.svg"); }
.light-facebook { @include bg-img("/icons/icon-light-facebook.svg"); }
.light-linkedin { @include bg-img("/icons/icon-light-linkedin.svg"); }
.light-dribbble { @include bg-img("/icons/icon-light-dribbble.svg"); }
.light-github   { @include bg-img("/icons/icon-light-github.svg"); }

.dark-twitter  { @include bg-img("/icons/icon-dark-twitter.svg"); }
.dark-facebook { @include bg-img("/icons/icon-dark-facebook.svg"); }
.dark-linkedin { @include bg-img("/icons/icon-dark-linkedin.svg"); }
.dark-dribbble { @include bg-img("/icons/icon-dark-dribbble.svg"); }
.dark-github   { @include bg-img("/icons/icon-dark-github.svg"); }