.team-section {
  @include clearfix;

  .container {
    position: relative;
  }

  &:nth-child(even) {
    .team-section-profile {
      margin-left: 50%;
      padding-left: 150px;
    }

    .team-section-image {
      left: 0;
    }
  }

  &:nth-child(odd) {
    .team-section-image {
      right: 0;
    }
  }
}

.team-section-profile {
  @include clearfix;
  width: 50%;
  padding: 80px 0;
}

.team-section-image {
  position: absolute;
  @include size(50% 100%);
}

.team-section-headshot,
.team-section-quote {
  position: absolute;
  @include size(100%);
  display: block;
}

.team-section-quote {
  @include transition(all 0.5s ease);
  z-index: 0;
  opacity: 0;
  padding: 60% 50px 0 50px;
  background-color: $black;
  @include font(26px, 300, #EDEDED, 'Sentinel');
  line-height: 1.3;
  text-align: center;

  &:hover {
    opacity: .8;
    padding-top: 50%;
  }
}

.team-section-quote-cite {
  @include font(14px, 600, #EDEDED, 'Trade Gothic LT Std');
  letter-spacing: 2px;
  text-transform: uppercase;
}

.team-section-name {
  @include font(36px, 200, #414141, 'Trade Gothic LT Std');
  margin-bottom: 10px;

  &::first-letter {
    margin-left: -4px;
  }
}

.team-section-job {
  margin-bottom: 35px;
  @include font(16px, 600, #BCBCBC, 'Trade Gothic LT Std');
  letter-spacing: 2px;
  text-transform: uppercase;
}

.team-section-heading {
  margin-bottom: 20px;
  @include font(20px, null, #616161 ,'Sentinel');
  font-style: italic;
}

.team-section-longtext {
  max-width: 370px;
  margin-bottom: 40px;
  @include font(14px, 200, #616161, 'Sentinel');
  line-height: 2;
}
