.team-section {
  overflow: hidden;
  position: relative;
  @include clearfix;

  &:nth-child(even) {
    .team-section-profile {
      margin-left: 50%;
    }

    .team-section-image {
      left: 0;
    }
  }

  &:nth-child(odd) {
    .team-section-image {
      right: 0;
    }
  }
}

.team-photo {
  display: block;
  @include size(100% auto);
}

.team-section-profile {
  @include clearfix;
  @include size(50% auto);
  padding: 80px $site-padding;
}

.team-section-image {
  overflow: hidden;
  position: absolute;
  @include size(50% 100%);
}

.team-section-headshot,
.team-section-quote {
  position: absolute;
  display: block;
}

.team-section-headshot {
  @include size(100% auto);

  @include mq(1250px) {
    @include size(auto 100%);
    @include transform(translateX(-50%));
    left: 50%;
  }
}

.team-section-quote {
  @include transition(all 0.5s ease);
  z-index: 0;
  opacity: 0;
  @include size(100%);
  padding: 300px 50px 0 50px;
  background-color: $black;
  @include font(26px, 300, #EDEDED, 'Sentinel');
  line-height: 1.3;
  text-align: center;

  &:hover {
    opacity: .8;
    padding-top: 250px;
  }
}

.team-section-quote-cite {
  @include font(14px, 600, #EDEDED, 'Trade Gothic LT Std');
  letter-spacing: 2px;
  text-transform: uppercase;
}

.team-section-name {
  margin-bottom: 35px;
  @include font(36px, 200, #414141, 'Trade Gothic LT Std');

  &::first-letter {
    margin-left: -4px;
  }

  &.founder {
    margin-bottom: 10px;
  }
}

.team-section-job {
  margin-bottom: 35px;
  @include font(16px, 600, #BCBCBC, 'Trade Gothic LT Std');
  letter-spacing: 2px;
  text-transform: uppercase;
}

.team-section-heading {
  margin-bottom: 20px;
  @include font(20px, null, #616161 ,'Sentinel');
  font-style: italic;
}

.team-section-longtext {
  max-width: 370px;
  margin-bottom: 40px;
  @include font(14px, 200, #616161, 'Sentinel');
  line-height: 2;
}
