.has-next-buttons {
  position: relative;
}

.next-button {
  @include size(170px 65px);
  @include position(absolute, 50% null null null);
  margin-top: -32px;
  background-color: #262628;
  color: white;
  @include transition(transform 0.5s ease);

  &:hover {
    @include transform(translateX(0px));

    &::after {
      opacity: 1.0;
      @include transition(opacity 0.5s ease);
    }
  }

  &::after {
    opacity: 0;
    @include position(absolute, 22px null null 55px);
    @include transition(opacity 0.5s ease);
    font-family: 'Sentinel A', 'Sentinel B';
    @include font(16px, 300, null, null);
    content: attr(title);
  }
}

.next-button-right {
  right: 0;
  background: url("images/icons/arrow-right.png") #262628 25px center no-repeat;
  @include transform(translateX(115px));
}

.next-button-left {
  left: 0;
  background: url("images/icons/arrow-left.png") #262628 133px center no-repeat;
  @include transform(translateX(-115px));

  &::after {
    left: 50px;
  }
}
