.work-landing {
  @include clearfix;
  position: relative;
  @include size(100% 500px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &.half-landing {
    float: left;
    width: 50%;

    @include mq($tablet) {
      width: 100%;
    }
  }

  &.felix {
    background-image: url('images/felix/boardwalk.jpg');
    background-position: center left;

    .is-overlayed & {
      display: none;
    }
  }

  &.preload-felix {
    background-image: url('images/felix/boardwalk-cutout.jpg');
    background-position: center left;
    display: none;
    .is-overlayed & {
      display: block;
    }
  }

  &.character { background-image: url('images/work/landing-character.jpg'); }
  &.fieldone  { background-image: url('images/work/landing-fieldone.svg'); }
  &.wedding   { background-image: url('images/wedding/bouquet.jpg'); }
  &.obesity { background: url('images/obesity/header.svg') #F2F2F2 center center/cover no-repeat; }
}



.work-rollover {
  opacity: 0;
  @include transition(all 0.5s ease);
  display: block;
  @include size(100%);
  padding: 225px 50px 0 50px;
  background-color: $black;
  text-align: center;
  color: white;

  @include mq($tablet) {
    opacity: .8;
    @include position(absolute, null null 0 0);
    @include size(100% auto);
    padding: 50px $site-padding;
  }

  &:hover {
    opacity: .8;
    padding-top: 175px;

    @include mq($tablet) {
      padding-top: 50px;
    }
  }
}

.work-rollover-project-name {
  margin-bottom: 10px;
  @include font(24px, 600, null, 'Source Sans Pro');
  letter-spacing: 3px;
  text-transform: uppercase;

  @include mq($tablet) {
    font-size: 18px;
  }

  @include mq($mobile) {
    font-size: 14px;
  }
}

.work-rollover-client-name {
  margin-bottom: 20px;
  @include font(48px, 200, null, 'Source Sans Pro');

  @include mq($tablet) {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.work-rollover-cta {
  @include font(24px, 600, null, null);
  font-family: 'Sentinel A', 'Sentinel B';
  letter-spacing: 1px;

  @include mq($tablet) {
    display: none;
  }
}

.work-rollover-cta-icon {
  margin: 0 0 -3px 15px;
}
