.work-landing {
  @include clearfix;
  @include size(100% 540px);

  // swap these when new homepage is done
  &:nth-child(even) {
    background-color: #F9F9F9;
  }

  &:nth-child(odd) {
    text-align: right;
  }

  // CONTAINER MODIFICATIONS

  .container {
    height: 100%;
    // margin: 0 15%;
  }

  // COLUMN MODIFICATIONS

  .col {
    // vertical center both images and text
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
  }
}

.work-landing-image {
  display: block;
  max-width: 50%;
  margin: 0 auto;

  .character & {
    @include transform(rotate(-5deg));
  }
}

.work-landing-type {
  opacity: .9;
  margin: 0 0 20px 0;
  font-family: 'Trade Gothic LT Std';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;

  .felix & { color: #00BBD3; }
  .obesity & { color: #A6273C; }
  .wedding & { color: #00BBD3; }
  .character & { color: #B9272D; }
  .fieldone & { color: #34AEFF; }
}

.work-landing-client {
  margin: 0 0 35px 0;
  font-family: 'Sentinel A','Sentinel B';
  font-weight: 200;
  font-size: 54px;
  line-height: 1.25;
  color: #8FA3AD;

  @include mq(1000px) {
    br {
      display: none;
    }
  }

  .felix & {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.2;
  }
}

.work-landing-cta {
  display: inline-block;
  @include size(110px 35px);
  padding-top: 9px;
  border: 2px solid #8DA3AD;
  border-radius: 3px;
  font-family: 'Trade Gothic LT Std';
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: #8DA3AD;
}
