// normalize

@import "normalize";

// mixin library

@import "bourbon/bourbon";

// brand colors

$black: #1C1C20;
$light-black: #262628;

// box sizing

*,
*::before,
*::after {
  @include box-sizing(border-box);
  margin: 0;
}

// globals

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
}

// partials

// site wide

@import "layout";
@import "menu";
@import "header";
@import "cta";
@import "social";
@import "footer";

// sections

@import "home";
@import "approach";
@import "team";
@import "contact";