// colors

$black: #17202A;
$light-black: #27303C;

// bourbon.io

@import "../bower/bourbon/dist/bourbon";

// globals

*,
*::before,
*::after {
  @include box-sizing(border-box);
  margin: 0;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
}

// partials

@import "layout";
@import "menu";
@import "footer";