// normalize
@import "partials/normalize";

// vendors
@import "vendors/bourbon/bourbon";

// mixins
@import "modules/mixins";
@import "modules/text";

// brand colors
$black: #1C1C20;
$light-black: #333;

// media queries
$desktop: 1360px;
$tablet: 800px;
$mobile: 480px;

// box sizing
*,
*::before,
*::after {
  @include box-sizing(border-box);
  margin: 0;
}

// globals

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  @include font(12px, 300, white, 'Source Sans Pro');
  line-height: 1.3;
}

// partials

// global
@import "partials/cta";
@import "partials/footer";
@import "partials/header";
@import "partials/layout";
@import "partials/menu";
@import "partials/overlay";
@import "partials/social";
@import "partials/ui";

// sections
@import "partials/sections/approach";
@import "partials/sections/case-blocks";
@import "partials/sections/case-colors";
@import "partials/sections/case-covers";
@import "partials/sections/case-studies";
@import "partials/sections/contact";
@import "partials/sections/hiring";
@import "partials/sections/home";
@import "partials/sections/team";
@import "partials/sections/work";
