.career-title {
  @include text('sentinel', 48, 300);
  margin: 0 0 $textGap;
}

.career-text {
  @include text('sentinel', 18, 300);
  color: $regent-grey;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.career-box {
  overflow: hidden;
  max-height: 0;
  transition: max-height 400ms ease-in-out;
  // WYSIWYG
  h3 {
    @include text('sentinel', 28, 300);
    margin: $textGap*2 0 $textGap;

    &:first-of-type {
      margin: $textGap 0;
    }
  }

  h2 {
    @include text('sentinel', 30, 300, $regent-grey);
  }

  ul {
    @include text('source-sans-pro', 20, 300);
    // list-style-position: inside;
    list-style-type: disc;
    padding: 0 0 0 20px;

    > ul {
      @include text('source-sans-pro', 16, 300, $charcoal);
      padding-left: $textGap;
    }
  }

  li {
    padding: $textGap/4 0;
  }

  a {
    color: $jaguar;
    @include link-underline($white-smoke, $jaguar, $iron);
  }
}
