.career-box {
  // max-height: 0;
  // overflow: hidden;
  max-width: 800px;
  transition: max-height 400ms ease-in-out;
  // WYSIWYG
  h3 {
    @include text('sentinel', 28, 300);
    margin: $textGap*2 0 $textGap;

    &:first-of-type {
      margin: $textGap 0;
    }
  }

  h2 {
    @include text('sentinel', 30, 300, $regent-grey);
  }

  ul {
    @include text('source-sans-pro', 18, 300);
    // list-style-position: inside;
    list-style-type: disc;
    padding: 0 0 0 20px;

    > ul {
      @include text('source-sans-pro', 16, 300, $charcoal);
      padding-left: $textGap;
    }
  }

  li {
    padding: $textGap/2 0;
  }

  a {
    @include link-underline($white-smoke, $jaguar, $iron);
    color: $jaguar;
  }

  > *:last-child() {
    margin-bottom: 0;
  }
}

.career-panel {
  align-items: center;
  background-color: $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.19);
  display: flex;
  flex: 1 0 auto;
  padding: $textGap;
  text-decoration: none;
  transition: box-shadow 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;

  &:hover,
  &:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.17);
  }

  @include media('>=md') {
    padding: $textGap*1.5 $textGap*2;
  }
}

.career-copy {
  display: flex;
  flex-direction: column;
  margin-right: $textGap;

  @include media('>=lg') {
    align-items: center;
    flex-direction: row;
    margin-right: $textGap*2;
  }
}

.career-title {
  @include text('sentinel', 28, 300, $jaguar);
  margin: 0;
}

.career-text {
  @include text('sentinel', 18, 300, $charcoal);
  line-height: 1.4;
  margin: $textGap/2 0 0;

  @include media('>=lg') {
    margin: 0 0 0 $textGap*2;
  }
}

.career-button {
  margin-left: auto;
  padding: 0;
}
