.contact-content {
  &:last-of-type {
    margin-top: $textGap;
  }
}

.contact-group {
  align-self: flex-start;
  display: block;
  margin: $textGap*1.5 0 0;
  text-decoration: none;
  width: auto;
}

.contact-address-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  text-decoration: none;

  @include media('>=md') {
    align-items: flex-start;
    flex-direction: column;
  }
}

.contact-title {
  @include text('trade-gothic', 18, 700, $charcoal);
  letter-spacing: 2px;
  margin: 0 0 $textGap*1.5;
  text-transform: uppercase;
}

.contact-heading {
  @include text('sentinel', 20, 300, $regent-grey);
  font-style: italic;
  margin: $textGap*2 0 $textGap;
}

.contact-text {
  @include text('sentinel', 14, 300, $charcoal);
  line-height: 2;
  margin: 0;
  max-width: 370px;
}

.contact-link {
  @include text('source-sans-pro', 22, 300, $regent-grey);
  display: inline-block;
  margin: 0;
  opacity: 0.8;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: opacity 300ms ease;

  &:hover {
    opacity: 1;
  }
}

.contact-map-pin {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44.5 68.8'%3E%3Cpath d='M1 61.8h42.5v6H1zm39.5-42.5q0 6.1-4.6 14.5a78.6 78.6 0 0 1-9.1 13.6l-4.6 5.3q-2-2.1-5.1-5.8a96.6 96.6 0 0 1-8-12.7Q4 25.4 4 19.3a17.6 17.6 0 0 1 5.3-13 17.6 17.6 0 0 1 13-5.3 17.6 17.6 0 0 1 12.9 5.3 17.6 17.6 0 0 1 5.3 13zM18 15a5.9 5.9 0 0 0-1.9 4.3 5.6 5.6 0 0 0 1.9 4.2 6 6 0 0 0 4.3 1.8 5.9 5.9 0 0 0 4.4-1.8 5.8 5.8 0 0 0 1.8-4.2 5.9 5.9 0 0 0-2-4.3 5.9 5.9 0 0 0-8.5 0z' fill='none' stroke='%2395a6b4' stroke-width='2'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 50px;
  margin: 0 0 0 $textGap*2;
  opacity: 0.8;
  transition: opacity 300ms ease;
  width: 32px;

  &:hover {
    opacity: 1;
  }

  @include media('>=md') {
    height: 65px;
    margin: $textGap*2 0 0;
    width: 42px;
  }
}

.contact-letter {
  display: none;

  @include media('>=sm') {
    display: flex;
    margin-top: 4em;
    max-width: 850px;
    min-height: 330px;
    perspective: 1000px;
    width: 100%;
  }

  @include media('>=lg') {
    min-height: 460px;
  }
}

.contact-flipper {
  display: flex;
  position: relative;
  transform-style: preserve-3d;
  transition: 600ms;
  width: 100%;

  .is-flipped &,
  .contact-letter:hover & {
    transform: rotateX(180deg);
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .contact-letter:hover & {
      transform: none;
    }
  }
}

.contact-front,
.contact-back {
  @include position(absolute, 0, null, null 0);
  backface-visibility: hidden;
  background-color: $night-rider;
  color: $white;
  filter: drop-shadow(0 5px 8px rgba($jaguar, 0.3));
  height: 100%;
  padding: 3em 2em;
  width: 100%;

  @include media('>=lg') {
    padding: 5em 4em;
  }
}

.contact-front {
  align-items: center;
  background-image: url("./../images/sections/contact/cover-monument.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 10px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  outline-offset: -20px;
  transform: rotateX(0deg);
  z-index: 2;
}

.contact-back {
  // filter: drop-shadow(0 -5px 8px rgba($jaguar, 0.3));
  overflow: hidden;
  transform: rotateX(180deg);
}

.contact-front-heading {
  @include text('trade-gothic', 14, 600);
  letter-spacing: 3px;
  margin: 0;
  text-transform: uppercase;
}

.contact-front-title {
  @include text('sentinel', 48, 300);
  letter-spacing: 0.5px;
  line-height: 1.1;
  margin: 0;
}

// SEE FOOTER
.contact-star {
  // use `&#9733;` for star icon in html markup
  font-size: 12px;
  margin: $textGap 0 $textGap/2;
  text-align: center;
  text-shadow: -20px 0 0, 20px 0 0; // duplicates star
  width: 60px;
}

.contact-back-stamp {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 95 65'%3E%3Cpath d='M92.4 22.3v-.4c.1-.5.1-.9.1-1.4a2.1 2.1 0 0 1 1.7-2.2l.7-.2-.2-1.8.2-3c-2.1-.4-2.4-.8-2.4-2.8V9.4c0-1.5.3-1.9 1.8-2.3s.6-.3.6-.5V3.3A3.3 3.3 0 0 1 91.4.1h-3.7l-.2.5A2 2 0 0 1 85 2.4h-1.9a1.7 1.7 0 0 1-1.9-1.1 3.2 3.2 0 0 1-.3-.7c-.1-.5-.4-.6-.9-.6h-3.4a1.2 1.2 0 0 0-1.4.9A1.8 1.8 0 0 1 73 2.4a14.8 14.8 0 0 0-2.2 0A2.1 2.1 0 0 1 68.7.8l-.3-.8h-4.2a1.1 1.1 0 0 0-1.3.9 1.7 1.7 0 0 1-2 1.4h-2.5a1.6 1.6 0 0 1-1.6-.9 2.8 2.8 0 0 1-.3-.8.7.7 0 0 0-.8-.6h-4c-.5 0-.7.2-.8.6s-.9 1.7-2.4 1.8h-1.7c-1.7 0-2.1-.2-2.7-1.8s-.4-.5-.8-.5h-3.1c-1-.1-1.6.2-1.9 1.2a1.6 1.6 0 0 1-1.8 1.2h-2c-1.4.1-1.7.1-2.5-1.8-.1-.2-.4-.5-.6-.5h-4.9c-.5 1.9-1 2.6-3.1 2.4H22A1.9 1.9 0 0 1 19.9 1a3.3 3.3 0 0 0-.3-.6c-.1-.2-.3-.4-.5-.4h-4.6a14.1 14.1 0 0 1-1 1.7 1.6 1.6 0 0 1-1 .6H9a1 1 0 0 1-.6-.3C8 1.5 7.8 1 7.5.5S7.2.1 7 .1H3.4c0 .4 0 .6-.1.9a3.1 3.1 0 0 1-1.8 2.2c-.5.2-1.2.2-1.4.5s0 1.2 0 1.7a6.9 6.9 0 0 1 0 .8c-.1.6.2.9.8 1a1.7 1.7 0 0 1 1.5 1.9v2.2A1.8 1.8 0 0 1 1 13.1l-.9.2v4.2s.1.7.6.8a1.9 1.9 0 0 1 1.8 2.2v1.3c0 1.8-.2 2.1-2 2.7H.1v4.8c2.2.6 2.3.8 2.3 3v.5c0 2.1-.1 2.3-2.2 2.9H.1v4.7c1.9.5 2.5.8 2.3 2.9v1.3A1.8 1.8 0 0 1 1 46.7l-.9.2c0 1.2.1 2.3 0 3.5A1.4 1.4 0 0 0 1 52c.5.2 1.2.7 1.3 1.1a19 19 0 0 1 0 3.5.9.9 0 0 1-.4.6l-1.9 1v3.1a1.5 1.5 0 0 0 .1.3c2.5.6 2.8.9 3.6 3.3h3.7c.3-1.4.9-2.5 2.8-2.3h1.3a2.1 2.1 0 0 1 2.5 1.6l.3.8h4.4a.8.8 0 0 0 .9-.6c.5-1.4 1-1.7 2.5-1.7H24a2.2 2.2 0 0 1 2.1 1.5l.2.8h5.3c.6-1.9.9-2.5 3.1-2.3H36a2.1 2.1 0 0 1 2.5 1.6l.3.7H44c.9-2.1 1-2.4 3.1-2.3h1.4a2.2 2.2 0 0 1 2.3 1.7l.2.6h5.2l.2-.6c.6-1.4 1-1.9 2.6-1.8h2.1c.9-.1 1.3.5 1.7 1.1s.2.5.3.8.4.5.5.5h4.8c.7-1.8 1-2.6 3.2-2.3h1.1c1.6 0 1.9.2 2.6 1.7l.2.6h5.2l.2-.5c.5-1.4 1-1.8 2.6-1.8h2c.9-.1 1.4.5 1.9 1.4a6.3 6.3 0 0 1 .3.9h3.8c.5-2.3.8-2.7 3.4-3.5v-3.4l-.7-.2c-1.2-.4-1.8-.8-1.6-2.3a11.8 11.8 0 0 0 0-1.3c0-1.5.2-1.9 1.7-2.4l.6-.2v-4.8c-1.9-.3-2.3-.9-2.3-2.6v-1.7a1 1 0 0 1 .6-1.2l1.8-.9v-4.7l-.6-.2c-1.7-.6-1.8-.8-1.8-2.6v-1s.2-2 1.8-2.5l.6-.2v-4.7l-1.4-.5c-.9-.3-1-1.1-1.2-1.8zm-2.7 37.5v-3.6 2.4z' fill='%2395a6b4'/%3E%3C/svg%3E");
  float: right;
  height: 65px;
  margin: -2em -1em 0 0;
  padding: 6px;
  position: relative;
  width: 95px;

  @include media('>=lg') {
    margin: -3em -2em 0 0;
  }

  &::after {
    @include position(absolute, 6px, null, null, 0);
    background-image: url('../images/sections/contact/stamp-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
    height: 53px;
    width: 100%;
  }
}

.contact-back-content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 66.666%;
}

.contact-back-box-intro {
  margin: 0;
}

.contact-back-box-link {
  align-self: flex-start;
  color: inherit;
  letter-spacing: 0.5px;
  margin: auto 0 0;
  text-decoration: none;

  @include media('>=lg') {
    margin: auto 0;
  }
}

.contact-back-tagline {
  @include text('trade-gothic', 14, 700);
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

.contact-back-text {
  @include text('sentinel', 18, 300);
  margin: 0;
}

.contact-back-email {
  @include text('source-sans-pro', 38, 300);
  margin: $textGap 0 0;
  overflow: hidden;
  position: relative;
  text-shadow: 0.03em 0 $night-rider, -0.03em 0 $night-rider, 0 0.03em $night-rider, 0 -0.03em $night-rider, 0.06em 0 $night-rider, -0.06em 0 $night-rider, 0.09em 0 $night-rider, -0.09em 0 $night-rider, 0.12em 0 $night-rider, -0.12em 0 $night-rider, 0.15em 0 $night-rider, -0.15em 0 $night-rider;

  &::selection {
    background: $black;
    display: block;
    text-shadow: 0.03em 0 $black, -0.03em 0 $black, 0 0.03em $black, 0 -0.03em $black, 0.06em 0 $black, -0.06em 0 $black, 0.09em 0 $black, -0.09em 0 $black, 0.12em 0 $black, -0.12em 0 $black, 0.15em 0 $black, -0.15em 0 $black;
    width: 100%;
  }


  &::before {
    @include position(absolute, null, null, 10%, 0);
    background-color: $white;
    content: ' ';
    height: 1px;
    transform: translateX(-101%);
    transition: transform 300ms ease-in-out;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    &::before {
      transform: translateX(0);
    }
  }
}

.contact-map-container {
  display: flex;
  flex-direction: column;
  max-width: 850px;

  @include media('>=sm') {
    flex-direction: row;
  }
}

.contact-cover-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  width: 100%;

  @include media('>=lg') {
    min-height: 460px;
  }

  &.google-map {
    background-image: url('../images/sections/contact/google-map.jpg');
    margin: 0 0 2%;

    @include media('>=sm') {
      margin: 0 1% 0 0;
    }
  }

  &.google-street {
    background-image: url('../images/sections/contact/contact-office-photo.jpg');
  }
}
