.team-content-name {
  @include text('source-sans-pro', 36, 300, $charcoal);
  margin: 0;
}

.team-content-heading {
  @include text('sentinel', 20, 300, $regent-grey);
  font-style: italic;
  margin: $textGap*2 0 $textGap;
}

.team-content-text {
  @include text('sentinel', 14, 300, $charcoal);
  line-height: 2;
  margin: 0;
  max-width: 370px;
}

.team-quote-container {
  @include position(absolute, 0, 0, 0, 0);
  align-items: center;
  background-color: rgba($jaguar, 0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: 0;
  text-align: center;
  transition: opacity 500ms ease 200ms;
  width: 100%;

  &:hover {
    opacity: 1;
    transition: opacity 500ms ease;
  }
}

.team-quote-content {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 500ms ease-in, opacity 400ms ease;

  .team-quote-container:hover & {
    opacity: 1;
    transform: translateY(0);
    transition: transform 500ms ease-out 100ms, opacity 400ms ease 100ms;
  }
}

.team-quote-text {
  @include text('sentinel', 26, 300, $white-smoke);
  line-height: 1.4;
  margin: 0 0 $textGap;
}

.team-quote-author {
  @include text('trade-gothic', 14, 700, $white-smoke);
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}
