.work-client-panel {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0 -#{$gridGap} -#{$gridGap} 0;

  @include media('>=sm') {
    flex-flow: row wrap;
  }
  //
  // @include media('>=xl') {
  //   justify-content: space-between;
  // }
}

.work-client-panel-image {
  height: 30px;
  margin-bottom: $gridGap;
  padding: 0 $gridGap 0 0;
  transition: opacity 300ms ease;
  width: auto;
}
