.cta {
  overflow: hidden;
  position: relative;
  clear: both;
  padding: 120px 0;
  text-align: center;

  .team & {
    background-color: #F1F1F1;
  }

  .smp & {
    background-color: #55575A;
  }

  .cityhealth & {
    background-color: #86ACAC;
  }

  .cds & {
      background-color: #893131;
  }

  .interfolio & {
      background-color: #3D80AE;
  }

  .unbox & {
      background-color: #3DB78E;
  }

  .upfront & {
      background-color: #FFF8F3;
  }
}

.cta-text,
.cta-link {
    .smp &,
    .cityhealth &,
    .cds &,
    .interfolio &,
    .unbox & {
        color: #FFFFFF;
    }
    .upfront & {
        color: #333333;
    }
}

.cta-text {
  margin-bottom: 30px;
  @include font(26px, 300, #ACACAC, null);
  font-family: 'Sentinel A', 'Sentinel B';

  @include mq($mobile) {
    font-size: 21px;
  }
}

.cta-link {
  display: inline-block;
  @include font(22px, 200, #414141);

  &:hover {
    .cta-icon {
      margin-left: 22px;
    }
  }
}

.cta-icon {
  @include transition(all 0.5s ease);
  margin: 0 0 -6px 15px;
  height: 27px;
  width: 27px;
}

.cta-button {
  @include transition(transform 0.5s ease);
  @include size(170px 65px);
  @include position(absolute, 50% null null null);
  margin-top: -32px;
  background-color: #262628;
  color: white;

  @include mq($tablet) {
    display: none;
  }

  &:hover {
    @include transform(translateX(0px));

    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: attr(title);
    opacity: 0;
    @include transition(opacity 0.5s ease);
    @include position(absolute, 22px null null 55px);
    font-family: 'Sentinel A', 'Sentinel B';
    font-weight: 300;
    font-size: 16px;
  }
}

.cta-button-right,
.cta-button-left {
    .cds & {
        background-color: #6B2828;
    }
}

.cta-button-right {
    @include transform(translateX(115px));
    right: 0;
    background: url("../images/icons/cta-arrow-right.png") #262628 25px center no-repeat;
}

.cta-button-left {
    @include transform(translateX(-115px));
    left: 0;
    background: url("../images/icons/cta-arrow-left.png") #262628 133px center no-repeat;
    &::after {
        left: 50px;
    }
}
