@mixin frame($type, $color: null) {
    $colorPrimary: #bdbdbd;
    $colorSecondary: #9b9b9b;

    // Define Color Variables
    @if ($color == 'black') {
        $colorPrimary: #000000;
        $colorSecondary: #222222;
    }
    @else if ($color == 'dark') {
        $colorPrimary: #757575;
        $colorSecondary: #4D4D4D;
    }
    @else if ($color == 'light') {
        $colorPrimary: #e0e0e0;
        $colorSecondary: #d1d1d1;
    }

    // Define Device Type
    @if ($type == 'mobile') {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 206.49 398'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M4.31 139.78v234.94c0 13.58 8.87 16 18 17.38l.78.12c3.36.5 9 1.34 15.64 2 5.9.58 11.85 1 17.61 1.4h.69C73.67 396.82 89 397 96.66 397h13.16c7.66 0 23-.18 39.68-1.33h.69c5.75-.4 11.71-.81 17.61-1.4 6.64-.67 12.27-1.51 15.64-2l.78-.12c9.08-1.35 18-3.8 18-17.38V23.28c0-13.58-8.87-16-18-17.38l-.77-.12c-3.36-.5-9-1.34-15.65-2-5.91-.59-11.86-1-17.62-1.4l-.68-.05C132.81 1.17 117.48 1 109.82 1c-3.87 0-6.27 0-6.58.05S100.53 1 96.67 1C89 1 73.67 1.17 57 2.33l-.69.05c-5.75.39-11.71.81-17.61 1.4C32 4.44 26.4 5.29 23 5.79l-.77.12c-9.09 1.34-18 3.8-18 17.38v116.5zm187.77 228.55H14.42V37.18h177.66z' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Crect x='83.85' y='379.08' width='37.29' height='6.55' rx='3.28' ry='3.28' fill='none' stroke='#{rgba($colorSecondary,0.99999)}' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath d='M107.88 18.71c0 2.82-3.26 4.87-6.22 2.62-2.25-3-.18-6.2 2.63-6.2a3.58 3.58 0 0 1 3.58 3.58M13.42 369.33h179.66V36.18H13.42zm2-331.15h175.66v329.15H15.42z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M206.49 50.77h-3.31V23.28c0-14.38-9.71-17-18.8-18.36l-.86-.13c-3.36-.5-9-1.34-15.61-2-6.14-.61-12.52-1.05-17.64-1.4l-.68-.05C132.89.17 117.51 0 109.82 0c-3.74 0-6.25 0-6.54.05S100.38 0 96.67 0C89 0 73.59.17 56.91 1.33l-.68.05c-5.12.35-11.5.79-17.64 1.4-6.62.67-12.26 1.5-15.7 2l-.76.12C13 6.26 3.31 8.9 3.31 23.28v54.18H0v62.32h3.31v234.94c0 14.37 9.71 17 18.81 18.37l1.05.16c3.34.49 8.92 1.32 15.42 2 6.06.6 12.21 1 17.64 1.4h.69C73.71 397.83 89 398 96.66 398h13.16c7.64 0 23-.17 39.75-1.33h.68c5.44-.38 11.61-.8 17.64-1.4 6.51-.66 12.1-1.49 15.44-2l1-.15c9.1-1.35 18.81-4 18.81-18.37V76.43h3.31zm-5.31 324c0 12.79-8.09 15-17.1 16.39l-1 .15c-3.32.49-8.89 1.32-15.35 2-6 .59-12.15 1-17.58 1.39h-.68c-16.73 1.15-32 1.32-39.61 1.32H96.69c-7.61 0-22.88-.17-39.61-1.32h-.69c-5.41-.37-11.55-.8-17.58-1.39-6.44-.65-12-1.48-15.32-2l-1.05-.16c-9-1.34-17.1-3.6-17.1-16.39V23.28c0-12.8 8.09-15.06 17.11-16.39l.84-.13c3.35-.5 9-1.33 15.53-2 6.11-.61 12.47-1 17.58-1.4l.68-.05C73.67 2.17 89 2 96.67 2c3.93 0 6.26 0 6.62.05s2.63-.05 6.53-.05c7.66 0 23 .17 39.61 1.32l.68.05c5.11.35 11.47.79 17.58 1.4 6.57.66 12.17 1.49 15.6 2l.78.12c9 1.33 17.1 3.59 17.1 16.39v351.44z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3C/g%3E%3C/svg%3E ");
    }
    @else if ($type == 'mobile-ios') {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 344.97 672.96'%3E%3Ctitle%3Emobile-ios_1%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath d='M323,17.19A49.93,49.93,0,0,0,287.48,2.5H58.35A50.21,50.21,0,0,0,8.12,52.68V621.15a50.21,50.21,0,0,0,50.23,50.18H287.48a50.2,50.2,0,0,0,50.23-50.18V52.68A49.82,49.82,0,0,0,323,17.19Zm.7,583.79H21.27V63.08H323.69Z' style='fill:#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M151.06,43h42.85a2.61,2.61,0,1,0,0-5.23H151.06a2.61,2.61,0,1,0,0,5.23Z' style='fill:#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M172.7,613.31a22.85,22.85,0,1,0,22.85,22.85A22.85,22.85,0,0,0,172.7,613.31Zm0,43.18A20.33,20.33,0,1,1,193,636.16,20.36,20.36,0,0,1,172.7,656.49Z' style='fill:#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M172.48,28.86a3.76,3.76,0,1,0-3.76-3.76A3.76,3.76,0,0,0,172.48,28.86Z' style='fill:#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M341.53,95.79h-2.19V52.68A52.71,52.71,0,0,0,286.61,0H57.49A52.71,52.71,0,0,0,4.76,52.68V91.4H4.28L0,95.68v33.2l4.28,4.28h.48v23.55H4.28L0,161v25.85l4.28,4.28h.48v23.11H4.28L0,218.52v25.85l4.28,4.28h.48V620.28A52.71,52.71,0,0,0,57.49,673H286.61a52.71,52.71,0,0,0,52.73-52.68V158.75h1.74l3.88-5.06V101.8Zm-7.19,5V620.28A47.7,47.7,0,0,1,286.61,668H57.49A47.71,47.71,0,0,1,9.76,620.28V52.68A47.71,47.71,0,0,1,57.49,5H286.61a47.71,47.71,0,0,1,47.73,47.68Z' style='fill:#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath d='M325.69,603H19.27V61.08H325.69ZM23.27,599H321.69V65.08H23.27Z' style='fill:#{rgba($colorSecondary,0.99999)}'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    @else if ($type == 'tablet') {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 532 358.67'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M505.63 1.51H26.36C12.92 1.51 1 11 1 24.5v305.94C1 343.88 12.92 356 26.36 356h479.27c13.44 0 23.82-12.11 23.82-25.55V24.5c0-13.5-10.37-22.99-23.82-22.99zm-21.08 338.44a4 4 0 0 1-4 4H51a4 4 0 0 1-4-4V15.6a4 4 0 0 1 4-4h429.55a4 4 0 0 1 4 4z' fill='#{rgba($colorPrimary,0.99999)}'/%3E%3Cpath d='M23.05 190.26h.29a11 11 0 1 0 0-22.09h-.42a11 11 0 0 0 0 22.09h.13z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Ccircle cx='507.94' cy='178.75' r='3.31' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Ccircle cx='507.94' cy='171.65' r='1.03' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M483.54 357.67h-21.33'/%3E%3Cpath d='M480.55 10.6H51a5 5 0 0 0-5 5v324.35a5 5 0 0 0 5 5h429.55a5 5 0 0 0 5-5V15.6a5 5 0 0 0-5-5zm3 329.35a3 3 0 0 1-3 3H51a3 3 0 0 1-3-3V15.6a3 3 0 0 1 3-3h429.55a3 3 0 0 1 3 3z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3Cpath fill='#{rgba($colorPrimary,0.99999)}' d='M531 286.06v21.34M473.96 1.17h10.67M455.79 357.67h-21.34'/%3E%3Cpath d='M530.45 286.06V24.5c0-13.68-10.67-24-24.82-24h-21V0H474v.51H26.36C11.58.51 0 11 0 24.5v305.94C0 344.58 12.32 357 26.36 357h408.09v1.68h21.33V357h6.42v1.68h21.33V357h22.09c13.45 0 24.82-12.16 24.82-26.55v-23H532v-21.39zm-2 44.38c0 13.31-10.45 24.55-22.82 24.55H26.36C13.61 355 2 343.29 2 330.44V24.5c0-12.33 10.7-22 24.36-22h479.27c13.22 0 22.82 9.25 22.82 22z' fill='#{rgba($colorSecondary,0.99999)}'/%3E%3C/g%3E%3C/svg%3E ");
    }
}

.frame {
    position: relative;
    z-index: 1;
    height: auto;
    width: auto;

    img {
        padding-top: 20px;
    }

    // SHADOW MODIFERS
    &.shadow {
        filter: drop-shadow(0 0 20px rgba(0,0,0,0.1));
    }

    // ABSOLUTE MODIFIERS
    &.absolute {
        position: absolute;
    }
}

.frame-desktop {
    border-radius: 10px 10px 0 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #bdbdbd;
        height: 20px;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    &::after {
        color: #FFF;
        content: ' \25CF'; // circle
        font-size: 15px;
        line-height: 0px;
        position: absolute;
        top: 10px;
        left: 7px;
        text-shadow: 12px 0px 0px, 24px 0px 0px; // duplicates circle
    }

    // EDGE MODIFIERS
    &.edge-right {
        border-radius: 10px 0 0 0;
        &::before {
            border-radius: 10px 0 0 0;
        }
    }

    &.edge-left {
        border-radius: 0 10px 0 0;
        &::before {
            border-radius: 0 10px 0 0;
        }
        &::after {
            left: 1px;
        }
    }

    // COLOR MODIFIERS
    &.dark {
        &::before {
            background-color: #757575;
        }
        &::after {
            color: #4D4D4D;
        }
    }

    &.light {
        &::before {
            background-color: #E0E0E0;
        }
        &::after {
            color: #D1D1D1;
        }
    }

    // SECTION MODIFIERS
    // INTERFOLIO
    .interfolio-off-white & {
        height: 100%;
        bottom: 0;
        right: 0;

        img {
            height: 100%;
            width: auto;
        }
    }
    // SMP
    .smp-desktop & {
        width: 64.5%;
        bottom: 0;
        &:nth-of-type(1) {
            right: 0;
        }
        &:nth-of-type(2) {
            left: 0;
        }
    }
    .smp-nav & {
        width: 90%;
        bottom: 0;
        right: 0;
    }
    .smp-size & {
        width: 75.5%;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}

.frame-tablet {
    .frame-container {
        @include frame('tablet');
    }
    // COLOR MODIFIERS
    &.black {
        &.frame-tablet {
            .frame-container {
                @include frame('tablet', 'black');
            }
        }
    }
    &.dark {
        &.frame-tablet {
            .frame-container {
                @include frame('tablet', 'dark');
            }
        }
    }
    &.light {
        &.frame-tablet {
            .frame-container {
                @include frame('tablet', 'light');
            }
        }
    }
    // SECTION MODIFIERS
    // SMP
    .smp-size & {
        width: 65%;
        height: 42.75%;
        left: 0;
        bottom: 15%;
    }
}

.frame-mobile {
    .frame-container {
        @include frame('mobile');
    }
    // COLOR MODIFIERS
    &.black {
        &.frame-mobile {
            .frame-container {
                @include frame('mobile', 'black');
            }
        }
    }
    &.dark {
        &.frame-mobile {
            .frame-container {
                @include frame('mobile', 'dark');
            }
        }
    }
    &.light {
        &.frame-mobile {
            .frame-container {
                @include frame('mobile', 'light');
            }
        }
    }
    // SECTION MODIFIERS
    // SNAGAJOB
    .snagajob-white & {
        width: 30%;
        top: 0;
        bottom: 0;
        height: 82%;
        margin: auto 0;
        &:nth-of-type(1) {
            left: 0;
        }
        &:nth-of-type(2) {
            width: 35%;
            height: 95.5%;
            margin: auto;
            left: 0;
            right: 0;
        }
        &:nth-of-type(3) {
            right: 0;
        }
    }
    .snagajob-orange & {
        width: 36.5%;
        top: 0;
        bottom: 0;
        height: 100%;
        margin: auto 0;
        left: 10%;
    }
    .snagajob-off-white & {
        top: 0;
        bottom: 0;
        margin: auto 0;
        &:nth-of-type(1) {
            width: 27.5%;
            height: 75%;
            left: 0;
        }
        &:nth-of-type(2) {
            width: 30.5%;
            height: 83%;
            left: 18%;
        }
        &:nth-of-type(3) {
            width: 33.5%;
            height: 91.5%;
            left: 39%;
        }
        &:nth-of-type(4) {
            width: 36.5%;
            height: 100%;
            right: 0;
        }
    }
    // CDS
    .cds-white & {
        width: 30%;
        bottom: -10%;
        right: -7%;
        z-index: 1000;

        @include mq($tablet) {
            right: -3%;
        }
    }
    // INTERFOLIO
    .interfolio-off-white & {
        width: 20%;
        z-index: 1000;
        top: 0;
        left: 0;

        &:last-of-type {
            z-index: 900;
            top: 25%;
            left:12%;
        }
    }
    // SMP
    .smp-nav & {
        width: 32%;
        height: 62.5%;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto 0;
    }
    .smp-size & {
        width: 22%;
        height: 42%;
        top: 15%;
        right: 0;
    }
}

.frame-mobile-ios {
    .frame-container {
        @include frame('mobile-ios');
    }
    // COLOR MODIFIERS
    &.black {
        &.frame-mobile-ios {
            .frame-container {
                @include frame('mobile-ios', 'black');
            }
        }
    }
    &.dark {
        &.frame-mobile-ios {
            .frame-container {
                @include frame('mobile-ios', 'dark');
            }
        }
    }
    &.light {
        &.frame-mobile {
            .frame-container-ios {
                @include frame('mobile-ios', 'light');
            }
        }
    }
    // SECTION MODIFIERS
    // SNAGAJOB
    .snagajob-orange & {
        width: 36.5%;
        top: 0;
        bottom: 0;
        height: 100%;
        margin: auto 0;
        right: 10%;
    }
}

.frame-container {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    padding: 0; /* reset */
    position: relative;

    .frame-tablet & {
        background-image: url('../images/frames/tablet.svg');
        padding-bottom: 67.5%;

        &::after {
            content: '';
            position: absolute;
            top: 2%;
            left: 6%;
            width: 87%;
            height: 95%;
            background: #ededed;
            z-index: -2;
        }

        img {
            padding: 2.3% 8.9% 2.8% 8.9%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: inherit;
            z-index: -1;
        }
    }

    .frame-mobile &,
    .frame-mobile-ios & {
        padding-bottom: 195.5%;
        &::after {
            content: '';
            position: absolute;
            top: 9%;
            left: 3%;
            width: 94%;
            height: 85%;
            background: #ededed;
            z-index: -2;
        }

        img {
            padding: 18.5% 5.5% 14.6% 7.2%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: inherit;
            z-index: -1;
        }
    }

    .frame-mobile-ios & {

        img {
            padding: 18.9% 6.3% 21.3% 6.5%;
        }
    }
}

// #TODO Fix the container the frames sit in
