header {
  @include size(100% 340px);
  padding-top: 145px;

  @include mq($mobile) {
    height: auto;
    padding: 140px 0 100px 0;
  }

  .approach & {
    background-color: transparent;
    position: relative;
    z-index: 1;
  }
}

.page-heading {
  margin: 0 0 15px 0;
  @include font(52px, 200, #333333);

  .approach & {
    @include font(24px, 700, #424242, $trade-gothic);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.page-subheading {
  @include font(22px, 300, #AEAEAE, null);
  font-family: 'Sentinel A', 'Sentinel B';

  @include mq($tablet) {
    font-size: 20px;
  }

  .approach & {
    @include font(48px, 200, #6f7f84, $source-sans);
  }
}
