<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - &amp;Pizza</title>
    <% include ../partials/head %>
        <link rel="stylesheet" href="../style.css">
</head>

<body>
    <!-- REMOVE HASH ON COMMENT -->
    <!-- <%# include ../partials/work-menu %> -->

        <div class="wrapper case-study andPizza">

            <section class="case-header">
                <div class="case-header-container container">
                    <img class="case-header-logo" src="../images/andPizza/andPizza-logo.svg">
                    <h1 class="case-header-tagline">Great taste, all&nbsp;<br />the way to the crust</h1>
                    <h6 class="case-header-type">Growing the Digital Brand</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary andPizza-black">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>&amp;pizza nailed the in-store experience. We nailed the digital experience.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">Let it grow</h3>
                        <p class="case-breakdown-detail">As &amp;pizza grows, they needed a partner who could grow with them, helping bring their best ideas and innovations to life.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">Evolve in style</h3>
                        <p class="case-breakdown-detail">We learned the business and brand inside out and continue to drive their digital UX strategy today.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Digital Branding</li>
                            <li>Information Architecture</li>
                            <li>Visual Design</li>
                            <li>Development</li>
                            <li>Research</li>
                            <li>Prototyping</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block not-padded andPizza-gray">
                <div class="inner-block half absolute-left vertical-center left-padded mobile-container">
                    <h2 class="case-block-text-heading">Put the fast&nbsp;<br />
                    in fast casual</h2>
                    <p class="case-block-text-subtext short-length">We built and tested prototypes for an online ordering app to find out what users need, want, and expect to order and customize their pizza before ever stepping into a store.</p>
                </div>
                <div class="inner-block half float-right full-height genz-red overlay">
                    <img class="case-block-image" src="../images/andPizza/mobile-bg.jpg" />
                    <img class="case-block-image absolute" src="../images/andPizza/mobile-display.png" data-sr="enter bottom, move 800px" />
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block top-padded andPizza-off-white">
              <div class="container narrow">
                <p class="case-block-text-heading medium-length align-center" data-sr>Higher and hire</p>
                <p class="case-block-text-subtext medium-length align-center" data-sr>One of the brand&rsquo;s most important assets is their team. We&nbsp;<br /> designed a Careers site to tell their story and grow the &amp;pizza Tribe.</p>
                <img class="case-block-image text-above mobile-padded-above" src="../images/andPizza/careers.jpg">
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image andPizza-animation"></section>
            <!-- END case-block -->

            <section class="case-block andPizza-bricks">

                    <div class="inner-block one-third left-padded absolute-left vertical-center mobile-padded-below mobile-container-absolute">
                        <h2 class="case-block-text-heading short-length">Skimming by cards</h2>
                        <p class="case-block-text-subtext short-length">The interface uses cards as an organization tool to improve skimmability. Users can quickly sort through information presented to them.</p>
                    </div>

                    <div class="inner-block two-third float-right mobile-container-left" data-sr="enter right, move 200px">
                        <img class="case-block-image" src="../images/andPizza/locations.png">
                    </div>

            </section>
            <!-- END case-block -->

            <section class="case-block andPizza-white ">
                    <div class="inner-block one-third right-padded absolute-right vertical-center mobile-padded-below mobile-container-absolute">
                        <h2 class="case-block-text-heading short-length">Get it while it&rsquo;s hot</h2>
                        <p class="case-block-text-subtext short-length">The hat. The shirt. The tat. Fans of the brand want to get their hands on &amp;pizza swag. We skinned and customized a Shopify site to to make it easy for them to buy their favorite threads.</p>
                    </div>

                    <div class="inner-block two-third float-left mobile-container-right" data-sr="enter left, move 200px">
                        <img class="case-block-image" src="../images/andPizza/swag.jpg">
                    </div>
            </section>
            <!-- END case-block -->

            <section class="case-block not-padded andPizza-gray">
                <div class="inner-block half absolute-left vertical-center left-padded mobile-container">
                    <h2 class="case-block-text-heading short-length">Lose yourself in the pizza, not in the store</h2>
                    <p class="case-block-text-subtext short-length">For a brand new location in Columbia Heights, we directed the wayfinding signage so customers new and old alike can slide right into the good stuff.</p>
                </div>
                <div class="inner-block half float-right full-height">
                    <img class="case-block-image" src="../images/andPizza/store.jpg" />
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block andPizza-white">
                <div class="container">
                    <div class="inner-block half absolute-right vertical-center left-padded">
                        <h2 class="case-block-text-heading short-length">Reimagining a menu</h2>
                        <p class="case-block-text-subtext short-length">For the visually-minded, the front side is rich in intricate illustrations. For the analytical thinkers, the back provides a grid landscape of options for your meal.</p>
                    </div>
                    <div class="inner-block half float-left full-height mobile-padded-above" data-sr="enter left, move 200px">
                        <img class="case-block-image" src="../images/andPizza/menu-items.svg" />
                    </div>
                </div>

            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image andPizza-menus"></section>
            <!-- END case-block -->

            <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra andPizza-gray flex-center">
                    <h2 class="case-block-text-blockquote medium-length">Brave is a partner, not a service provider... </h2>
                </div>
                <div class="inner-block half padded mobile-container andPizza-off-white flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/andPizza/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">For those who dare to think differently, Brave challenges the status quo and pushes the limits of what a user experience agency can be.  Led by an adaptive service model and disruptive thinking, Brave provides strategic insight and thoughtful execution.  Brave is a partner, not a service provider, and can best be described as the anti-agency agency.</p>
                        <p class="case-block-text-citation">Michael Lastoria, <em>CEO &amp;pizza</em></p>
                    </div>

                </div>
            </section>
            <!-- END case-block -->

            <!-- TEMP COMMENT -->
            <!-- <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section> -->
            <!-- End TEMP COMMENT -->
            <!-- END cta -->

            <!-- TEMP COMMENT -->
            <!-- <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>
                        <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer> -->
            <!-- END TEMP COMMENT -->
        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
