<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - B-Line Medical</title>
    <% include ../partials/head %>
    
</head>

<body>

    <% include ../partials/work-menu %>

        <div class="wrapper case-study bline">

            <section class="case-header">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">B-Line Medical</h5>
                    <h1 class="case-header-tagline">Take a learning tool&nbsp;<br />to the next level</h1>
                    <h6 class="case-header-type">Healthcare Simulation Application</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary bline-dark-blue">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>We redesigned an application that manages and debriefs&nbsp;<br />medical simulations for healthcare students.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown bline-blue">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">Make a tool indispensable</h3>
                        <p class="case-breakdown-detail">We took the bones of the application and set out to make it incredibly intuitive as well as beautiful.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">Form meets function</h3>
                        <p class="case-breakdown-detail">Our redesign blends modern usability with a clean look to guide users and help them with the task at hand.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Information Architecture</li>
                            <li>Application Design</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block padded bline-white">
                <div class="container">
                    <div class="inner-block one-third absolute-left vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute" data-sr>
                        <h2 class="case-block-text-heading short-length">Fly through&nbsp;<br />management tasks</h2>
                        <p class="case-block-text-subtext short-length">With a prioritized column layout and page-level navigation, management is quick and easy.</p>
                    </div>

                    <div class="inner-block two-third float-right mobile-container-absolute relative">
                        <div class="frame frame-desktop shadow" data-sr="enter bottom, move 200px">
                            <img class="case-block-image" src="../images/bline/desktop-management.jpg">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image bline-hospital"></section>
            <!-- END case-block -->

            <section class="case-block extra-padded bline-dark-blue">
                <div class="container">
                    <div class="inner-block one-third absolute-right vertical-center mobile-padded-below mobile-container-absolute" data-sr>
                        <h2 class="case-block-text-heading short-length">Data when&nbsp;<br />you need it</h2>
                        <p class="case-block-text-subtext short-length">A layer of detailed simulation data can be expanded when needed. When it&rsquo;s in the way, you can collapse it or enter theater mode to focus solely on the video itself.</p>
                    </div>

                    <div class="inner-block two-third float-left mobile-container-absolute relative">
                        <img class="case-block-image" src="../images/bline/data.svg" data-sr="enter bottom, move 200px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block not-padded bline-multi-data">
                <div class="container">
                    <div class="inner-block relative">
                        <img class="case-block-image absolute" src="../images/bline/multi-data1.svg" data-sr="vF 0.8, enter top, move 100px"/>
                        <img class="case-block-image" src="../images/bline/multi-data2.svg" data-sr="vF 0.8, wait 0.25s, enter top, move 100px"/>
                        <img class="case-block-image absolute" src="../images/bline/multi-data3.svg" data-sr="vF 0.8, wait 0.5s, enter top, move 100px"/>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block top-padded bline-offwhite">
              <div class="container narrow">
                  <div class="inner-block mobile-padded-below" data-sr>
                        <p class="case-block-text-heading medium-length align-center">Provide an organized workspace</p>
                        <p class="case-block-text-subtext medium-length align-center">Users have everything they need for their workflow, with annotations, data, and a multi-layout video player all in a clear and efficient structure.</p>
                    </div>
                <div class="inner-block relative">
                    <div class="frame frame-desktop shadow" data-sr="vF 0.1, wait 0.25s, enter bottom, move 400px">
                        <img class="case-block-image text-above" src="../images/bline/desktop-operation.jpg">
                    </div>
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block not-padded bline-blue">
                <div class="inner-block half absolute-left vertical-center left-padded mobile-container" data-sr>
                    <h2 class="case-block-text-heading">Out with the old,&nbsp;<br>in with the new</h2>
                    <p class="case-block-text-subtext short-length">We designed the zero-state to be fully interactive, ensuring that users can get through each step with as little effort as possible. </p>
                </div>

                <div class="inner-block half float-right relative">
                    <img class="case-block-image" src="../images/bline/interactive-bg.svg">
                    <img class="case-block-image absolute" src="../images/bline/interactive1.svg" data-sr="enter left, move 100px">
                    <img class="case-block-image absolute" src="../images/bline/interactive2.svg" data-sr="enter right, move 100px">
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block padded bline-white">
                <div class="container">
                    <div class="inner-block relative">
                        <img class="case-block-image" src="../images/bline/icons.svg" data-sr="vF 0.7, enter bottom, move 100px"/>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra flex-center bline-dark-blue">
                    <h2 class="case-block-text-blockquote medium-length">Brave helped us completely rethink the UX of our platform</h2>
                </div>
                <div class="inner-block half padded mobile-container bline-offwhite flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/bline/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">Brave helped us completely rethink the UX of our platform, asking questions and making us step outside our own and into our users&rsquo; mindset. Working with Brave not only improved our platform, but how we think about UX.</p>
                        <p class="case-block-text-citation">Chafic Kazoun, <em>Co-Founder and Chairman, B-Line Medical</em></p>
                    </div>

                </div>
            </section>
            <!-- END case-block -->

            <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section>
            <!-- END cta -->

            <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>
                        <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2017 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer>

        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
