<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Interfolio</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <!-- REMOVE HASH ON COMMENT -->
    <!-- <%# include ../partials/work-menu %> -->

        <div class="wrapper case-study cityhealth">

            <section class="case-header">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">Cityhealth</h5>
                    <h1 class="case-header-tagline">A Better City Life&nbsp;<br />is Good Policy</h1>
                    <h6 class="case-header-type">Online Interactive Report</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary cityhealth-green">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>40 American cities hold the secret to thriving communities.&nbsp;<br />We created a platform to translate the laws that make it happen.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown cityhealth-orange">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">Laws are in the weeds</h3>
                        <p class="case-breakdown-detail">Every city resident is affected by dozens of intersecting laws designed to hopefully improve their quality of life. But how do we evaluate which cities do this well?</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">A report card that gets&nbsp;<br />to the point</h3>
                        <p class="case-breakdown-detail">A brand-new medal system, with on-demand context and related cities help policymakers and residents alike quickly get the big picture.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Information Architecture</li>
                            <li>Visual Design</li>
                            <li>Front End Development</li>
                            <li>Data Visualization</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block top-padded cityhealth-white">
                <div class="inner-block one-third left-padded absolute-left vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading short-length">The law, in a&nbsp;<br /> satellite view</h2>
                    <p class="case-block-text-subtext short-length">An interactive map helps visualize not just where the best policies are, but how those policies affect their region.</p>
                </div>

                <div class="inner-block two-third float-right right-padded mobile-container-absolute relative">
                    <div class="frame frame-desktop shadow" data-sr="enter bottom, move 600px">
                        <img class="case-block-image" src="../images/cityhealth/map.jpg">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block top-padded cityhealth-green">
                <div class="inner-block one-third right-padded absolute-right vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading short-length">Capturing the&nbsp;<br />voice of a city</h2>
                    <p class="case-block-text-subtext short-length">Every city in this report has a customized breakdown that highlights what it&rsquo;s doing well, and more importantly, why - all backed by defensible research.</p>
                </div>

                <div class="inner-block two-third float-left left-padded mobile-container-absolute relative">
                    <div class="frame frame-desktop shadow" data-sr="enter bottom, move 600px">
                        <img class="case-block-image" src="../images/cityhealth/issues.jpg">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image cityhealth-citystreet"></section>
            <!-- END case-block -->

            <section class="case-block top-padded cityhealth-offwhite">
              <div class="container narrow">
                  <div class="inner-block mobile-padded-below" data-sr>
                        <p class="case-block-text-heading medium-length align-center">How does a policy&nbsp;<br>affect an entire nation?</p>
                        <p class="case-block-text-subtext medium-length align-center">Whether it’s greener communities or quitting smoking, single issues have their own comprehensive view, across every major American city.</p>
                    </div>
                <div class="inner-block relative">
                    <div class="frame frame-desktop shadow" data-sr="vF 0.1, wait 0.25s, enter bottom, move 400px">
                        <img class="case-block-image text-above" src="../images/cityhealth/chart.jpg">
                    </div>
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block not-padded cityhealth-gray">
                <div class="inner-block half absolute-left vertical-center left-padded mobile-container" data-sr>
                    <h2 class="case-block-text-heading">Medal rankings&nbsp;<br>on the fly</h2>
                    <p class="case-block-text-subtext short-length">A dynamic data visualization system means that medal counts, charts and graphs can be adjusted the moment laws go into effect - without needing a heavy redesign process.</p>
                </div>

                <div class="inner-block half float-right relative">
                    <img class="case-block-image" src="../images/cityhealth/medal-rank-bg.jpg">
                    <img class="case-block-image absolute-center" src="../images/cityhealth/medal-rank.svg" data-sr="enter right, move 200px">
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block not-padded cityhealth-gray">
                <div class="inner-block half absolute-right vertical-center left-padded mobile-container" data-sr>
                    <h2 class="case-block-text-heading">Code that goes&nbsp;<br>anywhere</h2>
                    <p class="case-block-text-subtext short-length">We worked with a custom, law-analysis-based CMS to create extensible, maintainable code that will last for years of future reports.</p>
                </div>

                <div class="inner-block half float-left relative">
                    <img class="case-block-image" src="../images/cityhealth/code-bg.jpg">
                    <img class="case-block-image absolute" src="../images/cityhealth/code.svg" data-sr="enter bottom, move 400px">
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block not-padded cityhealth-streetwalk">
                <div class="inner-block relative">
                    <img class="case-block-image" src="../images/cityhealth/city-balt.png" data-sr="enter top, move 50px"/>
                    <img class="case-block-image absolute" src="../images/cityhealth/city-phi.png" data-sr="wait 0.5s, enter top, move 50px"/>
                    <img class="case-block-image absolute" src="../images/cityhealth/city-ny.png" data-sr="wait 1s, enter top, move 50px"/>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra flex-center cityhealth-orange">
                    <h2 class="case-block-text-blockquote medium-length">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                </div>
                <div class="inner-block half padded mobile-container cityhealth-white flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/cityhealth/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p class="case-block-text-citation">Firstname Lastname, <em>Title, Organization</em></p>
                    </div>

                </div>
            </section>
            <!-- END case-block -->

            <!-- <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta-inverse.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section> -->
            <!-- END cta -->

            <!-- <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>
                        <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer> -->

        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
