<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - CityHealth</title>
  <%- include ../partials/_head %>
</head>
<body>
  <%- include ../partials/_menu %>
  <main class="wrapper case-study cityhealth">
    <header class="case-header">
      <div class="case-header-content container">
        <h5 class="case-header-client-name">CityHealth</h5>
        <h1 class="case-header-tagline">Better City Life&nbsp;<br />Designed by Good Policy</h1>
        <h6 class="case-header-type">Interactive Data Visualization</h6>
      </div>`
    </header>

    <section class="case-exec-summary padded green">
      <div class="container">
        <p class="case-exec-summary-text">40 American cities hold the secret to thriving communities. We designed a system to translate the laws that make it happen.</p>
      </div>
    </section>

    <section class="case-breakdown padded orange">
      <div class="container row between">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
            Laws are in the weeds
          </h3>
          <p class="case-breakdown-detail">
            Every city resident is affected by dozens of intersecting laws designed to hopefully improve their quality of life. But how do we evaluate which cities do this well?
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
            A report card that gets to the point
          </h3>
          <p class="case-breakdown-detail">
            A brand new medal system, with on-demand context and related cities help policymakers and residents alike quickly get the big picture.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Information Architecture</li>
            <li class="case-breakdown-list-item">Interaction Design</li>
            <li class="case-breakdown-list-item">Front End Development</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block padded-top">
      <div class="row container">
        <div class="inner-block absolute-center-md column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-right padded-bottom">
            <h2 class="case-block-heading">The law, in a satellite&nbsp;view</h2>
            <p class="case-block-text">
              An interactive map helps visualize not just where the best policies are, but how those policies affect their region.
            </p>
          </div>
        </div>
        <div class="inner-block column column-block align-self-bottom half-md two-third-lg half-xl">
          <div class="frame frame-desktop edge-bottom shadow sr-bottom lazy-ratio" data-width="1529" data-height="1202">
            <img data-normal="./images/work/cityhealth/map.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block padded-top green">
      <div class="row container">
        <div class="inner-block column column-block align-self-bottom half-md two-third-lg half-xl">
          <div class="frame frame-desktop edge-bottom shadow sr-bottom lazy-ratio" data-width="1607" data-height="1473">
            <img data-normal="./images/work/cityhealth/issues.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
        <div class="inner-block column absolute-center-md order-top-xs half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-left padded-bottom">
            <h2 class="case-block-heading">Capturing the voice of a city</h2>
            <p class="case-block-text">
              Every city in this report has a customized breakdown that highlights what it’s doing well, and more importantly, why&mdash;all backed by defensible research.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block">
      <img data-normal="./images/work/cityhealth/citystreet.jpg" alt="" class="block-image">
    </section>

    <section class="block padded-top gray">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">How does a policy affect an entire&nbsp;nation?</h2>
          <p class="case-block-text">
            Whether it’s greener communities or quitting smoking, single issues have their own comprehensive view, across every major American&nbsp;city.
          </p>
        </div>
      </div>
      <div class="inner-block row">
        <div class="container-narrow">
          <div class="frame frame-desktop shadow sr-tall lazy-ratio" data-width="1921" data-height="1624">
            <img data-normal="./images/work/cityhealth/chart.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block absolute-center-md padded column half-md dark-gray">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Medal rankings on&nbsp;the&nbsp;fly</h2>
          <p class="case-block-text">
            A dynamic data visualization system means that medal counts, charts and graphs can be adjusted the moment laws go into effect&mdash;without needing a heavy redesign process.
          </p>
        </div>
      </div>
      <div class="inner-block column column-block half-md hide-overflow orange cityhealth-medal-rank">
        <img data-normal="./images/work/cityhealth/medal-rank-bg.jpg" alt="" class="inner-block-image absolute full-height">
        <div class="lazy-ratio block-centered" data-width="178" data-height="150">
          <img data-normal="./images/work/cityhealth/medal-rank.svg" alt="" class="inner-block-image contain sr-right">
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block column column-block half-md hide-overflow dark-gray">
        <div class="lazy-ratio block-centered" data-width="146" data-height="150">
          <img data-normal="./images/work/cityhealth/code-bg.jpg" alt="" class="inner-block-image">
          <img data-normal="./images/work/cityhealth/code.svg" alt="" class="inner-block-image contain sr-bottom">
        </div>
      </div>
      <div class="inner-block padded absolute-center-md column half-md dark-gray">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Code that goes anywhere</h2>
          <p class="case-block-text">
            We worked with a custom, law-analysis-based CMS to create extensible, maintainable code that will last for years of future reports.
          </p>
        </div>
      </div>
    </section>

    <section class="block green">
      <div class="lazy-ratio" data-width="1440" data-height="662">
        <img data-normal="./images/work/cityhealth/streetwalk.jpg" alt="" class="inner-block-image">
        <img data-normal="./images/work/cityhealth/city-balt.png" alt="" class="inner-block-image sr-stagger-bottom">
        <img data-normal="./images/work/cityhealth/city-phi.png" alt="" class="inner-block-image sr-stagger-bottom">
        <img data-normal="./images/work/cityhealth/city-ny.png" alt="" class="inner-block-image sr-stagger-bottom">
      </div>
    </section>

    <section class="case-referral row">
      <div class="inner-block padded column absolute-center-xs half-md orange">
        <div class="container">
          <p class="case-referral-blockquote">They have the rarest breed of brilliance: the kind that can transform the complex into breathtaking simplicity.</p>
        </div>
      </div>
      <div class="inner-block padded column half-md dark-gray">
        <div class="container">
          <div class="case-referral-quote-icon"></div>
          <p class="case-referral-text">Brave UX gave us the power to speak our ideas to the world when we had no idea where to start. They have the rarest breed of brilliance: the kind that can transform the complex into breathtaking simplicity. We threw them dry, wonky, and abstract, and they turned it into something clean, intuitive, and beautiful. Throughout the entire process, they showed brio, verve, and a spider sense for how brains work - all without breaking a sweat.</p>
          <p class="case-referral-author">Beth Jacob, <em>Director, CityHealth.org</em></p>
        </div>
      </div>
    </section>

    <section class="cta-block padded">
      <a href="./work/genz" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
      <div class="cta-content container">
        <div class="cta-text">Sometimes, you find something that just works.</div>
        <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
      </div>
      <a href="./work/upturn" class="cta-button cta-button-right" title="Next Case">Next Case</a>
    </section>

    <%- include ../partials/_footer %>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
