<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - Clutch</title>
  <%- include ../partials/_head %>
</head>
<body>
  <%- include ../partials/_menu %>
  <main class="wrapper case-study clutch">
    <header class="case-header">
      <div class="case-header-content container">
        <h5 class="case-header-client-name">Clutch</h5>
        <h1 class="case-header-tagline">Find the best for&nbsp;<br />your business</h1>
        <h6 class="case-header-type">Agency Review Platform</h6>
      </div>
    </header>

    <section class="case-exec-summary padded dark-green">
      <div class="container">
        <p class="case-exec-summary-text">We redesigned Clutch, a business platform offering research and reviews in development, digital marketing, and everything in between.</p>
      </div>
    </section>

    <section class="case-breakdown padded gray">
      <div class="container row">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
            Compare hundreds of companies all at once
          </h3>
          <p class="case-breakdown-detail">
            Deciding who to trust is hard enough. We wanted to make the decision easier, grounding it in validated customer reviews.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
            Make a list, check it twice
          </h3>
          <p class="case-breakdown-detail">
            Users can navigate a clear path, moving from vertical/industry to company to their personal shortlist, where all their top picks are saved.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Brand System</li>
            <li class="case-breakdown-list-item">Information Architecture</li>
            <li class="case-breakdown-list-item">Interaction Design</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block padded-top blue">
      <div class="row container">
        <div class="inner-block column column-block align-self-bottom half-md two-third-lg half-xl">
          <div class="frame frame-desktop shadow edge-bottom sr-bottom lazy-ratio" data-width="1419" data-height="1347">
            <img data-normal="./images/work/clutch/summary-desktop.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
        <div class="inner-block absolute-center-md order-top-xs padded-bottom column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">A company’s home away from home</h2>
            <p class="case-block-text">
              Every company on the platform has a chance to shine, with their services, portfolio, and reviews presented, making it easy to do a quick skim or a deep-dive.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block row center padded">
      <div class="inner-block container-narrow">
        <div class="lazy-ratio" data-width="300" data-height="53">
          <img data-normal="./images/work/clutch/icon-person.svg" alt="" class="inner-block-image contain sr-stagger-bottom">
          <img data-normal="./images/work/clutch/icon-speed.svg" alt="" class="inner-block-image contain sr-stagger-bottom">
          <img data-normal="./images/work/clutch/icon-paper.svg" alt="" class="inner-block-image contain sr-stagger-bottom">
        </div>
      </div>
    </section>

    <section class="block row padded-top dark-green">
      <div class="inner-block absolute-center-md column half-md one-third-lg half-xl">
        <div class="container">
          <div class="inner-block-content padded-bottom">
            <h2 class="case-block-heading">Save it for later</h2>
            <p class="case-block-text">
              Clutch hosts reviews for thousands of companies. Users can now quickly add the ones they like to their shortlist to investigate later or forward on to a co-worker.
            </p>
          </div>
        </div>
      </div>
      <div class="inner-block column column-block align-self-bottom half-md two-third-lg half-xl gutter-left-mobile">
        <div class="frame frame-desktop edge-bottom edge-right shadow-dark sr-right lazy-ratio" data-width="1248" data-height="1004">
          <img data-normal="./images/work/clutch/shortlist-desktop.jpg" alt="" class="inner-block-image contain">
        </div>
      </div>
    </section>

    <section class="block padded gray">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">Comparison shopping at its finest</h2>
          <p class="case-block-text">
            For a higher-level view, users can rapidly compare cards showing both basic information and the differentiating details that matter when choosing amongst many.
          </p>
        </div>
      </div>
      <div class="inner-block row">
        <div class="container-narrow">
            <div class="lazy-ratio" data-width="2078" data-height="1107">
              <img data-normal="./images/work/clutch/review-dropbox.png" alt="" class="inner-block-image contain sr-left">
              <img data-normal="./images/work/clutch/review-braveux.png" alt="" class="inner-block-image contain sr-right">
            </div>
        </div>
      </div>
    </section>

    <section class="block padded-top blue">
      <div class="row container">
        <div class="inner-block column column-block align-self-bottom align-bottom half-md two-third-lg half-xl">
          <div class="lazy-ratio" data-width="169" data-height="150">
            <img data-normal="./images/work/clutch/city-left.svg" alt="" class="inner-block-image contain sr-stagger-bottom">
            <img data-normal="./images/work/clutch/city-middle.svg" alt="" class="inner-block-image contain sr-stagger-bottom">
            <img data-normal="./images/work/clutch/city-right.svg" alt="" class="inner-block-image contain sr-stagger-bottom">
            <img data-normal="./images/work/clutch/city-blimp.svg" class="inner-block-image contain sr-left sr-delay-tripple">
          </div>
        </div>
        <div class="inner-block absolute-center-md order-top-xs padded-bottom column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">Carrying the UX torch</h2>
            <p class="case-block-text">
              Our longstanding relationship with the Clutch team shows in the work we’ve completed together. We extended the engagement to include UX training for Clutch’s team members, which has allowed them to bring better UX thinking to every aspect of their business.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block padded-top gray">
      <div class="row container">
        <div class="inner-block absolute-center-md column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-right padded-bottom">
            <h2 class="case-block-heading">On-brand and on-message</h2>
            <p class="case-block-text">
              The platform&rsquo;s front door is a beautiful marketing interface that draws users in. For the lay of the land, we architected an intuitive directory that caters to users’ needs.
            </p>
          </div>
        </div>
        <div class="inner-block column column-block align-self-bottom align-bottom half-md two-third-lg half-xl">
          <div class="frame frame-desktop edge-bottom shadow sr-bottom lazy-ratio" data-width="1046" data-height="881">
            <img data-normal="./images/work/clutch/rundown-desktop.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="case-referral centered row">
      <div class="inner-block padded column dark-green">
        <div class="container">
          <div class="case-referral-quote-icon"></div>
          <p class="case-referral-text centered">&ldquo;It’s hard to explain how frustrating it is to have a great business concept that is constrained by a mediocre UX. Working with Brave not only delivered a world-class design, but a product that delivers on what Clutch always aimed to do. Everything Brave touches turns to opportunity.&rdquo;</p>
          <p class="case-referral-author">Mike Beares, <em>Founder, Clutch</em></p>
        </div>
      </div>
    </section>

    <section class="cta-block padded dark-blue">
      <a href="./work/stateofobesity" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
      <div class="cta-content container">
        <div class="cta-text">Sometimes, you find something that just works.</div>
        <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
      </div>
      <a href="./work/homezen" class="cta-button cta-button-right" title="Next Case">Next Case</a>
    </section>

    <%- include ../partials/_footer %>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
