<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Clutch</title>
    <% include ../partials/head %>
        <link rel="stylesheet" href="../style.css">
</head>

<body>

    <% include ../partials/work-menu %>

        <div class="wrapper case-study clutch">

            <section class="case-header">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">Clutch</h5>
                    <h1 class="case-header-tagline">Find the best for&nbsp;<br />your business</h1>
                    <h6 class="case-header-type">Rethinking a Review Platform</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>We redesigned Clutch, a site offering research and reviews in&nbsp;<br />development, digital marketing, and everything in between.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">Compare hundreds of&nbsp;<br />companies all at once</h3>
                        <p class="case-breakdown-detail">Deciding who to trust is hard enough. We wanted to make the decision easier, grounding it in validated customer reviews.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">Make a list, check it twice</h3>
                        <p class="case-breakdown-detail">Users can navigate a clear path, moving from vertical/industry to company to their personal shortlist, where all their top picks are saved.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Brand Refresh</li>
                            <li>Information Architecture</li>
                            <li>Application Design</li>
                            <li>UX Training</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block clutch-blue top-padded">
                <div class="container">
                    <div class="inner-block one-third absolute-right vertical-center mobile-padded-below">
                        <h2 class="case-block-text-heading short-length">A company&rsquo;s home away from home</h2>
                        <p class="case-block-text-subtext short-length">Every company  on the site has a chance to shine, with their services, portfolio, and reviews presented so it’s easy to do a quick skim or a deep-dive.</p>
                    </div>

                    <div class="inner-block two-third float-left">
                        <img class="case-block-image maintain-size align-right" src="../images/clutch/summary-desktop.png" data-sr="enter bottom, move 100px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block">
                <div class="container narrow">
                    <img class="case-block-image" src="../images/clutch/icon-container.svg">
                    <img class="case-block-image absolute" src="../images/clutch/icon-person.svg" data-sr="enter bottom, move 200px">
                    <img class="case-block-image absolute" src="../images/clutch/icon-speed.svg" data-sr="wait .25s, enter bottom, move 200px">
                    <img class="case-block-image absolute" src="../images/clutch/icon-paper.svg" data-sr="wait .5s, enter bottom, move 200px">
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block clutch-teal top-padded">
                <div class="inner-block one-third absolute-left vertical-center left-margin mobile-container-absolute mobile-padded-below">
                    <h2 class="case-block-text-heading short-length">Save it for later</h2>
                    <p class="case-block-text-subtext short-length">Clutch hosts reviews for thousands of companies. Users can now quickly add the ones they like to their shortlist to investigate later or forward on to a co-worker.</p>
                </div>

                <div class="inner-block two-third float-right mobile-container-left" data-sr="enter right, move 100px">
                    <img class="case-block-image" src="../images/clutch/shortlist-desktop.png">
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block clutch-gray">
                <div class="container narrow">
                    <div class="inner-block bottom-padded">
                        <p class="case-block-text-heading medium-length align-center">Comparison shopping at its finest</p>
                        <p class="case-block-text-subtext medium-length align-center">For a higher-level view, users can rapidly compare cards showing both basic information and the differentiating details that matter when choosing amongst many.</p>
                    </div>

                    <div class="inner-block relative">
                        <img class="case-block-image" src="../images/clutch/review-dropbox.png" data-sr="enter left, move 100px">
                        <img class="case-block-image absolute" src="../images/clutch/review-braveux.png" data-sr="enter right, move 100px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block clutch-blue top-padded">
                <div class="container">
                    <div class="inner-block one-third absolute-right vertical-center padded-left mobile-padded-below">
                        <h2 class="case-block-text-heading short-length">Carrying the UX torch</h2>
                        <p class="case-block-text-subtext short-length">Our longstanding relationship with the Clutch team shows in the work we&rsquo;ve completed together. We extended the engagement to include UX training for two of Clutch&rsquo;s team members, which has allowed them to bring the UX knowledge and thought process to every aspect of their business.</p>
                    </div>

                    <div class="inner-block two-third float-left relative">
                        <img class="case-block-image" src="../images/clutch/city-left.svg" data-sr="enter bottom, move 300px">
                        <img class="case-block-image absolute" src="../images/clutch/city-middle.svg" data-sr="wait 0.25s, enter bottom, move 300px">
                        <img class="case-block-image absolute" src="../images/clutch/city-right.svg" data-sr="wait 0.5s, enter bottom, move 300px">
                        <img class="case-block-image absolute" src="../images/clutch/city-blimp.svg" data-sr="wait 1s, enter left, move 200px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block clutch-gray top-padded">
                <div class="container">
                    <div class="inner-block one-third absolute-left vertical-center padded-right mobile-padded-below">
                        <h2 class="case-block-text-heading short-length">On-brand and&nbsp;<br />on-message</h2>
                        <p class="case-block-text-subtext short-length">The front door to the site is a beautiful marketing page that pulls users in. For the lay of the land, we architected an intuitive directory that caters to visitors&rsquo; needs.</p>
                    </div>

                    <div class="inner-block two-third float-right">
                        <img class="case-block-image" src="../images/clutch/rundown-desktop.png" data-sr="enter bottom, move 200px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block clutch-teal">
                <div class="container">
                    <img class="case-block-text-quote-icon" src="../images/clutch/quote.svg" data-sr="enter top, move 75px">
                    <p class="case-block-text-quote align-center">&ldquo;Lorem Ipsum.&rdquo;</p>
                    <p class="case-block-text-citation align-center">Mike Beares, <em>Founder, Clutch</em></p>
                </div>
            </section>
            <!-- END case-block -->

            <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section>
            <!-- END cta -->

            <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>

                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer>
        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
