<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - Felix</title>
  <%- include ../partials/_head %>
</head>
<body>
  <%- include ../partials/_menu %>
  <main class="wrapper case-study felix">
    <header class="case-header">
      <div class="case-header-content container">
        <h5 class="case-header-client-name">US Dept of Health&nbsp;<br />and Human Services</h5>
        <h1 class="case-header-tagline">Who says government&nbsp;<br />work is boring?</h1>
        <h6 class="case-header-type">Wellness Application</h6>
      </div>
    </header>

    <section class="case-exec-summary padded">
      <div class="container">
        <p class="case-exec-summary-text">We created Felix: an exciting, dynamic, and&#32;<br />truly engaging wellness portal that is 0% boring.</p>
      </div>
    </section>

    <section class="case-breakdown padded gray">
      <div class="container row between">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
            Get people to care.
          </h3>
          <p class="case-breakdown-detail">
            Federal Occupational Health (a division of the Department of Health and Human Services) hired Brave to design a platform for government employees to feel better, fitter, and just plain happy.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
            Make it awesome.
          </h3>
          <p class="case-breakdown-detail">
            Working closely with FOH, we designed Felix, the most comprehensive and user-customizable wellness platform on the market today
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Brand System</li>
            <li class="case-breakdown-list-item">Information Architecture</li>
            <li class="case-breakdown-list-item">Interaction Design</li>
            <li class="case-breakdown-list-item">Front-end Development</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block column column-block half-md blue">
        <div class="lazy-ratio" data-width="678" data-height="570">
          <img data-normal="./images/work/felix/mark.svg" alt="" class="inner-block-image sr-reveal">
        </div>
      </div>
      <div class="inner-block hide-overflow column column-block half-md">
        <div class="inner-box lazy-ratio" data-width="300" data-height="135">
          <img data-normal="./images/work/felix/mark-breakdown.svg" alt="" class="inner-block-image sr-left">
        </div>
        <div class="inner-box light-gray lazy-ratio" data-width="300" data-height="135">
          <img data-normal="./images/work/felix/fitcoin-and-badge.svg" alt="" class="inner-block-image sr-right">
        </div>
      </div>
    </section>

    <section class="block padded gradient">
      <div class="row container">
        <div class="inner-block column column-block align-self-center half-md one-third-xl sr-left">
          <div class="lazy-ratio" data-width="800" data-height="934">
            <img data-normal="./images/work/felix/profile.png" alt="" class="inner-block-image">
          </div>
        </div>
        <div class="inner-block absolute-center-md order-top-xs gutter-bottom-mobile column half-md two-third-xl">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">Numbers and gauges are only part of the solution.</h2>
            <p class="case-block-text">
              Not everyone is motivated by numbers, and it’s hard to quantify happiness. We created a challenge-based model that provides qualitative feedback on top of users’ stats.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block padded-top">
      <div class="row container">
        <div class="inner-block absolute-center-md column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-right padded-bottom">
            <h2 class="case-block-heading">Wellness is more than steps, miles, or points.</h2>
            <p class="case-block-text">
              Felix accounts for the big picture of wellness: nutrition, sleep, stress, weight, and a variety of physical activities. We created gamified challenges to help users learn and develop better habits across all these categories, and offer badges when a user meets his or her goals.
            </p>
          </div>
        </div>
        <div class="inner-block column column-block align-self-bottom half-md two-third-lg half-xl">
          <div class="frame frame-desktop edge-bottom dark sr-bottom lazy-ratio" data-width="1245" data-height="1244">
            <img data-normal="./images/work/felix/home.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block">
      <img data-normal="./images/work/felix/boardwalk.jpg" alt="" class="block-image">
    </section>

    <section class="block padded dark-gray">
      <div class="row">
        <div class="inner-block absolute-center-md gutter-bottom-mobile column half-md">
          <div class="container">
            <div class="inner-block-content">
              <h2 class="case-block-heading">Felix can’t be judgmental or a chore.</h2>
              <p class="case-block-text">
                The average user already has a full plate of responsibilities: a full-time job, a commute, a family, and a life. Felix needs to be fun and easy, or people just won’t use it. We use gamification techniques like rewarding achievements and hot streaks to create positive habits. This &ldquo;positive addiction&rdquo; cycle, along with a huge repository of relevant content and challenges, will give users a reason to stay motivated and keep up with Felix.
              </p>
            </div>
          </div>
        </div>
        <div class="inner-block column column-block align-self-center half-md gutter-left-mobile felix-devices">
          <div class="frame frame-desktop lighter edge-right sr-right lazy-ratio" data-width="1827" data-height="800">
            <img data-normal="./images/work/felix/devices-desktop.jpg" alt="" class="inner-block-image contain">
          </div>
          <div class="frame frame-mobile lighter sr-bottom absolute">
            <div class="frame-container">
                <img data-normal="./images/work/felix/devices-mobile.jpg" alt="" class="inner-block-image">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="block padded blue">
      <div class="inner-block row container sr-reveal lazy-ratio" data-width="860" data-height="273">
        <img data-normal="./images/work/felix/progress.svg" alt="" class="inner-block-image contain">
      </div>
    </section>

    <section class="block padded gradient">
      <div class="row container">
        <div class="inner-block column column-block align-self-center half-md sr-left">
          <div class="lazy-ratio" data-width="569" data-height="131">
            <img data-normal="./images/work/felix/badges-1.svg" alt="" class="inner-block-image contain">
          </div>
        </div>
        <div class="inner-block absolute-center-md order-top-xs gutter-bottom-mobile column half-md">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">Social support from users and trainers.</h2>
            <p class="case-block-text">
              Felix makes it easy for users to find support from other users by joining groups based on their interests. There’s also an integration with real-life trainers who can coach users to help them stay on track.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block padded-top light-green">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">Give users what they want, and they’ll come back for more.</h2>
          <p class="case-block-text">
            We give users hundreds of ways to customize their profile and experience. Color themes, avatars, and badges all increase the user’s desire to engage with Felix, increasing their chance of staying on track.
          </p>
        </div>
      </div>
      <div class="inner-block row">
        <div class="container-narrow">
          <div class="frame frame-desktop edge-bottom dark sr-tall lazy-ratio" data-width="1400" data-height="1401">
            <img data-normal="./images/work/felix/customize-1.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block padded dark-gray">
      <div class="row container">
        <div class="inner-block column half-md two-third-lg half-xl">
          <div class="frame frame-tablet black sr-left">
            <div class="frame-container">
              <img data-normal="./images/work/felix/tablet-1.jpg" alt="" class="inner-block-image contain">
            </div>
          </div>
        </div>
        <div class="inner-block absolute-center-md order-top-xs gutter-bottom-mobile column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">As much thought, time, and emphasis on how admins use Felix.</h2>
            <p class="case-block-text">
              Most administrative platforms are just an ugly, clunky afterthought. With Felix, we prioritized the design and functionality of the admin back-end, because of crucial it is to the product’s success.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block padded gray">
      <div class="row container">
        <div class="inner-block absolute-center-md gutter-bottom-mobile column half-md one-third-lg">
          <div class="inner-block-content gutter-right ">
            <h2 class="case-block-heading">On-the-fly reports to see how trainers and users are doing.</h2>
            <p class="case-block-text">
              Felix doesn’t just help the end user. It also makes it easy for the experts on staff at FOH to see how the users are doing, so they can create better content, track trends, and understand what’s really going on.
            </p>
          </div>
        </div>
        <div class="inner-block column column-block align-self-center half-md two-third-lg sr-right">
          <div class="lazy-ratio" data-width="655" data-height="313">
            <img data-normal="./images/work/felix/admin-1.svg" alt="" class="inner-block-image">
          </div>
        </div>
      </div>
    </section>

    <section class="case-referral centered row">
      <div class="inner-block padded column blue">
        <div class="container">
          <div class="case-referral-quote-icon"></div>
          <p class="case-referral-text centered">&ldquo;Their secret is fearlessness. No one has achieved anything by playing it safe. Brave UX gets that. Their talent, ideas, and passion took an ordinary offering and made it revolutionary. This is how every project should be done.&rdquo;</p>
          <p class="case-referral-author">Tomas Bonome, <em>Director, Federal Occupational Health (FOH)</em></p>
        </div>
      </div>
    </section>

    <section class="cta-block padded dark-blue">
      <a href="./work/upside" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
      <div class="cta-content container">
        <div class="cta-text">Sometimes, you find something that just works.</div>
        <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
      </div>
      <a href="./work/recity" class="cta-button cta-button-right" title="Next Case">Next Case</a>
    </section>

    <%- include ../partials/_footer %>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
