<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - FieldOne</title>
  <%- include ../partials/_head %>
</head>
<body>
  <%- include ../partials/_menu %>
  <main class="wrapper case-study fieldone">
    <header class="case-header">
      <div class="case-header-content container">
        <h5 class="case-header-client-name">FieldOne</h5>
        <h1 class="case-header-tagline">More than just looking better.&nbsp;<br />Let’s make it work better.</h1>
        <h6 class="case-header-type">Asset Management Application</h6>
      </div>
    </header>

    <section class="case-exec-summary padded">
      <div class="container">
        <p class="case-exec-summary-text">We made FieldOne’s asset management platform easy to use and easy on the eyes.</p>
      </div>
    </section>

    <section class="case-breakdown padded dark-blue">
      <div class="container row between">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
            Make it easy to use.
          </h3>
          <p class="case-breakdown-detail">
            FieldOne’s asset management suite needed a UX overhaul, including an easier interface with an modern design.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
            Revamp the UX.
          </h3>
          <p class="case-breakdown-detail">
            The Brave team designed and built user interface for FieldOne’s core product, including a number of big time improvements for the end user.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Information Architecture</li>
            <li class="case-breakdown-list-item">Interaction Design</li>
            <li class="case-breakdown-list-item">Front-end Development</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block absolute-center-md padded column half-md">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Tracking that makes sense and saves time.</h2>
          <p class="case-block-text">
            The core users of the product, dispatchers, wanted a product that would make it easier to view and interact with data on the screen.
          </p>
        </div>
      </div>
      <div class="inner-block column half-md hide-overflow gray">
        <img src="./images/work/fieldone/tracking-bg.svg" alt="" class="inner-block-image full-height">
        <img src="./images/work/fieldone/tracking.svg" alt="" class="inner-block-image absolute sr-rotate">
      </div>
    </section>

    <section class="block blue">
      <img src="./images/work/fieldone/devices.jpg" alt="" class="inner-block-image sr-reveal">
    </section>

    <section class="block padded">
      <div class="row container">
        <div class="inner-block column half-md two-third-lg">
          <img src="./images/work/fieldone/factory-warehouse.svg" alt="" class="inner-block-image contain sr-left">
        </div>
        <div class="inner-block absolute-center-md gutter-bottom-mobile column order-top-xs half-md one-third-lg">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">Easy to view and interact with data.</h2>
            <p class="case-block-text">
              We created simplified views that show high-level availability of assets and resources.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block padded dark-blue">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">Scheduling that works the way it should.</h2>
          <p class="case-block-text">
            An improved “scheduler assistant” functionality relies on natural language and allows for a dispatcher set recurring appointments.
          </p>
        </div>
      </div>
      <div class="inner-block row">
        <div class="container-narrow">
          <img src="./images/work/fieldone/schedule.svg" alt="" class="inner-block-image contain">
          <img src="./images/work/fieldone/schedule-event1.svg" alt="" class="inner-block-image contain absolute sr-stagger-bottom">
          <img src="./images/work/fieldone/schedule-event2.svg" alt="" class="inner-block-image contain absolute sr-stagger-bottom">
          <img src="./images/work/fieldone/schedule-event3.svg" alt="" class="inner-block-image contain absolute sr-stagger-bottom">
        </div>
      </div>
    </section>

    <section class="block">
      <img src="./images/work/fieldone/traffic.jpg" alt="" class="inner-block-image">
    </section>

    <section class="block padded-top gray">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">Finding what matters most.</h2>
          <p class="case-block-text">
            We improved the information hierarchy so dispatchers can quickly identify and prioritize requests, tasks, and resources.
          </p>
        </div>
      </div>
      <div class="inner-block row">
        <div class="container-narrow">
          <div class="frame frame-desktop sr-bottom">
            <img src="./images/work/fieldone/scheduler.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block padded gradient">
      <div class="row container">
        <div class="inner-block column half-md">
          <img src="./images/work/fieldone/tracking-boxes.svg" alt="" class="inner-block-image sr-left">
        </div>
        <div class="inner-block absolute-center-md order-top-xs gutter-bottom-mobile column half-md">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">Functions that make sense.</h2>
            <p class="case-block-text">
              We reconfigured the core controls into unified groupings, pairing similar functions to reduce the number of friction points for the user.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="case-referral centered row">
      <div class="inner-block padded column dark-blue">
        <div class="container">
          <div class="case-referral-quote-icon"></div>
          <p class="case-referral-text centered">&ldquo;Brave helped us turn our application from dated and clunky to modern and easy. Our customers love the changes, and so do we.&rdquo;</p>
          <p class="case-referral-author">Daniel Gittler, <em>Director of Enterprise Services, FieldOne Systems</em></p>
        </div>
      </div>
    </section>

    <section class="cta-block padded">
      <a href="./work/upturn" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
      <div class="cta-content container">
        <div class="container">
          <div class="cta-text">Sometimes, you find something that just works.</div>
          <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
        </div>
      </div>
      <a href="./work/andpizza" class="cta-button cta-button-right" title="Next Case">Next Case</a>
    </section>

    <%- include ../partials/_footer %>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
