<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Brave UX - Work - FieldOne</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>

    <% include ../partials/work-menu %>

    <div class="wrapper case-study fieldone">

      <section class="case-header">
        <div class="case-header-container container">
          <p class="case-header-client-name">Field One</p>
          <p class="case-header-tagline">More than just looking better.<br>Let&rsquo;s make it work better.</p>
          <p class="case-header-type">Asset Management Application</p>
        </div>
      </section><!-- END case-header -->

      <section class="case-exec-summary">
        <div class="container">
          <p class="case-exec-summary-text" data-sr>We made FieldOne&rsquo;s asset management web application easy to use and easy on the eyes.</p>
        </div>
      </section><!-- END case-exec-summary -->

      <section class="case-breakdown">
        <div class="container">
          <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
            <p class="case-breakdown-heading">Challenge</p>
            <p class="case-breakdown-summary">Make it easy to use.</p>
            <p class="case-breakdown-detail">FieldOne&rsquo;s asset management product needed a UX overhaul, including an easier interface with an updated design.</p>
          </div>

          <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
            <p class="case-breakdown-heading">Solution</p>
            <p class="case-breakdown-summary">Revamp the UX.</p>
            <p class="case-breakdown-detail">The Brave team designed and built the design and user interface for FieldOne&rsquo;s core product, including a number of big time improvements for the end user.</p>
          </div>

          <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
            <p class="case-breakdown-heading">Scope</p>

            <ul class="case-breakdown-scope-list">
              <li>Information Architecture</li>
              <li>Interface Design</li>
              <li>Front End Development</li>
            </ul>
          </div>
        </div>
      </section><!-- END case-breakdown -->

      <section class="case-block not-padded fo-white">
        <div class="inner-block half float-right" data-sr>
          <img class="case-block-image" src="../images/fieldone/work-order.svg">
        </div>

        <div class="inner-block half absolute-left vertical-center left-padded mobile-container">
          <p class="case-block-text-heading short-length">Tracking that makes sense and saves time.</p>
          <p class="case-block-text-subtext short-length">The core users of the product, dispatchers, wanted a product that would make it easier to view and interact with data on the screen.</p>
        </div>
      </section><!-- END case-block -->

      <section class="case-block fo-light-blue">
        <div class="container">
          <img class="case-block-image" src="../images/fieldone/devices.jpg">
        </div>
      </section><!-- END case-block -->

      <section class="case-block fo-white">
        <div class="container">
          <div class="inner-block two-third mobile-padded-below" data-sr="enter left, move 100px">
            <img class="case-block-image" src="../images/fieldone/factory-warehouse.svg">
          </div>

          <div class="inner-block one-third absolute-right vertical-center">
            <p class="case-block-text-heading short-length">Easy to view and interact with data.</p>
            <p class="case-block-text-subtext short-length">We created simplified views that show high-level availability of assets and resources.</p>
          </div>
        </div>
      </section><!-- END case-block -->

      <section class="case-block fo-dark-blue">
        <div class="container">
          <img class="case-block-image text-below mobile-padded-below" src="../images/fieldone/scheduler-detail.svg">
          <img class="case-block-image absolute" src="../images/fieldone/scheduler-event-1.svg" data-sr>
          <img class="case-block-image absolute" src="../images/fieldone/scheduler-event-2.svg" data-sr="wait .3s">
          <img class="case-block-image absolute" src="../images/fieldone/scheduler-event-3.svg" data-sr="wait .6s">
          <p class="case-block-text-heading medium-length align-center" data-sr>Scheduling that works the way it should.</p>
          <p class="case-block-text-subtext medium-length align-center" data-sr>Our improved &ldquo;scheduler assistant&rdquo; functionality relies on natural language and lets a dispatcher set recurring appointments.</p>
        </div>
      </section><!-- END case-block -->

      <section class="case-block case-full-image fieldone-traffic"></section><!-- END case-block -->

      <section class="case-block fo-off-white">
        <div class="container">
          <img class="case-block-image text-below mobile-padded-below" src="../images/fieldone/scheduler.jpg">
          <p class="case-block-text-heading medium-length align-center" data-sr>Finding what matters most.</p>
          <p class="case-block-text-subtext medium-length align-center" data-sr>We improved the hierarchy of information so that dispatchers can quickly identify and prioritize requests, tasks, and resources.</p>
        </div>
      </section><!-- END case-block -->

      <section class="case-block fo-white">
        <div class="container narrow">
          <div class="inner-block two-third mobile-padded-below" data-sr="enter left, move 100px">
            <img class="case-block-image" src="../images/fieldone/tracking.svg">
          </div>

          <div class="inner-block one-third absolute-right vertical-center">
            <p class="case-block-text-heading short-length">Functions that make sense.</p>
            <p class="case-block-text-subtext short-length">We reconfigured the core controls into simpler groupings, pairing similar functions to reduce the number of options and decision points for the user.</p>
          </div>
        </div>
      </section><!-- END case-block -->

      <section class="case-block fo-dark-blue">
        <div class="container">
          <img class="case-block-text-quote-icon" src="../images/fieldone/quote.svg" data-sr="enter top, move 75px">
          <p class="case-block-text-quote align-center">&ldquo;Brave helped us turn our application from dated and clunky to modern and easy. Our customers love the changes, and so do we.&rdquo;</p>
          <p class="case-block-text-citation align-center">Daniel Gittler, <em>Director of Enterprise Services, FieldOne Systems</em></p>
        </div>
      </section><!-- END case-block -->

      <section class="cta">
        <div class="container">
          <p class="cta-text">Sometimes, you find something that just works.</p>
          <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
        </div>

        <a class="cta-button cta-button-left" href="/work/character" title="Prev Case"></a>
        <a class="cta-button cta-button-right" href="/work/hhs" title="Next Case"></a>
      </section><!-- END cta -->

      <footer class="footer">
        <div class="container">
          <div class="footer-column">
            <img class="footer-logo" src="../images/footer/footer-logo.svg">
          </div>

          <div class="footer-column">
            <p class="footer-heading">Get In Touch</p>

            <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
          </div>

          <div class="footer-column">
            <p class="footer-heading">Follow Us</p>
            <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
            <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
            <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
            <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
            <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
          </div>

          <div class="footer-column">
            <p class="footer-heading">Our Products</p>

            <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
            <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
            <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
          </div>

          <div class="footer-last-line">
            <p class="footer-copyright">&copy;2015 Brave UX. All Rights Reserved.</p>
            <div class="footer-stars"></div>
            <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
          </div>
        </div>

        <div class="footer-egg"></div>
      </footer>
    </div><!-- END wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
    <script src="../scripts.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48218627-1', 'braveux.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
