<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Federal Occupational Health</title>
    <% include ../partials/head %>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.css">
        <link rel="stylesheet" href="../style.css">
</head>

<body>
    <% include ../partials/work-menu %>
    <div class="wrapper case-study foh">

        <section class="case-header">
            <div class="case-header-container container">
                <p class="case-header-client-name">Federal Occupational Health</p>
                <p class="case-header-tagline">A healthier America, one&nbsp;
                    <br />employee at a time</p>
                <p class="case-header-type">Rebrand &amp; Website</p>
            </div>
        </section>
        <!-- END case-header -->

        <section class="case-exec-summary">
            <div class="container">
                <p class="case-exec-summary-text" data-sr>We gave Federal Occupational Health (FOH) a brand as dynamic as the department, and a site to serve the needs of federal employees everywhere.</p>
            </div>
        </section>
        <!-- END case-exec-summary -->

        <section class="case-breakdown">
            <div class="container">
                <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                    <p class="case-breakdown-heading">Challenge</p>
                    <p class="case-breakdown-summary">One size does not fit all</p>
                    <p class="case-breakdown-detail">With the vast number of services that FOH offers, their site had to be dead-simple and easily navigable.</p>
                </div>

                <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                    <p class="case-breakdown-heading">Solution</p>
                    <p class="case-breakdown-summary">Health starts from within</p>
                    <p class="case-breakdown-detail">Thanks to meticulously planned information architecture and airy design, a site this complex has never seemed so clean and straightforward.</p>
                </div>

                <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                    <p class="case-breakdown-heading">Scope</p>

                    <ul class="case-breakdown-scope-list">
                        <li>Rebrand &amp; Identity</li>
                        <li>Information Architecture</li>
                        <li>Website Design</li>
                        <li>Front End Development</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- END case-breakdown -->

        <section class="case-block foh-blue">
            <div class="container">
                <div class="inner-block half absolute-left vertical-center mobile-padded-below">
                    <p class="case-block-text-heading short-length">Dress it up,&nbsp;
                        <br />dress it down</p>
                    <p class="case-block-text-subtext short-length">The mark reflects the mission of FOH, uniting the American flag with a symbol of wellness and progress. A traditional seal fits right in next to other federal agencies while the custom icons hint at a more human-centric, modern personality.</p>
                </div>

                <div class="inner-block half float-right left-padded">
                    <img class="case-block-image maintain-size align-right" src="../images/foh/logo.svg" data-sr="enter right, move 200px">
                </div>
            </div>
        </section>
        <!-- END case-block -->

        <section class="case-block not-padded">
                <div class="inner-block half float-left extra-padded foh-gray">
                    <img class="case-block-image maintain-size align-right" src="../images/foh/badge.svg" data-sr="enter left, move 100px">
                </div>

                <div class="inner-block half absolute-right extra-padded vertical-center">
                    <img class="case-block-image maintain-size align-right" src="../images/foh/icons.svg" data-sr="enter right, move 100px">
                </div>
        </section>
        <!-- END case-block -->

        <section class="case-block foh-slate overflow relative top-padded">
            <div class="container">
                <div class="inner-block one-third absolute-right vertical-center mobile-padded-below mobile-container-absolute overflow-padded">
                    <h2 class="case-block-text-heading short-length">Services as far as the eye can see</h2>
                    <p class="case-block-text-subtext short-length">FOH is the safety and wellness one-stop-shop for over 1.8 million federal employees. Though their offerings are broad, we made sure their services fit into a well-structured site.</p>
                </div>

                <div class="inner-block two-third float-left mobile-container-absolute" data-sr="enter top, move 100px">
                    <img class="case-block-image" src="../images/foh/homepage-desktop.png">
                </div>
            </div>
        </section>
        <!-- END case-block -->

        <section class="case-block felix-white">
            <div class="container">
                <div class="inner-block one-third absolute-left vertical-center mobile-padded-below">
                    <p class="case-block-text-heading short-length">Patriotism redux</p>
                    <p class="case-block-text-subtext short-length">FOH&rsquo;s new brand swells with American pride – it is the goverment after all. More than that, the brand goes where no federal agency has dared to go, blending fun and friendly with the credibility and trust of a 70 year-old institution.</p>
                </div>

                <div class="inner-block two-third float-right" data-sr="enter right, move 100px">
                    <img class="case-block-image" src="../images/foh/flag.svg">
                </div>
            </div>
        </section>
        <!-- END case-block -->

        <section class="case-block case-full-image foh-mountains">
            <span class="tagline" data-sr></span>
        </section>
        <!-- END case-block -->

        <section class="case-block foh-off-white mobile-container">
            <div class="inner-block one-third absolute-left vertical-center left-padded mobile-padded-below">
                <p class="case-block-text-heading short-length">Taxonomy, hierarchy, structure, rinse, repeat</p>
                <p class="case-block-text-subtext short-length">Behind any site that&rsquo;s easy to navigate, you&rsquo;ll find well-defined information architecture. It was no small task, but we created an intuitive, skimmable hierarchy that extends to fit the hundreds of services FOH offers.</p>
            </div>

            <div class="inner-block two-third float-right" data-sr="enter right, move 100px">
                <img class="case-block-image" src="../images/foh/navigation-desktop.png">
            </div>
        </section>
        <!-- END case-block -->

        <section class="case-block not-padded foh-green">
            <div class="inner-block half float-left vertical-center absolute-left right-padded left-padded mobile-container">
                <img class="case-block-image" src="../images/foh/magazine.png" data-sr="enter left, move 100px">
            </div>

            <div class="inner-block half float-right">
                <img class="case-block-image" src="../images/foh/stats.svg">
            </div>
        </section>
        <!-- END case-block -->

        <section class="case-block top-padded foh-blue overflow">
            <div class="container narrow">
                <p class="case-block-text-heading medium-length align-center">Give users what they want, and they&rsquo;ll come back for more.</p>
                <p class="case-block-text-subtext medium-length align-center">We give users hundreds of ways to customize their profile and experience. Color themes, avatars, and badges all increase the user&rsquo;s desire to engage with Felix, increasing their chance of staying on track.</p>

                <img class="case-block-image text-above mobile-padded-above" src="../images/foh/locations.png" data-sr="enter top, move 200px">
            </div>
        </section>
        <!-- END case-block -->

        <section class="case-block">
            <div class="container narrow">
                <% include ../partials/_foh-case-underline %>
            </div>
        </section>
        <!-- END case-block -->

        <section class="case-block foh-green">
            <div class="container">
                <img class="case-block-text-quote-icon" src="../images/foh/quote.svg" data-sr="enter top, move 75px">
                <p class="case-block-text-quote align-center">&ldquo;The new FOH brand is unlike anything else in the government, and that was a risk we wanted to take, but we needed a little push. We had already worked with Brave and had such great results that we knew we were making the right decision. They took us right up to the edge, told us to open our eyes, and we were blown away. Sometimes, you have to be brave, and other times, you just have to work with Brave.&rdquo;</p>
                <p class="case-block-text-citation align-center">Tomas Bonome, <em>Acting Director, Federal Occupational Health (FOH)</em></p>
            </div>
        </section>
        <!-- END case-block -->

        <section class="cta">
            <div class="container">
                <p class="cta-text">Sometimes, you find something that just works.</p>
                <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
            </div>

            <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
            <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
        </section>
        <!-- END cta -->

        <footer class="footer">
            <div class="container">
                <div class="footer-column">
                    <img class="footer-logo" src="../images/footer/footer-logo.svg">
                </div>

                <div class="footer-column">
                    <p class="footer-heading">Get In Touch</p>

                    <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                </div>

                <div class="footer-column">
                    <p class="footer-heading">Follow Us</p>
                    <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                    <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                    <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                    <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                    <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                </div>

                <div class="footer-column">
                    <p class="footer-heading">Our Products</p>

                    <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                    <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                    <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                </div>

                <div class="footer-last-line">
                    <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                    <div class="footer-stars"></div>
                    <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                </div>
            </div>

            <div class="footer-egg"></div>
        </footer>
    </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="../scripts.js"></script>

        <script src="//cdn.jsdelivr.net/vivus/0.1.2/vivus.min.js"></script>
        <script>

            var vivusConfig = {
                type: 'delayed',
                duration: 125,
                delay: 110,
                start: 'inViewport'
            };

            new Vivus("case-underline", vivusConfig);

            $('.menu-link:eq(0), .home-cta').click(function(e) {
                e.preventDefault()
                $('.wrapper.work').velocity('scroll', {
                    duration: 500,
                    axis: 'y'
                });
            });
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
