<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Gen Z</title>
    <% include ../partials/head %>
        <link rel="stylesheet" href="../style.css">
</head>

<body>

    <% include ../partials/work-menu %>

        <div class="wrapper case-study genz">

            <section class="case-header">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">Gen Z</h5>
                    <h1 class="case-header-tagline">Connecting the&nbsp;<br />brightest minds of&nbsp;<br />today and tomorrow</h1>
                    <h6 class="case-header-type">Mentoring Social Platform</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>We designed a web application that links students and recent&nbsp;<br /> graduates with real professionals, giving careers a jump start.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">A fresh interface for both students and professionals</h3>
                        <p class="case-breakdown-detail">How do you get millennials and anyone over 35 to agree that something is cool?</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">A modern web application designed for all users</h3>
                        <p class="case-breakdown-detail">Weaving in the best of modern trends with smart, intuitive information brings everyone together.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Branding</li>
                            <li>Information Architecture</li>
                            <li>Application Design</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block not-padded genz-white">
                <div class="inner-block half absolute-left vertical-center left-padded mobile-container">
                    <h2 class="case-block-text-heading">Functional as well as beautiful</h2>
                    <p class="case-block-text-subtext short-length">We start with information architecture to establish functionality before applying visual design to make the interface as beautiful as it is usable.</p>
                </div>
                <div class="inner-block half float-right full-height genz-red">
                    <img class="case-block-image" src="../images/genz/agenda.svg" data-sr="enter bottom, move 400px">
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block genz-purple">
                <div class="container">
                    <div class="inner-block one-third absolute-right vertical-center mobile-padded-below">
                        <h2 class="case-block-text-heading short-length">An organized life for students</h2>
                        <p class="case-block-text-subtext short-length">Not everyone is motivated by numbers, and it&rsquo;s hard to quantify happiness. So we created a challenge-based model that provides qualitative feedback on top of users&rsquo; stats.</p>
                    </div>

                    <div class="inner-block two-third float-left">
                        <img class="case-block-image maintain-size align-right" src="../images/genz/coaches.svg" data-sr="enter left, move 200px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block top-padded genz-off-white">
                <div class="container">
                    <div class="inner-block one-third absolute-left vertical-center mobile-padded-below">
                        <h2 class="case-block-text-heading short-length">Attention to detail from every side</h2>
                        <p class="case-block-text-subtext short-length">We ensured that mentors also feel at home in the interface and catered to their interests with relevant statistics and a custom scheduler. </p>
                    </div>

                    <div class="inner-block two-third float-right relative">
                        <img class="case-block-image" src="../images/genz/card-container.svg">
                        <img class="case-block-image absolute" src="../images/genz/card-1.svg" data-sr="enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/genz/card-2.svg" data-sr="wait .25s, enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/genz/card-3.svg" data-sr="wait .5s, enter bottom, move 200px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image genz-laptop"></section>
            <!-- END case-block -->

            <section class="case-block genz-off-white mobile-container">
                <div class="container">
                    <div class="inner-block one-third absolute-left vertical-center mobile-padded-below">
                        <h2 class="case-block-text-heading short-length">Skimming by cards</h2>
                        <p class="case-block-text-subtext short-length">The interface uses cards as an organization tool to improve skimmability. Users can quickly sort through information presented to them.</p>
                    </div>

                    <div class="inner-block two-third float-right" data-sr="enter right, move 200px">
                        <img class="case-block-image" src="../images/genz/stats.svg">
                    </div>
                </div>

            </section>
            <!-- END case-block -->

            <section class="case-block genz-red">
                <div class="container">
                    <img class="case-block-text-quote-icon" src="../images/genz/quote.svg" data-sr="enter top, move 75px">
                    <p class="case-block-text-quote align-center">&ldquo;The Brave team brings an impressive depth of knowledge and experience to the table. Each time we met, they presented excellent work and had inspiring ideas and insights to contribute. They were invaluable partners every step of the way.”&rdquo;</p>
                    <p class="case-block-text-citation align-center">Doug Anderson, <em>Founder, Gen Z Connect</em></p>
                </div>
            </section>
            <!-- END case-block -->

            <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section>
            <!-- END cta -->

            <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>

                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2015 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer>
        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
