<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - Gray Langur</title>
  <%- include ../partials/_head %>
</head>
<body>
  <%- include ../partials/_menu %>
  <main class="wrapper case-study gray-langur">
    <header class="case-header">
      <div class="case-header-content container">
        <h5 class="case-header-client-name">Gray Langur</h5>
        <h1 class="case-header-tagline">The next best thing&nbsp;<br />to being there</h1>
        <h6 class="case-header-type">Immersive Travel Platform</h6>
      </div>
    </header>

    <section class="case-exec-summary padded off-white">
      <div class="container">
        <p class="case-exec-summary-text">The former CEO of Adblock found himself in Bhutan.&nbsp;<br />Our travel platform takes you there.</p>
      </div>
    </section>

    <section class="case-breakdown padded black">
      <div class="container row between">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
            What’s a Langur?
          </h3>
          <p class="case-breakdown-detail">
            Conveying the authenticity and nuance of such a remote part of the world is as challenging as it is important.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
            A Map Worth a&nbsp;<br />Thousand Words
          </h3>
          <p class="case-breakdown-detail">
            We made the landscape the forefront with a tangible experience that lets users literally chart their own path.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Brand System</li>
            <li class="case-breakdown-list-item">Information Architecture</li>
            <li class="case-breakdown-list-item">Interaction Design</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block absolute-center-md padded column half-md gray">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">In the Field</h2>
          <p class="case-block-text">
            To truly understand what it would be like to plan, prepare and embark on a journey to Bhutan, we did exactly that. The discovery, the stress, the joy &mdash; all of this informs not just what a user would expect, but what a user will truly need.
          </p>
        </div>
      </div>
      <div class="inner-block column half-md hide-overflow black">
        <img src="./images/work/gray-langur/section1-image1.jpg" alt="" class="inner-block-image full-height">
      </div>
    </section>

    <section class="block row black">
      <img src="./images/work/gray-langur/section1-image2.jpg" alt="" class="block-image column one-third-md auto-height">
      <img src="./images/work/gray-langur/section1-image3.jpg" alt="" class="block-image column one-third-md auto-height">
      <img src="./images/work/gray-langur/section1-image4.jpg" alt="" class="block-image column one-third-md auto-height">
    </section>

    <section class="block padded red">
      <div class="container">
        <img src="./images/work/gray-langur/section2-langurs.svg" alt="" class="block-image contain">
      </div>
    </section>

    <section class="block row black">
      <div class="inner-block column half-md hide-overflow black">
        <img src="./images/work/gray-langur/section3-map.jpg" alt="" class="inner-block-image full-height">
        <img src="./images/work/gray-langur/section3-logo.svg" alt="" class="inner-block-image padded absolute contain full-height">
      </div>
      <div class="inner-block absolute-center-md padded column half-md">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">A good omen</h2>
          <p class="case-block-text">
            We created a brand around Bhutan's own good luck charm, the Gray Langur. From here, a complete system of tones, legends and symbols evolved, guiding the user and rounding out the experience.
          </p>
        </div>
      </div>
    </section>

    <section class="block red">
        <img src="./images/work/gray-langur/banner1.jpg" alt="" class="block-image">
    </section>

    <section class="block padded gray">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">Go on an adventure</h2>
          <p class="case-block-text">
            Curated, once-in-a-lifetime experiences play out across&nbsp;<br />our Magic Map, the centerpiece of our travel platform.
          </p>
        </div>
      </div>
      <div class="inner-block row gray-langur-adventure">
        <div class="container">
          <div class="frame frame-desktop dark shadow sr-bottom">
            <video class="inner-block-image contain" poster="" muted>
              <source src="./images/work/gray-langur/gl-intro-1.webm" type="video/webm">
              <source src="./images/work/gray-langur/gl-intro-1.mp4" type="video/mp4">
            </video>
          </div>
          <div class="frame frame-desktop dark shadow absolute sr-delay-double">
            <img src="./images/work/gray-langur/section4-image1left.jpg" alt="" class="inner-block-image contain">
          </div>
          <div class="frame frame-desktop dark shadow absolute sr-delay-double">
            <img src="./images/work/gray-langur/section4-image3right.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block row black">
      <div class="inner-block padded column half-md hide-overflow red">
        <div class="container">
          <img src="./images/work/gray-langur/section5-breakdown1.svg" alt="" class="inner-block-image full-height">
          <img src="./images/work/gray-langur/section5-breakdown2.svg" alt="" class="inner-block-image absolute full-height">
          <img src="./images/work/gray-langur/section5-breakdown3.svg" alt="" class="inner-block-image absolute full-height">
          <img src="./images/work/gray-langur/section5-breakdown4.svg" alt="" class="inner-block-image absolute full-height">
          <img src="./images/work/gray-langur/section5-breakdown5.svg" alt="" class="inner-block-image absolute full-height">
          <img src="./images/work/gray-langur/section5-breakdownmath.svg" alt="" class="inner-block-image absolute full-height">
        </div>
      </div>
      <div class="inner-block padded column half-md hide-overflow off-white">
        <div class="container">
          <img src="./images/work/gray-langur/section5-icon1.svg" alt="" class="inner-block-image full-height sr-stagger-top">
          <img src="./images/work/gray-langur/section5-icon2.svg" alt="" class="inner-block-image absolute full-height sr-stagger-top">
          <img src="./images/work/gray-langur/section5-icon3.svg" alt="" class="inner-block-image absolute full-height sr-stagger-top">
          <img src="./images/work/gray-langur/section5-icon4.svg" alt="" class="inner-block-image absolute full-height sr-stagger-top">
          <img src="./images/work/gray-langur/section5-icon5.svg" alt="" class="inner-block-image absolute full-height sr-stagger-top">
          <img src="./images/work/gray-langur/section5-icon6.svg" alt="" class="inner-block-image absolute full-height sr-stagger-top">
          <img src="./images/work/gray-langur/section5-icon7.svg" alt="" class="inner-block-image absolute full-height sr-stagger-top">
          <img src="./images/work/gray-langur/section5-icon8.svg" alt="" class="inner-block-image absolute full-height sr-stagger-top">
          <img src="./images/work/gray-langur/section5-icon9.svg" alt="" class="inner-block-image absolute full-height sr-stagger-top">
        </div>
      </div>
    </section>

    <section class="block row padded-top gray">
      <div class="inner-block absolute-center-md padded-bottom column half-md">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Every detail in&nbsp;<br />one place</h2>
          <p class="case-block-text">
            Users don&rsquo;t have to deal with dozens of tabs, lists and spreadsheets anymore. A powerful, unified travel planner walks them through every step of the way.
          </p>
        </div>
      </div>
      <div class="inner-block column half-md gutter-left-mobile">
        <div class="frame frame-desktop edge-right dark sr-right">
          <img src="./images/work/gray-langur/section6-screen.jpg" alt="" class="inner-block-image contain">
        </div> 
      </div>
    </section>

    <section class="block red">
      <img src="./images/work/gray-langur/banner2.jpg" alt="" class="block-image">
    </section>

    <section class="block row padded gray">
      <div class="inner-block column half-md gutter-right-mobile">
        <div class="frame frame-desktop edge-left dark sr-left">
          <img src="./images/work/gray-langur/section7-screen.jpg" alt="" class="inner-block-image contain">
        </div> 
      </div>
      <div class="inner-block absolute-center-md column half-md">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Customs meets&nbsp;<br />custom</h2>
          <p class="case-block-text">
            Gone is a never-ending passport and customs form. Instead, we focus on what matters, in an order that makes sense to users, not diplomats.
          </p>
        </div>
      </div>
    </section>

    <section class="block red">
      <img src="./images/work/gray-langur/banner3.jpg" alt="" class="block-image">
    </section>

    <section class="block row black">
      <div class="inner-block absolute-center-md padded column half-md">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">A pocket guide</h2>
          <p class="case-block-text">
            Users aren&rsquo;t dragging their desktops to the airport. Our mobile UI shows everything from stops to who&rsquo;s rooming with who.
          </p>
        </div>
      </div>
      <div class="inner-block column half-md hide-overflow gray">
        <img src="./images/work/gray-langur/section8-screen.jpg" alt="" class="inner-block-image full-height">
      </div>
    </section>

    <section class="block red">
      <img src="./images/work/gray-langur/banner4.jpg" alt="" class="block-image">
    </section>

    <section class="block padded-top gray">
      <div class="container row">
        <div class="inner-block column half-md two-third-lg">
          <div class="frame frame-desktop dark sr-bottom">
            <img src="./images/work/gray-langur/section9-screen.jpg" alt="" class="inner-block-image contain">
          </div> 
        </div>
        <div class="inner-block padded-bottom column half-md one-third-lg">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">Destination:&nbsp;<br />headquarters</h2>
            <p class="case-block-text">
              Gray Langur agents can tailor every last part of each trip through a powerful backend, that lets them dynamically respond to conditions on the ground.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="case-referral centered row">
      <div class="inner-block padded column off-white">
        <div class="container">
          <div class="case-referral-quote-icon"></div>
          <p class="case-referral-text centered">&ldquo;I have, admittedly, fallen in love with Brave and the Brave process over the course of this partnership. The team&rsquo;s passion can easily be seen through their work and the amount of attention they give to each and every detail. It&rsquo;s not often you come across a team that is so perfectly synced and organized and I only hope Gray Langur can emulate that level of awesomeness.&rdquo;</p>
          <p class="case-referral-author">Gabriel Cubbage, <em>CEO, Gray Langur</em></p>
        </div>
      </div>
    </section>

    <section class="cta-block padded">
      <a href="./work/upfront" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
      <div class="cta-content container">
        <div class="container">
          <div class="cta-text">Sometimes, you find something that just works.</div>
          <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
        </div>
      </div>
      <a href="./work/ijr" class="cta-button cta-button-right" title="Next Case">Next Case</a>
    </section>

    <%- include ../partials/_footer %>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
