<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - HomeZen</title>
  <%- include ../partials/_head %>
</head>
<body>
  <%- include ../partials/_menu %>
  <main class="wrapper case-study homezen">
    <header class="case-header overlay">
      <div class="case-header-content container">
        <h5 class="case-header-client-name">HomeZen</h5>
        <h1 class="case-header-tagline">Transforming homeowners&nbsp;<br />into home-selling experts</h1>
        <h6 class="case-header-type">Sale-by-Owner Contract Application</h6>
      </div>
    </header>

    <section class="case-exec-summary padded">
      <div class="container">
        <p class="case-exec-summary-text">We designed a web application that empowers homeowners to sell their property without a real estate agent.</p>
      </div>
    </section>

    <section class="case-breakdown padded gray">
      <div class="container row between">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
            Selling your home in 1-2-3
          </h3>
          <p class="case-breakdown-detail">
            We set out to make the selling process so simple that any homeowner could do it.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
            A simple UI that<br />keeps users on track
          </h3>
          <p class="case-breakdown-detail">
            We designed an interface that gives users information, guidance, and instructions when they need them.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Brand System</li>
            <li class="case-breakdown-list-item">Information Architecture</li>
            <li class="case-breakdown-list-item">Interaction Design</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block padded-top blue">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">Guide users through the contract process</h2>
          <p class="case-block-text">
            A step-by-step tracker acts as the navigation, showing where you are in the process and what to expect next.
          </p>
        </div>
      </div>
      <div class="inner-block row">
        <div class="container-narrow">
          <div class="frame frame-desktop darker shadow sr-bottom">
            <img src="./images/work/homezen/contracts-tool.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block">
      <img src="./images/work/homezen/laptop.jpg" alt="" class="block-image">
    </section>

    <section class="block padded gray">
      <div class="row container">
        <div class="inner-block column half-md">
          <img src="./images/work/homezen/progress-left.svg" alt="" class="inner-block-image contain sr-top">
          <img src="./images/work/homezen/progress-right.svg" alt="" class="inner-block-image contain absolute sr-bottom">
        </div>
        <div class="inner-block absolute-center-md order-top-xs gutter-bottom-mobile column half-md">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">Insights and statistics at your fingertips</h2>
            <p class="case-block-text">
              Selling your home is a big deal. We make sure users have the most valuable information to make the best decision.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block padded dark-blue">
      <div class="container row">
        <div class="inner-block absolute-center-md gutter-bottom-mobile column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-right">
            <h2 class="case-block-heading">Sharing your contract in a click</h2>
            <p class="case-block-text">
              Users never have to look hard to share their contract. The application organizes potential buyers by level of interest and provides multiple routes to share.
            </p>
          </div>
        </div>
        <div class="inner-block column half-md two-third-lg half-xl">
          <div class="frame frame-desktop darker shadow sr-right">
            <img src="./images/work/homezen/share.svg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block row">
      <div class="inner-block padded column half-md gray">
        <div class="container">
          <img src="./images/work/homezen/getting-started.svg" alt="" class="inner-block-image sr-bottom">
        </div>
      </div>
      <div class="inner-block absolute-center-md padded column order-top-xs half">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Contracts don’t have to be intimidating</h2>
          <p class="case-block-text">
            We made forms that are as easy on the eyes as they are easy to use.
          </p>
        </div>
      </div>
    </section>

    <section class="block">
      <img src="./images/work/homezen/table.jpg" alt="" class="block-image">
    </section>

    <section class="block row center padded">
      <div class="inner-block container-narrow">
        <img src="./images/work/homezen/icon-sale.svg" alt="" class="inner-block-image contain sr-stagger-bottom">
        <img src="./images/work/homezen/icon-calculator.svg" alt="" class="inner-block-image absolute contain sr-stagger-bottom">
        <img src="./images/work/homezen/icon-camera.svg" alt="" class="inner-block-image absolute contain sr-stagger-bottom">
        <img src="./images/work/homezen/icon-check.svg" alt="" class="inner-block-image absolute contain sr-stagger-bottom">
        <img src="./images/work/homezen/icon-money.svg" alt="" class="inner-block-image absolute contain sr-stagger-bottom">
        <img src="./images/work/homezen/icon-couch.svg" alt="" class="inner-block-image absolute contain sr-stagger-bottom">
        <img src="./images/work/homezen/icon-shake.svg" alt="" class="inner-block-image absolute contain sr-stagger-bottom">
        <img src="./images/work/homezen/icon-house.svg" alt="" class="inner-block-image absolute contain sr-stagger-bottom">
      </div>
    </section>

    <section class="case-referral row">
      <div class="inner-block padded column absolute-center-xs half-md gray">
        <div class="container">
          <p class="case-referral-blockquote">We’d work with them again in a heartbeat.</p>
        </div>
      </div>
      <div class="inner-block padded column half-md blue">
        <div class="container">
          <div class="case-referral-quote-icon"></div>
          <p class="case-referral-text">They are incredibly talented and we loved their work product. Their strategic approach to UX and design helped us build a great foundation. We’d work with them again in a heartbeat.</p>
          <p class="case-referral-author">Kevin Bennett, <em>Co-Founder, HomeZen</em></p>
        </div>
      </div>
    </section>

    <section class="cta-block padded">
      <a href="./work/clutch" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
      <div class="cta-content container">
        <div class="container">
          <div class="cta-text">Sometimes, you find something that just works.</div>
          <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
        </div>
      </div>
      <a href="./work/upside" class="cta-button cta-button-right" title="Next Case">Next Case</a>
    </section>

    <%- include ../partials/_footer %>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
