<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Homezen</title>
    <% include ../partials/head %>
        <link rel="stylesheet" href="../style.css">
</head>

<body>
    <!-- REMOVE HASH ON COMMENT -->
    <!-- <%# include ../partials/work-menu %> -->

        <div class="wrapper case-study homezen">

            <section class="case-header overlay">
                <div class="case-header-container container relative">
                    <h5 class="case-header-client-name">Identity Automation</h5>
                    <h1 class="case-header-tagline">Transforming homeowners&nbsp;<br />into home-selling experts</h1>
                    <h6 class="case-header-type">Sale-by-Owner Contract Application</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>We designed a web application that empowers homeowners to sell their property without a real estate agent.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown homezen-gray">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">Selling your home&nbsp;<br />in 1-2-3</h3>
                        <p class="case-breakdown-detail">We set out to make the selling process so simple that any homeowner could do it.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary short-length">A simple UI that keeps&nbsp;<br />users on track</h3>
                        <p class="case-breakdown-detail">We designed an interface that gives users information, guidance, and instructions when they need them.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Brand Refresh</li>
                            <li>Information Architecture</li>
                            <li>Application Design</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block top-padded homezen-light-blue">
              <div class="container narrow">
                <p class="case-block-text-heading short-length align-center" data-sr>Guide users through
the contract process</p>
                <p class="case-block-text-subtext short-length align-center" data-sr>A step-by-step tracker acts as the navigation, showing where you are in the process and what to expect next.</p>
                <img class="case-block-image text-above mobile-padded-above" src="../images/homezen/contracts-tool.png">
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image homezen-laptop"></section>
            <!-- END case-block -->

            <section class="case-block homezen-gray">
                <div class="container">
                    <div class="inner-block half left-padded absolute-right vertical-center mobile-padded-below mobile-container-absoalute">
                        <h2 class="case-block-text-heading short-length">Insights and statistics
at your fingertips</h2>
                        <p class="case-block-text-subtext short-length">Selling your home is a big deal. We made sure users have the most valuable information to make the best decision.</p>
                    </div>

                    <div class="inner-block half float-left relative">
                        <img class="case-block-image" src="../images/homezen/progress-container.svg">
                        <img class="case-block-image absolute" src="../images/homezen/progress-left.svg" data-sr="enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/homezen/progress-right.svg" data-sr="wait .25s, enter bottom, move 200px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block homezen-blue ">
                <div class="container">
                    <div class="inner-block one-third absolute-left vertical-center mobile-padded-below mobile-container-absolute">
                        <h2 class="case-block-text-heading short-length">Sharing your
contract in a click</h2>
                        <p class="case-block-text-subtext short-length">Users never have to look hard to share their contract. The application organizes potential buyers by level of interest and provides multiple routes to share.</p>
                    </div>

                    <div class="inner-block two-third float-right" data-sr="enter right, move 200px">
                        <img class="case-block-image" src="../images/homezen/share.svg">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block not-padded homezen-white">
                <div class="inner-block half absolute-right vertical-center left-padded mobile-container">
                    <h2 class="case-block-text-heading">Contracts don&rsquo;t have&nbsp;<br />to be intimidating</h2>
                    <p class="case-block-text-subtext short-length">We made forms that are as easy on the eyes as they are easy to use.</p>
                </div>
                <div class="inner-block half float-left homezen-gray relative">
                    <img class="case-block-image" src="../images/homezen/getting-started-bg.svg" />
                    <img class="case-block-image absolute-center" src="../images/homezen/getting-started.svg" data-sr="enter bottom, move 800px" />
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image homezen-table"></section>
            <!-- END case-block -->

            <section class="case-block">
                <div class="container">
                    <div class="inner-block relative">
                        <img class="case-block-image" src="../images/homezen/icon-container.svg">
                        <img class="case-block-image absolute" src="../images/homezen/icon-sale.svg" data-sr="enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/homezen/icon-calculator.svg" data-sr="wait .15s, enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/homezen/icon-camera.svg" data-sr="wait .3s, enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/homezen/icon-check.svg" data-sr="wait .45s, enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/homezen/icon-money.svg" data-sr="wait .60s, enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/homezen/icon-couch.svg" data-sr="wait .75s, enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/homezen/icon-shake.svg" data-sr="wait .90s, enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/homezen/icon-house.svg" data-sr="wait 1.05s, enter bottom, move 200px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra homezen-off-white flex-center">
                    <h2 class="case-block-text-blockquote medium-length">We&rsquo;d work with&nbsp;<br />them again in a heartbeat.</h2>
                </div>
                <div class="inner-block half padded mobile-container homezen-light-blue flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/homezen/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">They are incredibly talented and we loved their work product. Their strategic approach to UX and design helped us build a great foundation. We&rsquo;d work with them again in a heartbeat.</p>
                        <p class="case-block-text-citation">Kevin Bennett, <em>Co-Founder of HomeZen</em></p>
                    </div>

                </div>
            </section>
            <!-- END case-block -->

            <!-- <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section> -->
            <!-- END cta -->

            <!-- <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>

                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer> -->
        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
