<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Identity Auto</title>
    <% include ../partials/head %>
        <link rel="stylesheet" href="../style.css">
</head>

<body>
    <!-- REMOVE HASH ON COMMENT -->
    <!-- <%# include ../partials/work-menu %> -->

        <div class="wrapper case-study idauto">

            <section class="case-header overlay">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">Identity Automation</h5>
                    <h1 class="case-header-tagline">Keeping your world safe&nbsp;<br />in the palm of your hand</h1>
                    <h6 class="case-header-type">Identity Management Mobile App</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>We created a mobile application that gives users and administrators the right access to the right apps and the right data.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown idauto-off-white">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">A pocket-sized UI for all</h3>
                        <p class="case-breakdown-detail">We designed an app that performs for users of all ages, from grade-school students to administrators and business owners.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">A flexible, intuitive framework</h3>
                        <p class="case-breakdown-detail">When we simplified the app’s structure, we made it easier to manage software and app access across organizations.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Information Architecture</li>
                            <li>Application Design</li>
                            <li>Front End Development</li>
                            <li>Animation</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block not-padded idauto-white">
                <div class="inner-block half absolute-left vertical-center left-padded mobile-container" data-sr>
                    <h2 class="case-block-text-heading short-length">Navigating without having to think</h2>
                    <p class="case-block-text-subtext short-length">We designed an approach that anticipates and prioritizes based on what users need to do first, most, or almost never.</p>
                </div>
                <div class="inner-block half float-right idauto-red relative">
                    <img class="case-block-image" src="../images/idauto/single-mobile-bg.svg" />
                    <img class="case-block-image absolute" src="../images/idauto/single-mobile.png" data-sr="enter bottom, move 800px" />
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block idauto-green">
                <div class="container">
                    <div class="inner-block half left-padded absolute-right vertical-center mobile-padded-below mobile-container-absoalute" data-sr>
                        <h2 class="case-block-text-heading short-length">Unified under a common grid</h2>
                        <p class="case-block-text-subtext short-length">New modules and features don&rsquo;t have to be built from scratch. A powerful underlying grid can handle any combination of data that a user might need.</p>
                    </div>

                    <div class="inner-block half float-left relative">
                        <img class="case-block-image" src="../images/idauto/duo-mobile-bg.svg">
                        <img class="case-block-image absolute" src="../images/idauto/duo-mobile-left.png" data-sr="enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/idauto/duo-mobile-right.png" data-sr="wait .25s, enter bottom, move 200px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image idauto-phone"></section>
            <!-- END case-block -->

            <section class="case-block not-padded idauto-white">
                <div class="inner-block half absolute-left vertical-center left-padded mobile-container" data-sr>
                    <h2 class="case-block-text-heading short-length">Engineered with an eye for detail</h2>
                    <p class="case-block-text-subtext short-length">We built the front-end in EmberJS, working with the client to define API functionality. We built not just an app, but the first step in a broader platform to serve future customers. And, the resulting code makes the design shine to the fullest.</p>
                </div>
                <div class="inner-block half float-right idauto-black relative">
                    <img class="case-block-image" src="../images/idauto/code-bg.svg" />
                    <img class="case-block-image absolute" src="../images/idauto/code-mobile.png" data-sr="enter bottom, move 800px" />
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block idauto-red">
                <div class="container">
                    <div class="inner-block half left-padded absolute-right vertical-center mobile-padded-below mobile-container-absoalute" data-sr>
                        <h2 class="case-block-text-heading short-length">Bringing it to life</h2>
                        <p class="case-block-text-subtext short-length">Beautiful animations and visual feedback — progress bars, transitions, and validated input fields — make users feel in control, without wondering whether something worked.</p>
                    </div>

                    <div class="inner-block half float-left relative">
                        <img class="case-block-image" src="../images/idauto/duo-mobile-bg.svg">
                        <img class="case-block-image absolute" src="../images/idauto/duo-mobile-left-alt.png" data-sr="enter bottom, move 200px">
                        <img class="case-block-image absolute" src="../images/idauto/duo-mobile-right-alt.png" data-sr="wait .25s, enter bottom, move 200px">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra idauto-off-white flex-center">
                    <h2 class="case-block-text-blockquote medium-length">Working with their team has been nothing short of amazing.</h2>
                </div>
                <div class="inner-block half padded mobile-container idauto-green flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/idauto/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">&ldquo;It is rare to work with another company with the same passion for excellence as we have here at Identity Automation. We certainly see that same passion in Brave UX. Our experience working with their team has been nothing short of amazing. We are now seeing the fruits of their labor in our products today, and I am extremely happy with their work!&rdquo;</p>
                        <p class="case-block-text-citation">Troy Moreland, <em>Founder &amp; CTO, Identity Automation</em></p>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <!-- <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section> -->
            <!-- END cta -->

            <!-- <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>
                        <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer> -->
        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
