<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - Identity Automation</title>
  <%- include ../partials/_head %>
</head>
<body>
  <%- include ../partials/_menu %>
  <main class="wrapper case-study idauto">
    <header class="case-header overlay">
      <div class="case-header-content container">
        <h5 class="case-header-client-name">Identity Automation</h5>
        <h1 class="case-header-tagline">Making working together&nbsp;<br />simple and secure</h1>
        <h6 class="case-header-type">Identity Management Platform</h6>
      </div>
    </header>

    <section class="case-exec-summary padded red">
      <div class="container">
        <p class="case-exec-summary-text">We created a unified product platform that gives users and administrators the right access to the right apps and the right data.</p>
      </div>
    </section>

    <section class="case-breakdown padded">
      <div class="container row between">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
            One UX for all
          </h3>
          <p class="case-breakdown-detail">
            We designed a platform that performs for users of all ages, from grade-school students and administrators to business owners and their employees.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
            A flexible, intuitive framework
          </h3>
          <p class="case-breakdown-detail">
            We simplified the platform’s structure to make it easier to manage software and data access across organizations.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Information Architecture</li>
            <li class="case-breakdown-list-item">Application Design</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block padded gray">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">Navigating without&nbsp;<br />having to think</h2>
          <p class="case-block-text">
            We designed an approach that anticipates and prioritizes based&nbsp;<br />on what users need to do first, most, or almost never.
          </p>
        </div>
      </div>
      <div class="inner-block row idauto-navigate">
        <div class="container">
          <div class="frame frame-desktop darker shadow sr-bottom">
            <img src="./images/work/idauto/section1-screen1.jpg" alt="" class="inner-block-image contain">
          </div>
          <div class="frame frame-desktop darker shadow absolute sr-delay-double">
            <img src="./images/work/idauto/section1-screen2left.jpg" alt="" class="inner-block-image contain">
          </div>
          <div class="frame frame-desktop darker shadow absolute sr-delay-double">
            <img src="./images/work/idauto/section1-screen3right.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>
    
    <section class="block padded green">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">Unified under a&nbsp;<br />common canvas</h2>
          <p class="case-block-text">
            New modules and features don’t have to be built from scratch.&nbsp;<br />A powerful underlying system of visual space can handle any&nbsp;<br />combination of data that a user might need.
          </p>
        </div>
      </div>
      <div class="inner-block column">
        <div class="container">
          <img src="./images/work/idauto/section2-breakout9-bg.png" alt="" class="inner-block-image">
          <img src="./images/work/idauto/section2-breakout1.png" alt="" class="inner-block-image absolute sr-stagger-left">
          <img src="./images/work/idauto/section2-breakout2.png" alt="" class="inner-block-image absolute sr-stagger-top">
          <img src="./images/work/idauto/section2-breakout3.png" alt="" class="inner-block-image absolute sr-stagger-top">
          <img src="./images/work/idauto/section2-breakout4.png" alt="" class="inner-block-image absolute sr-stagger-right">
          <img src="./images/work/idauto/section2-breakout5.png" alt="" class="inner-block-image absolute sr-stagger-left">
          <img src="./images/work/idauto/section2-breakout6.png" alt="" class="inner-block-image absolute sr-stagger-right">
          <img src="./images/work/idauto/section2-breakout7.png" alt="" class="inner-block-image absolute sr-stagger-bottom">
          <img src="./images/work/idauto/section2-breakout8.png" alt="" class="inner-block-image absolute sr-stagger-right">
        </div>
      </div>
    </section>

    <section class="block padded shadow-inset-bottom">
      <img src="./images/work/idauto/section3-rows.png" alt="" class="block-image">
      <img src="./images/work/idauto/section3-diagram.png" alt="" class="block-image absolute sr-reveal">
    </section>

    <section class="block padded green">
      <div class="container row">
        <div class="inner-block column half-md two-third-lg">
          <img src="./images/work/idauto/section4-modal.jpg" alt="" class="inner-block-image contain sr-left">
        </div>
        <div class="inner-block absolute-center-md gutter-bottom-mobile column order-top-xs half-md one-third-lg">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">Patterns that&nbsp;<br />grow with users</h2>
            <p class="case-block-text">
              Users don’t have to drown in data. A smart sequence of panels and overlays build complexity as each user works.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block row padded gray">
      <div class="inner-block absolute-center-md gutter-bottom-mobile column half-md one-third-lg">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Process without&nbsp;<br />paperwork</h2>
          <p class="case-block-text">
            We brought the same intuitive tracking that users expect from their package and food delivery to the world of business processes. Red tape gets replaced with clarity.
          </p>
        </div>
      </div>
      <div class="inner-block column half-md two-third-lg">
        <div class="frame frame-desktop edge-right darker shadow sr-right">
          <img src="./images/work/idauto/section5-screen.jpg" alt="" class="inner-block-image contain">
        </div> 
      </div>
    </section>

    <section class="block">
      <img src="./images/work/idauto/banner.jpg" alt="" class="block-image">
    </section>

    <section class="block padded green">
      <div class="container row">
        <div class="inner-block column half-md idauto-mobile-design">
          <div class="frame frame-mobile-ios light shadow sr-bottom">
            <div class="frame-container">
              <img src="./images/work/idauto/section6-mobile-1.jpg" alt="" class="inner-block-image">
            </div>
          </div>
          <div class="frame frame-mobile-ios light shadow sr-top absolute-bottom">
            <div class="frame-container">
              <img src="./images/work/idauto/section6-mobile-2.jpg" alt="" class="inner-block-image">
            </div>
          </div>
        </div>
        <div class="inner-block absolute-center-md gutter-bottom-mobile column order-top-xs half-md">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">A design for tomorrow</h2>
            <p class="case-block-text">
              We translated deep functionality, previously only possible in Flex, into a go-anywhere, HTML-5 native design, for users today and tomorrow.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="case-referral row">
      <div class="inner-block padded column absolute-center-xs half-md red">
        <div class="container">
          <p class="case-referral-blockquote">Working with their team has been nothing short of amazing.</p>
        </div>
      </div>
      <div class="inner-block padded column half-md gray">
        <div class="container">
          <div class="case-referral-quote-icon"></div>
          <p class="case-referral-text">It is rare to work with another company with the same passion for excellence as we have here at Identity Automation. We certainly see that same passion in Brave UX. Our experience working with their team has been nothing short of amazing. We are now seeing the fruits of their labor in our products today, and I am extremely happy with their work!</p>
          <p class="case-referral-author">Troy Moreland, <em>Founder &amp; CTO, Identity Automation</em></p>
        </div>
      </div>
    </section>

    <section class="cta-block padded">
      <a href="./work/upfront" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
      <div class="cta-content container">
        <div class="container">
          <div class="cta-text">Sometimes, you find something that just works.</div>
          <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
        </div>
      </div>
      <a href="./work/ijr" class="cta-button cta-button-right" title="Next Case">Next Case</a>
    </section>

    <%- include ../partials/_footer %>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
