<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work</title>
  <% include ../partials/_head %>
</head>
<body>
  <!-- content -->
  <% include ../partials/_menu %>
  <main class="wrapper">
    <header class="hero white">
      <div class="container">
        <h1 class="hero-title">Work</h1>
        <p class="hero-text">Brave means not just thinking, but creating, together.</p>
      </div>
    </header>

    <section class="block padded white-smoke">
      <div class="container">
        <div class="work-card-container">

          <!-- Upside Card -->
          <div class="work-card upside">
            <a href="work/upside" class="work-card-box">
              <div class="work-card-image-box violet">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-upside.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Business Travel</p>
                <p class="work-card-title">Upside</p>
              </div>
            </a>
          </div>

          <!-- Felix Card -->
          <div class="work-card felix">
            <a href="work/felix" class="work-card-box">
              <div class="work-card-image-box blue">
                <div class="work-card-image">
                  <img data-normal="images/sections/work/work-felix.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Workplace Wellness</p>
                <p class="work-card-title">Felix</p>
              </div>
            </a>
          </div>

          <!-- Recity Card -->
          <div class="work-card recity">
            <a href="work/recity" class="work-card-box">
              <div class="work-card-image-box violet">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-recity.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Real Estate</p>
                <p class="work-card-title">Recity</p>
              </div>
            </a>
          </div>

          <!-- Upfront -->
          <div class="work-card upfront">
            <a href="work/upfront" class="work-card-box">
              <div class="work-card-image-box dark-blue">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-upfront.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Technical Hiring</p>
                <p class="work-card-title">Upfront</p>
              </div>
            </a>
          </div>

          <!-- Identity Automation Card -->
          <div class="work-card idauto">
            <a href="work/idauto" class="work-card-box">
              <div class="work-card-image-box green">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-id-auto.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">IT Management</p>
                <p class="work-card-title">Identity Automation</p>
              </div>
            </a>
          </div>

          <!-- Independent Journal Review Card -->
          <div class="work-card ijr">
            <a href="work/ijr" class="work-card-box">
              <div class="work-card-image-box yellow">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-ijr.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Digital Journalism</p>
                <p class="work-card-title">Independent Journal Review</p>
              </div>
            </a>
          </div>

          <!-- Federal Occupational Health Card -->
          <div class="work-card foh">
            <a href="work/foh" class="work-card-box">
              <div class="work-card-image-box blue">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-foh.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Federal Government</p>
                <p class="work-card-title">Federal Occupational Health</p>
              </div>
            </a>
          </div>

          <!-- Gen Z Card -->
          <div class="work-card genz">
            <a href="work/genz" class="work-card-box">
              <div class="work-card-image-box red">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-gen-z.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Student Mentoring</p>
                <p class="work-card-title">Gen Z</p>
              </div>
            </a>
          </div>

          <!-- CityHealth -->
          <div class="work-card cityhealth">
            <a href="work/cityhealth" class="work-card-box">
              <div class="work-card-image-box orange">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-cityhealth.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Public Policy</p>
                <p class="work-card-title">CityHealth</p>
              </div>
            </a>
          </div>

          <!-- Upturn & Equal Future Card -->
          <div class="work-card upturn">
            <a href="work/upturn" class="work-card-box">
              <div class="work-card-image-box blue">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-ef-upturn.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Technology Policy</p>
                <p class="work-card-title">Upturn &amp; Equal Future</p>
              </div>
            </a>
          </div>

          <!-- FieldOne Card -->
          <div class="work-card fieldone">
            <a href="work/fieldone" class="work-card-box">
              <div class="work-card-image-box blue">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-fieldone.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Asset Management</p>
                <p class="work-card-title">FieldOne</p>
              </div>
            </a>
          </div>

          <!-- &pizza Card -->
          <div class="work-card andpizza">
            <a href="work/andpizza" class="work-card-box">
              <div class="work-card-image-box gray">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-andpizza.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Culinary Culture</p>
                <p class="work-card-title">&amp;pizza</p>
              </div>
            </a>
          </div>

          <!-- State of Obesity Card -->
          <div class="work-card sob">
            <a href="work/stateofobesity" class="work-card-box">
              <div class="work-card-image-box red">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-sob.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Public Policy</p>
                <p class="work-card-title">State of Obesity</p>
              </div>
            </a>
          </div>

          <!-- Clutch Card -->
          <div class="work-card clutch">
            <a href="work/clutch" class="work-card-box">
              <div class="work-card-image-box green">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-clutch.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Agency Metrics</p>
                <p class="work-card-title">Clutch</p>
              </div>
            </a>
          </div>

          <!-- HomeZen -->
          <div class="work-card homezen">
            <a href="work/homezen" class="work-card-box">
              <div class="work-card-image-box blue">
                <div class="work-card-image">
                  <img data-normal="./images/sections/work/work-homezen.png" alt="" class="inner-block-image absolute contain">
                </div>
              </div>
              <div class="work-card-content">
                <p class="work-card-tagline">Real Estate</p>
                <p class="work-card-title">HomeZen</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>

    <section class="block padded white">
      <div class="container">
        <p class="content-tagline">Additional Clients of Note</p>
        <div class="work-client-panel">
          <img data-normal="./images/sections/work/royalcaribbean.png" alt="" class="work-client-panel-image inner-block-image contain">
          <img data-normal="./images/sections/work/aol.png" alt="" class="work-client-panel-image inner-block-image contain">
          <img data-normal="./images/sections/work/weddingwire.png" alt="" class="work-client-panel-image inner-block-image contain">
          <img data-normal="./images/sections/work/discovery.png" alt="" class="work-client-panel-image inner-block-image contain">
          <img data-normal="./images/sections/work/saj.png" alt="" class="work-client-panel-image inner-block-image contain">
        </div>
      </div>
    </section>

    <section class="cta-block row center padded white-smoke">
      <div class="cta-content container">
        <div class="cta-text">Sometimes, you find something that just works.</div>
        <a href="./approach" class="btn btn-text icon-arrow">See Our Approach</a>
      </div>
    </section>

    <section class="cta-block padded-top jaguar">
      <div class="cta-content container">
        <a href="./careers" class="btn btn-text icon-arrow alt cta-title">We&rsquo;re hiring</a>
      </div>
    </section>

    <% include ../partials/_footer %>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
