<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Brave UX - Work</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <div class="overlay"></div>
    <div class="overlay-exit"></div>

    <% include ../partials/menu %>

    <div class="wrapper work">
      <header>
        <div class="container">
          <div class="overlay-relative">
            <div class="can-overlay can-overlay-work">
              <h1 class="page-heading">Work</h1>
              <h2 class="page-subheading">More than a one-trick pony. Our case studies show the work we&rsquo;ve done, from design and information architecture through dev and testing.</h2>
            </div>

            <div class="overlay-content overlay-work-just">
              <p class="overlay-header">Just our type.</p>
              <p class="overlay-text">We use Source Sans for headlines: large lowercase characters tend to communicate with clarity and emphasis at larger sizes. We use Sentinel for body copy: a highly legible typeface featuring a smaller x-height and increased ascenders/descenders.</p>
              <p class="overlay-footer"><a target="_blank" href="https://www.fonts.com/content/learning/fontology/level-1/type-anatomy/x-height">Source</a></p>
            </div>
          </div>
        </div>
      </header>

      <section class="work-landing felix">
        <div class="container">
          <div class="col one-half">
            <img class="work-landing-image" src="../images/work/landing-felix.png">
          </div>

          <div class="col one-half">
            <p class="work-landing-type">Wellness Application</p>
            <p class="work-landing-client">US Dept of Health and<br>&nbsp;Human Services</p>
            <a class="work-landing-cta" href="/work/hhs">See Case</a>
          </div>
        </div>
      </section>

      <section class="work-landing obesity">
        <div class="container">
          <div class="col one-half">
            <p class="work-landing-type">Interactive Data Visualization</p>
            <p class="work-landing-client">State of Obesity</p>
            <a class="work-landing-cta" href="/work/stateofobesity">See Case</a>
          </div>

          <div class="col one-half">
            <img class="work-landing-image" src="../images/work/landing-obesity.svg">
          </div>
        </div>
      </section>

      <section class="work-landing wedding">
        <div class="container">
          <div class="col one-half">
            <img class="work-landing-image" src="../images/work/landing-wedding.svg">
          </div>

          <div class="col one-half">
            <p class="work-landing-type">Unified Application Experience</p>
            <p class="work-landing-client">WeddingWire</p>
            <a class="work-landing-cta" href="/work/weddingwire">See Case</a>
          </div>
        </div>
      </section>

      <section class="work-landing character">
        <div class="container">
          <div class="col one-half">
            <p class="work-landing-type">Visual Identity System</p>
            <p class="work-landing-client">Character.org</p>
            <a class="work-landing-cta" href="/work/character">See Case</a>
          </div>

          <div class="col one-half">
            <img class="work-landing-image" src="../images/work/landing-character.png">
          </div>
        </div>
      </section>

      <section class="work-landing fieldone">
        <div class="container">
          <div class="col one-half">
            <img class="work-landing-image" src="../images/work/landing-fieldone.svg">
          </div>

          <div class="col one-half">
            <p class="work-landing-type">Asset Management Application</p>
            <p class="work-landing-client">FieldOne</p>
            <a class="work-landing-cta" href="/work/fieldone">See Case</a>
          </div>
        </div>
      </section>

      <section class="cta">
        <div class="container">
          <p class="cta-text">Sometimes, you find something that just works.</p>
          <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
        </div>
      </section><!-- END cta -->

      <footer class="footer">
        <div class="container">
          <div class="footer-column">
            <img class="footer-logo" src="../images/footer/footer-logo.svg">
          </div>

          <div class="footer-column">
            <p class="footer-heading">Get In Touch</p>

            <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
          </div>

          <div class="footer-column">
            <p class="footer-heading">Follow Us</p>
            <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
            <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
            <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
            <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
            <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
          </div>

          <div class="footer-column">
            <p class="footer-heading">Our Products</p>
            <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
            <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
            <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
          </div>

          <div class="footer-last-line">
            <p class="footer-copyright">&copy;2015 Brave UX. All Rights Reserved.</p>
            <div class="footer-stars"></div>
            <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
          </div>
        </div>

        <div class="footer-egg"></div>
      </footer>
    </div><!-- END wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
    <script src="../scripts.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48218627-1', 'braveux.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
