<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - Interfolio</title>
  <%- include ../partials/_head %>
</head>
<body>
  <main class="wrapper case-study interfolio">
    <header class="case-header">
      <div class="case-header-content container">
        <h5 class="case-header-client-name">Interfolio</h5>
        <h1 class="case-header-tagline">Because smart people&nbsp;<br />deserve smart techology</h1>
        <h6 class="case-header-type">Website Relaunch</h6>
      </div>
    </header>

    <section class="case-exec-summary padded pink">
      <div class="container">
        <p class="case-exec-summary-text">We completely overhauled the Interfolio site, so it could better communicate to their higher ed customers.</p>
      </div>
    </section>

    <section class="case-breakdown padded dark-blue">
      <div class="container row between">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
            Be credible. Be simple.
          </h3>
          <p class="case-breakdown-detail">
            Marketing to academics is tough. Your story has to be tight but thorough, concise but detailed. So how do you create a site that makes the case?
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
            Dig deep with better hierarchy.
          </h3>
          <p class="case-breakdown-detail">
            We rethought Interfolio’s site flow, providing clean and easy ways to let users quickly find what they need, and dive deeper for more.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Information Architecture</li>
            <li class="case-breakdown-list-item">Website Design</li>
            <li class="case-breakdown-list-item">Front End Development</li>
            <li class="case-breakdown-list-item">Content Management System</li>
            <li class="case-breakdown-list-item">Customization</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block padded-top">
      <div class="row container">
        <div class="inner-block absolute-center-md column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-right padded-bottom">
            <h2 class="case-block-heading">Retelling the Story</h2>
            <p class="case-block-text">
              Interfolio fell into the classic pit of talking about themselves first. We abided by what data shows is best practice, introducing the user’s pain points first so they instantly connect and see themselves in the site.
            </p>
          </div>
        </div>
        <div class="inner-block column column-block align-self-bottom half-md two-third-lg half-xl">
          <div class="frame frame-desktop edge-bottom dark shadow sr-bottom lazy-ratio" data-width="1358" data-height="1419">
            <img data-normal="./images/work/interfolio/homepage.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block padded blue">
      <div class="row container">
        <div class="inner-block column column-block align-self-center half-md two-third-lg half-xl">
          <div class="frame frame-tablet dark sr-left">
            <div class="frame-container">
              <img data-normal="./images/work/interfolio/timeline.jpg" alt="" class="inner-block-image">
            </div>
          </div>
        </div>
        <div class="inner-block absolute-center-md order-top-xs gutter-bottom-mobile column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">Turning the corner on branding</h2>
            <p class="case-block-text">
              We extended Interfolio’s internal rebrand onto the website, establishing styles like custom typography and colors. We even created a new “folio” treatment, a triangular folded page corner, applied to help cement the brand impression.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block">
      <img data-normal="./images/work/interfolio/walking.jpg" alt="" class="block-image">
    </section>

    <section class="block padded-top gray">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">The right fit for every device</h2>
          <p class="case-block-text">
            No surprise - mobile web traffic continues to increase. We helped restructure and prioritize Interfolio’s experience across every device to ensure decision-makers get the information they need whenever, wherever.
          </p>
        </div>
      </div>
      <div class="inner-block container interfolio-devices">
        <div class="frame frame-desktop edge-bottom dark shadow sr-tall lazy-ratio" data-width="1357" data-height="1398">
          <img data-normal="./images/work/interfolio/products.jpg" alt="" class="inner-block-image contain">
        </div>
        <div class="frame frame-mobile dark shadow absolute sr-left sr-delay">
          <div class="frame-container">
            <img data-normal="./images/work/interfolio/products-mobile.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
        <div class="frame frame-mobile dark shadow absolute sr-bottom sr-delay">
          <div class="frame-container">
            <img data-normal="./images/work/interfolio/technology-mobile.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block">
      <img data-normal="./images/work/interfolio/graduates.jpg" alt="" class="block-image">
    </section>

    <section class="block padded-top dark-gray">
      <div class="row container">
        <div class="inner-block column column-block align-self-bottom half-md two-third-lg half-xl">
          <div class="frame frame-desktop edge-bottom dark shadow sr-bottom lazy-ratio" data-width="1355" data-height="1221">
            <img data-normal="./images/work/interfolio/resources.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
        <div class="inner-block absolute-center-md order-top-xs column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-left padded-bottom">
            <h2 class="case-block-heading">Bringing order to chaos</h2>
            <p class="case-block-text">
              Interfolio provides dozens of resources to help their users. We overhauled WordPress to make it easy for resource management and sorting, creating a better system for both site visitors and admin users.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="case-referral row">
      <div class="inner-block padded column absolute-center-xs half-md">
        <div class="container">
          <p class="case-referral-blockquote">Partnering with Brave was the best decision we could have made...</p>
        </div>
      </div>
      <div class="inner-block padded column half-md dark-blue">
        <div class="container">
          <div class="case-referral-quote-icon"></div>
          <p class="case-referral-text">Partnering with Brave was the best decision we could have made as a business looking to make a serious impression on the market in a period of growth. Given their superior UX knowledge, stellar design aesthetic, and overall innovative spirit, the team was able to work seamlessly with our stakeholders to create an end product that not only has further helped define the Interfolio brand, but also exceed our overall business objectives.</p>
          <p class="case-referral-author">Megan Cole, <em>Vice President of Marketing, Interfolio</em></p>
        </div>
      </div>
    </section>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
