<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Interfolio</title>
    <% include ../partials/head %>
    
</head>

<body>

    <% include ../partials/work-menu %>

        <div class="wrapper case-study interfolio">

            <section class="case-header">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">Interfolio</h5>
                    <h1 class="case-header-tagline">Because smart people&nbsp;<br />deserve smart techology</h1>
                    <h6 class="case-header-type">Website Relaunch</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary interfolio-pink">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>We completely overhauled the Interfolio site, so it could&nbsp;<br />better communicate to their higher ed customers.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown interfolio-dark-blue">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">Be credible.&nbsp;<br />Be simple.</h3>
                        <p class="case-breakdown-detail">Marketing to academics is tough. Your story has to be tight but thorough, concise but detailed. So how do you create a site that makes the case?</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">Dig deep with better hierarchy.</h3>
                        <p class="case-breakdown-detail">We rethought Interfolio&rsquo;s site flow, providing clean and easy ways to let users quickly find what they need, and dive deeper for more.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Information Architecture</li>
                            <li>Website Design</li>
                            <li>Front End Development</li>
                            <li>Content Management System Customization</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block top-padded interfolio-white">
                <div class="inner-block one-third left-padded absolute-left vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading short-length">Retelling the Story</h2>
                    <p class="case-block-text-subtext short-length">Interfolio fell into the classic pit of talking about themselves first. We abided by what data shows is best practice, introducing the user&rsquo;s pain points first so they instantly connect and see themselves in the site.</p>
                </div>

                <div class="inner-block two-third float-right right-padded mobile-container-absolute relative">
                    <div class="frame frame-desktop dark shadow" data-sr="enter bottom, move 600px">
                        <img class="case-block-image" src="../images/interfolio/homepage.jpg">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block extra-padded interfolio-blue">
                <div class="container">
                    <div class="inner-block one-third absolute-right vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute" data-sr>
                        <h2 class="case-block-text-heading short-length">Turning the corner on branding</h2>
                        <p class="case-block-text-subtext short-length">We extended Interfolio&rsquo;s internal rebrand onto the website, establishing styles like custom typography and colors. We even created a new &ldquo;folio&rdquo; treatment, a triangular folded page corner, applied to help cement the brand impression.</p>
                    </div>

                    <div class="inner-block two-third float-left mobile-container-absolute">
                        <div class="frame frame-tablet dark" data-sr="enter left, move 600px">
                            <div class="frame-container">
                                <img class="case-block-image" src="../images/interfolio/timeline.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image interfolio-walking"></section>
            <!-- END case-block -->

            <section class="case-block top-padded fade-bottom interfolio-off-white">
              <div class="container">
                  <div class="inner-block mobile-padded-below" data-sr>
                        <p class="case-block-text-heading medium-length align-center">The right fit for every device</p>
                        <p class="case-block-text-subtext medium-length align-center">No surprise - mobile web traffic continues to increase. We helped restructure and prioritize Interfolio&rsquo;s experience across every device to ensure decision-makers get the information they need whenever, wherever.</p>
                    </div>
                <div class="inner-block relative">
                    <img class="case-block-image text-above" src="../images/interfolio/device-container.svg">
                    <div class="frame frame-desktop dark absolute shadow" data-sr="enter bottom, move 300px">
                        <img class="case-block-image" src="../images/interfolio/products.jpg" />
                    </div>
                    <div class="frame frame-mobile dark absolute shadow" data-sr="vF 0.9, wait 0.5s, enter left, move 100px">
                        <div class="frame-container">
                            <img class="case-block-image" src="../images/interfolio/products-mobile.jpg" />
                        </div>
                    </div>
                    <div class="frame frame-mobile dark absolute shadow" data-sr="vF 0.5, enter bottom, move 100px">
                        <div class="frame-container">
                            <img class="case-block-image" src="../images/interfolio/technology-mobile.jpg" />
                        </div>
                    </div>
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image interfolio-graduates"></section>
            <!-- END case-block -->

            <section class="case-block top-padded interfolio-gray">
                <div class="container">
                    <div class="inner-block one-third absolute-right vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute" data-sr>
                        <h2 class="case-block-text-heading short-length">Bringing order to chaos</h2>
                        <p class="case-block-text-subtext short-length">Interfolio provides dozens of resources to help their users. We overhauled WordPress to make it easy for resource management and sorting, creating a better system for both site visitors and admin users.</p>
                    </div>

                    <div class="inner-block two-third float-left mobile-container-absolute relative">
                        <div class="frame frame-desktop dark shadow" data-sr="enter bottom, move 600px">
                            <img class="case-block-image" src="../images/interfolio/resources.jpg">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra flex-center interfolio-white">
                    <h2 class="case-block-text-blockquote medium-length">Partnering with Brave was the best decision we could have made...</h2>
                </div>
                <div class="inner-block half padded mobile-container interfolio-dark-blue flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/interfolio/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">Partnering with Brave was the best decision we could have made as a business looking to make a serious impression on the market in a period of growth. Given their superior UX knowledge, stellar design aesthetic, and overall innovative spirit, the team was able to work seamlessly with our stakeholders to create an end product that not only has further helped define the Interfolio brand, but also exceed our overall business objectives.</p>
                        <p class="case-block-text-citation">Megan Cole, <em>Vice President of Marketing, Interfolio</em></p>
                    </div>

                </div>
            </section>
            <!-- END case-block -->

            <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta-inverse.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section>
            <!-- END cta -->

            <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>
                        <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer>

        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
