<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - Recity</title>
  <%- include ../partials/_head %>
</head>
<body>
  <%- include ../partials/_menu %>
  <main class="wrapper case-study recity">
    <header class="case-header">
      <div class="case-header-content container">
        <h5 class="case-header-client-name">Recity</h5>
        <h1 class="case-header-tagline">Urban development&nbsp;<br />by the numbers</h1>
        <h6 class="case-header-type">Commercial Real Estate Insight Platform</h6>
      </div>
    </header>

    <section class="case-exec-summary padded">
      <div class="container">
        <p class="case-exec-summary-text">We designed a platform that makes commercial development data actually usable.</p>
      </div>
    </section>

    <section class="case-breakdown padded gray">
      <div class="container row between">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
            What&rsquo;s going on?
          </h3>
          <p class="case-breakdown-detail">
            Commercial real estate data is tough to find and even harder to understand. We had to make it meaningful and easy to use.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
            A unified view of numbers, plus context
          </h3>
          <p class="case-breakdown-detail">
            We designed a cross-platform interface that shows what’s happening at any address, powered by real-time data.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Brand System</li>
            <li class="case-breakdown-list-item">Information Architecture</li>
            <li class="case-breakdown-list-item">Interaction Design</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block padded orange">
      <div class="row container">
        <div class="inner-block absolute-center-md gutter-bottom-mobile column half-md one-third-lg half-xl">
          <div class="inner-block-content gutter-right">
            <h2 class="case-block-heading">Not just today, but ten years from now</h2>
            <p class="case-block-text">
              Whether buying a home or opening a store, time matters for your investments. We created visualizations that let users understand how a neighborhood will change over time.
            </p>
          </div>
        </div>
        <div class="inner-block column half-md two-third-lg half-xl">
          <div class="frame frame-desktop light sr-right lazy-ratio" data-width="1616" data-height="906">
            <img data-normal="./images/work/recity/forecasts-desktop.jpg" alt="" class="inner-block-image contain">
          </div>
        </div>
      </div>
    </section>

    <section class="block">
      <img data-normal="./images/work/recity/construction.jpg" alt="" class="block-image">
    </section>

    <section class="block padded">
      <div class="row">
        <div class="inner-block absolute-center-md gutter-bottom-mobile column half-md one-third-lg half-xl">
          <div class="container">
            <div class="inner-block-content">
              <h2 class="case-block-heading">Consistently beautiful, from form to flyout</h2>
              <p class="case-block-text">
                Because going out into the real world means leaving your desktop behind, we crafted an interface that looks great on a big screen or in the palm of your hand.
              </p>
            </div>
          </div>
        </div>
        <div class="inner-block column half-md two-third-lg half-xl recity-forecasts gutter-left-mobile">
          <div class="frame frame-desktop edge-right shadow sr-right lazy-ratio" data-width="1076" data-height="893">
            <img data-normal="./images/work/recity/development-desktop.jpg" alt="" class="inner-block-image contain">
          </div>
          <div class="frame frame-mobile shadow sr-bottom absolute">
            <div class="frame-container">
                <img data-normal="./images/work/recity/development-mobile.jpg" alt="" class="inner-block-image">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="block">
      <img data-normal="./images/work/recity/laptop.jpg" alt="" class="block-image">
    </section>

    <section class="block row">
      <div class="inner-block absolute-center-md padded column half-md gray">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Keeping track so you don&rsquo;t miss a beat</h2>
          <p class="case-block-text">
            Powerful history, note-taking, and favoriting features are synced on every version of this tool, so users aren’t left guessing.
          </p>
        </div>
      </div>
      <div class="inner-block column half-md padded absolute-center-xs hide-overflow orange recity-favorites">
        <div class="frame frame-mobile lighter sr-bottom">
          <div class="frame-container">
            <img data-normal="./images/work/recity/favorites-mobile.jpg" alt="" class="inner-block-image">
          </div>
        </div>
      </div>
    </section>
    </section>

    <section class="block">
      <div class="inner-block row recity-city">
        <div class="lazy-ratio" data-width="5160" data-height="1358">
          <img data-normal="./images/work/recity/city.jpg" alt="" class="inner-block-image contain">
        </div>
        <span class="pin pin-one"></span>
        <span class="pin pin-two"></span>
        <span class="pin pin-three"></span>
        <span class="pin pin-four"></span>
        <span class="pin pin-five"></span>
      </div>
    </section>

    <section class="block padded">
      <div class="row container">
        <div class="inner-block column half-md one-third-lg sr-left">
          <div class="lazy-ratio" data-width="146" data-height="150">
            <img data-normal="./images/work/recity/permit-activity.svg" alt="" class="inner-block-image">
          </div>
        </div>
        <div class="inner-block absolute-center-md order-top-xs gutter-bottom-mobile column half-md two-third-lg">
          <div class="inner-block-content gutter-left">
            <h2 class="case-block-heading">Powerful metrics, even on-the-go</h2>
            <p class="case-block-text">
              Screen size shouldn’t kill your productivity. We packed the same advanced metrics into a touch-friendly format.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="case-referral centered row">
      <div class="inner-block padded column blue">
        <div class="container">
          <div class="case-referral-quote-icon"></div>
          <p class="case-referral-text centered">&ldquo;We came to Brave with an early build and a list of problems; what we left with was a fully realized platform and brand. They took the time to understand our customer, asking thoughtful questions which ultimately increased the product&rsquo;s value. Without Brave, Recity wouldn&rsquo;t be what it is today – a product we are incredibly proud of.&rdquo;</p>
          <p class="case-referral-author">Guggan Datta, <em>Founder, Recity</em></p>
        </div>
      </div>
    </section>

    <section class="cta-block padded dark-blue">
      <a href="./work/felix" class="cta-button cta-button-left" title="Previous Case">Previous Case</a>
      <div class="cta-content container">
        <div class="cta-text">Sometimes, you find something that just works.</div>
        <a href="/approach" class="btn btn-text icon-arrow">See Our Approach</a>
      </div>
      <a href="./work/upfront" class="cta-button cta-button-right" title="Next Case">Next Case</a>
    </section>

    <%- include ../partials/_footer %>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
