<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Style Me Pretty</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <% include ../partials/work-menu %>

        <div class="wrapper case-study smp">

            <section class="case-header">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">Style Me Pretty</h5>
                    <h1 class="case-header-tagline">A site experience that&nbsp;<br />lives up to its name</h1>
                    <h6 class="case-header-type">Wedding Site and Lifestyle Site Relaunch</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary smp-coral">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>We created a smart, beautiful homepage and content experience to&nbsp;<br />help Style Me Pretty convert readers across multiple blog properties.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown smp-romance">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary short-length">Make the love last forever</h3>
                        <p class="case-breakdown-detail">Marketing to academics is tough. Your story has to be tight but thorough, concise but detailed. So how do you create a site that makes the case?</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">Unify and simplify.</h3>
                        <p class="case-breakdown-detail">We cleaned up the connection between blog properties and architected more engaging article types to keep users coming back for more.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Information Architecture</li>
                            <li>Website Design</li>
                            <li>Pattern Library</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block top-padded fade-bottom smp-romance-lt">
                <div class="inner-block one-third left-padded absolute-left vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading short-length">Home Sweet Home</h2>
                    <p class="case-block-text-subtext short-length">We rearchitected and redesigned the homepage to make editorial content pop, making it both easier and more beautiful for users as they browse.</p>
                </div>

                <div class="inner-block two-third float-right right-padded mobile-container-absolute" data-sr="enter bottom, move 600px">
                    <div class="frame frame-desktop light shadow">
                        <img class="case-block-image" src="../images/smp/desktop-home.jpg">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image smp-kiss"></section>
            <!-- END case-block -->

            <section class="case-block top-padded fade-bottom smp-romance-lt smp-desktop">
              <div class="container narrow">
                  <div class="inner-block mobile-padded-below" data-sr>
                        <p class="case-block-text-heading medium-length align-center">Being more than content with the content. (see what we did there?)</p>
                        <p class="case-block-text-subtext medium-length align-center">We created purposeful article types that help users scroll through curated images, unobtrusive advertising, and well-orchestrated recommendations to more content.</p>
                    </div>
                <div class="inner-block relative">
                    <img class="case-block-image text-above" src="../images/smp/desktop-container.svg" />
                    <div class="frame absolute frame-desktop light shadow" data-sr="vF 0.1, wait 0.25s, enter bottom, move 400px">
                        <img class="case-block-image " src="../images/smp/desktop-living.jpg">
                    </div>
                    <div class="frame absolute frame-desktop light shadow" data-sr="vF 0.4, enter bottom, move 400px">
                        <img class="case-block-image " src="../images/smp/desktop-wedding.jpg">
                    </div>
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image smp-dresses"></section>
            <!-- END case-block -->

            <section class="case-block top-padded fade-bottom smp-rose-white smp-nav">
                <div class="container">
                    <div class="inner-block one-third absolute-right vertical-center mobile-padded-below mobile-container-absolute" data-sr>
                        <h2 class="case-block-text-heading short-length">Navigation: when it works, it works.</h2>
                        <p class="case-block-text-subtext short-length">To truly extend SMP from a blog into a platform, we applied the same navigation structure of the Weddings experience to the Lifestyle blog, creating a continuity and repeat user visits.</p>
                    </div>

                    <div class="inner-block two-third float-left relative" >
                        <img class="case-block-image" src="../images/smp/nav-container.svg" />
                        <div class="frame absolute frame-desktop light shadow" data-sr="vF 0.1, wait 0.25s, enter bottom, move 400px">
                            <img class="case-block-image " src="../images/smp/desktop-nav.jpg">
                        </div>
                        <div class="frame absolute frame-mobile light shadow" data-sr="vF 0.4, enter bottom, move 400px">
                            <div class="frame-container">
                                <img class="case-block-image " src="../images/smp/mobile-nav.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image smp-aisle"></section>
            <!-- END case-block -->

            <section class="case-block top-padded fade-bottom smp-romance-lt smp-size">
                <div class="container">
                    <div class="inner-block one-third left-padded absolute-left vertical-center mobile-padded-below mobile-container-absolute" data-sr>
                        <h2 class="case-block-text-heading short-length">Keep your eyes on the size.</h2>
                        <p class="case-block-text-subtext short-length">Users expect content to look perfect regardless of their device. We devised a modular, column-based approach that lets SMP flexibly scale up and down based on the user&rsquo;s viewport.</p>
                    </div>

                    <div class="inner-block two-third float-right relative">
                        <img class="case-block-image" src="../images/smp/size-container.svg">
                        <div class="frame absolute frame-desktop light shadow" data-sr="vF 0.5, enter bottom, move 400px">
                            <img class="case-block-image " src="../images/smp/desktop-size.jpg">
                        </div>
                        <div class="frame absolute frame-mobile light shadow" data-sr="vF 0.9, wait 0.25s, enter right, move 100px">
                            <div class="frame-container">
                                <img class="case-block-image " src="../images/smp/mobile-size.jpg">
                            </div>
                        </div>
                        <div class="frame absolute frame-tablet light shadow" data-sr="vF 0.2, wait 0.35s, enter left, move 100px">
                            <div class="frame-container">
                                <img class="case-block-image " src="../images/smp/tablet-size.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra flex-center smp-coral">
                    <h2 class="case-block-text-blockquote medium-length">...just as smart at the strategic level as it is beautiful in the details.</h2>
                </div>
                <div class="inner-block half padded mobile-container smp-romance flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/smp/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">Keeping both readers and advertisers happy is one of the toughest challenges in UX right now, but Brave was up to the task. Their strategists, information architects and designers integrated right into our team of editors, account managers and developers - working alongside us with ease. Together, we created a new direction that is just as smart at the strategic level as it is beautiful in the details.</p>
                        <p class="case-block-text-citation">Tait Larson, <em>Co-Founder, Style Me Pretty</em></p>
                    </div>

                </div>
            </section>
            <!-- END case-block -->

            <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta-inverse.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section>
            <!-- END cta -->

            <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>
                        <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer>

        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
