<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Snagajob</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <!-- REMOVE HASH ON COMMENT -->
    <!-- <%# include ../partials/work-menu %> -->

        <div class="wrapper case-study snagajob">

            <section class="case-header">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">Snagajob</h5>
                    <h1 class="case-header-tagline">One brand&nbsp;<br />to rule them all</h1>
                    <h6 class="case-header-type">Hourly Jobs Search Application</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>We redesigned the mobile apps for Snagajob, helping connect&nbsp;<br />hourly workers with employers who need them.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown snagajob-orange">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">Make piecemeal&nbsp;<br />into a whole meal</h3>
                        <p class="case-breakdown-detail">We improved both brand consistency and communication between product, design, and development.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">A top to bottom refresh</h3>
                        <p class="case-breakdown-detail">We went deeper than just the app screens. We uncovered process problems and helped Snagajob get back on course.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Employee Research</li>
                            <li>App Redesign</li>
                            <li>Pattern Library</li>
                            <li>UX Process Consulting</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block extra-padded snagajob-white">
                <div class="container">
                    <div class="inner-block one-third absolute-left vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute">
                        <h2 class="case-block-text-heading medium-length" data-sr>Unifying and updating&nbsp;<br />the app design</h2>
                        <p class="case-block-text-subtext short-length" data-sr>Snagajob offers two apps — one for Job Seekers and one for Employers — for both Android and iOS. We refreshed and unified the designs for all four, creating a more holistic ecosystem.</p>
                    </div>

                    <div class="inner-block two-third float-right relative">
                        <img class="case-block-image" src="../images/snagajob/container.svg" />
                        <div class="frame frame-mobile black absolute shadow" data-sr="enter left, move 50px">
                            <div class="frame-container">
                                <img class="case-block-image" src="../images/snagajob/unify-mobile3.jpg" />
                            </div>
                        </div>
                        <div class="frame frame-mobile black absolute shadow" data-sr="wait .3s, enter top, move 100px">
                            <div class="frame-container">
                                <img class="case-block-image" src="../images/snagajob/unify-mobile2.jpg" />
                            </div>
                        </div>
                        <div class="frame frame-mobile black absolute shadow" data-sr="enter right, move 50px">
                            <div class="frame-container">
                                <img class="case-block-image" src="../images/snagajob/unify-mobile1.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block top-padded overflow snagajob-orange">
              <div class="container narrow">
                  <div class="inner-block mobile-padded-below">
                        <p class="case-block-text-heading medium-length align-center" data-sr>Multiple operating systems</p>
                        <p class="case-block-text-subtext medium-length align-center" data-sr>For both apps, we delivered compatible iOS and Android mockups, bringing the suite up to speed with iOS and Material Design standards.</p>
                    </div>
                <div class="inner-block relative" data-sr="enter bottom, move 600px">
                    <img class="case-block-image text-above" src="../images/snagajob/container.svg" />
                    <div class="frame frame-mobile black absolute shadow" data-sr="enter left, move 50px">
                        <div class="frame-container">
                            <img class="case-block-image" src="../images/snagajob/os-mobile1.jpg" />
                        </div>
                    </div>
                    <div class="frame frame-mobile-ios black absolute shadow" data-sr="enter right, move 50px">
                        <div class="frame-container">
                            <img class="case-block-image" src="../images/snagajob/os-mobile2.jpg" />
                        </div>
                    </div>
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block extra-padded snagajob-off-white">
                <div class="container">
                    <div class="inner-block one-third absolute-right vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute">
                        <h2 class="case-block-text-heading short-length" data-sr>All about the follow-through </h2>
                        <p class="case-block-text-subtext short-length" data-sr>We gave the employer app its own look, but kept the patterns and design building blocks the same, helping reinforce a consistent brand experience.</p>
                    </div>

                    <div class="inner-block two-third float-left relative">
                        <img class="case-block-image" src="../images/snagajob/container.svg" />
                        <div class="frame frame-mobile black absolute shadow" data-sr="vF 0.1, enter left, move 25px">
                            <div class="frame-container">
                                <img class="case-block-image" src="../images/snagajob/consistency-mobile1.jpg" />
                            </div>
                        </div>
                        <div class="frame frame-mobile black absolute shadow" data-sr="vF 0.1, wait 0.3s, enter left, move 25px">
                            <div class="frame-container">
                                <img class="case-block-image" src="../images/snagajob/consistency-mobile2.jpg" />
                            </div>
                        </div>
                        <div class="frame frame-mobile black absolute shadow" data-sr="vF 0.1, wait 0.6s, enter left, move 25px">
                            <div class="frame-container">
                                <img class="case-block-image" src="../images/snagajob/consistency-mobile3.jpg" />
                            </div>
                        </div>
                        <div class="frame frame-mobile black absolute shadow" data-sr="vF 0.1, wait 0.9s, enter left, move 25px">
                            <div class="frame-container">
                                <img class="case-block-image" src="../images/snagajob/consistency-mobile4.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block not-padded snagajob-gray">
                <div class="inner-block half absolute-left vertical-center left-padded mobile-container">
                    <h2 class="case-block-text-heading short-length" data-sr="vF 0.6">Looking at the&nbsp;<br />bigger picture</h2>
                    <p class="case-block-text-subtext short-length" data-sr="vF 0">We conducted interviews with the client&rsqu;s internal teams and provided recommendations on workflow involving UX designers, product managers, engineers, and marketing reps.</p>
                </div>
                <div class="inner-block half float-right full-height">
                    <img class="case-block-image" src="../images/snagajob/laptop-website.jpg" />
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block extra-padded snagajob-off-white">
                <div class="container">
                    <div class="inner-block one-third absolute-right vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute">
                        <h2 class="case-block-text-heading short-length" data-sr>Streamlined process from design to dev</h2>
                        <p class="case-block-text-subtext short-length" data-sr>In any united family of apps, the smooth handoff from mockups to development is key. We provided documentation in addition to a  walkthrough of Sketch to Zeplin for the cleanest process possible.</p>
                    </div>

                    <div class="inner-block two-third float-left relative">
                        <img class="case-block-image" src="../images/snagajob/dev.svg" data-sr="enter left, move 200px"/>
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block snagajob-orange">
                <div class="container narrow">
                    <div class="inner-block" data-sr="enter bottom, move 20px">
                        <img class="case-block-image" src="../images/snagajob/icons.svg" />
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra flex-center snagajob-off-white">
                    <h2 class="case-block-text-blockquote medium-length">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                </div>
                <div class="inner-block half padded mobile-container snagajob-gray flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/snagajob/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="case-block-text-citation">Troy Moreland, <em>Founder &amp; CTO, Snagajob</em></p>
                    </div>

                </div>
            </section>
            <!-- END case-block -->

            <!-- <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta-inverse.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section> -->
            <!-- END cta -->

            <!-- <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>
                        <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer> -->
            
        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
