<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - The Media Trust</title>
    <% include ../partials/head %>

</head>

<body>
    <!-- REMOVE HASH ON COMMENT -->
    <!-- <%# include ../partials/work-menu %> -->

        <div class="wrapper case-study tmt">

            <section class="case-header">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">The Media Trust</h5>
                    <h1 class="case-header-tagline">Defending the&nbsp;<br />Web&rsquo;s Biggest Sites</h1>
                    <h6 class="case-header-type">Digital Threat Monitoring Platform</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary tmt-gray">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>We overhauled the interface of the most powerful web governance tool&nbsp;<br />ever built, so threats get stopped before they ever reach your browser.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown tmt-white">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">Managing web traffic is&nbsp;<br />exhaustive and complex</h3>
                        <p class="case-breakdown-detail">Spam and malware are constantly getting harder to detect–and some online ads have never been more obnoxious. Both steal away time from content creators and their audiences.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">A flexbible, full-featured&nbsp;<br />framework</h3>
                        <p class="case-breakdown-detail">Unifying hundreds of workflows and metrics into a consistent (and modern) UI benefits IT giants and small teams alike.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Research</li>
                            <li>Strategy</li>
                            <li>Information Architecture</li>
                            <li>Application Design</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block not-padded tmt-blue">
                <div class="inner-block half absolute-left vertical-center left-padded mobile-container" data-sr>
                    <h2 class="case-block-text-heading short-length">Understanding the problem in their own words</h2>
                    <p class="case-block-text-subtext short-length">We started with research: Interviews with the product&rsquo;s users revealed the top pains and priorities of the very people who silently defend the internet.</p>
                </div>
                <div class="inner-block half float-right full-height">
                    <img class="case-block-image" src="../images/tmt/understanding.jpg" />
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block padded tmt-gray">
                <div class="inner-block one-third absolute-right vertical-center right-padded mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading short-length">An approach that scales</h2>
                    <p class="case-block-text-subtext short-length">A single scan contains dozens of sites, thousands of pages and millions of ads, cookies, and scripts. We architected navigation that allows a deep dive—and an easy way to come up for air.</p>
                </div>

                <div class="inner-block two-third float-left relative">
                  <img class="case-block-image" src="../images/tmt/scale1.svg" data-sr="scale up 20%" />
                  <img class="case-block-image absolute" src="../images/tmt/scale2.svg" data-sr="enter left, move 100px, wait 0.5s" />
                  <img class="case-block-image absolute" src="../images/tmt/scale3.svg" data-sr="enter top, move 100px, wait 0.6s" />
                  <img class="case-block-image absolute" src="../images/tmt/scale4.svg" data-sr="enter top, move 100px, wait 0.7s"/>
                  <img class="case-block-image absolute" src="../images/tmt/scale5.svg" data-sr="enter right, move 100px, wait 1.0s"/>
                  <img class="case-block-image absolute" src="../images/tmt/scale6.svg"
                  data-sr="enter right, move 100px, wait 1.1s"/>
                  <img class="case-block-image absolute" src="../images/tmt/scale7.svg"
                  data-sr="enter bottom, move 100px, wait 0.9s"/>
                  <img class="case-block-image absolute" src="../images/tmt/scale8.svg"
                  data-sr="enter bottom, move 100px, wait 0.8s"/>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block padded unbox-white shadow-inset-bottom">
              <div class="container">
                  <div class="inner-block mobile-padded-below" data-sr>
                        <p class="case-block-text-heading large-length align-center">Big names come with big expectations</p>
                        <p class="case-block-text-subtext medium-length align-center">The Media Trust&rsquo;s clients include giants like Google, Twitter, and Netflix— all with different needs. Our UI is easily customized with a single click.</p>
                    </div>
                <div class="inner-block relative" data-sr="enter bottom, move 600px">
                  <div class="frame frame-desktop">
                    <img class="case-block-image text-above" src="../images/tmt/expectations.jpg">
                  </div>
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image tmt-server"></section>
            <!-- END case-block -->

            <section class="case-block extra-padded tmt-gray">
              <div class="container">
                <div class="inner-block one-third absolute-right vertical-center mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading short-length">The abstract,&nbsp;<br />made tangible</h2>
                    <p class="case-block-text-subtext short-length">The code that powers the web is dense and fast-moving. This object-oriented user experience helps users resolve problems more quickly.</p>
                </div>

                <div class="inner-block two-third float-left relative">
                  <img class="case-block-image absolute" src="../images/tmt/abstract2.png" data-sr="wait 0.75s, over 1s" />
                  <img class="case-block-image" style="position: relative; z-index: 100;" src="../images/tmt/abstract1.svg" data-sr="enter left, move 300px" />
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block extra-padded tmt-white">
              <div class="container">
                <div class="inner-block one-third absolute-left vertical-center mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading medium-length">21st century design&nbsp;<br />for 21st century threats</h2>
                    <p class="case-block-text-subtext short-length">To this day, many terminals are still in black and white—often out of necessity. We didn&rsquo;t use design just to &lsquo;pretty things up.&rsquo; It enhances user efficiency with smart use of color, tags, and symbols.</p>
                </div>

                <div class="inner-block two-third float-right" data-sr="enter right, move 200px">
                  <div class="frame frame-desktop shadow">
                    <img class="case-block-image" src="../images/tmt/timeline.jpg">
                  </div>
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra flex-center tmt-blue">
                    <h2 class="case-block-text-blockquote medium-length">Brave UX is a team of fearless experts...</h2>
                </div>
                <div class="inner-block half padded mobile-container tmt-gray flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/tmt/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">Brave UX is a team of fearless experts who can transform the most exhaustively complex tasks into an efficient and painless process. We came to the table with a powerful set of tools and they brought us a visionary approach to user experience and design. Brave showed us how a singular, cutting-edge product could extend our unparalleled capabilities and deliver more value from the smallest of IT teams to the most visited sites on the web.</p>
                        <p class="case-block-text-citation">Chris Olson, <em>CEO, The Media Trust</em></p>
                    </div>

                </div>
            </section>
            <!-- END case-block -->

            <!-- <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section> -->
            <!-- END cta -->

            <!-- <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>
                        <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2017 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer> -->

        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
