<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Unbox</title>
    <% include ../partials/head %>
    
</head>

<body>

    <% include ../partials/work-menu %>

        <div class="wrapper case-study unbox">

            <section class="case-header">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">Unbox</h5>
                    <h1 class="case-header-tagline">Thinking outside&nbsp;<br />the inbox</h1>
                    <h6 class="case-header-type">Task-Based Email Application</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary unbox-teal">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>We re-imagined how your inbox should work, then built an&nbsp;<br />interactive prototype to test our design with real users.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown unbox-purple">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">Fixing the problem of email</h3>
                        <p class="case-breakdown-detail">Lost emails. Lengthy chains. Long nights. We had to rethink how users manage and interact with their inboxes day-to-day.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">An interactive prototype worth testing</h3>
                        <p class="case-breakdown-detail">Designed to organize and manage email so users can get past the hassle and truly communicate. </p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Information Architecture</li>
                            <li>Application Design</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block top-padded fade-bottom shadow-inset-bottom unbox-white">
              <div class="container">
                  <div class="inner-block mobile-padded-below" data-sr>
                        <p class="case-block-text-heading medium-length align-center">It&rsquo;s a sprint, not a marathon</p>
                        <p class="case-block-text-subtext medium-length align-center">Rapid iteration sprints were our strategy; we immediately established the core product and polished as we learned.</p>
                    </div>
                <div class="inner-block" data-sr="enter bottom, move 600px">
                    <img class="case-block-image text-above" src="../images/unbox/boxes-on-boxes.jpg">
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block extra-padded unbox-purple">
                <div class="inner-block one-third absolute-left vertical-center left-padded mobile-padded-above mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading short-length">Information nation</h2>
                    <p class="case-block-text-subtext short-length">Having ideas doesn&rsquo;t count when you can&rsquo;t execute. We brought concepts to life through thoughtful information architecture decisions, raising the bar for a new way of application thinking.</p>
                </div>

                <div class="inner-block two-third float-right mobile-container-left" data-sr="enter right, move 200px">
                    <img class="case-block-image shadow" src="../images/unbox/unbox-app.png" />
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block shadow-inset-top unbox-white">
                <div class="container">
                    <div class="inner-block" data-sr="enter bottom, move 50px">
                        <img class="case-block-image" src="../images/unbox/icons.svg" />
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image shadow-inset-top unbox-laptop"></section>
            <!-- END case-block -->

            <section class="case-block padded unbox-white">
                <div class="inner-block one-third absolute-right vertical-center right-padded mobile-padded-above mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading short-length">Stay on task</h2>
                    <p class="case-block-text-subtext short-length">Unbox separates items the user selects into a to-do list for them to complete. This dynamic way of looking at email gives the user actionable items from otherwise messy inboxes.</p>
                </div>

                <div class="inner-block two-third float-left mobile-container-right relative" data-sr="enter left, move 200px">
                    <div class="frame frame-desktop edge-left shadow">
                        <img class="case-block-image" src="../images/unbox/tasks.jpg" />
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block padded unbox-teal">
              <div class="container">
                  <div class="inner-block mobile-padded-below" data-sr>
                        <p class="case-block-text-heading medium-length align-center">Playing tag, not catch-up</p>
                        <p class="case-block-text-subtext medium-length align-center">A tough challenge meets a simple solution. We use tags to help users keep track of everything in one place and monitor their workstreams.</p>
                    </div>
                <div class="inner-block" data-sr="enter bottom, move 20px">
                    <img class="case-block-image rounded shadow text-above" src="../images/unbox/tags.jpg">
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block top-padded unbox-white">
                <div class="inner-block one-third absolute-left left-padded vertical-center mobile-padded-above mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading short-length">Pick a card, any card</h2>
                    <p class="case-block-text-subtext short-length">A fresh way to look at email. By placing critical information and emails on cards, the user can arrange and manage their inbox more efficiently.</p>
                </div>

                <div class="inner-block two-third float-right mobile-container-left relative">
                    <div class="frame frame-desktop edge-right shadow" data-sr="enter right, move 600px">
                        <img class="case-block-image" src="../images/unbox/cards.jpg">
                    </div>
                </div>
            </section>
            <!-- END case-block -->

            <section class="case-block not-padded unbox-blue">
                <div class="inner-block relative">
                    <img class="case-block-image" src="../images/unbox/fork-lift-bg.svg" data-sr="enter bottom, move 50px" />
                    <img class="case-block-image absolute" src="../images/unbox/fork-lift-text.svg" data-sr="wait 1.5s, enter top, move 20px"/>
                    <img class="case-block-image absolute" src="../images/unbox/fork-lift.svg" data-sr="wait 0.5s, enter left, move 100px"/>
                    <img class="case-block-image absolute" src="../images/unbox/fork-lift-boxes.svg" data-sr="wait 1s, enter right, move 50px"/>
                </div>
            </section>
            <!-- END case-block -->

            <!-- <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra flex-center unbox-purple">
                    <h2 class="case-block-text-blockquote medium-length">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                </div>
                <div class="inner-block half padded mobile-container unbox-off-white flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/unbox/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p class="case-block-text-citation">Ogi, <em>Founder, Unbox</em></p>
                    </div>

                </div>
            </section> -->
            <!-- END case-block -->

            <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta-inverse.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section>
            <!-- END cta -->

            <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>
                        <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2016 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer>

        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
