<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Brave UX - Work - Unbox</title>
  <%- include ../partials/_head %>
</head>
<body>
  <main class="wrapper case-study unbox">
    <header class="case-header">
      <div class="case-header-content container">
        <h5 class="case-header-client-name">Unbox</h5>
        <h1 class="case-header-tagline">Thinking outside&nbsp;<br />the inbox</h1>
        <h6 class="case-header-type">Task-Based Email Application</h6>
      </div>
    </header>

    <section class="case-exec-summary padded green">
      <div class="container">
        <p class="case-exec-summary-text">We re-imagined how your inbox should work, then built an interactive prototype to test our design with real users.</p>
      </div>
    </section>

    <section class="case-breakdown padded purple">
      <div class="container row">
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Challenge</p>
          <h3 class="case-breakdown-summary">
            Fixing the problem of email
          </h3>
          <p class="case-breakdown-detail">
            Lost emails. Lengthy chains. Long nights. We had to rethink how users manage and interact with their inboxes day-to-day.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Solution</p>
          <h3 class="case-breakdown-summary">
            An interactive prototype worth testing
          </h3>
          <p class="case-breakdown-detail">
            Designed to organize and manage email so users can get past the hassle and truly communicate.
          </p>
        </div>
        <div class="case-breakdown-box column gutter">
          <p class="case-breakdown-heading">Scope</p>
          <ul class="case-breakdown-list">
            <li class="case-breakdown-list-item">Information Architecture</li>
            <li class="case-breakdown-list-item">Application Design</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="block padded-top shadow-inset-bottom gray">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">It’s a sprint, not a marathon</h2>
          <p class="case-block-text">
            Rapid iteration sprints were our strategy; we immediately established the core product and polished as we learned.
          </p>
        </div>
      </div>
      <div class="inner-block row">
        <div class="container-narrow">
          <div class="lazy-ratio" data-width="1563" data-height="1281">
            <img data-normal="./images/work/unbox/boxes-on-boxes.jpg" alt="" class="inner-block-image contain sr-tall">
          </div>
        </div>
      </div>
    </section>

    <section class="block padded row purple">
      <div class="inner-block absolute-center-md gutter-bottom-mobile column half-md one-third-lg half-xl">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Information nation</h2>
          <p class="case-block-text">
            Having ideas doesn’t count when you can’t execute. We brought concepts to life through thoughtful information architecture decisions, raising the bar for a new way of application thinking.
          </p>
        </div>
      </div>
      <div class="inner-block gutter-left-mobile column column-block align-self-center half-md two-third-lg half-xl unbox-app">
        <div class="lazy-ratio" data-width="3133" data-height="2196">
          <img data-normal="./images/work/unbox/unbox-app.png" alt="" class="inner-block-image contain shadow sr-right">
        </div>
      </div>
    </section>

    <section class="block row center shadow-inset-top gray padded">
      <div class="container-narrow">
        <div class="lazy-ratio" data-width="300" data-height="128">
          <img data-normal="./images/work/unbox/icons.svg" alt="" class="inner-block-image contain sr-reveal">
        </div>
      </div>
    </section>

    <section class="block">
        <img data-normal="./images/work/unbox/laptop.jpg" alt="" class="block-image">
    </section>

    <section class="block padded row gray">
      <div class="inner-block gutter-right-mobile column column-block align-self-center half-md two-third-lg half-xl">
        <div class="frame frame-desktop edge-left shadow sr-left lazy-ratio" data-width="1192" data-height="818">
          <img data-normal="./images/work/unbox/tasks.jpg" alt="" class="inner-block-image contain">
        </div>
      </div>
      <div class="inner-block absolute-center-md gutter-bottom-mobile column order-top-xs half-md one-third-lg half-xl">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Stay on task</h2>
          <p class="case-block-text">
            Unbox separates items the user selects into a to-do list for them to complete. This dynamic way of looking at email gives the user actionable items from otherwise messy inboxes.
          </p>
        </div>
      </div>
    </section>

    <section class="block padded green">
      <div class="inner-block padded-bottom row absolute-center-md">
        <div class="inner-block-content content-centered container">
          <h2 class="case-block-heading">Playing tag, not catch-up</h2>
          <p class="case-block-text">
            A tough challenge meets a simple solution. We use tags to help users keep track of everything in one place and monitor their workstreams.
          </p>
        </div>
      </div>
      <div class="inner-block row unbox-tag">
        <div class="container-narrow">
          <div class="lazy-ratio" data-width="1552" data-height="566">
            <img data-normal="./images/work/unbox/tags.jpg" alt="" class="inner-block-image contain shadow sr-bottom">
          </div>
        </div>
      </div>
    </section>

    <section class="block padded-top row gray">
      <div class="inner-block absolute-center-md padded-bottom column half-md one-third-lg half-xl">
        <div class="inner-block-content container">
          <h2 class="case-block-heading">Pick a card, any card</h2>
          <p class="case-block-text">
            A fresh way to look at email. By placing critical information and emails on cards, the user can arrange and manage their inbox more efficiently.
          </p>
        </div>
      </div>
      <div class="inner-block gutter-left-mobile column column-block align-self-bottom half-md two-third-lg half-xl">
        <div class="frame frame-desktop edge-right edge-bottom shadow sr-right lazy-ratio" data-width="1569" data-height="1201">
          <img data-normal="./images/work/unbox/cards.jpg" alt="" class="inner-block-image contain">
        </div>
      </div>
    </section>

    <section class="block dark-blue unbox-forklift">
      <div class="inner-block">
        <div class="lazy-ratio" data-width="255" data-height="150">
          <img data-normal="./images/work/unbox/fork-lift-bg.svg" alt="" class="inner-block-image contain full-height">
          <img data-normal="./images/work/unbox/fork-lift.svg" alt="" class="inner-block-image contain">
          <img data-normal="./images/work/unbox/fork-lift-boxes.svg" alt="" class="inner-block-image contain">
          <img data-normal="./images/work/unbox/fork-lift-text.svg" alt="" class="inner-block-image contain">
        </div>
      </div>
    </section>
  </main>

  <%- include ../partials/_footer-scripts %>

</body>
</html>
