<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Brave UX - Work - Upside</title>
    <% include ../partials/head %>

</head>

<body>
    <!-- REMOVE HASH ON COMMENT -->
    <!-- <%# include ../partials/work-menu %> -->

        <div class="wrapper case-study upside">

            <section class="case-header">
                <div class="case-header-container container">
                    <h5 class="case-header-client-name">Upside</h5>
                    <h1 class="case-header-tagline">Travel that takes&nbsp;<br />care of business</h1>
                    <h6 class="case-header-type">Business Travel Planning Platform</h6>
                </div>
            </section>
            <!-- END case-header -->

            <section class="case-exec-summary upside-yellow">
                <div class="container">
                    <h4 class="case-exec-summary-text" data-sr>The founder of Priceline.com set his sights on business travel.&nbsp;<br />We designed a product that turns the industry on its head.</h4>
                </div>
            </section>
            <!-- END case-exec-summary -->

            <section class="case-breakdown upside-offwhite">
                <div class="container">
                    <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
                        <p class="case-breakdown-heading">Challenge</p>
                        <h3 class="case-breakdown-summary">Travel for business has&nbsp;<br />never been worse</h3>
                        <p class="case-breakdown-detail">Before you even get to the plane, a maze of shifting flights, hotels and meetings awaits you. And there&rsquo;s no real incentive for anyone to try harder.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
                        <p class="case-breakdown-heading">Solution</p>
                        <h3 class="case-breakdown-summary">Show users the formula,&nbsp;<br />and reward them</h3>
                        <p class="case-breakdown-detail">A trip planner that you can tinker with, paired with real savings and gift cards that reward and motivate travelers.</p>
                    </div>

                    <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
                        <p class="case-breakdown-heading">Scope</p>

                        <ul class="case-breakdown-scope-list">
                            <li>Strategy</li>
                            <li>Information Architecture</li>
                            <li>Application Design</li>
                            <li>Prototyping</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END case-breakdown -->

            <section class="case-block padded upside-white">
              <div class="container">
                <div class="inner-block one-third absolute-left vertical-center mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading medium-length">What&rsquo;s in it for you</h2>
                    <p class="case-block-text-subtext short-length">Upside rewards users who are flexible—with real gift cards to their favorite retailers—all while saving their company money. We created a series of intuitive infographics to explain this concept.</p>
                </div>

                <div class="inner-block two-third float-right" data-sr="enter right, move 200px">
                  <div class="frame frame-desktop dark shadow">
                    <img class="case-block-image" src="../images/upside/rewards.jpg">
                  </div>
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image upside-airplane"></section>
            <!-- END case-block -->

            <section class="case-block not-padded upside-offwhite">
              <div class="inner-block half float-left relative upside-yellow">
                  <img class="case-block-image" src="../images/upside/details-bg.svg">
                  <img class="case-block-image absolute" src="../images/upside/details-1.svg" data-sr="enter top, move 100px, wait 0.5s">
                  <img class="case-block-image absolute" src="../images/upside/details-2.svg" data-sr="enter left, move 100px, wait 0.7s">
                  <img class="case-block-image absolute" src="../images/upside/details-3.svg" data-sr="enter right, move 100px, wait 0.7s">
              </div>

              <div class="inner-block half absolute-right vertical-center left-padded mobile-container " data-sr>
                  <h2 class="case-block-text-heading">Goodbye, forms</h2>
                  <p class="case-block-text-subtext short-length">Getting the details of your trip shouldn&rsquo;t feel like an interrogation. We re-thought and resequenced how users plan their trip, so they understand what&rsquo;s going on and why.</p>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image relative upside-plane-bg">
              <img class="case-block-image absolute" src="../images/upside/plane.svg" data-sr="enter left, move 800px, over 2s, opacity 1">
            </section>
            <!-- END case-block -->

            <section class="case-block top-padded upside-white upside-interface">
              <div class="inner-block mobile-container-absolute" data-sr>
                <p class="case-block-text-heading large-length align-center">Try this trip on for size</p>
                <p class="case-block-text-subtext medium-length align-center">We got rid of sluggish search results of endless, identical-looking options. Instead, a user can easily change any part of their trip, and quickly see the impact.</p>
              </div>

              <div class="inner-block relative padded full-width">
                <div class="frame frame-desktop dark shadow" data-sr="enter bottom, move 600px">
                  <img class="case-block-image" src="../images/upside/interface.jpg">
                </div>
                <img class="case-block-image absolute" src="../images/upside/interface-bg1.jpg" data-sr="wait 0.75s">
                <img class="case-block-image absolute" src="../images/upside/interface-bg2.jpg" data-sr="wait 0.75s">
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image upside-terminal"></section>
            <!-- END case-block -->

            <section class="case-block not-padded upside-offwhite">
              <div class="inner-block half absolute-left vertical-center left-padded mobile-container " data-sr>
                  <h2 class="case-block-text-heading short-length">Business travel visualized</h2>
                  <p class="case-block-text-subtext short-length">Layovers, cabin class, room accomodations —all of these are tangible experiences. Our visualizations let users actually see how their options play out.</p>
              </div>

              <div class="inner-block half float-right relative upside-purple">
                  <img class="case-block-image" src="../images/upside/visualized-bg.svg">
                  <img class="case-block-image absolute" src="../images/upside/visualized-1.svg" data-sr="enter top, move 300px, wait 0.5s">
                  <img class="case-block-image absolute" src="../images/upside/visualized-2.svg" data-sr="enter bottom, move 300px, wait 0.5s">
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block case-full-image relative upside-section-6-bg">
              <img class="case-block-image absolute" src="../images/upside/section-6-1.svg" data-sr="wait 0.25s, scale up 20%">
              <img class="case-block-image absolute" src="../images/upside/section-6-2.svg" data-sr="wait 0.5s, scale up 20%">
              <img class="case-block-image absolute" src="../images/upside/section-6-3.svg" data-sr="wait 0.75s, scale up 80%">
            </section>
            <!-- END case-block -->

            <section class="case-block padded upside-white">
              <div class="container">
                <div class="inner-block one-third absolute-right vertical-center mobile-padded-below mobile-container-absolute" data-sr>
                    <h2 class="case-block-text-heading medium-length">Stop waiting,&nbsp;<br />start finding</h2>
                    <p class="case-block-text-subtext short-length">A staggered approach to travel—airfare and hotel in separate steps—keeps the user engaged while cleverly doing work in the background. The result: a magically 'instant' experience.</p>
                </div>

                <div class="inner-block two-third float-left" data-sr="enter left, move 200px">
                  <div class="frame frame-desktop dark shadow">
                    <img class="case-block-image" src="../images/upside/find.jpg">
                  </div>
                </div>
              </div>
            </section>
            <!-- END case-block -->

            <section class="case-block-flex not-padded view-three-quarter">
                <div class="inner-block half float-left padded mobile-container-extra flex-center upside-purple">
                    <h2 class="case-block-text-blockquote medium-length">Brave was the best and brightest in the room.</h2>
                </div>
                <div class="inner-block half padded mobile-container upside-offwhite flex-center">
                    <div class="container flex-col">
                        <img class="case-block-text-quote-icon align-left" src="../images/upside/quote.svg" data-sr="enter top, move 75px">
                        <p class="case-block-text-quote medium-length">Brave does more than UX. They helped us think through the entire product — from design to user path to animation. When we needed a partner and some extra brainpower, Brave was the best and the brightest in the room.</p>
                        <p class="case-block-text-citation">Scott Case, <em>CTO and Founding Partner, Upside</em></p>
                    </div>

                </div>
            </section>
            <!-- END case-block -->

            <!-- <section class="cta">
                <div class="container">
                    <p class="cta-text">Sometimes, you find something that just works.</p>
                    <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta-inverse.svg"></a>
                </div>

                <a class="cta-button cta-button-left" href="/work/fieldone" title="Prev Case"></a>
                <a class="cta-button cta-button-right" href="/work/stateofobesity" title="Next Case"></a>
            </section> -->
            <!-- END cta -->

            <!-- <footer class="footer">
                <div class="container">
                    <div class="footer-column">
                        <img class="footer-logo" src="../images/footer/footer-logo.svg">
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Get In Touch</p>

                        <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Follow Us</p>
                        <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
                        <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
                        <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
                        <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
                        <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
                    </div>

                    <div class="footer-column">
                        <p class="footer-heading">Our Products</p>
                        <a class="footer-product-link" href="http://fightforux.com/" target="_blank">Fight For UX</a>
                        <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
                        <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
                        <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
                    </div>

                    <div class="footer-last-line">
                        <p class="footer-copyright">&copy;2017 Brave UX. All Rights Reserved.</p>
                        <div class="footer-stars"></div>
                        <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
                    </div>
                </div>

                <div class="footer-egg"></div>
            </footer> -->

        </div>
        <!-- END wrapper -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script src="../scripts.js"></script>

        <script>
            (function(f, b) {
                var c;
                f.hj = f.hj || function() {
                    (f.hj.q = f.hj.q || []).push(arguments)
                };
                f._hjSettings = {
                    hjid: 20443,
                    hjsv: 3
                };
                c = b.createElement("script");
                c.async = 1;
                c.src = "//static.hotjar.com/c/hotjar-20443.js?sv=3";
                b.getElementsByTagName("head")[0].appendChild(c);
            })(window, document);
        </script>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-48218627-1', 'braveux.com');
            ga('send', 'pageview');
        </script>
</body>

</html>
