<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Brave UX - Work - Character</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>

    <% include ../partials/work-menu %>

    <div class="wrapper case-study upturn">

      <section class="case-header">
        <div class="case-header-container container">
          <p class="case-header-client-name">Upturn</p>
          <p class="case-header-tagline">Let your great work do the talking</p>
          <p class="case-header-type">Branding &amp; Websites</p>
        </div>

        <img class="case-header-image" src="../images/upturn/header.svg">
      </section><!-- END case-header -->

      <section class="case-exec-summary">
        <div class="container">
          <p class="case-exec-summary-text" data-sr>We created two branding systems that showcase the great minds, work, and content from the Upturn team.</p>
        </div>
      </section><!-- END case-exec-summary -->

      <section class="case-breakdown">
        <div class="container">
          <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
            <p class="case-breakdown-heading">Challenge</p>
            <p class="case-breakdown-summary">Make it clear and simple.</p>
            <p class="case-breakdown-detail">Upturn needed a brand that made their work - in law and technology - friendly and accessible, just like they are.</p>
          </div>

          <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
            <p class="case-breakdown-heading">Solution</p>
            <p class="case-breakdown-summary">Friendly, modern, and fresh</p>
            <p class="case-breakdown-detail">We kept the tone and visual direction lighthearted and simple, letting Upturn’s personality shine.</p>
          </div>

          <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
            <p class="case-breakdown-heading">Scope</p>

            <ul class="case-breakdown-scope-list">
              <li>Branding &amp; Identity</li>
              <li>Information Architecture</li>
              <li>Site Design</li>
              <li>Development</li>
              <li>Animations</li>
            </ul>
          </div>
        </div>
      </section><!-- END case-breakdown -->

      <section class="case-block not-padded">
        <div class="inner-block half float-left">
          <img class="case-block-image" src="../images/upturn/upturn-logo.svg">
        </div>

        <div class="inner-block half absolute-right full-height">
          <div class="partial-block half top upturn-icons"></div>
          <img class="partial-block half bottom" src="../images/upturn/upturn-half-blocks.svg">
        </div>
      </section><!-- END case-block -->

      <section class="case-block top-padded upturn-white">
        <div class="container">
          <div class="inner-block one-third absolute-left vertical-center mobile-padded-below">
            <p class="case-block-text-heading short-length upturn-text-gray">Turn the swag on.</p>
            <p class="case-block-text-subtext short-length upturn-text-gray-dark">Subtle animations call attention to the most important points of the content for Upturn’s site, keeping the user’s interest. Sometimes it’s the details - dropping in custom project icons or just passing clouds - that take a site from average to exemplary.</p>
            <a class="work-landing-cta" href="//www.teamupturn.com" target="_blank">Launch Site</a>
          </div>

          <div class="inner-block two-third float-right">
            <img class="case-block-image" src="../images/upturn/home.svg">
          </div>
        </div>
      </section><!-- END case-block -->

      <section class="case-block case-block-image upturn-cards extra-padded">
      </section>

      <section class="case-block">
        <div class="container">
          <p class="case-block-text-heading medium-length align-center upturn-text-gray">Brands that play together stay together.</p>
          <p class="case-block-text-subtext medium-length align-center upturn-text-gray-dark">We built a second, complementary brand system and website to support Upturn’s online publication, Equal Future. The site maintains its own content and identity, but shares the same accessible tone that makes them stand out in the space.</p>
        </div>
      </section>

      <section class="case-block not-padded">
        <div class="inner-block half absolute-left full-height">
          <img class="partial-block half top" src="../images/upturn/eq-future-full-logo.svg">
          <img class="partial-block half bottom" src="../images/upturn/eq-future-logo-minis.svg">
        </div>

        <div class="inner-block half float-right">
          <img class="case-block-image" src="../images/upturn/eq-future-logo.svg">
        </div>
      </section><!-- END case-block -->

      <section class="case-block top-padded upturn-white">
        <div class="container">
          <img class="case-block-image" src="../images/upturn/eq-future-post.jpg">
        </div>
      </section><!-- END case-block -->

      <section class="case-block eq-future-black">
        <div class="container">
          <img class="case-block-text-quote-icon" src="../images/felix/quote.svg" data-sr="enter top, move 75px">
          <p class="case-block-text-quote align-center">&ldquo;When we started, I thought the main impact of branding and design work would be to change how other people saw our work. The part I didn't foresee was that beautiful design, when taken to this level, also shapes the way we see ourselves. There's something inspiring about knowing how great our work can look. It's going to help us bring our best writing and thinking to the table.&rdquo;</p>
          <p class="case-block-text-citation align-center">David Robinson, <em>Principal</em></p>
        </div>
      </section><!-- END case-block -->

      <section class="cta">
        <div class="container">
          <p class="cta-text">Sometimes, you find something that just works.</p>
          <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
        </div>

        <a class="cta-button cta-button-left" href="/work/weddingwire" title="Prev Case"></a>
        <a class="cta-button cta-button-right" href="/work/fieldone" title="Next Case"></a>
      </section><!-- END cta -->

      <footer class="footer">
        <div class="container">
          <div class="footer-column">
            <img class="footer-logo" src="../images/footer/footer-logo.svg">
          </div>

          <div class="footer-column">
            <p class="footer-heading">Get In Touch</p>

            <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
          </div>

          <div class="footer-column">
            <p class="footer-heading">Follow Us</p>
            <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
            <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
            <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
            <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
            <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
          </div>

          <div class="footer-column">
            <p class="footer-heading">Our Products</p>

            <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
            <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
            <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
          </div>

          <div class="footer-last-line">
            <p class="footer-copyright">&copy;2015 Brave UX. All Rights Reserved.</p>
            <div class="footer-stars"></div>
            <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
          </div>
        </div>

        <div class="footer-egg"></div>
      </footer>
    </div><!-- END wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
    <script src="../scripts.js"></script>

    <script>
      (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:20443, hjsv:3};
        c=b.createElement("script");c.async=1;
        c.src="//static.hotjar.com/c/hotjar-20443.js?sv=3";
        b.getElementsByTagName("head")[0].appendChild(c);
      })(window,document);
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48218627-1', 'braveux.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
