<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Brave UX - Work - Character</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>

    <% include ../partials/work-menu %>

    <div class="wrapper case-study upturn">

      <section class="case-header">
        <div class="case-header-container container">
          <p class="case-header-client-name">Upturn</p>
          <p class="case-header-tagline">Let your great work do the talking</p>
          <p class="case-header-type">Branding &amp; Websites</p>
        </div>

        <img class="case-header-image" src="../images/upturn/header.svg">
      </section><!-- END case-header -->

      <section class="case-exec-summary">
        <div class="container">
          <p class="case-exec-summary-text" data-sr>We created two branding systems that showcase the great minds, work, and content from the Upturn team.</p>
        </div>
      </section><!-- END case-exec-summary -->

      <section class="case-breakdown">
        <div class="container">
          <div class="case-breakdown-column col one-third" data-sr="enter top, move 50px">
            <p class="case-breakdown-heading">Challenge</p>
            <p class="case-breakdown-summary">Make it clear and simple.</p>
            <p class="case-breakdown-detail">Upturn needed a brand that made their work - in law and technology - friendly and accessible, just like they are.</p>
          </div>

          <div class="case-breakdown-column col one-third" data-sr="wait .25s, enter top, move 50px">
            <p class="case-breakdown-heading">Solution</p>
            <p class="case-breakdown-summary">Friendly, modern, and fresh</p>
            <p class="case-breakdown-detail">We kept the tone and visual direction lighthearted and simple, letting Upturn’s personality shine.</p>
          </div>

          <div class="case-breakdown-column col one-third" data-sr="wait .5s, enter top, move 50px">
            <p class="case-breakdown-heading">Scope</p>

            <ul class="case-breakdown-scope-list">
              <li>Branding &amp; Identity</li>
              <li>Information Architecture</li>
              <li>Site Design</li>
              <li>Development</li>
              <li>Animations</li>
            </ul>
          </div>
        </div>
      </section><!-- END case-breakdown -->

      <section class="cta">
        <div class="container">
          <p class="cta-text">Sometimes, you find something that just works.</p>
          <a class="cta-link" href="/approach">See Our Approach<img class="cta-icon" src="../images/icons/icon-cta.svg"></a>
        </div>

        <a class="cta-button cta-button-left" href="/work/weddingwire" title="Prev Case"></a>
        <a class="cta-button cta-button-right" href="/work/fieldone" title="Next Case"></a>
      </section><!-- END cta -->

      <footer class="footer">
        <div class="container">
          <div class="footer-column">
            <img class="footer-logo" src="../images/footer/footer-logo.svg">
          </div>

          <div class="footer-column">
            <p class="footer-heading">Get In Touch</p>

            <a class="footer-email-link" href="mailto:team@braveux.com">team@braveux.com</a>
          </div>

          <div class="footer-column">
            <p class="footer-heading">Follow Us</p>
            <a class="social-link light-twitter" href="https://twitter.com/brave_ux" target="_blank">Twitter</a>
            <a class="social-link light-facebook" href="https://www.facebook.com/braveux" target="_blank">Facebook</a>
            <a class="social-link light-linkedin" href="https://www.linkedin.com/company/brave-ux" target="_blank">LinkedIn</a>
            <a class="social-link light-dribbble" href="https://dribbble.com/braveux" target="_blank">Dribbble</a>
            <a class="social-link light-github" href="https://github.com/braveux" target="_blank">GitHub</a>
          </div>

          <div class="footer-column">
            <p class="footer-heading">Our Products</p>

            <a class="footer-product-link" href="/bravery" target="_blank">Bravery</a>
            <a class="footer-product-link" href="http://compass.is" target="_blank">Compass</a>
            <a class="footer-product-link" href="http://forthebadge.com/" target="_blank">For the Badge</a>
          </div>

          <div class="footer-last-line">
            <p class="footer-copyright">&copy;2015 Brave UX. All Rights Reserved.</p>
            <div class="footer-stars"></div>
            <p class="footer-made">Proudly made in our Nation&rsquo;s Capital.</p>
          </div>
        </div>

        <div class="footer-egg"></div>
      </footer>
    </div><!-- END wrapper -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
    <script src="../scripts.js"></script>

    <script>
      (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:20443, hjsv:3};
        c=b.createElement("script");c.async=1;
        c.src="//static.hotjar.com/c/hotjar-20443.js?sv=3";
        b.getElementsByTagName("head")[0].appendChild(c);
      })(window,document);
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48218627-1', 'braveux.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
